@using StockportWebapp.ProcessedModels
@model StockportWebapp.ProcessedModels.ProcessedShowcase
@{
    ViewData["Title"] = Model.Title;
    ViewData["og:title"] = Model.Title;
    ViewData["Description"] = Model.Teaser;
    Layout = "../Shared/_Layout.cshtml";
}
@section Breadcrumbs {
    @Html.Partial("Breadcrumb", Model.Breadcrumbs)
}
<div class="showcase-hero-image" style="background-image: url(@Model.HeroImageUrl)">
    <div class="title-card">
        <h1>
            <span>@Model.Title</span>
        </h1>
        <div class="clearfix"><hr class="hero-image-divider" /> </div>
        <h2>
            <span>@Model.Teaser</span>
        </h2>
    </div>
</div>

<div class="featured-items-wrapper">
    <h2>@Model.Subheading</h2>
    <div class="featured-topic-list">
        @{
            foreach (var item in Model.FeaturedItems)
            {
                <div class="grid-20 tablet-grid-25 mobile-grid-33 featured-topic">

                    <div class="featured-topic-content">
                        <a href="@item.NavigationLink">
                            <div class="featured-topic-icon">
                                <i class="@item.Icon si-default"></i>
                            </div>
                            <div class="featured-topic-name">@item.Title</div>
                        </a>
                        <p class="hide-on-mobile hide-on-tablet featured-topic-description">
                            @if (item.SubItems.Any())
                            {
                                <span>Including</span>
                            }
                            @foreach (var subItem in item.SubItems.Take(2))
                            {
                                <br />
                                <a href="@subItem.NavigationLink">@subItem.Title</a>
                            }
                        </p>
                    </div>

                </div>
            }
        }
    </div>
</div>
