@using StockportWebapp.Models
@model ServicePayPaymentSubmission

@{
    ViewData["Title"] = Model.Payment.Title;
    ViewData["og:title"] = Model.Payment.Title;
    ViewData["Description"] = Model.Payment.MetaDescription;
    ViewData["Type"] = "ServicePayPayment";
    Layout = "../Shared/_Layout.cshtml";
}
@section Breadcrumbs {
    <partial name="Breadcrumb" model='Model.Payment.Breadcrumbs' />
}

<form asp-controller="ServicePayPayment" asp-action="Detail" method="post" role="form" enctype="multipart/form-data">
    <div class="grid-container-full-width">
        <div class="grid-container grid-100">
            <div class="l-body-section-filled grid-100">
                <section aria-label="@Model.Payment.Title content" class="grid-100 mobile-grid-100">
                    <div class="l-content-container l-article-container">
                        <h1 tabindex="-1" id="content">@Model.Payment.Title</h1>
                        @if (Model.Payment.Alerts != null)
                        {
                            <div class="alert-container">
                                @foreach (var alert in Model.Payment.Alerts)
                                {
                                    <partial name="DisplayTemplates/Alert" model='alert' />
                                }
                            </div>
                        }
                        @Html.Raw(Model.Payment.Description)
                        <hr />
                        <h2>Payment details</h2>
                        @Html.Raw(Model.Payment.PaymentDetailsText)

                        <div class="form">
                            <div class="form-section">
                                <fieldset>
                                    <label asp-for="Name">@Model.Name</label>
                                    <input asp-for="Name" type="text" class="grid-30 tablet-grid-50 suffix-70 tablet-suffix-50 mobile-grid-100 form-control" />
                                    <span role="alert" aria-atomic="true" asp-validation-for="Name" class="form-field-validation-error grid-30 tablet-grid-50 suffix-70 tablet-suffix-50 mobile-grid-100"></span>

                                    <label asp-for="EmailAddress">@Model.EmailAddress</label>
                                    <input asp-for="EmailAddress" type="text" class="grid-30 tablet-grid-50 suffix-70 tablet-suffix-50 mobile-grid-100 form-control" />
                                    <span role="alert" aria-atomic="true" asp-validation-for="EmailAddress" class="form-field-validation-error grid-30 tablet-grid-50 suffix-70 tablet-suffix-50 mobile-grid-100"></span>

                                    <label asp-for="Reference">@Model.Payment.ReferenceLabel</label>
                                    <input asp-for="Reference" type="text" class="grid-30 tablet-grid-50 suffix-70 tablet-suffix-50 mobile-grid-100 form-control" />
                                    <span role="alert" aria-atomic="true" asp-validation-for="Reference" class="form-field-validation-error grid-30 tablet-grid-50 suffix-70 tablet-suffix-50 mobile-grid-100"></span>

                                    <label asp-for="Amount">Payment amount</label>
                                    @if (@Model.Amount == 0)
                                    {
                                        <p class="visually-hidden">Enter a sterling value below</p>
                                        <div class="input-group">
                                            <span class="input-addon">£</span><input asp-for="Amount" type="text" value="" class="currency grid-15 tablet-grid-25 suffix-85 tablet-suffix-75 mobile-grid-100 form-control">
                                            <span role="alert" aria-atomic="true" asp-validation-for="Amount" class="form-field-validation-error grid-15 tablet-grid-25 suffix-85 tablet-suffix-75 mobile-grid-100"></span>
                                        </div>
                                    }
                                    else
                                    {
                                        <p>&pound;@Model.Amount.ToString("F2")</p>
                                        @Html.HiddenFor(_ => _.Amount);
                                    }

                                    <stock-button id="uitest-payment-form-submit" class="button-submit-payment">Start your payment</stock-button>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</form>
