@using StockportWebapp.FeatureToggling
@using StockportWebapp.Models
@model StockportWebapp.ProcessedModels.ProcessedPrivacyNotice
@{

    Layout = "../Shared/_Layout.cshtml";
}
@section Breadcrumbs {
    @Html.Partial("Breadcrumb", Model.Breadcrumbs)
}
<div class="grid-container-full-width">
    <div class="grid-container">
        <article class="privacy-notice mobile-grid-100 grid-container l-body-section-filled">
            <div class="grid-100">
                <h1>@Model.Title</h1>
                <h2>@Html.Raw(Model.Category) privacy notice</h2>
                <section>
                    <h3>We collect your information to:</h3>
                    @Html.Raw(Model.Purpose)
                </section>
                <hr />
                <section>
                    <h3>What type(s) of information do we use?</h3>
                    @Html.Raw(Model.TypeOfData)
                </section>
                <section>
                    <h3>What is the legal basis for using your information?</h3>
                    <p>@Html.Raw(Model.Legislation)</p>
                </section>
                <section>
                    <h3>Where do we get your information?</h3>
                    @Html.Raw(Model.Obtained)
                </section>
                <section>
                    <h3>Who do we share your information with?</h3>
                    @Html.Raw(Model.ExternallyShared)
                </section>
                <section>
                    <h3>How long will we keep your information?</h3>
                    <p>@Html.Raw(Model.RetentionPeriod)</p>
                </section>
                <section>
                    <h3>Transferring your information outside of the European Union (EU)</h3>
                    @if (!Model.OutsideEu)
                    {
                        <p>We will not transfer your information outside of the EU.</p>
                    }
                    else
                    {
                        <p>We may transfer your information outside of the EU.</p>
                    }
                </section>
                <section>
                    <h3>Automated decisions using your information?</h3>
                    @if (!Model.AutomatedDecision)
                    {
                        <p>For this service all the decisions we make about you involve human intervention.</p>
                    }
                    else
                    {
                        <p>For this service some or all of the decisions we make about you do not involve human intervention.</p>
                    }

                </section>
                <section>
                    <h3>Your rights</h3>
                    <p>In our <a href="" alt="guidance document on exercising your data privacy rights">guide on exercising your rights</a> you can find information about how to:</p>
                    <ul>
                        <li>exercise your rights</li>
                        <li>contact our Data Protection Officer</li>
                        <li>raise a concern with us</li>
                        <li>make a complaint to the Information Commissioner</li>
                    </ul>
                    <p>You can find out what information we hold about you, and ask us not to use any of the information we collect.</p>
                </section>
                <section>
                    <h3>Further information</h3>
                    <p>If you would like further information about this privacy notice, please email ............</p>
                </section>
                <hr />
                <section>
                    <h3>Updates (notice)</h3>
                    <p>Our core data protection obligations and commitments are set out in our primary privacy notice.</p>
                    <p>
                        We may update or revise this privacy notice at any time. If you are reading this as a printed copy please refer to <a href="http://www.stockport.gov.uk" alt="Stockport Council Website">www.stockport.gov.uk</a> for the most up to date version.
                    </p>
                </section>
            </div>
        </article>
    </div>
</div>

