@model PrivacyNoticeViewModel
@{
    ViewData["Title"] = Model.PrivacyNotice.Category + " privacy notice";
    ViewData["Description"] = Model.PrivacyNotice.Title + " privacy notice";
    Layout = "../Shared/_Layout2023.cshtml";
}

<div class="grid-container-full-width" style="background-color: white;" data-cy="privacy-notice">
    <partial name="Breadcrumb2023" model='Model.PrivacyNotice.Breadcrumbs'/>
    
    <div class="grid-container">
        <div class="grid-100">
            <div class="article--70">
                <h1 class="article__title">@Model.PrivacyNotice.Title</h1>
                <h2 class="article__sub-title">@Html.Raw(Model.PrivacyNotice.Category) privacy notice</h2>
            </div>

            <section class="article article--margin-top">
                <div class="section article--70 article-body article-body--no-margin">
                    @if (!string.IsNullOrEmpty(Model.PrivacyNotice.Purpose))
                    {
                        <section>
                            <h3 class="article-heading--no-margin">We collect your information to:</h3>
                            @Html.Raw(Model.PrivacyNotice.Purpose)
                        </section>
                    }

                    @if (!string.IsNullOrEmpty(Model.PrivacyNotice.TypeOfData))
                    {
                        <section>
                            <h3>What type(s) of information do we use?</h3>
                            @Html.Raw(Model.PrivacyNotice.TypeOfData)
                        </section>
                    }

                    @if (!string.IsNullOrEmpty(Model.PrivacyNotice.Legislation))
                    {
                        <h3>What is the legal basis for using your information?</h3>
                        @Html.Raw(Model.PrivacyNotice.Legislation)
                    }

                    @if (!string.IsNullOrEmpty(Model.PrivacyNotice.Obtained))
                    {
                        <h3>Where do we get your information?</h3>
                        @Html.Raw(Model.PrivacyNotice.Obtained)
                    }

                    @if (!string.IsNullOrEmpty(Model.PrivacyNotice.ExternallyShared))
                    {
                        <h3>Who do we share your information with?</h3>
                        @Html.Raw(Model.PrivacyNotice.ExternallyShared)
                    }

                    @if (!string.IsNullOrEmpty(Model.PrivacyNotice.RetentionPeriod))
                    {
                        <h3>How long will we keep your information?</h3>
                        @Html.Raw(Model.PrivacyNotice.RetentionPeriod)
                    }

                    <h3>Transferring your information outside of the European Union (EU)</h3>
                    @if (!Model.PrivacyNotice.OutsideEu)
                    {
                        <p>We will not transfer your information outside of the EU.</p>
                    }
                    else
                    {
                        <p>We may transfer your information outside of the EU.</p>
                    }

                    <h3>Automated decisions using your information?</h3>
                    @if (!Model.PrivacyNotice.AutomatedDecision)
                    {
                        <p>For this service all the decisions we make about you involve human intervention.</p>
                    }
                    else
                    {
                        <p>For this service some or all of the decisions we make about you do not involve human intervention.</p>
                    }
        
                    <hr />

                    <h3>Your rights</h3>
                    <p>In our <a href="/your-rights-data-protection" title="guidance document on exercising your data privacy rights">guide on exercising your rights</a> you can find information about how to:</p>
                    <ul>
                        <li>exercise your rights</li>
                        <li>contact our Data Protection Officer</li>
                        <li>raise a concern with us</li>
                        <li>make a complaint to the Information Commissioner</li>
                    </ul>

                    <p>You can find out what information we hold about you, and ask us not to use any of the information we collect.</p>
                
                    <h3>Further information</h3>
                    <p>If you would like further information about this privacy notice, please email <a href="mailto:dpa.officer@stockport.gov.uk">dpa.officer&#64;stockport.gov.uk</a></p>

                    <h3>Updates (notice)</h3>
                    <p>Our core data protection obligations and commitments are set out in our primary privacy notice.</p>
                    <p>
                        We may update or revise this privacy notice at any time. If you are reading this as a printed copy please refer to <a href="http://www.stockport.gov.uk" title="Stockport Council Website">www.stockport.gov.uk</a> for the most up to date version.
                    </p>
                </div>

                <div class="section article--30">
                    @if (Model.HasParentTopicWithSubItems())
                    {
                        <partial name="SidebarNavCardList" model="@Model.Sidebar" />
                    }
                </div>
            </section>
        </div>
    </div>
</div>