@using System.Threading.Tasks
@using StockportWebapp.ViewModels
@model StockportWebapp.ViewModels.ArticleViewModel
@{
    ViewData["Title"] = Model.Article.Title;
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Description"] = Model.Article.Teaser;
    ViewData["og:title"] = Model.OgTitleMetaData;
}

@section Breadcrumbs {
    @Html.Partial("Breadcrumb", Model.Article.Breadcrumbs)
}
@section BackgroundImage
{
    @Html.Partial("ScaleImageByDevice", new Image("homepage-hero", Model.Article.BackgroundImage))
}

@if (!string.IsNullOrEmpty(Model.Article.BackgroundImage))
{
    <div class="grid-100 l-background-hs-image" style="background-image: url('@Model.Article.BackgroundImage')">
    </div>
 
}


    <section aria-label="article" class="grid-100 mobile-grid-100">
    <a name="@Model.Article.Title content" class="anchor anchor-content"></a>
    <div class="grid-100 tablet-grid-100 mobile-grid-100 article-container">
        
            @{
                if (Model.Article.Alerts != null && Model.Article.Alerts.Any())
                {
                    <div class="alert-wrapper">
                        @foreach (var alert in Model.Article.Alerts)
                        {
                            @Html.Partial("DisplayTemplates/Alert", alert)
                        }
                    </div>
                }
            }

        <div class="grid-parent hs-article-header">
            <div class="hs-article-title grid-100 tablet-grid-100">
                <i class="hs-article-icon-container hide-on-mobile fa @Model.Article.Icon"></i>
                <span class="hs-article-title-container">@Model.Article.Title</span>
            </div>
            <div class="clearfix"></div>
            @if (Model.ShouldShowArticleSummary)
            {
                <div class="hs-article-summary">
                    @Html.Raw(Model.Article.Body)
                </div>
            }
        </div>

        @if (Model.DisplayedSection != null)
        {
            @Html.Partial("../../Shared/Section-Nav")
            @Html.Partial("../Shared/Article-Single-Section", Model)
            @Html.Partial("../Shared/Section-Pagination")
        }
    </div>
</section>