@using StockportWebapp.Config
@using StockportWebapp.Models
@model Footer
@inject IStaticAssets StaticAssets
@inject IApplicationConfiguration appConfig
@inject BusinessId BusinessId
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
<footer role="contentinfo">
    @if (BusinessId.ToString() == "stockportgov")
    {
        @Html.Partial("AToZStockportGov", "")
    }
    <div class="l-container-footer grid-container">
        <div class="grid-container grid-parent">
            <div class="grid-100 grid-parent">
                <div class="grid-30 tablet-grid-35 tablet-push-65 push-65 footer-social-container">
                    @if (Model.SocialMediaLinks != null)
                    {
                        @Html.Partial("SocialMediaLinks", Model.SocialMediaLinks)
                    }
                </div>
                <div class="grid-25 tablet-grid-25 tablet-pull-35 pull-30 mobile-grid-100">
                    <div class="footer-stockport-logo">
                        @if (BusinessId.ToString() == "healthystockport")
                        {
                            <h6>Funded By</h6>
                            <a href="http://www.stockport.gov.uk"><img src="@StaticAssets.UrlFor("logo-stockport-footer.png")" alt="Stockport Council Logo Homepage Link" /></a>
                        }
                        else
                        {
                            <a href="http://www.stockport.gov.uk"><img src="@StaticAssets.UrlFor("logo-stockport-footer%402x.png")" alt="Stockport Council Logo Homepage Link" /></a>
                        }
                    </div>
                </div>
                <div class="footer-links tablet-grid-40 pull-30 tablet-pull-35 grid-45 grid-100-mobile">
                    <div class="grid-100 tablet-grid-100 mobile-grid-100">
                        <ul class="footer-nav">
                            @if (Model.Links != null)
                            {
                                @Html.Partial("FooterLinks", Model.Links)
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="grid-container ">
            <div class="grid-50 tablet-grid-50 copyright">
                <p>
                    @if (Model.CopyrightSection != null)
                    {
                        @Model.CopyrightSection
                    }
                </p>
            </div>
            <div class="grid-50 tablet-grid-50 digital-link">
                <p>
                    <a href="@appConfig.GetDigitalStockportLink()">Built by the Digital Team in Stockport</a>
                </p>
            </div>    
        </div>
    </div>
    
    
</footer>