@using StockportWebapp.Models
@model StockportWebapp.Models.Footer
@inject IStaticAssets StaticAssets

<footer>
    @Html.Partial("AToZStockportGov", "")
    @*This script enables the feedback button.*@
    <script>(function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = 'typeform', b = 'https://s3-eu-west-1.amazonaws.com/share.typeform.com/'; if (!gi.call(d, id)) { js = ce.call(d, 'script'); js.id = id; js.src = b + 'share.js'; q = gt.call(d, 'script')[0]; q.parentNode.insertBefore(js, q) } })()</script>
    <div class="l-container-footer">
        <div class="grid-container grid-parent">
            <div class="grid-100 grid-parent">
                <div class="grid-35 tablet-grid-35 tablet-push-65 push-65 footer-social-container">
                    @if (Model.SocialMediaLinks != null)
                    {
                        @Html.Partial("SocialMediaLinks", Model.SocialMediaLinks)
                    }
                </div>
                <div class="grid-25 tablet-grid-25 tablet-pull-35 pull-35 mobile-grid-100">
                    <div class="footer-stockport-logo">
                        <a href="http://www.stockport.gov.uk"><img src="@StaticAssets.UrlFor("logo-stockport-footer%402x.png")" alt="Stockport Council Logo" /></a>
                    </div>
                </div>
                <div class="footer-links tablet-grid-40 pull-35 tablet-pull-35 grid-40 grid-100-mobile">
                    <div class="grid-100 tablet-grid-100 mobile-grid-100">
                        <ul class="footer-nav">
                            @if (Model.Links != null)
                            {
                                @Html.Partial("FooterLinks", Model.Links)
                            }    
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-100 footer-bottom">
        <p>
            @if (Model.Copyright != null)
            {
                @Model.Copyright
            }
        </p>
    </div>
</footer>