@using StockportWebapp.Models
@model Footer
@inject IStaticAssets StaticAssets

<footer>
    @Html.Partial("AToZStockportGov", "")
    <div class="l-container-footer">
        <div class="grid-container grid-parent">
            <div class="grid-100 grid-parent">
                <div class="grid-30 tablet-grid-35 tablet-push-65 push-65 footer-social-container">
                    @if (Model.SocialMediaLinks != null)
                    {
                        @Html.Partial("SocialMediaLinks", Model.SocialMediaLinks)
                    }
                </div>
                <div class="grid-25 tablet-grid-25 tablet-pull-35 pull-30 mobile-grid-100">
                    <div class="footer-stockport-logo">
                        <a href="http://www.stockport.gov.uk"><img src="@StaticAssets.UrlFor("logo-stockport-footer%402x.png")" alt="Stockport Council Logo" /></a>
                    </div>
                </div>
                <div class="footer-links tablet-grid-40 pull-30 tablet-pull-35 grid-45 grid-100-mobile">
                    <div class="grid-100 tablet-grid-100 mobile-grid-100">
                        <ul class="footer-nav">
                            @if (Model.Links != null)
                            {
                                @Html.Partial("FooterLinks", Model.Links)
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-100 footer-bottom">
        <p>
            @if (Model.Copyright != null)
        {
                @Model.Copyright
            }
        </p>
    </div>
</footer>