@using StockportWebapp.Models;
@using StockportWebapp.ViewModels
@model StockportWebapp.ViewModels.TopicViewModel
@{
    var topic = Model.Topic;
    ViewData["Title"] = topic.Name;
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Description"] = topic.Teaser;
    ViewData["og:title"] = topic.Name;
}
@section BackgroundImage
{
    @Html.Partial("ScaleImageByDevice", new Image("l-background-hs-image", Model.Topic.BackgroundImage))
}
@section Breadcrumbs {
    @Html.Partial("Breadcrumb", Model.Topic.Breadcrumbs)
}
@if (!string.IsNullOrEmpty(topic.BackgroundImage))
{
    <div class="grid-100 l-background-hs-image">
    </div>  
} 
  
<section aria-label="@Model.Topic.Name content" class="grid-100 mobile-grid-100 topic-container">   
    <div class="grid-100 topic-container-holder">   
        
            <div tabindex="-1" id="content" class="topic-container-holder-alert">
                @{
                    if (topic.Alerts != null)
                    {
                        foreach (var alert in topic.Alerts)
                        {
                            @Html.Partial("DisplayTemplates/Alert", alert)
                        }
                    }
                }

        </div>
        <div  class="topic-container-holder-item">
            <h1>@topic.Name</h1>
            <hr>
            @Html.Raw(topic.Summary)
        </div>
        
        @Html.Partial("SubItem-List", topic)        
    </div>
    
    <div class="grid-100 topic-contactus">
        <div class="topic-contactus-container">
            @Html.Partial("../Shared/ContactUs-Nav")
        </div>      
    </div>
</section>

