@using StockportWebapp.Config
@using StockportWebapp.Models
@model Footer
@inject IStaticAssets StaticAssets
@inject IApplicationConfiguration appConfig
@{
    var isForm = (bool?)ViewData["Form"] ?? false;
}

<footer>
    <div class="center-wrapper">
        <div id="footer-logo">
            <a href="http://www.stockport.gov.uk">Stockport Metropolitan Borough Council Homepage</a>
        </div>
        @if (Model.Links != null)
        {
            <ul class="footer-links">
                @foreach (var link in Model.Links)
                {
                    <li><a href="@link.NavigationLink">@link.Title</a></li>
                }
            </ul>
        }
        @if (Model.SocialMediaLinks != null && !isForm)
        {
            <ul class="social-links">
                @foreach (var socLink in Model.SocialMediaLinks)
                {
                    <li>
                        <a href="@socLink.Url">
                            <i class="fa @socLink.Icon"></i>
                        </a>
                    </li>
                }
            </ul>
        }
    </div>
    <div class="center-wrapper footer-logo-links">
        <a href="https://www.gov.uk/" target="_blank">
            <img src="https://s3-eu-west-1.amazonaws.com/live-iag-static-assets/gov-uk-logo.png" alt="GOV UK" />
        </a>
        <a href="https://www.greatermanchester-ca.gov.uk/" target="_blank">
            <img src="https://s3-eu-west-1.amazonaws.com/live-iag-static-assets/GMCA-logo.png" alt="Greater Manchester Combined Authority" />
        </a>
        <a href="https://idea.org.uk/" target="_blank">
            <img src="https://s3-eu-west-1.amazonaws.com/live-iag-static-assets/Pioneer-logo.png" alt="Pioneer" />
        </a>
        <a href="https://www.stockport.gov.uk/topic/armed-forces-covenant" target="_blank">
            <img src="https://s3-eu-west-1.amazonaws.com/live-iag-static-assets/SupportingOurArmedForces-logo.png" alt="Supporting our Armed Forces Familie"/>
        </a>
    </div>
    <div class="footer-copyright">
        <div class="center-wrapper">
            <p><i class="fa fa-copyright" aria-hidden="true"></i>&nbsp;@DateTime.Now.Year Stockport Metropolitan Borough Council</p>
            <a href="@appConfig.GetDigitalStockportLink()">Built by the Digital Team in Stockport</a>
        </div>
    </div>
</footer>