@model StockportWebapp.Models.StartPage
@{
    ViewData["Title"] = Model.Title;
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Description"] = Model.Summary;
    ViewData["og:title"] =  Model.Title;
}

@*@section BackgroundImage {
    style="background-image:url('@Model.BackgroundImage')"
}*@

@Html.Partial("DisplayTemplates/Gutter", Model.Icon)
<section aria-label="@Model.Title content" class="grid-90 mobile-grid-100">
    @Html.Partial("DisplayTemplates/Breadcrumb", Model.Breadcrumbs)
    <div class="grid-70 mobile-grid-100 l-content-container">
        @{
            if (Model.Alerts != null)
            {
                foreach (var alert in Model.Alerts)
                {
                    @Html.Partial("DisplayTemplates/Alert", alert)
                }
            }
        }
        <h1>@Model.Title</h1>
        <p class="subtitle">@Model.Summary</p>
        @Html.Raw(Model.UpperBody)
        <a class="button button-outline button-partialrounded button-call-to-action" href="@Model.FormLink">@Model.FormLinkLabel</a>
        @Html.Raw(Model.LowerBody)
    </div>
    @Html.Partial("DisplayTemplates/Aside")
</section>