@model StockportWebapp.QuestionBuilder.Entities.Question

<div class="form-section question-section">
    <label for="Response">@Model.Label</label>    
    @if (!String.IsNullOrEmpty(Model.SecondaryInfo))
    {
        <div class="grid-100" style="padding-left:0px;">
            <div class="grid-50 tablet-grid-70 secondary-info-holder">
                @Html.Raw(Model.SecondaryInfo)
            </div>
        </div>
    }
    <span>Select from the list</span>
    <ul class="radio-list question-list">
        @foreach (var item in @Model.Options)
        {
            <li class="radio-item horizontal">
                <div class="grid-33 mobile-grid-100 tablet-grid-50 radio-container">
                    <div class="radio-inner">
                        <img class="radio-image" src="@item.Image" alt=""/>
                        <div class="clearfix"></div>
                        <div class="radio-information">
                            <div class="radio-input grid-10 mobile-grid-10 tablet-grid-10">
                                @Html.RadioButton("Response", @item.Value, new {id = string.Concat(@Model.QuestionId, @item.Value), data_questionid = Model.QuestionId, @class = "radio-button-smart"})
                            </div>
                            <div class="radio-label grid-90 mobile-grid-90 tablet-grid-90">
                                <label for="@string.Concat(@Model.QuestionId, @item.Value)">@item.Label</label>
                            </div>
                        </div>
                                
                        <span class="tertiary-Information hidden">@item.TertiaryInformation</span>
                    </div>
                </div>
                
            </li>
        }
    </ul>

    <partial name="_ValidationError.cshtml" model=' Model'/>
    
    <span id="tertiary-Information-value"></span>

</div>
