@model StockportWebapp.QuestionBuilder.Entities.Question

@{
    var displayValidationStyle = Model.ValidationResult != null && !Model.ValidationResult.IsValid ? "" : "display: none;";
}

<div class="form-section question-section">
    <label id="@string.Concat("label-",@Model.QuestionId).Replace(" ", "-")" for="@string.Concat(@Model.QuestionId).Replace(" ", "-")">@Model.Label</label>
    @if (Model.SecondaryInfo != null)
    {
        Html.Raw(Model.SecondaryInfo);
    }
    @if (Model.ValidationResult != null && !Model.ValidationResult.IsValid)
    {
        @Html.TextBox("Response", "", new { @class = "input-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 form-control", data_questionid = Model.QuestionId, aria_labelledby = string.Concat("label-",@Model.QuestionId).Replace(" ", "-"), id = string.Concat(@Model.QuestionId).Replace(" ", "-") })
    }
    else
    {
        @Html.TextBox("Response", "", new {  @class = "grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 form-control", data_questionid = Model.QuestionId, aria_labelledby = string.Concat("label-", @Model.QuestionId).Replace(" ", "-"), id = string.Concat(@Model.QuestionId).Replace(" ", "-") })
    }

    <div data-questionid="@Model.QuestionId" class="input-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent" style="@displayValidationStyle">
        <div class="input-content">
            <span class="fa fa-caret-up" aria-hidden="true"></span>
            <p>
                <span class="field-validation-error">@(Model.ValidationResult?.Message ?? "")</span>
            </p>
        </div>
    </div>

</div>