@model StockportWebapp.QuestionBuilder.Entities.Question

<div class="form-section question-section">
    <label id="@string.Concat("label-",@Model.QuestionId).Replace(" ", "-")" for="@string.Concat(@Model.QuestionId).Replace(" ", "-")">@Model.Label</label>
    @if (Model.SecondaryInfo != null)
    {
        Html.Raw(Model.SecondaryInfo);
    }
    @Html.TextArea("Response", "", new { data_questionid = Model.QuestionId, aria_labelledby = string.Concat("label-", @Model.QuestionId).Replace(" ", "-"), id = string.Concat(@Model.QuestionId).Replace(" ", "-") })

    @Html.Partial("_ValidationError.cshtml", Model)
</div>