@using StockportWebapp.FeatureToggling
@model StockportWebapp.ViewModels.SIAViewModel
@inject FeatureToggles FeatureToggles
@{
    Layout = "../Shared/_Layout.cshtml";
}

@if (FeatureToggles.SiaSystem)
{
    <div class="container-header grid-container" id="smart-answers-container">
        <article class="grid-100">
            <a href="/sia">Search</a>

            <aside>
                <h2>Albums</h2>
                @if (Model.Albums != null)
                {

                    foreach (var item in Model.Albums)
                    {
                        <section>
                            @Html.DisplayFor(modelItem => item.albumtitle)
                            <br/>
                            @Html.DisplayFor(modelItem => item.albumdescription)
                            <br/>
                            @Html.DisplayFor(modelItem => item.albumcover)

                            @foreach (var photoItem in item.AlbumPhotos)
                            {
                                <div>
                                    <h3>@photoItem.caption</h3>
                                    <img src="@photoItem.photoPath" width="50"/>
                                </div>
                            }
                        </section>

                    }

                }
            </aside>
        </article>
    </div>
}