@model StockportWebapp.ProcessedModels.ProcessedOrganisation

<div class="grid-container-full-width">
    <div class="grid-container organisation-detail">
        <div class="grid-100">
            <h1>@Model.Title</h1>
            <img src="@Model.ImageUrl" alt="@Model.ImageUrl" />
            <hr />
            <div>
                <strong>About Us</strong>
                <div>@Html.Raw(Model.AboutUs)</div>
            </div>
            <hr />
            <div>
                <div>
                    <strong>Contact Us</strong>
                </div>
                <div>
                    <i class="fa fa-phone-square" aria-hidden="true"></i> @Model.Phone
                    <div></div>
                    <i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:@Model.Email">@Model.Email</a>
                </div>
            </div>
            <hr/>
            @if (Model.Groups.Any())
            {
                <div>
                    <strong>What we offer</strong><a class="show-more-button hide-on-mobile" href="/groups/results?keeptag=@Model.Slug&tag=@Model.Slug&Order=Name+A-Z">View more</a>
                    <ul class="group-listing-container grid-container grid-parent matchbox-parent">
                        @foreach (var group in Model.Groups.Take(3))
                        {
                            @Html.Partial("Groups/GroupCard", group);
                        }
                        
                    </ul>
                    <div class="mobile-show-more">
                        <a class="show-more-button hide-on-desktop hide-on-tablet button-default white" href="/groups/results?tag=@Model.Slug&Order=Name+A-Z">View more from @Model.Title</a>    
                    </div>
                    
                </div>
            }
            
            @Html.Partial("Groups/VolunteeringBar", Model.Volunteering)
            @Html.Partial("Groups/DonationsBar", Model.Donations)

            </div>
    </div>
</div>
