@model List<CarouselContent>

<h2 class="visuallyhidden">Carousel</h2>
<div class="carousel" role="application">
    @{
        int counter = 1;
        foreach (var carouselContent in Model)
        {
            <a href="@carouselContent.URL" aria-label="@carouselContent.Title" title="@carouselContent.Title">
                <div class="stockport-carousel webcast-@counter">
                    <div class="stockport-carousel-text">
                        <h2>@carouselContent.Title</h2>
                        <p>
                            @carouselContent.Teaser
                        </p>
                    </div>
                    <div class="stockport-carousel-gradient"></div>
                </div>
            </a>
            counter++;
        }
    }
</div>

<script>
    require(['/assets/javascript/config-d85cf3bb.min.js'], function() {
        require(['slick', 'carousel'],
            function(_, carousel) {
                carousel.Init();
            }
        );
    });
</script>