@model List<(string src, string alt)>

<section id="carousel" aria-labelledby="carouselheading" class="carousel">
    <h3 id="carouselheading" class="visuallyhidden">Image carousel</h3>
    <ul class="carousel-items">
        @foreach (var item in Model)
        {
            <li class="carousel-item">
                <img src="@item.src?q=89&fm=webp" alt="@item.alt">
            </li>
        }
    </ul>
    
    <button class="carousel-control prev carousel-control-prev" aria-label="Previous Slide">
        <span class="fa-solid fa-chevron-left"></span>
    </button>

    <button class="carousel-control next carousel-control-next" aria-label="Next Slide">
        <span class="fa-solid fa-chevron-right"></span>
    </button>

    <ul class="carousel-indicators hide-on-mobile">
        @for(int i=0; i < Model.Count; i++)
        {
            <li>
                <button class data-slide="@i" aria-label="Go to slide @(i + 1 )">
                    <span class="visuallyhidden">Image</span> @(i+1)
                    <span id="@i" class="visuallyhidden"></span>
                </button>
            </li>
        }
    </ul>

    <div id="carousel-status" class="visuallyhidden" aria-live="polite"></div>
</section>

<script>
    require(['/assets/javascript/config-9c49ceec.min.js'], function () {
        require(['carousel2024'],
            function (carousel2024) {
                carousel2024.Init();
            }
        );
    });
</script>