@inject ViewHelpers viewHelper

@model List<HeroCarouselItem>

<section id="carousel" aria-labelledby="carouselheading" class="carousel carousel-hero">
    <h2 id="carouselheading" class="visuallyhidden">Image carousel</h2>
    <ul class="carousel-items">
        @foreach (var item in Model)
        {
            <li class="carousel-item carousel-item__hero" aria-hidden="true" style="background-image: url('@item.ImageSrc?q=89&fm=webp');">
                <div class="carousel-item__hero--overlay">
                    <div class="grid-container">
                        <div class="grid-100">
                            <article aria-label="@item.Title" class="carousel-item__article">
                                <h2 class="image-banner__title image-banner__title-hero carousel-item__title font--bold-extra-squeezed">@item.Title</h2>
                                <p>@viewHelper.FormatEventDate(@item.Date, @item.StartTime)</p>
                                <a href="@Url.Action("Detail", "Events", new {slug = item.Link, date = item.Date.ToString("yyyy-MM-dd")})" class="btn carousel-item__link" aria-label="Read more about @item.Title" tabindex="-1">Read more</a>
                            </article>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
    
    <div class="grid-container">
        <div class="grid-100 carousel-controls-wrapper">
            <div class="carousel-controls-container">
                <button class="carousel-control carousel-control__hero prev carousel-control-prev carousel-control__hero--prev" aria-label="Previous Slide">
                    <span class="fa-solid fa-chevron-left"></span>
                </button>

                <button class="carousel-control carousel-control__hero next carousel-control-next" aria-label="Next Slide">
                    <span class="fa-solid fa-chevron-right"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-100 carousel-indicators-wrapper">
            <ul class="carousel-indicators carousel-indicators__hero hide-on-mobile">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <li>
                        <button class data-slide="@i" aria-label="Go to slide @(i + 1 )">
                            <span class="visuallyhidden">Image</span> @(i + 1)
                            <span id="@i" class="visuallyhidden"></span>
                        </button>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div id="carousel-status" class="visuallyhidden" aria-live="polite"></div>
</section>

<script>
    require(['/assets/javascript/config-64f5853b.min.js'], function () {
        require(['carousel2024'],
            function (carousel2024) {
                carousel2024.Init();
            }
        );
    });
</script>