@model InlineQuote
@{
    string themeTag = $"profile-quote__border-{CssClassMapper.GetCssClass(Model.Theme)}";
    string profileColour =  $"profile-tag-parser-{CssClassMapper.GetCssClass(Model.Theme)}";
    string businessId = Context.Request.Headers["BUSINESS-ID"];
}

@if(string.IsNullOrEmpty(Model.Image))
{
    <div class="profile-quote">
        @if (!string.IsNullOrEmpty(Model.Author) && !businessId.Equals("stockroom"))
        {
            <h2 class="h-m">@Model.Author</h2>
        }

        <div class="profile-quote__border @themeTag">
            @if (!string.IsNullOrEmpty(Model.Author) && businessId.Equals("stockroom"))
            {
                <h2 class="h-m">@Model.Author</h2>
            }

            <p class="profile-quote__text lead">
                <span class="h-s fa fa-quote-left profile-quote__marks" aria-hidden="true"></span>
                @Model.Quote
                <span class="h-s fa fa-quote-right profile-quote__marks" aria-hidden="true"></span>
            </p>
        </div>
    </div>
}
else
{
    <section class="section section--white">
        @if (!string.IsNullOrEmpty(Model.Author) && !businessId.Equals("stockroom"))
        {
            <h2 class="h-m">@Model.Author</h2>
        }

        <div class="profile-tag-parser profile-tag-parser--wrapped @profileColour">
            <img src="@Model.Image?w=360&q=89"
                srcset="@Model.Image?w=360&q=89&fm=webp"
                class="profile-tag-parser__image profile-tag-parser__image--height"
                loading="lazy"
                alt="@Model.ImageAltText"
                width="360"
                height="360">

            <div class="profile-tag-parser-content">
                @if (!string.IsNullOrEmpty(Model.Author) && businessId.Equals("stockroom"))
                {
                    <h3 class="profile-tag-parser-content__title">@Model.Author</h3>
                }
                
                <span class="h-s fa fa-quote-left profile-quote__marks" aria-hidden="true"></span>
                <p class="profile-tag-parser-content__teaser">@Model.Quote</p>
                <span class="h-s fa fa-quote-right profile-quote__marks" aria-hidden="true"></span>
            </div>
        </div>
    </section>
}