@model ProfileViewModel
@{
    string contentNoImageClass = string.IsNullOrEmpty(Model.Profile.Image.Url) ? "profile-tag-parser-content--no-image" : string.Empty;
    string contentNoBody = !string.IsNullOrEmpty(Model.Profile.Body) ? "profile-tag-parser-content__read-more" : string.Empty;
    string contentBodyNoImage = !string.IsNullOrEmpty(Model.Profile.Body) && string.IsNullOrEmpty(Model.Profile.Image.Url) ? "profile-tag-parser-content__read-more--no-margin" : string.Empty;
}

@if(!string.IsNullOrEmpty(Model.Profile.Image.Url))
{
    <img src="@Model.Profile.Image.Url?w=360&q=89" srcset="@Model.Profile.Image.Url?w=360&q=89&fm=webp" class="profile-tag-parser__image" loading="lazy" alt="@Model.Profile.Image.Description" width="360" height="360">
}

<div class="profile-tag-parser-content @contentNoImageClass">
    <h2 class="profile-tag-parser-content__title @contentNoBody @contentBodyNoImage">@Model.Profile.Title</h2>
    <p class="profile-tag-parser-content__subTitle">@Model.Profile.Subtitle</p>
    
    <span class="fa-solid fa-quote-left profile-tag-parser-quote"></span>
    <span class="fa-solid fa-quote-right profile-tag-parser-quote--rtl"></span>

    <p class="profile-tag-parser-content__teaser">@Model.Profile.Teaser</p>
    <span class="fa-solid fa-quote-right profile-tag-parser-quote"></span>
    <span class="fa-solid fa-quote-left profile-tag-parser-quote--rtl"></span>

    @if(!string.IsNullOrEmpty(Model.Profile.Body))
    {
        <span class="profile-tag-parser-content__read-more">Read more <span class="visuallyhidden">about @Model.Profile.Title</span></span>
    }
</div>