@using StockportWebapp.Models;
@model ProfileViewModel
@{
    Profile profile = Model.Profile;
}
<div>
    <h1>PROFILE.CSHTML -> HELLO WORLD!!!</h1>
    <a href="/profile/@profile.Slug" class="profile profile-success-story-new profile-link" alt="Read more about @profile.Title">
        @{
            var width = "100";
        }
        @if (!string.IsNullOrEmpty(profile.Image))
        {
            width = "75";
            <div class="grid-25 tablet-grid-25 mobile-grid-100">
                <div class="profile-image-mask">
                    <img src="@profile.Image" alt="@profile.Title" />
                </div>
            </div>
        }
        <div class="grid-@width tablet-grid-@width mobile-grid-100">
            <div class="mobile-push-10 headings">
                <h2>@profile.Title</h2>
                <span class="summary">@profile.Subtitle</span>
            </div>
            <div class="grid-100 grid-parent body">
                <div class="grid-10 tablet-grid-10 mobile-grid-10"><span class="green open fa fa-2x fa-quote-left" aria-hidden="true"></span></div>
                <div class="grid-80 tablet-grid-80 mobile-grid-80 main-body">
                    <p>@profile.Quote</p>
                </div>
                <div class="grid-10 tablet-grid-10 mobile-grid-10"></div>
            </div>
            <div class="grid-100 grid-parent closing-quote">
                <div class="grid-10 tablet-grid-10 mobile-grid-10 tablet-push-90 mobile-push-90 push-90"><span class="green fa fa-2x fa-quote-right" aria-hidden="true"></span></div>
            </div>
            <p class="read-more">Read more</p>
        </div>
    </a>
</div>