@model IEnumerable<StockportWebapp.Models.SocialMediaLink>
@inject StockportWebapp.Config.BusinessId BusinessId

<div class="footer-social-links">
    @{ var nameOfSite = ""; }

    @if (BusinessId.ToString() == "stockportgov")
    {
        nameOfSite = "stockport council";
    }
    else if (BusinessId.ToString() == "healthystockport")
    {
        nameOfSite = "healthy stockport ";
    }
    @foreach (var socialMediaLink in Model)
    {
        string socialMediaCSS = socialMediaLink.Icon.Replace("fa-", "icon-");
        <a href="@socialMediaLink.Url">
            <span class="visuallyhidden">link to @nameOfSite @socialMediaLink.Title </span>
            <div class="icon-bordered icon-bordered-fixed icon-container icon-twitter @socialMediaCSS">
                <span class="fa fab fa-2x @socialMediaLink.Icon" aria-label="@socialMediaLink.Platform @socialMediaLink.Title"></span>
            </div>
        </a>
    }
</div>