@using StockportWebapp.Utils;

@model ArticleViewModel
@{
    ViewData["Title"] = Model.Article.Title;
    ViewData["Description"] = Model.MetaDescription;
    ViewData["og:title"] = Model.OgTitleMetaData;
    Layout = "../shared/_Layout.cshtml";
}

<div class="grid-container-full-width" style="background-color:white;" data-cy="article">
    <div class="">
        @if (!Model.ArticleWithImage)
        {
            <div class="article-hero">
                <img src="@Model.Article.Image?q=89&fm=webp"
                        srcset="@Model.Article.Image?w=967&q=89&fm=webp 967w,
                            @Model.Article.Image?w=853&q=89&fm=webp 853w,
                            @Model.Article.Image?w=712&q=89&fm=webp 712w"
                        sizes="(max-width: 767px) 712px,
                            ((min-width: 768px) and (max-width: 1023px)) 967px,
                            (min-width: 1024px) 853px"
                        class="article-hero__image"
                        width="712"
                        height="350"
                        alt="@Model.Article.AltText" />
            </div>
        }
    </div>

    <div class="grid-container">
        <div class="grid-100">
            <div class="">
                <h1 class="article__title">@Model.Article.Title</h1>

                <p>@Model.Article.Teaser</p>
                <p>Author: <strong>@Model.Article.Author</strong> | Photographer: <strong>@Model.Article.Photographer</strong></p>
                <p>@Model.Article.UpdatedAt</p>
            </div>

            <section class="article">
                @if (!string.IsNullOrEmpty(Model.Article.Body))
                {
                    <article>
                        @Html.Raw(StockportWebapp.Utils.HtmlHelper.AddImageAttributes(Model.Article.Body, "720", "511", "720", "937", "852"))
                    </article>
                }
            </section>
        </div>
    </div>
</div>