@model ArticleViewModel
@{
    ViewData["Title"] = Model.Article.Title;
    ViewData["Description"] = Model.MetaDescription;
    ViewData["og:title"] = Model.OgTitleMetaData;
    Layout = "../shared/_Layout.cshtml";
}

<div class="grid-container-full-width" style="background-color:white;" data-cy="article">
    <div class="article-hero">
        @if (!Model.ArticleWithImage)
        {
            <div class="article-hero__background" style="background-image: url(@Model.Article.Image?fm=webp)"></div>
        }
        
        <div class="grid-container article-hero__wrapper">
            <div class="grid-100">
                <div class="article-hero__image"></div>

                <div class="article-hero__content">
                    <h1 class="article-hero__title">@Model.Article.Title</h1>

                    <div class="article-hero__about">
                        <p>@Model.Article.Teaser</p>
                        
                        <p class="article-hero__about-attribution">
                            @if (!string.IsNullOrEmpty(Model.Article.Author))
                            {
                                <span>Author: <strong>@Model.Article.Author</strong></span>
                            }
                            
                            @if (!string.IsNullOrEmpty(Model.Article.Author) && !string.IsNullOrEmpty(Model.Article.Photographer))
                            {
                                <span class="article-hero__about-break">|</span>
                            }

                            @if (!string.IsNullOrEmpty(Model.Article.Photographer))
                            {
                                <span>Photographer: <strong>@Model.Article.Photographer</strong></span>
                            }
                        </p>

                        <p>Published: <strong><partial name="FormattedDate" model="@Model.Article.PublishedOn" /></strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-100">
            <section class="article">
                @if (!string.IsNullOrEmpty(Model.Article.Body))
                {
                    <article>
                        @Html.Raw(StockportWebapp.Utils.HtmlHelper.AddImageAttributes(Model.Article.Body, "691", "389", "691", "919", "1192"))
                    </article>
                }
            </section>
        </div>
    </div>
</div>