@model DirectoryViewModel
@{
    var directory = Model.DirectoryEntry;
    ViewData["Title"] = directory.Name;
    ViewData["og:title"] = directory.Name;
    ViewData["Description"] = directory.MetaDescription;
    Layout = "../Shared/_Layout2023.cshtml";
}

<div class="grid-container-full-width">
    <section class="directories-search">
        @if(Model.Directory is not null){
            <partial name="DirectorySearch" model="@Model.Directory.Title"/>
        }
        else{
            <partial name="DirectorySearch" model="@directory.Name" />
        }
    </section>

    @if(Model.Directory is not null){
        <partial name="Breadcrumb2023" model='new List<Crumb> { new Crumb(Model.Directory.Title, "directories/" + Model.Directory.Slug, "Directory")}'/>
    }
    else{
        <partial name="Breadcrumb2023" model='new List<Crumb>()'/>
    }

    <div class="grid-container">
        <div class="grid-100">
            <h2 class="h-l directory__title">@directory.Name</h2>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-100">
            <section class="directory">
                <div class="directory__profile">
                    <img src="@directory.Branding.First().File.Url?w=340&q=89"
                        srcset="@directory.Branding.First().File.Url?w=340&q=89&fm=webp 340w"
                        class="directory__logo"
                        alt="@directory.Branding.First().File.Description"
                        loading="lazy"
                        width="300"
                        height="150"/>
                    </a>

                    <h2 class="h-ml">Our details</h2>

                    <h3 class="h-m">Organisation</h3>
                    <p>@directory.Name</p>
                    
                    <h3 class="h-m">Address</h3>
                    @Html.Raw(@directory.Address)

                    <h3 class="h-m">Contact us</h3>
                    <p>Phone: <b>@directory.PhoneNumber</b></p>
                    <p>Email: <b>@directory.Email</b></p>
                    <p><b>Visit:</b></p>
                    <p></p><a href="@directory.Website">@directory.Website</a></p>
                    <p><a href="@directory.Facebook">@directory.Facebook</a></p>
                    <p><a href="@directory.Twitter">@directory.Twitter</a></p>
                </div>
                
                <div class="directory__info">
                    <div class="directory__description">
                        <h2>ABOUT US</h2>
                        @Html.Raw(directory.Description)
                    </div>

                    <div class="directory__filters">
                        @foreach (var theme in directory.Themes)
                        {

                            <h2>@theme.Title</h2>
                            
                            foreach(var filter in theme.Filters)
                            {
                                <p>@filter.DisplayName</p>
                            }
                        }
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>