@model DirectoryViewModel
@{
    var directory = Model.DirectoryEntry;
    ViewData["Title"] = directory.Name;
    ViewData["og:title"] = directory.Name;
    ViewData["Description"] = directory.MetaDescription;
    Layout = "../Shared/_Layout2023.cshtml";
}

<div class="grid-container-full-width" data-cy="directory-entry">
@*    <section class="directories-search">
        @if(Model.Directory is not null){
            <partial name="DirectorySearch" model="@Model.Directory.Title"/>
        }
        else{
            <partial name="DirectorySearch" model="@directory.Name" />
        }
    </section>*@

    @if(Model.Directory is not null){
        <partial name="Breadcrumb2023" model='@Model.Breadcrumbs'/>
    }
    else{
        <partial name="Breadcrumb2023" model='new List<Crumb>()'/>
    }

    <div class="grid-container">
        <div class="grid-100">
            <h1 class="directory__title">@directory.Name</h1>
            <section class="directory">
                <div class="directory--30 directory--border-top">
                    <div class="directory__wrapper">
                        @if(directory.Branding.Any()){
                            <img src="@directory.Branding.FirstOrDefault().File.Url?w=350&q=89"
                                srcset="@directory.Branding.FirstOrDefault().File.Url?w=350&q=89&fm=webp 350w"
                                class="directory__logo"
                                alt="@(directory.Branding.FirstOrDefault().File.Description ?? string.Empty)"
                                width="350"
                                height="150"/>
                        }
                        
                        <h2 class="directory__profile--margin-top">Our details</h2>
                        <div class="directory__organisation">
                            <h3 class="h-m">Organisation</h3>
                            @if(string.IsNullOrEmpty(directory.Provider)) {
                                <p>@directory.Name</p>
                            }
                            else{
                                <p>@directory.Provider</p>
                            }
                        </div>

                        <div class="directory__address">
                            <h3 class="h-m">Address</h3>
                            <div>@Html.Raw(@directory.Address)</div>
                        </div>

                        <h3 class="h-m">Contact us</h3>
                        <div class="directory__contact">
                            <div class="directory__labels">
                                <p class="directory__labels--no-margin">Phone:</p>
                                <p class="directory__phone">@directory.PhoneNumber</p>
                                <p class="directory__labels--no-margin">Email:</p>
                                <a class="directory__email" href="mailto:@directory.Email">@directory.Email</a>
                            </div>

                            <div class="directory__contact--tablet">
                                <div class="directory__labels--tablet">
                                    <p>Phone:</p>
                                    <p>Email:</p>
                                </div>

                                <div class="directory__values--tablet">
                                    <p>@directory.PhoneNumber</p>
                                    <a href="mailto:@directory.Email">@directory.Email</a>
                                </div>
                            </div>

                            <div class="directory__social">
                                <p>Visit:</p>
        
                                <div class="directory__social--tablet">
                                    <a href="@directory.Website">@directory.Website</a>
                                    <a href="@directory.Facebook">Facebook</a>
                                    <a href="@directory.Twitter">Twitter</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="directory--70">
                    <div class="directory__description">
                        <div class="directory__wrapper">
                            <h2>About us</h2>
                            @Html.Raw(directory.Description)
                        </div>
                    </div>

                    @if (directory.Themes is not null)
                    {
                        <div class="directory__filters">
                            <div class="directory__wrapper">
                                @foreach (var theme in directory.Themes)
                                {
                                    <h2 class="h-ml directory__filters-title">@theme.Title</h2>

                                    foreach (var filter in theme.Filters)
                                    {
                                        <p class="directory__filter"><span class="fa fa-check" aria-hidden="true"></span> @filter.DisplayName</p>
                                    }
                                }
                            </div>
                        </div>
                    }
                </div>
            </section>
        </div>
    </div>
</div>