@model DirectoryEntryViewModel
@{
    ViewData["Title"] = Model.Name;
    ViewData["og:title"] = Model.Name;
    ViewData["Description"] = Model.MetaDescription;
    Layout = "../Shared/_Layout2023.cshtml";
    
    var borderTeal = " navcard--border-top-10 navcard--theme-teal-lighter-top ";
    var borderGrey = " navcard-all navcard--theme-grey-accent-all";
    var noBorder = " navcard--border-top-0";
    var borderRadius = " navcard--radius-bottom-left navcard--radius-bottom-right";
    var greyBorderCssClasses = $"{borderGrey} {noBorder} {borderRadius}";
}

<div class="grid-container-full-width" data-cy="directory-entry">
    <partial name="Breadcrumb2023" model='@Model.Breadcrumbs' />
    
    <div class="grid-container">
        <div class="grid-100">
            <h1 class="directory__title">@Model.Name</h1>
            <section class="directory">
                <div class="directory--30 directory--border-top @borderTeal">
                    <div class="directory__wrapper navcard--white @greyBorderCssClasses">
                        @if(!string.IsNullOrEmpty(Model.Image)){
                            <img src="@Model.Image?w=350&q=89&fm=webp"
                                class="directory__logo"
                                alt=""
                                width="350"
                                height="150">
                        }

                        <h2 class='@(!string.IsNullOrEmpty(Model.Image) ? "directory__profile-image" : "directory__profile")'>Our details</h2>
                        <div class="directory__organisation">
                            <h3 class="h-m">Organisation</h3>
                            @if (string.IsNullOrEmpty(Model.Provider)){
                                <p>@Model.Name</p>
                            }
                            else{
                                <p>@Model.Provider</p>
                            }
                        </div>

                        <div class="directory__address">
                            @if(!string.IsNullOrEmpty(Model.Address)){
                                <h3 class="h-m">Address</h3>
                                <div>@Html.Raw(Model.Address)</div>
                            }
                        </div>

                        @if(Model.DisplayContactUs){
                            <h3 class="h-m">Contact us</h3>
                        }
    
                        <div class="directory__contact">
                            @if(!string.IsNullOrEmpty(Model.Website)){
                                <div class="directory__website">
                                    <p>Web:</p>
                                    <a href="@Model.Website">@Model.Website</a>
                                </div>
                            }
                            
                            @if(Model.HasPrimaryContact){
                                <div class="directory__labels">
                                    @if(!string.IsNullOrEmpty(Model.PhoneNumber)){
                                        <p class="directory__labels--no-margin">Phone:</p>
                                        <p class="directory__phone">@Model.PhoneNumber</p>
                                    }

                                    @if(!string.IsNullOrEmpty(Model.Email)){
                                        <p class="directory__labels--no-margin">Email:</p>
                                        <a class="directory__email" href="mailto:@Model.Email">@Model.Email</a>
                                    }
                                </div>

                                <div class="directory__contact--tablet">
                                    <div class="directory__labels--tablet">
                                        @if(!string.IsNullOrEmpty(Model.PhoneNumber)){
                                            <p>Phone:</p>
                                        }

                                        @if(!string.IsNullOrEmpty(Model.Email)){
                                            <p>Email:</p>
                                        }
                                    </div>

                                    <div class="directory__values--tablet">
                                        @if(!string.IsNullOrEmpty(Model.PhoneNumber)){
                                            <p>@Model.PhoneNumber</p>
                                        }

                                        @if(!string.IsNullOrEmpty(Model.Email)){
                                            <a href="mailto:@Model.Email">@Model.Email</a>
                                        }
                                    </div>
                                </div>
                            }

                            @if(Model.DisplaySocials){
                                <div class="directory__social">
                                    <p>Visit:</p>
                                    
                                    <div class="directory__social--tablet">
                                        @if(!string.IsNullOrEmpty(Model.Facebook)){
                                            <a href="@Model.Facebook">Facebook</a>
                                        }

                                        @if (!string.IsNullOrEmpty(Model.Twitter))
                                        {
                                            <a href="@Model.Twitter">X (Twitter)</a>
                                        }

                                        @if (!string.IsNullOrEmpty(Model.Youtube))
                                        {
                                            <a href="@Model.Youtube">YouTube</a>
                                        }

                                        @if (!string.IsNullOrEmpty(Model.Instagram))
                                        {
                                            <a href="@Model.Instagram">Instagram</a>
                                        }

                                        @if (!string.IsNullOrEmpty(Model.LinkedIn))
                                        {
                                            <a href="@Model.LinkedIn">LinkedIn</a>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="directory--70 directory--border-top @borderTeal">
                    <div class="directory__description">
                        <div class="directory__wrapper navcard--white @greyBorderCssClasses">
                            <h2>About us</h2>
                            @Html.Raw(Model.Description)
                        </div>
                    </div>

                    @if (Model.HighlightedFilters.Any())
                    {
                        <div class="directory__filters @borderTeal">
                            <div class="directory__wrapper navcard--white @greyBorderCssClasses">
                                <h2 class="directory__filters-title">Facilities available</h2>
                                <ul class="directory__filters-facilities">
                                    @foreach (var filter in Model.HighlightedFilters)
                                    {
                                        <li class="directory__filter"><span class="fa fa-check" aria-hidden="true"></span> @filter.DisplayName</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    }

                    <partial name="DirectoryEntryBranding" model='Model.Branding' view-data='new ViewDataDictionary(ViewData) { { "AdditionalWrapperCssClasses", @borderTeal }, { "AdditionalCssClass", @greyBorderCssClasses } }' />
                </div>
            </section>
        </div>
    </div>

    <partial name="DirectoryContentDisclaimer">
</div>