@model DirectoryViewModel
@{
    Layout = "../Shared/_Layout2023.cshtml";
    
    ViewData["Title"] = Model.Title;
    ViewData["og:title"] = Model.Title;
    ViewData["Description"] = Model.MetaDescription;

    var dataCy = Model.IsRootDirectory ? "directory-page" : "subdirectory-page";
    var navcardNoPadding = Model.DisplayIcons ? "navcard--no-padding-top" : string.Empty;
    var titleNoMarginBottom = string.IsNullOrEmpty(Model.Body) 
                                ? "section__title--no-margin-bottom" 
                                : string.Empty;
}

<partial name="GlobalAlerts" model='Model.Alerts' />

<div class="grid-container-full-width" style="background-color:white;" data-cy=@dataCy>
    <partial name="Breadcrumb2023" model='@Model.Breadcrumbs' />
    <partial name="DirectorySearch" model="new DirectorySearchViewModel(){ Slug = Model.ParentDirectory.Slug, Title = Model.ParentDirectory.Title, Branding=Model.ParentDirectory.SearchBranding, SearchTerm = Model.SearchTerm }" />
    <div class="grid-container">
        <div class="grid-100">
            @if(!Model.IsRootDirectory)
            {
                <h2 class="h-xl directory__title--margin @titleNoMarginBottom">@Model.Title</h2>
            }            

            @if(!string.IsNullOrEmpty(Model.Body)) {
                <div class="directory-lead">@Html.Raw(@Model.Body)</div>
            }
        </div>
    </div>

    <h2 class="visuallyhidden">Services in @Model.Title</h2>
    <partial name="CallToAction" model='Model.CallToAction' view-data='new ViewDataDictionary(ViewData) { { "AdditionalCssClass", "section--margin-top"  } }'/>
    <partial name="DirectoryNavCardList" />
    @if (!string.IsNullOrEmpty(Model.EventBanner.Title)) 
    {
        <div class="event-calendar-banner--margin-top">
            <partial name="EventBanner" model='Model.EventBanner'/>
        </div>
    }
    <partial name="ExternalLinks" model='new ExternalLinksViewModel() { ExternalLinks=Model.ExternalLinks, RelatedContent=Model.RelatedContent }'/>
    <partial name="DirectoryContentDisclaimer"/>
</div>