@model DirectoryEntryViewModel
@{
    ViewData["Title"] = Model.Name;
    ViewData["og:title"] = Model.Name;
    ViewData["Description"] = Model.MetaDescription;
    Layout = "../Shared/_Layout2023.cshtml";
    
    var borderTeal = " navcard--border-top-10 navcard--theme-teal-lighter-top ";
    var borderGrey = " navcard-all navcard--theme-grey-accent-all";
    var noBorder = " navcard--border-top-0";
    var borderRadius = " navcard--radius-bottom-left navcard--radius-bottom-right";
    var greyBorderCssClasses = $"{borderGrey} {noBorder} {borderRadius}";
}

<div class="grid-container-full-width" data-cy="directory-entry">
    <partial name="Breadcrumb2023" model='@Model.Breadcrumbs' />
    
    <div class="grid-container">
        <div class="grid-100">
            <h1 class="directory__title">@Model.Name</h1>
            <section class="directory">
                <div class="directory--30 directory--border-top @borderTeal">
                    <div class="directory__wrapper navcard--white @greyBorderCssClasses">
                        <partial name="DirectoryEntryCore" />
                    </div>
                </div>

                <div class="directory--70 directory--border-top @borderTeal">
                    <partial name="DirectoryEntryDescription" model='Model.Description' view-data='new ViewDataDictionary(ViewData) { { "AdditionalCssClass", @greyBorderCssClasses } }' />
                    <partial name="DirectoryEntryHighightedFilters" model='Model.HighlightedFilters' view-data='new ViewDataDictionary(ViewData) { { "AdditionalWrapperCssClasses", @borderTeal }, { "AdditionalCssClass", @greyBorderCssClasses } }' />
                    <partial name="DirectoryEntryBranding" model='Model.Branding' view-data='new ViewDataDictionary(ViewData) { { "AdditionalWrapperCssClasses", @borderTeal }, { "AdditionalCssClass", @greyBorderCssClasses } }' />
                </div>
            </section>
        </div>
    </div>

    <partial name="DirectoryContentDisclaimer">
</div>