@model DirectoryViewModel
@{
    var directory = Model.DirectoryEntry;
    ViewData["Title"] = directory.Name;
    ViewData["og:title"] = directory.Name;
    ViewData["Description"] = directory.MetaDescription;
    Layout = "../Shared/_Layout2023.cshtml"; 
}
<div class="grid-container-full-width">
    <div class="placeholder placeholder-bg-teal placeholder-small">
        <h1>@directory.Name</h1>
    </div>
    <div class="placeholder placeholder-bg-orange placeholder-xs">
        <p>BREADCRUMBS</p>
    </div>
    <h2>@directory.Name</h2>
    <div class="grid-container">
        <div class="grid-30">
            <div class="">
                <img src="@directory.Branding.First().File.Url?w=340&q=89"
                    srcset="@directory.Branding.First().File.Url?w=340&q=89&fm=webp 340w"
                    class="logo-area__image"
                    alt="@directory.Branding.First().File.Description"
                    loading="lazy"
                    width="200"
                    height="125"/>
                </a>
            </div>

            <div class="">
                <h2>Our details</h2>
                <h3>Organisation</h3>
                <p>@directory.Name</p>
                <h3>Address</h3>
                <p>@directory.Address</p>
                <h3>Contact us</h3>
                <p>Phone: <b>@directory.PhoneNumber</b></p>
                <p>Email: <b>@directory.Email</b></p>
                <p><b>Visit:</b></p>
                <p><a href="@directory.Website">@directory.Website</a></p>
                <p><a href="@directory.Facebook">@directory.Facebook</a></p>
                <p><a href="@directory.Twitter">@directory.Twitter</a></p>
            </div>
        </div>

        <div class="grid-70">
            <div class="">
                <h2>ABOUT US</h2>
                <p>@directory.Description</p>
            </div>

            <div class="placeholder placeholder-medium placeholder-bg-grey">
                <p>DATE AND TIMES</p>
            </div>

            <div class="placeholder placeholder-medium placeholder-bg-teal">
                <p>RANGE</p>
            </div>

            <div class="placeholder placeholder-medium placeholder-bg-grey">
                <p>COST</p>
            </div>
            <hr>

            <div class="placeholder placeholder-medium placeholder-bg-teal">
                <p>FACILITIES AVAILABLE</p>
            </div>

            <div class="placeholder placeholder-medium placeholder-bg-grey">
                <p>HOW TO FIND US</p>
            </div>
        </div>
    </div>
</div>