@model DirectoryViewModel
@{
    var directory = Model.Directory;
    ViewData["Title"] = directory.Title;
    ViewData["og:title"] = directory.Title;
    ViewData["Description"] = directory.MetaDescription;
    Layout = "../Shared/_Layout2023.cshtml"; 
}
<div class="grid-container-full-width background-grey">

    @*<section class="directories-search">
        <partial name="DirectorySearchOneStockport" />
        <partial name="DirectorySearch" model="@Model.Directory.Title"/>
    </section>*@


    <partial name="Breadcrumb2023" model='new List<Crumb>()' />
    <form asp-controller="Directory" method="post">
        <div class="grid-container">
            <div class="grid-100 directory-sub-title">
                <h1>Results for @Model.Directory.Title</h1>
                <span>Showing <span class="bold">@Model.FilteredEntries.Count()</span> results in <span class="bold">@Model.Directory.Title</span></span>
            </div>
        </div>

        <div class="grid-container">
            <div class="grid-30 tablet-grid-100">
                <section class="navcard-wrapper">
                    <div class="navcard navcard--white navcard--width-100 navcard--no-border">
                        <div class="navcard-content">
                            <div class="navcard-content--padding">
                                <h2 class="h-m">Filter you results</h2>
                                <p>Choose one or more options to filter your results.</p>

                                @if(Model.Directory.SubDirectories.Any())
                                {
                                    <h3 class="h-s">Category</h3>
                                    @foreach(var subDirectory in Model.Directory.SubDirectories)
                                    {
                                        <p><a alt="" href="@Url.Action("DirectoryResults", "Directory", new { slug = subDirectory.Slug })">@subDirectory.Title</a></p>
                                    }
                                }
                                <hr />
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="grid-70 tablet-grid-100">
                <ul class="navcard-wrapper">
                    @foreach(var entry in Model.FilteredEntries)
                    {
                        <partial name="DirectorySearchResult" model=@(new DirectorySearchResultViewModel {DirectorySlug = Model.Directory.Slug, Entry = entry}) />
                    }
                </ul>
            </div>
        </div>
    </form>
</div>