@model DirectoryViewModel
@{
    var directory = Model.Directory;
    ViewData["Title"] = directory.Title;
    ViewData["og:title"] = directory.Title;
    ViewData["Description"] = directory.MetaDescription;
    Layout = "../Shared/_Layout2023.cshtml"; 
}
<div class="grid-container-full-width background-grey">
    <div class="directory-title">
        <div class="grid-container">
            <div class="grid-100">
                <h1>Welcome to the Stockport Local Directory</h1>
                <div class="directory-title_search">I'm looking for...</div>
                <section class="home-search">
                    <h2 class="visuallyhidden">Search stockport local directory</h2>
                    <form method="get" id="cludo-search-hero-form">
                        <label class="visuallyhidden" for="cludo-search-bar">
                            search input box
                        </label>
                        <input class="grid-100 tablet-grid-100 mobile-grid-100 home-search_search-input" id="cludo-search-bar" data-cy="search-bar" type="text" name="query" placeholder="Keyword or search phrase" autocomplete="off">
                        <button value="Submit search" class="home-search_search-button" data-cy="search-submit" type="submit">
                            <span class="fa fa-search" aria-hidden="true"></span><span class="visuallyhidden"> Submit Search</span>
                        </button>
                    </form>
                </section>
            </div>
        </div>
    </div>

    <partial name="Breadcrumb2023" model=@Model.Breadcrumbs />
    <form asp-controller="Directory" method="post">
        <div class="grid-container">
            <div class="grid-100 directory-sub-title">
                <h2>Results for @Model.Directory.Title</h2>
                <span class="directory-result-count">Showing @Model.FilteredEntries.Count() results in @Model.Directory.Title</span>
            </div>
        </div>

        <div class="grid-container">
            <div class="grid-30">
                <section class="navcard-wrapper">
                    <div class="navcard navcard--white navcard--width-100">
                        <div class="navcard_content">
                            <div class="navcard-content--padding">
                                <h3>Filter by postcode</h3>
                                <p>Enter a full postcode to find results near you. Or use the filters below to find all the results in a particular area.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="navcard-wrapper">
                    <div class="navcard navcard--white navcard--width-100 navcard--no-border">
                        <div class="navcard_content">
                            <div class="navcard-content--padding">
                                <h3>Filter you results</h3>
                                <p>Choose one or more options to filter your results.</p>

                                @if(Model.Directory.SubDirectories.Any())
                                {
                                    <h4>Category</h4>
                                    @foreach(var subDirectory in Model.Directory.SubDirectories)
                                    {
                                        <p><a href="@Url.Action("DirectoryResults", "Directory", new { slug = subDirectory.Slug })">@subDirectory.Title</a></p>
                                    }
                                }
                                <hr />
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="grid-70">
                <ul class="navcard-wrapper">
                    @foreach(var entry in Model.FilteredEntries)
                    {
                        <li class="navcard navcard--white navcard--width-100">
                            <partial name="DirectorySearchResult" model=@(new DirectorySearchResultViewModel {DirectorySlug = Model.Directory.Slug, Entry = entry}) />
                        </li>
                    }
                </ul>
            </div>
        </div>
    </form>
</div>