@model DirectoryViewModel
@{
    var directory = Model.Directory;
    ViewData["Title"] = directory.Title;
    ViewData["og:title"] = directory.Title;
    ViewData["Description"] = directory.MetaDescription;
    Layout = "../Shared/_Layout2023.cshtml";
}

<div class="grid-container-full-width background-grey" data-cy="search-results">

    @*<section class="directories-search">
    <partial name="DirectorySearchOneStockport" />
    <partial name="DirectorySearch" model="@Model.Directory.Title"/>
    </section>*@

    <partial name="Breadcrumb2023" model='new List<Crumb>()' />
    <form asp-controller="Directory" method="get">
        <div class="grid-container">
            <div class="grid-100 directory-sub-title">
                <h1>Results for @Model.Directory.Title</h1>
                <span>Showing <span class="bold">@Model.FilteredEntries.Count()</span>@(Model.FilteredEntries.Count().Equals(1) ? " result" : " results") in <span class="bold">@Model.Directory.Title</span></span>
            </div>
        </div>

        <div class="grid-container">
            <div class="grid-30 mobile-grid-100">
                <div class="sortBy">
                    <div class="first">
                        <label for="order-by">Sort by:</label>
                    </div>
                    <div class="second">
                        <select asp-for="@Model.Order" asp-items="@(new SelectList(Model.OrderBy))" name="orderBy" id="order-by" autocomplete="off"></select>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid-container">
            <div class="grid-30 tablet-grid-100">
                <section class="navcard-wrapper">
                    <div class="navcard navcard--white navcard--width-100 navcard--border navcard--directories">
                        <div class="navcard-content">
                            <div class="navcard-content--padding">
                                <h2 class="h-ml h--no-top-margin">Filter your results</h2>
                                <p>Choose one or more options to filter your results.</p>
                                
                                <div class="directory-results__filters">
                                    @if(Model.AllFilterThemes is not null && Model.AllFilterThemes.Any()){
                                        @foreach (var entry in Model.AllFilterThemes)
                                        {
                                            <div class="directory-results__collapsible">
                                                <h3 id='directory-@entry.Title.ToLower().Replace(" ", "-")'>@entry.Title</h3>
                                                <span class="directory-results__toggle @(Model.AllFilterThemes.First() != entry ? "expanded" : string.Empty)"></span>
                                            </div>
                                            <div class="directory-filters__content" @(Model.AllFilterThemes.First() != entry ? "style=display:none;" : string.Empty) role="group" aria-labelledby='directory-@entry.Title.ToLower().Replace(" ", "-")'>
                                                @foreach (var filter in entry.Filters)
                                                {
                                                    <div class="directory__checkbox-container">
                                                        <input class="directory-filters__checkbox" type="checkbox" name="filters" value="@filter.Slug" id="@filter.Slug"
                                                            @(Model.AppliedFilters.Any(appliedFilter => appliedFilter.Slug == filter.Slug) ? "checked" : string.Empty)>
                                                    
                                                        <label for="@filter.Slug" class="directory-filters__label">@filter.DisplayName</label>
                                                        <br>
                                                    </div>
                                                }
                                            </div>

                                            <hr />
                                        }

                                        <button value="Apply filters" class="btn btn--bold btn--full btn--margin-bottom btn--margin-top" type="submit">Apply filters</button>
                                        <a href="@Url.Action("DirectoryResults", "Directory", new { slug = Model.Directory.Slug })" class="btn btn--inverse btn--full btn--bold btn--black-text btn--border-grey">Clear filters</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="grid-70 tablet-grid-100">
                <ul class="navcard-wrapper">
                    <h2 class="visuallyhidden">Results in @Model.Directory.Title</h2>
                    @foreach (var entry in Model.FilteredEntries)
                    {
                        <partial name="DirectorySearchResult" model=@(new DirectorySearchResultViewModel {DirectorySlug = Model.Directory.Slug, Entry = entry}) />
                    }
                </ul>
            </div>
        </div>
    </form>
</div>

<script>
    require(['/assets/javascript/config-556c1bf6.min.js'], function() {
        require(['directoryFilters'],
            function(directoryFilters) {
                directoryFilters.Init();
            }
        );
    });
</script>