@model DirectoryViewModel
@{
    var directory = Model.Directory;
    ViewData["Title"] = directory.Title;
    ViewData["og:title"] = directory.Title;
    ViewData["Description"] = directory.MetaDescription;
    Layout = "../Shared/_Layout2023.cshtml"; 
}
<div class="grid-container-full-width background-grey">
@*  
    <partial name="DirectorySearchOneStockport" />
    <partial name="DirectorySearch" />
*@

    <partial name="Breadcrumb2023" model='new List<Crumb>()' />
    <form asp-controller="Directory" method="get">
        <div class="grid-container">
            <div class="grid-100 directory-sub-title">
                <h1>Results for @Model.Directory.Title</h1>
                <span class="directory-result-count">Showing @Model.FilteredEntries.Count() results in @Model.Directory.Title</span>
            </div>
        </div>

        <div class="grid-container">
            <div class="grid-30 tablet-grid-100">
                <section class="navcard-wrapper">
                    <div class="navcard navcard--white navcard--width-100 navcard--border">
                        <div class="navcard-content">
                            <div class="navcard-content--padding">
                                <h3>Filter you results</h3>
                                <p>Choose one or more options to filter your results.</p>
                                @if(Model.Directory.SubDirectories.Any())
                                {
                                    <h4>Category</h4>
                                    @foreach(var subDirectory in Model.Directory.SubDirectories)
                                    {
                                        <p><a href="@Url.Action("DirectoryResults", "Directory", new { slug = subDirectory.Slug })">@subDirectory.Title</a></p>
                                    }
                                    <hr />
                                }

                                <div class="directory-results__filters">
                                    @if(Model.Directory.AllFilterThemes.Any())
                                    {
                                         foreach(var theme in Model.Directory.AllFilterThemes)
                                        {
                                            <h3>@theme.Title</h3>

                                            foreach(var filter in theme.Filters)
                                            {
                                                <input class="" type="checkbox" name="filters" value="@filter.Slug">
                                                <label>@filter.Title</label>
                                                <br>
                                            }
                                            <hr/>
                                        }
                                  
                                        <input type="submit" value="Apply filters" class="btn btn--bold btn--width-30 btn--margin-bottom" />
                                        <a href="" class="btn btn--inverse btn--width-30 btn--bold btn--black-text btn--border-grey">Clear filters</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="grid-70 tablet-grid-100">
                <ul class="navcard-wrapper">
                    @foreach(var entry in Model.FilteredEntries)
                    {
                        <li class="navcard navcard--white navcard--force-border-top navcard--width-100">
                            <partial name="DirectorySearchResult" model=@(new DirectorySearchResultViewModel {DirectorySlug = Model.Directory.Slug, Entry = entry}) />
                        </li>
                    }
                </ul>
            </div>
        </div>
    </form>
</div>