@using StockportWebapp.Utils;

@model ArticleViewModel
@{
    ViewData["Title"] = Model.Article.Title;
    ViewData["Description"] = Model.MetaDescription;
    ViewData["og:title"] = Model.OgTitleMetaData;
    Layout = "../Shared/_Layout2023.cshtml";
    string dataCy = Model.DisplayedSection is null ? "flat-article" : "article-with-sections";
    string articleMarginBottom = !Model.Article.TrustedLogos.Any() || Model.Article.TrustedLogos is null
        ? " section"
        : string.Empty;
}

<div class="grid-container-full-width" style="background-color:white;" data-cy="@dataCy" data-contentful-entry-id="@Model.Article.ContentfulId">
    <partial name="GlobalAlerts" model='Model.Article.Alerts' />
    <partial name="Breadcrumb2023" model="Model.Article.Breadcrumbs" />

    <div class="grid-container">
        <div class="grid-100">
            <div class="article--70">
                <h1 class="article__title" data-contentful-field="title">@Model.Article.Title</h1>

                @if (Model.ArticleWithSection && !Model.ArticleHasImage)
                {
                    <partial name="ArticleSections" />
                }
            </div>

            <section class="article">
                <div class="article--70 @articleMarginBottom">
                    @if (Model.ArticleHasImage)
                    {
                        <div class="article-hero">
                            <img src="@Model.Article.Image?q=89&fm=webp"
                                 srcset="@Model.Article.Image?w=967&q=89&fm=webp 967w,
                                        @Model.Article.Image?w=853&q=89&fm=webp 853w,
                                        @Model.Article.Image?w=712&q=89&fm=webp 712w"
                                 sizes="(max-width: 767px) 712px,
                                        ((min-width: 768px) and (max-width: 1023px)) 967px,
                                        (min-width: 1024px) 853px"
                                 class="article-hero__image"
                                 width="712"
                                 height="350"
                                 alt="@Model.Article.AltText"
                                 data-contentful-field="image" />
                        </div>
                    }

                    @if (Model.ArticleWithSection && Model.ArticleHasImage)
                    {
                        <partial name="ArticleSections" />
                    }

                    @if (Model.ArticleWithSection)
                    {
                        <article class="article-body">
                            <h2 id="@Model.DisplayedSection.Slug">@Model.DisplayedSection.Title</h2>
                            @Html.Raw(Model.DisplayedSection.Body)
                        </article>
                    }

                    @if (!string.IsNullOrEmpty(Model.Article.Body))
                    {
                        <article data-contentful-field="body">
                            @Html.Raw(StockportWebapp.Utils.HtmlHelper.AddImageAttributes(Model.Article.Body, "720", "511", "720", "937", "852"))
                        </article>
                    }

                    @if (!Model.HideLastUpdated && Model.ArticleWithSection)
                    {
                        <p class="article-date">
                            Last updated <partial name="FormattedDate" model='Model.DisplayedSection.UpdatedAt' />
                        </p>
                    }
                    else if (!Model.HideLastUpdated)
                    {
                        <p class="article-date">
                            Last updated <partial name="FormattedDate" model='Model.Article.UpdatedAt' />
                        </p>
                    }

                    @if (Model.ShouldShowPreviousSectionButton() || Model.ShouldShowNextSectionButton())
                    {
                        <partial name="ArticleSectionPagination" />
                    }

                    @if (Model.ArticleWithSection && Model.DisplayedSection.TrustedLogos.Any())
                    {
                        <partial name="LogoArea" model='@Model.DisplayedSection.TrustedLogos' view-data='@(new ViewDataDictionary(ViewData) {{"logoAreaTitle", @Model.DisplayedSection.LogoAreaTitle}, {"articleWithSection", Model.ArticleWithSection}, {"logoAreaArticle", true}})' />
                    }
                    else
                    {
                        <partial name="LogoArea" model='@Model.Article.TrustedLogos' view-data='@(new ViewDataDictionary(ViewData) {{"logoAreaTitle", @Model.Article.LogoAreaTitle}, {"articleWithSection", Model.ArticleWithSection}, {"logoAreaArticle", true}})' />
                    }
                </div>

                <div class="article--30 section">
                    @if (Model.HasParentTopicWithSubItems())
                    {
                        <partial name="SidebarNavCardList" model="@Model.Sidebar" />
                    }

                    @if (Model.HasRelatedContentWithSubItems())
                    {
                        <partial name="ArticleRelatedContent" model='new ExternalLinksViewModel() { RelatedContent=Model.Article.RelatedContent }' />
                    }
                </div>
            </section>
        </div>
    </div>
</div>