@model ArticleViewModel
@{
    ViewData["Title"] = Model.Article.Title;
    ViewData["Description"] = Model.MetaDescription;
    ViewData["og:title"] = Model.OgTitleMetaData;
    Layout = "../Shared/_Layout2023.cshtml";
    var dataCy = Model.DisplayedSection is null ? "flat-article" : "article-with-sections";
    var articleMarginBottom = !Model.Article.ArticleBranding.Any() || Model.Article.ArticleBranding is null ? " section" : string.Empty;
}

<div class="grid-container-full-width" style="background-color:white;" data-cy="@dataCy">
    <partial name="Breadcrumb2023" model="Model.Article.Breadcrumbs" />

    <div class="grid-container">
        <div class="grid-100">
            <div class="article--70">
                <h1 class="directory__title">@Model.Article.Title</h1>
            </div>

            <section class="article">
                <div class="article--70 @articleMarginBottom">
                    @if (!string.IsNullOrEmpty(Model.Article.Image))
                    {
                        <div class="article-hero">
                            <img srcset="@Model.Article.Image?w=937&q=89&fm=webp 937px,
                            @Model.Article.Image?w=1059&q=89&fm=webp 1059px,
                            @Model.Article.Image?w=720&q=89&fm=webp 720px"
                            sizes="(max-width: 767px) 720px,
                            ((min-width: 768px) and (max-width: 1023px)) 937px,
                            (min-width: 1024px) 1059px" src="@Model.Article.Image?q=89&fm=webp" class="article-hero__image" loading="lazy" alt="@Model.Article.AltText" />
                        </div>
                    }
                    
                    @if (Model.Article.Sections is not null && Model.Article.Sections.Any())
                    {
                        <div class="placeholder placeholder-bg-orange placeholder-small">
                            <h2 class="placeholder-article-header-description">Sections</h2>
                        </div>
                    }

                    @if (!string.IsNullOrEmpty(Model.Article.Body))
                    {
                        @Html.Raw(Model.Article.Body)
                    }

                    @if (!Model.HideLastUpdated)
                    {
                        <p class="article-date">
                            Last updated <partial name="FormattedDate" model='Model.Article.UpdatedAt' />
                        </p>
                    }

                    @if (Model.ShouldShowNextSectionButton() || Model.ShouldShowPreviousSectionButton())
                    {
                        <div class="placeholder placeholder-bg-grey placeholder__padded-top placeholder__padded-bottom" id="article-page-content">
                            <div class="grid-container">
                                <h2 class="placeholder-article-header-description">Pagination</h2>
                            </div>
                        </div>
                    }

                    <partial name="LogoAreaArticle" model='@Model.Article.ArticleBranding' view-data='new ViewDataDictionary(ViewData) {{"logoAreaTitle", @Model.Article.LogoAreaTitle}}'/>
                </div>

                <div class="article--30 section">
                    @if (Model.HasParentTopicWithSubItems())
                    {
                        <partial name="ArticleNavCardList" model="@Model"/>
                    }
                </div>
            </section>
        </div>
    </div>
</div>