@model StockportWebapp.ViewModels.ArticleViewModel
@using StockportWebapp.FeatureToggling
@inject FeatureToggles featureToggles

@{
    ViewData["Title"] = Model.Article.Title;
    ViewData["Description"] = Model.Article.Teaser;
    ViewData["og:title"] = Model.OgTitleMetaData;
    Layout = "../Shared/_Layout.cshtml";
}

@section Breadcrumbs {
    @Html.Partial("Breadcrumb", Model.Article.Breadcrumbs)
}

<div class="grid-container-full-width">
    <div class="grid-container grid-100">
        <div id="uitest-page-has-loaded" class="l-body-section-filled @(Model.HasParentTopicWithSubItems() || (Model.Article.LiveChatVisible)
                                                                  ? "mobile-grid-100 tablet-grid-100 push-30 grid-70"
                                                                  : "mobile-grid-100 tablet-grid-100 grid-100")">
            <section aria-label="@Model.Article.Title content" class="grid-100 mobile-grid-100 ">
                <div class="l-content-container">
                    @{
                        if (Model.Article.Alerts != null)
                        {
                            foreach (var alert in Model.Article.Alerts)
                            {
                                @Html.Partial("DisplayTemplates/Alert", alert)
                            }
                        }
                    }
                    <div class="grid-100">
                        <h1>@Model.Article.Title</h1>

                        @if (Model.ShouldShowArticleSummary)
                        {
                            <div>
                               @Html.Raw(Model.Article.Body)
                            </div>
                        }

                        @if (Model.DisplayedSection != null)
                        {
                            @Html.Partial("../Shared/Section-Nav")
                            @Html.Partial("../Shared/Article-Single-Section", Model)
                            @Html.Partial("DisplayTemplates/Section-Pagination")
                        }
                    </div>
                </div>
            </section>
        </div>
        @{
            if (Model.HasParentTopicWithSubItems() || Model.Article.LiveChatVisible)
            {
                <div class="pull-70 l-left-side-bar grid-30 tablet-grid-100 mobile-grid-100 grid-parent">
                    @if (Model.HasParentTopicWithSubItems())
                    {
                        <div class="l-left-side-bar-section">
                        <h3>@Model.Article.ParentTopic.Name</h3>
                        <ul>
                            @{var showMoreButton = false;}
                            @foreach (var item in Model.SidebarSubItems(out showMoreButton))
                            {
                                <li class="@(item.NavigationLink == Model.Article.NavigationLink ? "active" : "")">
                                    <a href="@item.NavigationLink">@item.Title</a>
                                </li>
                            }
                            
                            @if (showMoreButton)
                            {
                                <li>
                                    <a href="@Url.Action("Index", "Topic", new {topicSlug = Model.Article.ParentTopic.Slug})">
                                        <strong>More</strong>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    }
                    @if (Model.Article.LiveChatVisible)
                    {
                        @Html.Partial("LiveChat", Model.Article.LiveChat)
                    }                                
                </div>
            }
        } 
    </div>
</div>