@model ProcessedStartPage

@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Teaser;
    ViewData["og:title"] = Model.Title;
    Layout = "../Shared/_Layout2023.cshtml";
}

<div class="grid-container-full-width" style="background-color:white;" data-cy="start-page">
    <partial name="GlobalAlerts" model='Model.Alerts' />
    <partial name="Breadcrumb2023" model="Model.Breadcrumbs" />

    <div class="grid-container start-page">
        <div class="grid-100">
            <div class="article--70">
                <h1 class="article__title">@Model.Title</h1>
                
                @if(!string.IsNullOrEmpty(Model.Summary))
                {
                    <div class="lead start-page_summary start-page--inline-margin">
                        @Html.Raw(@Model.Summary)
                    </div>
                }   

                <section class="start-page--inline-margin">
                    <article>
                        <div class="start-page_upper" >
                            @Html.Raw(Model.UpperBody)
                        </div>
                        
                        <div class="start-page_btn">
                            <a href="@Model.FormLink" class="btn btn--width-30 btn--chevron-forward">Start now</a>
                        </div>

                        @if (!string.IsNullOrEmpty(Model.LowerBody))
                        {
                            <div class="start-page_lower">
                                @Html.Raw(Model.LowerBody)
                            </div>
                        }
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>