@using StockportWebapp.Models
@using StockportWebapp.ViewModels

@model PreviousConsultaion
@{
    Layout = "../../Shared/_LayoutSemantic.cshtml";
    ViewData["Title"] = "Previous Consultations";
}

@section Breadcrumbs {
    <partial name="SemanticBreadcrumb" model='new List<Crumb> { new Crumb(Model.Title, Model.Slug, "showcase") }' />
}
    <div tabindex="-1" id="content"></div>
    <div class="full-width">
        <article class="center-wrapper">
            <h1 class="group-article-title">@ViewData["Title"].ToString()</h1>
            <section class="appointments appointment-link">
                <header>
                    <h2>
                        <strong>@ViewData["Title"].ToString()</strong>
                    </h2>
                </header>
                <table>
                    <thead class="hide-on-mobile hide-on-tablet">
                        <tr>
                            <td>Description</td>
                            <td class="align-right">Closing Date</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Consultations)
                        {
                            var date = item.ClosingDate.Date == DateTime.Now.AddDays(-1).Date ? "Yesterday" : item.ClosingDate.ToString("dd MMMM yyyy");
                            date = item.ClosingDate.Date == DateTime.Now.Date ? "Earlier today" : date;
                            <tr class="hover-hand">
                                <td class="hide-on-mobile hide-on-tablet"><a href="@item.Link"></a>@item.Title</td>
                                <td class="align-right hide-on-mobile hide-on-tablet">@date</td>
                                <td class="hide-on-mobile hide-on-tablet align-center"><span class="fa fa-angle-right" /></td>
                                <td class="hide-on-desktop">
                                    <a href="#">
                                        <div>
                                            <div>
                                                <p>
                                                    <strong>@item.Title</strong>
                                                </p>
                                                <p>@date</p>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <footer>
                    <partial name="Pagination" model='Model.Pagination' />
                </footer>
            </section>
        </article>
    </div>
<script type="text/javascript">
    require(['alerts', 'startup'],
        function (alerts) {
            alerts.Init();
        });
</script>