@using System.Threading.Tasks
@using Microsoft.AspNetCore.Routing
@using StockportWebapp.Utils
@model StockportWebapp.Models.Newsroom

@{
    var currentRouteValues = new RouteValueDictionary(Url.ActionContext.RouteData.Values);
    var queryString = Context.Request.Query;
    foreach (var key in queryString.Keys)
    {
        currentRouteValues.Add(key, queryString[key]);
    }
    currentRouteValues.Add("somethinghere", Context.Request.QueryString);
    currentRouteValues.Add("lang", "1033");
}

<div class="grid-container">
    <div class="l-left-side-bar grid-30 tablet-grid-100 mobile-grid-100">
        <div class="l-left-side-bar-section">
            <h2>Refine by</h2>
            <p>Category</p>
            <ul>
                @foreach (var category in Model.Categories)
                {
                    <li><a href="@Url.RouteUrl(UrlQueryBuilder.AddQueryToUrl(Url.ActionContext.RouteData.Values, Context.Request.Query, "category", @category))">@category</a></li>
                }
            </ul>
        </div>
    </div>
    <div class="grid-70 tablet-grid-100 mobile-grid-100 grid-parent">
        @{
            if (Model.Alerts != null)
            {
                foreach (var alert in Model.Alerts)
                {
                    @Html.Partial("DisplayTemplates/Alert", alert)
                }
            }
        }
        <ul class="nav-card-news-list">
            @foreach (var subItem in Model.News)
            {
                <li class="nav-card-news mobile-grid-100 tablet-grid-50 grid-50">
                    <a href="@Url.Action("Detail", "News", new {slug = subItem.Slug})" class="nav-card-news-item">
                        @if (!string.IsNullOrEmpty(subItem.ThumbnailImage))
                        {
                            <div style="background-image: url(@subItem.ThumbnailImage)" class="nav-card-news-thumbnail"></div>
                        }
                        <div class="nav-card-news-details">
                            <h3 class="nav-card-news-title">@subItem.Title</h3>
                            <p class="news-date">
                                <i class="fa fa-clock-o"></i>@Html.Partial("FormattedDate", subItem.SunriseDate)
                            </p>

                            @if (string.IsNullOrEmpty(subItem.ThumbnailImage))
                            {
                                <p class="nav-card-news-teaser">@subItem.Teaser</p>
                            }
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>