@using System.Threading.Tasks
@using StockportWebapp.Utils
@model StockportWebapp.Models.Newsroom

<div class="grid-container">
    <div class="grid-30 tablet-grid-100 mobile-grid-100 l-news-filter">
        <p class="filters-heading">Refine by</p>
        <ul class="filters-list">           
            <li>
                <ul class="collapsable-list filters-list">                  
                    <li class="filter">
                        <p class="filter-title">Category</p>
                        <ul class="collapsable-list filters-list">
                            <li class=@(!UrlQueryHelper.QueryNameIsInQueryString(Url.ActionContext.RouteData.Values, Context.Request.Query, "category") ? "active" : "")>
                                <a href="@Url.RouteUrl(UrlQueryHelper.RemoveQueryToUrl(Url.ActionContext.RouteData.Values, Context.Request.Query, "category"))">All categories</a>
                            </li>
                            @foreach (var category in Model.Categories)
                            {
                                <li class=@(UrlQueryHelper.QueryNameAndValueIsInQueryString(Url.ActionContext.RouteData.Values, Context.Request.Query, "category", category) ? "active" : "")>
                                    <a href="@Url.RouteUrl(UrlQueryHelper.AddQueryToUrl(Url.ActionContext.RouteData.Values, Context.Request.Query, "category", @category))">@category</a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
                <p class="mobile-filter-heading filter-title">Filter news</p>
            </li>
        </ul>
    </div>
    <div class="grid-70 tablet-grid-100 mobile-grid-100 grid-parent">
        @{
            if (Model.Alerts != null)
            {
                foreach (var alert in Model.Alerts)
                {
                    @Html.Partial("DisplayTemplates/Alert", alert)
                }
            }
        }
        <ul class="nav-card-news-list">
            @foreach (var subItem in Model.News)
            {
                <li class="nav-card-news mobile-grid-100 tablet-grid-50 grid-50">
                    <a href="@Url.Action("Detail", "News", new {slug = subItem.Slug})" class="nav-card-news-item">
                        @if (!string.IsNullOrEmpty(subItem.ThumbnailImage))
                        {
                            <div style="background-image: url(@subItem.ThumbnailImage)" class="nav-card-news-thumbnail"></div>
                        }
                        <div class="nav-card-news-details">
                            <h3 class="nav-card-news-title">@subItem.Title</h3>
                            <p class="news-date">
                                <i class="fa fa-clock-o"></i>@Html.Partial("FormattedDate", subItem.SunriseDate)
                            </p>

                            @if (string.IsNullOrEmpty(subItem.ThumbnailImage))
                            {
                                <p class="nav-card-news-teaser">@subItem.Teaser</p>
                            }
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>