@model NewsroomViewModel
@{
    Newsroom newsroom = Model.Newsroom;
}

<h2 class="filters-heading">Filter</h2>

<div class="l-filters">
    <ul class="filters-list" id="displayRefineBy">
        @if (Model.HasActiveFilter())
        {
            <li class="filters-active">
                <ul>
                    @if (!string.IsNullOrEmpty(Model.Category))
                    {
                        <li class="filter collapsible">
                            <a href="@Url.RouteUrl(Model.FilteredUrl.WithoutCategory())" rel="nofollow">
                                <span class="fa fa-times" aria-hidden="true"></span>
                                @Model.Category
                            </a>
                        </li>
                    }

                    @if (Model.DateFrom.HasValue && Model.DateTo.HasValue && (Model.DateFrom <= Model.DateTo))
                    {
                        <li class="filter collapsible">
                            <a href="@Url.RouteUrl(Model.FilteredUrl.WithoutDateFilter())" rel="nofollow">
                                <span class="fa fa-times" aria-hidden="true"></span>
                                @Model.GetActiveYearFilter()
                            </a>
                        </li>
                    }

                    @if (!string.IsNullOrEmpty(Model.Tag))
                    {
                        <li class="filter collapsible">
                            <a href="@Url.RouteUrl(Model.FilteredUrl.WithoutTagFilter())" rel="nofollow">
                                <span class="fa fa-times" aria-hidden="true"></span>
                                @Model.Tag
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }

        <li class="filter collapsible" id="news-archive">
            <h3 tabindex="0" class="filter-title focusable">Years</h3>

            <ul class="filters-list">
                @foreach (int year in newsroom.Years.OrderByDescending(y => y))
                {
                    <li class="@(Model.DateRange == "customdate" && Model.DateFrom.Equals(year) ? "active" : string.Empty)">
                        <a href="@Url.RouteUrl(Model.FilteredUrl.AddYearFilter(year))" rel="nofollow">@year</a>
                    </li>
                }
            </ul>
        </li>

        @if (Model.Categories.Any())
        {
            <li class="filter collapsible" id="category-filter">
                <h3 tabindex="0" class="filter-title focusable">Category</h3>

                <ul class="filters-list">
                    @foreach (string category in Model.Categories)
                    {
                        <li class=@(Model.CurrentUrl.MatchesQueryParam("Category", category) ? "active" : string.Empty)>
                            <a href="@Url.RouteUrl(Model.FilteredUrl.AddCategoryFilter(category))" rel="nofollow">@category</a>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
</div>

<script>
    require(['/assets/javascript/config-45a752e9.min'], function() {
        require(['filters'],
            function(filters) {
                filters.Init();
            }
        );
    });
</script>