@model NewsroomViewModel
@{
    ViewData["og:title"] = "News";
    ViewData["Title"] = "News";
    Layout = "../Shared/_Layout2023.cshtml";
}

<div class="grid-container-full-width" data-cy="news-page">
    <partial name="Breadcrumb2023" model='new List<Crumb> { new Crumb("News articles", "news-articles", "News") }' view-data="@(new ViewDataDictionary(ViewData) {{"landingBreadcrumb", "topic-breadcrumb-container"}})"/>

    <section class="news-article" data-cy="title-and-summary">
        <div class="grid-container">
            <div class="news-article__container">
                <div class="grid-100">
                    <h1 class="news-article__title">News archive</h1>
                </div>
            </div>

            <div class="event-homepage--no-padding">
                <form action="@Url.Action("NewsArticle", "News")" method="get">
                    <div class="grid-100">
                        <div class="news-article__filters">
                            <div class="news-article__filters--50 event-homepage__filters-container">
                                <input type="hidden" name="DateRange" value="customdate" />

                                <div class="event-homepage__filters-dates">
                                    <label class="h-l" asp-for="@Model.DateFrom"></label>
                                    <div class="event-homepage__filters-options">
                                        <input type="date" class="event-homepage__filters-options-date" asp-for="@Model.DateFrom" placeholder="dd/mm/yyyy" />
                                        <span role="alert" aria-atomic="true" asp-validation-for="@Model.DateFrom" class="form-customdate-validation-error form-field-validation-error"></span>
                                    </div>
                                </div>

                                <div class="event-homepage__filters-dates">
                                    <label class="h-l" asp-for="@Model.DateTo"></label>
                                    <div class="event-homepage__filters-options">
                                        <input type="date" class="event-homepage__filters-options-date" asp-for="@Model.DateTo" placeholder="dd/mm/yyyy" />
                                        <span id="inputvalidation" role="alert" aria-atomic="true" asp-validation-for="@Model.DateTo" class="form-customdate-validation-error form-field-validation-error"></span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="news-article__filters--25">
                                <button class="btn btn--inverse btn--bold btn--width-25 btn--chevron-forward news-article__filters-button" data-cy="search-news">
                                    <span class="btn_text">Search news</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="section section--grey section--no-margin">
        <div class="grid-container">
            <div class="grid-100">
                <section class="directory section--margin-top-3 section--padded-bottom-1">
                    <div class="directory--30 section">
                        <div class="navcard-wrapper">
                            <div class="navcard navcard--width-100 navcard--border navcard--no-padding-right-rtl">
                                <div class="navcard-content navcard--white navcard-all navcard--theme-grey-accent-all navcard--radius-all news-article__categories">
                                    <div class="navcard-content--padding">
                                        <partial name="NewsArchiveCategories" model="Model" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="directory--70">
                        @if (Model.Newsroom.ArchivedItems is not null && Model.Newsroom.ArchivedItems.Items.Any())
                        {
                            <h2 class="visuallyhidden">All news</h2>
                            <partial name="NewsCards" model="Model.Newsroom.ArchivedItems" view-data='new ViewDataDictionary(ViewData) { { "twoGrid", true }, { "BorderCssClass", "border-colour-teal" } }' />
                        }
                        else
                        {
                            <div class="grid-100 news-article-not-found">
                                <h2>No news articles found</h2>
                            </div>
                        }
                    </div>
                </section>

                <partial name="Pagination2024" model='Model.Pagination' view-data='new ViewDataDictionary(ViewData) { { "PaginationMarginBottom", "pagination--margin-bottom" } }' />
                
                @if (Model.ArchiveCallToAction is not null)
                {
                    <partial name="NewsCallToAction" model='Model.ArchiveCallToAction' view-data='new ViewDataDictionary(ViewData) { { "AdditionalCssClass", "section--margin-top news-article__cta" } }' />
                }
            </div>
        </div>
    </section>

    <partial name="PreFooter" />
    <partial name="EmailSubscribe" view-data='@(new ViewDataDictionary(ViewData) { {"AdditionalCssClasses", "section--no-margin"}, { "isOnHomepage", true} })' />
</div>