@model NewsroomViewModel
@{
    ViewData["og:title"] = $"News {Model.PageTitle}";
    ViewData["Title"] = $"News {Model.PageTitle}";
    Layout = "../Shared/_Layout2023.cshtml";

    string marginTopCssClass = !Model.IsFirstPage ? "news-article__section--margin-top" : string.Empty;
    string dataCy = Model.IsFromSearch()
        ? (!string.IsNullOrEmpty(Model.Tag)
            ? "newsroom-with-tag"
            : "newsroom-with-category")
        : "newsroom";
}

<div class="grid-container-full-width" data-cy=@dataCy>
    <partial name="CondolenceAlerts" model='Model.Newsroom.CondolenceAlerts' />
    <partial name="GlobalAlerts" model='Model.Newsroom.Alerts' />
    <partial name="Breadcrumb2023" model='new List<Crumb> { new Crumb("News and media", "landing/news-media", "LandingPage") }' view-data="@(new ViewDataDictionary(ViewData) {{"landingBreadcrumb", "topic-breadcrumb-container"}})"/>

    <section class="news-article" data-cy="title-and-summary">
        <div class="grid-container">
            <div class="grid-100">
                <h1 class="news-article__title">News</h1>
                <p class="lead news-article__teaser--no-margin">Keep up to date with the latest news in Stockport.</p>
            </div>
        </div>
    </section>
    
    @if (Model.ShowFeaturedNews)
    {
        <section class="section section--white section--margin-top section--no-margin" data-cy="featured-news">
            <div class="grid-container">
                <div class="grid-100">
                    <div class="section__content section__content--no-margin news-article__banner--no-margin">
                        <partial name="NewsArticlesNewsBanner" model="Model.Newsroom.LatestArticle.Items.FirstOrDefault()" />
                    </div>
                </div>
            </div>
        </section>
    }

    <section class="section section--grey section--no-margin @(Model.ShowFeaturedNews ? "section--margin-top" : "section--padded")" data-cy="all-news">
        <div class="grid-container">
            <div class="grid-100">
                <div class="section__content section--padded-bottom-1">
                    @if (Model.ShowLatestNews && Model.HasCallToAction)
                    {
                        <h2 class='news-article__title--margin-bottom news-article__title--no-margin-top @(Model.HasLatestArticle ? "news-article__title--margin-top" : string.Empty)'>Latest news</h2>

                        <partial name="NewsPageNewsCards" model="Model.Newsroom.LatestNews" view-data='new ViewDataDictionary(ViewData) { { "twoGrid", false }, { "MarginTopCssClass", marginTopCssClass } }' />
                    }
               
                    @if (Model.IsFirstPage && Model.HasCallToAction && !Model.IsFromSearch())
                    {
                        <partial name="NewsCallToAction" model='Model.Newsroom.CallToAction' view-data='new ViewDataDictionary(ViewData) { { "AdditionalCssClass", "section--margin-top" } }' />
                    }
                     
                    @if (Model.HasNewsItems)
                    {
                        @if (Model.IsFirstPage && !Model.IsFromSearch())
                        {
                            <h2 class="news-article-featured-item__title news-article__title--margin-bottom @(Model.HasCallToAction || Model.HasLatestArticle ? "news-article__title--margin-top" : string.Empty)">
                                @(Model.HasCallToAction ? "All news" : "Latest news")
                            </h2>
                        }
                        else if (Model.IsFirstPage && Model.IsFromSearch())
                        {
                            <h2 class='news-article-featured-item__title news-article__title--margin-bottom'>Latest news about @(!string.IsNullOrEmpty(Model.Tag) ? Model.Tag : Model.Category)</h2>
                        }

                        <partial name="NewsPageNewsCards" model="Model.Newsroom.NewsItems" view-data='new ViewDataDictionary(ViewData) { { "twoGrid", false }, { "MarginTopCssClass", marginTopCssClass } }' />
                    }

                    @if (!Model.HasNewsItems && !Model.HasLatestNews)
                    {
                        <div class="grid-100 news-article-not-found">
                            <h2>No news articles found</h2>
                        </div>
                    }
                </div>

                <partial name="Pagination2024" model='Model.Pagination' view-data='new ViewDataDictionary(ViewData) { { "PaginationMarginBottom", "pagination--margin-bottom" } }' />
            </div>
        </div>
    </section>

    <partial name="PreFooter" />
    <partial name="NewsArchiveBanner" />
</div>