@model NewsroomViewModel
@{
    Newsroom newsroom = Model.Newsroom;
}

@if (Model.HasActiveFilter())
{
    <h2 class="filters-heading">Filter</h2>
}

<div class="l-filters">
    <ul class="filters-list" id="displayRefineBy">
        <li class="filter collapsible" id="news-archive">
            <h3 tabindex="0" class="filter-title focusable">Dates</h3>

            <ul class="filters-list filters-outer-list" id="uitest-news-archive">
                <li class=@(Model.FilteredUrl.HasNoDateFilter() ? "active" : string.Empty)>
                    <a href="@Url.Action("NewsArticles", "News")">All recent news</a>
                </li>

                @foreach (int year in newsroom.Dates.Select(s => s.Year).Distinct().OrderByDescending(y => y))
                {
                    <li class="collapsible">
                        <p tabindex="0" class="filter-inner-title focusable">@year.ToString()</p>
                        <ul class="filters-list filters-inner-list" id="@year.ToString()">
                            @foreach (DateTime date in newsroom.Dates.Where(d => d.Year == year).OrderBy(a => a).Reverse())
                            {
                                <li class=@(Model.DateRange != "customdate" && Model.DateFrom == date ? "active" : string.Empty)>
                                    <a href="@Url.RouteUrl(Model.FilteredUrl.AddMonthFilter(date))" rel="nofollow">@date.ToString("MMMM yyyy")</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </li>

        @if (Model.Categories.Any())
        {
            <li class="filter collapsible" id="category-filter">
                @if (Model.HasActiveFilter())
                {
                    <h3 tabindex="0"  class="filter-title focusable">Category</h3>
                }
                else
                { 
                    <h2 tabindex="0"  class="filter-title focusable">Category</h2>
                }

                <ul class="filters-list">
                    <li class=@(Model.FilteredUrl.HasNoCategoryFilter() ? "active" : string.Empty)>
                        <a href="@Url.RouteUrl(Model.FilteredUrl.WithoutCategory())">All categories</a>
                    </li>

                    @foreach (string category in Model.Categories)
                    {
                        <li class=@(Model.CurrentUrl.MatchesQueryParam("Category", category) ? "active" : string.Empty)>
                            <a href="@Url.RouteUrl(Model.FilteredUrl.AddCategoryFilter(category))" rel="nofollow">@category</a>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
</div>

<p class="mobile-filter-heading filter-title">Filter news</p>

<script>
    require(['/assets/javascript/config-33ce7fb5.min.js'], function() {
        require(['filters'],
            function(filters) {
                filters.Init();
            }
        );
    });
</script>