@model NewsroomViewModel
@{
    ViewData["og:title"] = "News";
    ViewData["Title"] = "News";
    Layout = "../Shared/_Layout2023.cshtml";
}

<div class="grid-container-full-width" data-cy="news-page">
    @section Breadcrumbs {
        <div class="grid-container-full-width">
            <partial name="TopicBreadcrumb" model='new List<Crumb> { new Crumb("News and media", "news-room", "Newsroom") }' />
        </div>
    }

    <section class="topic-title" data-cy="title-and-summary">
        <div class="grid-container">
            <div class="grid-100">
                <h1 class="event-homepage__title">News archive</h1>
            </div>
        </div>

        <form action="/news-archives" method="get">
            <div class="grid-container grid-parent event-homepage--no-padding">
                <div class="grid-100 event-homepage__filters">
                    <div class="grid-50 event-homepage__filters-container">
                        <div class="event-homepage__filters-dates">
                            <label class="h-l" asp-for="@Model.DateFrom"></label>
                            <div class="event-homepage__filters-options">
                                <input type="date" class="event-homepage__filters-options-date" asp-for="@Model.DateFrom" placeholder="dd/mm/yyyy" />
                            </div>
                        </div>

                        <div class="event-homepage__filters-dates">
                            <label class="h-l" asp-for="@Model.DateTo"></label>
                            <div class="event-homepage__filters-options">
                                <input type="date" class="event-homepage__filters-options-date" asp-for="@Model.DateTo" placeholder="dd/mm/yyyy" />
                            </div>
                        </div>
                    </div>
                    
                    <div class="grid-25">
                        <label class="h-l">Category</label>
                        <div class="event-homepage__filters-options">
                            <select asp-items="@Model.Newsroom.CategoryOptions()" placeholder="All categories" name="category" id="category" aria-label="Select category" autocomplete="off"></select>
                        </div>
                    </div>

                    <div class="grid-25">
                        <button class="btn btn--inverse btn--bold btn--width-25 btn--chevron-forward event-homepage__filters-button" data-cy="find-whats-on">
                            <span class="btn_text">Search news</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </section>

    <partial name="GlobalAlerts" model='Model.Newsroom.Alerts' />

    <div class="grid-container">
        <div class="grid-100">
            <section class="directory section--margin-top">
                <div class="directory--30 section">
                    <div class="navcard-wrapper">
                        <div class="navcard navcard--white navcard--width-100 navcard--border navcard--no-padding-right-rtl">
                            <div class="navcard-content navcard-all navcard--theme-grey-accent-all navcard--radius-all news-article__categories">
                                <div class="navcard-content--padding">
                                    <partial name="NewsArchiveCategories" model="Model" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="directory--70">
                    <partial name="TopicNavCardList" model="Model.Newsroom.ArchivedItems" view-data='new ViewDataDictionary(ViewData) { { "ShowLastUpdated", true }, { "twoGrid", true } }' />

                    @if (Model.Newsroom.ArchivedItems is null || !Model.Newsroom.ArchivedItems.Items.Any())
                    {
                        <div class="grid-100 news-article-not-found">
                            <h2>No news articles found</h2>
                        </div>
                    }
                </div>
            </section>
        </div>
    </div>

    <partial name="Pagination2024" model='Model.Pagination' view-data='new ViewDataDictionary(ViewData) { { "PaginationMarginBottom", "pagination--margin-bottom" } }' />
</div>