@using StockportWebapp.Models;
@model EventCalendar

<div class="grid-container-full-width event-homepage__category-wrapper event-homepage__category-wrapper--no-padding-bottom-non-desktop event-homepage__category-wrapper--padding-bottom">
    <section class="article">
        <div class="btn-container btn-container--no-padding-bottom">
            <button class="btn btn--on-grey card-item__container-btn event-homepage__filter-toggle event-homepage__filter-toggle-form">Show filters</button>
        </div>
        
        <form action="/events" method="get" class="event-homepage__categories event-homepage__categories--no-margin event-homepage__categories-form" id="eventFilters">
            <input type="hidden" asp-for="@Model.FromSearch" value="true" />
            <div class="grid-container">
                <div class="grid-100">
                    <div class="events-filters__wrapper">
                        <h2 class="desktop-visuallyhidden h-xl">Filter</h2>

                        <div class="events-filters">
                            <div class="events-filters__radio-item">
                                <input type="radio" asp-for="@Model.DateSelection" value="thisWeek" id="radio-this-week" class="events-filters__radio"/>
                                <label for="radio-this-week" class="events-filters__label">This week</label>
                            </div>

                            <div class="events-filters__radio-item">
                                <input type="radio" asp-for="@Model.DateSelection" value="thisMonth" id="radio-this-month" class="events-filters__radio"/>
                                <label for="radio-this-month" class="events-filters__label">This month</label>
                            </div> 

                            <div class="events-filters__radio-item">
                                <input type="radio" asp-for="@Model.DateSelection" value="nextMonth" id="radio-next-month" class="events-filters__radio"/>
                                <label for="radio-next-month" class="events-filters__label">Next month</label>
                            </div>

                            <div class="events-filters__radio-item ">
                                <label for="event-date" class="events-filters__date-label">Date</label>
                                <input type="date" id="event-date" asp-for="@Model.DateSelection" placeholder="Select date" class="events-filters__datepicker events-filters__date-item" />
                            </div>

                            <div class="events-filters__radio-item events-filters--width">
                                <label for="event-category" class="events-filters__date-label">Category</label>

                                <select asp-for="@Model.Category"
                                        asp-items="@Model.EventCategoryOptions()"
                                        placeholder="All categories"
                                        name="category"
                                        class="events-filters__date"
                                        id="event-category"
                                        aria-label="Select category"
                                        autocomplete="off">
                                </select>
                            </div>
                        </div>

                        <input type="hidden" asp-for="@Model.ShouldScroll" value="true" />

                        <noscript>
                            <div class="events-filters__button">
                                <button class="btn btn--on-yellow">Find what's on</button>
                                <a href="@($"{Url.Action("Index", "Events")}?category={Model.Category}&free={Model.Free}")" class="btn btn--on-yellow">Clear filters</a>
                            </div>
                        </noscript>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>

<noscript>
    <style>
        .event-homepage__filter-toggle {
            display: none;
        }

        .event-homepage__categories {
            display: block;
        }
    </style>
</noscript>

<script>
    require(['/assets/javascript/config-abc6dd3d.min.js'], function () {
        require(['eventFilters', 'eventCategories'],
            function (eventFilters, eventCategories) {
                eventFilters.Init();
                eventCategories.Init();
            }
        );
    });
</script>