@inject ViewHelpers viewHelper

@model Event;

<li class="card-item">
    <a class="card-item__link" href="@Url.Action("Detail", "Events", new {slug = Model.Slug, date = Model.EventDate.ToString("yyyy-MM-dd")})" aria-label="Read more about @Model.Title">
        <div class="card-item__content-wrapper">
            <partial name="CardImage" model="Model.ThumbnailImageUrl" />
            
            <div class="card-item__container">
                <div class="card-item__content">
                    <h3 class="h-l">@Model.Title</h3>
                    <p class="card-item__content-teaser">@viewHelper.FormatEventDate(@Model.EventDate, @Model.StartTime)</p>
                </div>

                <span class="btn card-item__container-btn">Read more</span>
            </div>
        </div>
    </a>
</li>