@inject ViewHelpers viewHelper

@model List<CarouselContent>
@{
    bool isOnHomepage = (bool)ViewData["isOnHomepage"];
}

<section id="carousel" aria-labelledby="carouselheading" class="carousel carousel-hero">
    <h2 id="carouselheading" class="visuallyhidden">Image carousel</h2>
    <ul class="carousel-items">
        @foreach (CarouselContent item in Model)
        {
            <li class="carousel-item carousel-item__hero" aria-hidden="true" style="background-image: url('@item.Image?q=89&fm=webp');">
                <div class="carousel-item__hero--overlay">
                    <div class="grid-container">
                        <div class="grid-100 carousel-item__hero-wrapper">
                            <article aria-label="@item.Title" class="carousel-item__article">
                                <h2 class="image-banner__title image-banner__title-hero carousel-item__title font--bold-extra-squeezed">@item.Title</h2>
                                @if (!isOnHomepage)
                                {
                                    <a href="@Url.Action("Detail", "Events", new {slug = item.URL, date = item.Date.ToString("yyyy-MM-dd")})" class="btn carousel-item__link" aria-label="Read more about @item.Title" tabindex="-1">Read more</a>
                                }
                                else
                                {
                                    <a href="@item.URL" class="btn carousel-item__link" aria-label="Read more about @item.Title" tabindex="-1">Read more</a>
                                }
                            </article>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
    
    @if (Model.Count > 1)
    {
        <button class="carousel-control carousel-control__hero prev carousel-control-prev" aria-label="Previous Slide">
            <?xml version="1.0" encoding="utf-8"?>
            <!-- Generator: Adobe Illustrator 27.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <svg class="carousel-icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 100 50" style="enable-background:new 0 0 100 50;" xml:space="preserve">
            <path d="M-48.12,0.91h-3.21c0,9.67,5.37,18.1,13.28,22.48h-73.64v3.21h73.64c-7.91,4.38-13.28,12.82-13.28,22.48h3.21
                c0-12.4,10.09-22.48,22.48-22.48V23.4C-38.03,23.4-48.12,13.31-48.12,0.91z" />
            <path d="M30.8,49.09H34c0-9.67-5.37-18.1-13.28-22.48h73.64V23.4H20.73C28.64,19.01,34,10.58,34,0.91H30.8
                c0,12.4-10.09,22.48-22.48,22.48v3.21C20.71,26.6,30.8,36.69,30.8,49.09z"/>
            </svg>
        </button>

        <button class="carousel-control carousel-control__hero next carousel-control-next" aria-label="Next Slide">
            <?xml version="1.0" encoding="utf-8"?>
            <!-- Generator: Adobe Illustrator 27.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) -->
            <svg class="carousel-icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 100 50" style="enable-background:new 0 0 100 50;" xml:space="preserve">
            <g transform="scale(-1, 1) translate(-100, 0)">
                <path d="M-48.12,0.91h-3.21c0,9.67,5.37,18.1,13.28,22.48h-73.64v3.21h73.64c-7.91,4.38-13.28,12.82-13.28,22.48h3.21
                    c0-12.4,10.09-22.48,22.48-22.48V23.4C-38.03,23.4-48.12,13.31-48.12,0.91z"/>
                <path d="M30.8,49.09H34c0-9.67-5.37-18.1-13.28-22.48h73.64V23.4H20.73C28.64,19.01,34,10.58,34,0.91H30.8
                    c0,12.4-10.09,22.48-22.48,22.48v3.21C20.71,26.6,30.8,36.69,30.8,49.09z"/>
            </g>
            </svg>
        </button>

        <div class="grid-container" aria-hidden="true">
            <div class="grid-100 carousel-indicators-wrapper">
                <div class="carousel-indicators">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="carousel-indicators__container">
                            <span id="@i" class="carousel-indicators__item current active" data-slide="@i">
                            </span>
                        </div>
                    }
                </div>
            </div>
        </div>
    }

    <div id="carousel-status" class="visuallyhidden" aria-live="polite"></div>
</section>

@if (Model.Count > 1)
{
    <script>
        require(['/assets/javascript/config-91939d9a.min.js'], function () {
            require(['carousel2024'],
                function (carousel2024) {
                    carousel2024.Init();
                }
            );
        });
    </script>
}