@inject HostHelper hostHelper
@model List<Group>

<div class="grid-container-full-width group-favourites-print" id="favourited-groups">
    <div class="grid-container grid-100">
        <div class="l-body-section-filled l-article-content mobile-grid-100 tablet-grid-100 grid-100">
            <div class="l-content-container grid-100 group-margin" id="group-padding">
                <h1 id="manage-group-title-print" class="group-article-title">Favourite groups</h1>
                <div class="grid-container grid-parent">

                    @if (Model.Any())
                    {
                        <table>
                            @foreach (var group in Model)
                            {
                                <tr id="print-favourite-group-item-@group.Slug">
                                    <td width="200">
                                        <image style="width:200px;" src="@GroupImageUrlHelper.GetImageUrl(group)"></image>
                                    </td>
                                    <td>
                                        <div class="group-card-information grid-100">
                                            <div class="group-title">
                                                <h3>@group.Name</h3>
                                            </div>
                                            @if (!string.IsNullOrEmpty(group.Email))
                                            {
                                                <div class="group-card-text">
                                                    <div class="group-card-icon">
                                                        <span class="fa fa-envelope" aria-hidden="true"></span>
                                                        @group.Email
                                                    </div>
                                                </div>
                                            }
                                            @if (!string.IsNullOrEmpty(group.PhoneNumber))
                                            {
                                                <div class="group-card-text">
                                                    <div class="group-card-icon">
                                                        <span class="fa fa-phone" aria-hidden="true"></span>
                                                        @group.PhoneNumber
                                                    </div>
                                                </div>
                                            }
                                            @if (group.Cost.Any())
                                            {
                                                <div class="group-card-text">
                                                    <div class="group-card-icon">
                                                        <span class="fa fa-gbp" aria-hidden="true"></span>
                                                        @string.Join(", ", group.Cost.ToArray())
                                                    </div>
                                                </div>
                                            }
                                            <div class="group-card-text">
                                                <div class="group-card-icon">
                                                    <span class="fa fa-map-marker" aria-hidden="true"></span>
                                                    @(group.Address)
                                                </div>

                                            </div>

                                            @if (!string.IsNullOrWhiteSpace(group.AbilityLevel))
                                            {
                                                <div class="group-card-icon">
                                                    <span class="fa fa-star" aria-hidden="true"></span>
                                                </div>
                                                <div class="group-card-text">@group.AbilityLevel</div>
                                            }

                                            <div class="group-card-text">
                                                <div class="group-card-icon">
                                                    <span class="fa fa-link" aria-hidden="true"></span>
                                                    <span>@hostHelper.GetHost(this.Context.Request)/groups/@group.Slug</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

