@using StockportWebapp.Models
@using StockportWebapp.Utils
@model Group
@{
    var cost = Model.Cost;
    cost = cost == "Paid" && !string.IsNullOrEmpty(Model.CostText) ? Model.CostText : cost;
}
<li class="group-li grid-33 tablet-grid-50 mobile-grid-100">
    <div class="group-card grid-100 grid-parent">
        <a href="../groups/@Model.Slug">
            <div class="group-image" style="background-image: url(@GroupImageUrlHelper.GetImageUrl(Model))"></div>
            <div class="group-card-information grid-100">
                <div class="grid-100 group-title">
                    <h3>@Model.Name</h3>
                </div>
                @if (!string.IsNullOrWhiteSpace(cost))
                {
                    <div class="grid-10 tablet-grid-10 mobile-grid-10 group-card-icon">
                        <i class="fa fa-gbp" aria-hidden="true"></i>
                    </div>
                    <div class="grid-90 tablet-grid-90 mobile-grid-90 group-card-text">@cost</div>
                }
                <div class="grid-10 tablet-grid-10 mobile-grid-10 group-card-icon">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <div class="grid-90 tablet-grid-90 mobile-grid-90 group-card-text">
                    @(Model.Address.Length > 70 ? Model.Address.Substring(0, 70) + "..." : Model.Address)
                </div>
                @if (!string.IsNullOrWhiteSpace(Model.AbilityLevel))
                {
                    <div class="grid-10 tablet-grid-10 mobile-grid-10 group-card-icon">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <div class="grid-90 tablet-grid-90 mobile-grid-90 group-card-text">@Model.AbilityLevel</div>
                }

            </div>
        </a>

        @if (Model.Favourite)
        {
            <a class="remove-favourite grid-100" data-slug="@Model.Slug" data-type="group" href="javascript:void(0);">
                <div class="grid-10 favourite-icon">
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <div class="grid-90">
                    <span class="favourite-text">Remove from favourites</span>
                </div>  
            </a>
        }
        else
        {
            <a class="add-favourite grid-100" data-slug="@Model.Slug" data-type="group" href="javascript:void(0);">
                <div class="grid-10 favourite-icon">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <div class="grid-90">
                    <span class="favourite-text">Add to favourites</span>
                </div>
            </a>
        }
    </div>
</li>