@using StockportWebapp.FeatureToggling
@using StockportWebapp.Models
@using StockportWebapp.Utils
@inject FeatureToggles FeatureToggles

@model Group

<li id="item-card-@Model.Slug" class="group-li grid-33 tablet-grid-50 mobile-grid-100">
    <div class="group-card matchbox-child">
        <a href="/groups/@Model.Slug" class="group-card-main remove-from-pdf">
            <div>
                <span class="group-image" style="background-image: url(@GroupImageUrlHelper.GetImageUrl(Model))!important;" role="img" aria-label="@Model.Name"></span>
            </div>
            <div class="group-card-information grid-100">
                <div class="grid-100 group-title">
                    <h3>@Model.Name</h3>
                </div>
                @if (!string.IsNullOrEmpty(Model.Email))
                {
                    <div>
                        <div class="grid-10 tablet-grid-10 mobile-grid-10 group-card-icon display-on-pdf">
                            <span class="fa fa-envelope" aria-hidden="true"></span>
                        </div>
                        <div class="grid-90 tablet-grid-90 mobile-grid-90 group-card-text display-on-pdf">
                            @Model.Email
                        </div>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.PhoneNumber))
                {
                    <div>
                        <div class="grid-10 tablet-grid-10 mobile-grid-10 group-card-icon display-on-pdf">
                            <span class="fa fa-phone" aria-hidden="true"></span>
                        </div>
                        <div class="grid-90 tablet-grid-90 mobile-grid-90 group-card-text display-on-pdf">
                            @Model.PhoneNumber
                        </div>
                    </div>
                }
                @if (Model.Cost.Any())
                {
                    <div class="grid-10 tablet-grid-10 mobile-grid-10 group-card-icon">
                        <span class="fa fa-gbp" aria-hidden="true"></span>
                    </div>
                    <div class="grid-90 tablet-grid-90 mobile-grid-90 group-card-text">@string.Join(", ", Model.Cost.ToArray())</div>
                }
                <div class="grid-10 tablet-grid-10 mobile-grid-10 group-card-icon">
                    <span class="fa fa-map-marker" aria-hidden="true"></span>
                </div>
                <div class="grid-90 tablet-grid-90 mobile-grid-90 group-card-text">
                    @(Model.Address.Length > 70 ? Model.Address.Substring(0, 70) + "..." : Model.Address)
                </div>
                @if (!string.IsNullOrWhiteSpace(Model.AbilityLevel))
                {
                    <div class="grid-10 tablet-grid-10 mobile-grid-10 group-card-icon">
                        <span class="fa fa-star" aria-hidden="true"></span>
                    </div>
                    <div class="grid-90 tablet-grid-90 mobile-grid-90 group-card-text">@Model.AbilityLevel</div>
                }
                <div>
                    <div class="grid-10 tablet-grid-10 mobile-grid-10 group-card-icon hidden display-on-pdf">
                        <span class="fa fa-link" aria-hidden="true"></span>
                    </div>
                    <div class="grid-90 tablet-grid-90 mobile-grid-90 group-card-text hidden display-on-pdf">
                        <span class="link-inside-text">groups/@Model.Slug</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
</li>

<script type="text/javascript">
    require(['tracking'],
        function (tracking) {
            tracking.Init();
        })
</script>