@model Tuple<IEnumerable<StockportWebapp.Models.SocialMediaLink>, string>

<ul class="@Model.Item2">
    @foreach (var socLink in Model.Item1)
    {
        <li>
            <a aria-label="@socLink.Platform @socLink.Title" href="@socLink.Url">
                <span class="fa @socLink.Icon"></span>
            </a>
        </li>
    }
</ul>
