@model List<StockportWebapp.Models.Event>

@{
    var heading = "Our upcoming events";   

    var useH2 = false;
    if (ViewData["EventsH2"] != null && (bool) ViewData["EventsH2"])
    {
        useH2 = true;
    }
}

@if (!useH2)
{
    <h3 class="group-details-heading group-details-heading-border upcoming-events-heading">@heading</h3>
}

<ul id="event-listing-container" class="event-listing-container matchbox-parent">
    @foreach (var item in Model)
    {
        <li class="event-li grid-33 tablet-grid-50 mobile-grid-100">
            <a class="event-card" href="/events/@item.Slug?date=@item.EventDate.ToString("yyyy-MM-dd")">
                <div class="event-image" style="background-image: url(@item.ImageUrl)"></div>
                <div class="event-card-information matchbox-child grid-100">
                    <div class="grid-100 event-title">
                        <h3>@item.Title</h3>
                    </div>
                    <div>
                        <div class="grid-10 tablet-grid-10 mobile-grid-10 event-card-icon">
                            <i class="fa fa-gbp" aria-hidden="true"></i>
                        </div>
                        <div class="grid-90 tablet-grid-90 mobile-grid-90 event-card-text">
                            @(item.Fee.Length > 70 ? item.Fee.Substring(0, 70) + "..." : item.Fee)
                        </div>
                    </div>
                    <div>
                        <div class="grid-10 tablet-grid-10 mobile-grid-10 event-card-icon">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="grid-90 tablet-grid-90 mobile-grid-90 event-card-text">
                            @item.EventDate.ToString("D") @item.StartTime
                        </div>
                    </div>
                    <div>
                        <div class="grid-10 tablet-grid-10 mobile-grid-10 event-card-icon">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </div>
                        <div class="grid-90 tablet-grid-90 mobile-grid-90 event-card-text">
                            @(item.Location.Length > 70 ? item.Location.Substring(0, 70) + "..." : item.Location)
                        </div>
                    </div>
                    <div>
                        <div class="grid-10 tablet-grid-10 mobile-grid-10 event-card-icon hidden display-on-pdf">
                            <i class="fa fa-link" aria-hidden="true"></i>
                        </div>
                        <div class="grid-90 tablet-grid-90 mobile-grid-90 event-card-text hidden display-on-pdf">
                            <span class="link-inside-text">events/@item.Slug</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    }
</ul>