@using StockportWebapp.Utils
@inject ViewHelpers viewHelper
@model StockportWebapp.Models.EventHomepage

<div id="event-listing-container" class="no-margin">

    @if (Model.Categories != null && Model.Categories.Any())
    {
        <div class="home-page-row">

            <div class="grid-container">
                <div class="event-header">
                    <h3>Discover something new in Stockport</h3>
                </div>
                @Html.Partial("GenericFeaturedItemList", Model.GenericItemList)
            </div>
        </div>
    }

    @foreach (var row in Model.Rows.Where(r => r.Events.Any()))
    {
        var i = 1;
        <div class="home-page-row">
            <div class="grid-container">
                <div class="event-header">
                    <h3>@(row.IsLatest ? "Upcoming events" : row.Tag)</h3>
                    @if (row.IsLatest)
                    {
                        <a class="view-more hide-on-mobile" title="View more upcoming events" href="/events?datefrom=@DateTime.Now.Date">View more</a>
                    }
                    else
                    {
                        <a class="view-more hide-on-mobile" title="View more @row.Tag events" href="@Url.Action("Index", "Events", new { Tag = row.Tag } )">View more</a>
                    }
                </div>
                <div class="grid-100 grid-parent event-container-row matchbox-parent">
                    @foreach (var item in row.Events)
                    {
                        var classname = string.Empty;
                        switch (i)
                        {
                            case 1:
                            case 2:
                                {
                                    classname = string.Empty;
                                    break;
                                }
                            case 3:
                                {
                                    classname = "hide-on-tablet";
                                    break;
                                }
                            default:
                                {
                                    classname = "hide-on-desktop hide-on-tablet hide-on-mobile";
                                    break;
                                }
                        }
                        <div class="@classname">
                            @Html.Partial("Events/EventCard", item)
                        </div>
                        i++;
                    }
                </div>
                <div class="grid-100 hide-on-desktop hide-on-tablet event-button">
                    @if (row.IsLatest)
                    {
                        <stock-button as-link="true" class="white" title="View more upcoming events" href="/events?datefrom=@DateTime.Now.Date">View more upcoming events</stock-button>
                    }
                    else
                    {
                        <stock-button as-link="true" class="white" title="View more @row.Tag events" href="@Url.Action("Index", "Events", new { Tag = row.Tag } )">View more @row.Tag events</stock-button>
                    }
                </div>
            </div>
        </div>
    }
</div>
