@using System.Web;
@using StockportWebapp.Models;
@model EventCalendar
@{
    string closeThis = (Model.FromSearch) ? "close-this-section" : string.Empty;
    bool hasSearched = (Model.FromSearch) || !string.IsNullOrWhiteSpace(Model.Tag);
    string hideOnMobile = hasSearched ? "hide-on-mobile" : "mobile-grid-100";
    string showOnMobile = hasSearched ? "hide-on-desktop hide-on-tablet" : "hide-on-mobile hide-on-desktop hide-on-tablet";
    string nowShowing = string.Concat(string.IsNullOrWhiteSpace(Model.Category) ? "Showing <strong>All</strong> events " : $"Showing <strong>{HttpUtility.HtmlEncode(Model.Category)}</strong> events ",
                        Model.DateFrom == null || Model.DateTo == null || Model.DateFrom != Model.DateTo ? string.Empty : $"for <strong>{((DateTime)Model.DateFrom).ToString("dd/MM/yy")}</strong> ",
                        Model.DateFrom == Model.DateTo || Model.DateFrom == null ? string.Empty : $"from <strong>{((DateTime)Model.DateFrom).ToString("dd/MM/yy")}</strong> ",
                        Model.DateFrom == Model.DateTo || Model.DateTo == null ? string.Empty : $"to <string>{((DateTime)Model.DateTo).ToString("dd/MM/yy")}</strong>",
                        Model.DateFrom == null && Model.DateTo == null ? "from <strong>All dates</strong>" : string.Empty);
}
<form action="/events" method="get">
    <input type="hidden" asp-for="@Model.FromSearch" value="true" />
        <div class="grid-container grid-parent grid-100">
            <div class="grid-100 @showOnMobile">
                <label>@Html.Raw(nowShowing)</label>
            </div>
            <div class="grid-100 event-homepage__filters">
                <div class="grid-25">
                    <label class="h-l" asp-for="@Model.DateFrom"></label>
                    <div class="event-homepage__filters-options">
                        <input type="date" class="event-homepage__filters-options-date" asp-for="@Model.DateFrom" placeholder="dd/mm/yyyy" />
                    </div>
                </div>
                <div class="grid-25">
                    <label class="h-l" asp-for="@Model.DateTo"></label>
                    <div class="event-homepage__filters-options">
                        <input type="date" class="event-homepage__filters-options-date" asp-for="@Model.DateTo" placeholder="dd/mm/yyyy" />
                    </div>
                </div>
                <div class="grid-25">
                    <label class="h-l" asp-for="@Model.Category"></label>
                    <div class="event-homepage__filters-options">
                        <select asp-for="@Model.Category" asp-items="@Model.EventCategoryOptions()" placeholder="All categories" name="orderBy" id="order-by" autocomplete="off"></select>
                    </div>
                </div>
                <div class="grid-25">
                    <button data-cy="book-event-button" class="btn btn--inverse btn--width-25 btn--chevron-forward btn--bold btn--chevron-bold btn--outline event-homepage__filters-button">
                        <span class="btn_text">Find what's on</span>
                    </button>
                </div>
                <div class="grid-25 hide-on-desktop">
                    <button as-link="true" class="btn btn--white-outline btn--width-25 btn--chevron-forward btn--bold btn--chevron-bold event-homepage__filters-button" href="https://forms.stockport.gov.uk/add-an-event">Add your event</button>
                </div>
            </div>
            <div class="mobile-grid-100 @showOnMobile">
                <div class="edit-search">
                    <a href="javascript:toggleSearch();" id="edit-search-link">Edit search</a>
                </div> 
            </div>
        </div>
</form>