@using StockportWebapp.ViewModels;
@model EventCalendar
<div id="event-listing-refine-bar" class="hide-on-mobile" style="display:none;">
    <div class="grid-container" >
        <div class="grid-100">

            <div class="refine">
                Refine By
            </div>

            @if (!string.IsNullOrEmpty(Model.KeepTag) || !string.IsNullOrEmpty(Model.Tag))
            {
            <div class="refine">
                <a class="link" href="javascript:void(0)">Featured Events<div class="badge"><span>2</span></div></a>
                <div class="refine-filters">
                    <label>
                        <input type="checkbox" name="tag" value="@Model.KeepTag" @(!string.IsNullOrEmpty(Model.Tag) ? "checked" : string.Empty) />
                        <span>@Model.KeepTag</span>
                    </label>
                    <div>
                        <a class="cancel" href="javascript:void(0)">Cancel</a>
                        <a class="apply" href="javascript:void(0)">Apply</a>
                    </div>
                </div>
            </div>
            }
            @*<div class="refine">
                <a href="#">Location<div class="badge"><span>2</span></div></a>
            </div>*@

            <div class="refine">
                <a class="link" href="javascript:void(0)">Price<div class="badge"><span>2</span></div></a>
                
                <div class="refine-filters">
                    <label>
                        <input type="checkbox" name="price" value="paid" @(Model.Price != null && Model.Price.Any(p => p == "paid") ? "checked" : string.Empty) />
                        <span>Paid</span>
                    </label>
                    <div></div>
                    <label>
                        <input type="checkbox" name="price" value="free" @(Model.Price != null && Model.Price.Any(p => p == "free") ? "checked" : string.Empty) />
                        <span>Free</span>
                    </label>
                    <div>
                        <a class="cancel" href="javascript:void(0)">Cancel</a>
                        <a class="apply" href="javascript:void(0)">Apply</a>
                    </div>
                </div>
            </div>


        </div>    
    </div>
    

</div>
