@model StockportWebapp.Models.Profile


<a class="profile-inline-container" href="/profile/@Model.Slug">
    <img class="profile-inline-image" src="@Model.Image" alt="@Model.Title" />
    <div class="profile-inline-quote">
        <h2>@Model.Title</h2>
        <p class="subtitle">@Model.Subtitle</p>
        <div class="profile-inline-quote-content">
            <span class="green open fa fa-2x fa-quote-left" aria-hidden="true"></span>
            <p class="lead-paragraph">@Model.Quote</p>
            <span class="green fa fa-2x fa-quote-right" aria-hidden="true"></span>
        </div>
        <p class="read-more">Read more</p>
    </div>
</a>
