@using StockportWebapp.Models
@using StockportWebapp.ViewModels
@model StockportWebapp.Models.CommsHomepage
@{
    ViewData["Title"] = Model.Title;
    ViewData["og:title"] = Model.Title;
    ViewData["WhiteBackground"] = true;
    Layout = "../Shared/_LayoutSemantic.cshtml";
    var crumbsList = new List<Crumb>();
}

@section Breadcrumbs {
    <partial name="../Shared/SemanticBreadcrumb.cshtml" model='@crumbsList' />
}

<div class="comms-homepage">
    <article class="with-aside page-container">
        <h1>@Model.Title</h1>
        <h2>@Model.LatestNewsHeader</h2>
        <h2>@Model.TwitterFeedHeader</h2>
        <h2>@Model.InstagramFeedTitle</h2>
        <h2>@Model.FacebookFeedTitle</h2>
    </article>
    <article class="article-aside page-container">
        @{
            ViewData["SignUpAlertsTopicIdTopicId"] = "UKSMBC_136";
        }
        <partial name="../Shared/SignUpAlerts.cshtml" />
        <h2 class="h3">Useful links</h2>
        <ul class="useful-links">
            @foreach (var link in Model.UsefullLinks)
            {
                <a href="@link.Url" title="@link.Text">
                    <li>@link.Text</li>
                </a>
            }
        </ul>
        <h2 class="h3">What's on in Stockport</h2>
        <partial name="../Shared/Event.cshtml" model='@Model.WhatsOnInStockportEvent' />
    </article>
</div>