@model CommsHomepageViewModel
@{
    ViewData["Title"] = Model.Homepage.Title;
    ViewData["og:title"] = Model.Homepage.Title;
    ViewData["Description"] = Model.Homepage.MetaDescription;
    ViewData["WhiteBackground"] = true;
    ViewData["FullWidth"] = "full-width";
    Layout = "../Shared/_LayoutSemantic.cshtml";
    var crumbsList = new List<Crumb>();
}

@section Breadcrumbs {
    <partial name="../Shared/SemanticBreadcrumb.cshtml" model='@crumbsList' />
}

<div class="comms-homepage">
    <h1 class="comms-homepage-header">@Model.Homepage.Title</h1>
    
    @if (Model.Homepage.CallToActionBanner is not null)
    {
        <a class="call-to-action-banner-container" href="@Model.Homepage.CallToActionBanner.Link">
            <div>
                <h2>@Model.Homepage.CallToActionBanner.Title</h2>
                <div class="button-tertiary">@Model.Homepage.CallToActionBanner.ButtonText</div>
            </div>
            <img src="@Model.Homepage.CallToActionBanner.Image" alt="@Model.Homepage.CallToActionBanner.AltText"/>
        </a>
    }

    <article class="with-aside">
        <section class="latest-news">
            <h2 class="latest-news-header">@Model.Homepage.LatestNewsHeader</h2>
            <div class="latest-news-details">
                <div class="latest-news-details-date">
                    <span class="fa fa-clock-o fa-lg" aria-hidden="true"></span>
                    <partial name="FormattedDate" model='Model.LatestNews.UpdatedAt' />
                </div>
                <span class="status-news">@Model.LatestNews.Purpose</span>
            </div>

            <a href="@Url.Action("Detail", "News", new {Model.LatestNews.Slug})" class="latest-news-anchor">
                <h3 class="h2">@Model.LatestNews.Title</h3>
                <p>@Model.LatestNews.Teaser</p>
            </a>

            <a href="@Url.Action("Index", "News")" class="button-inverted">View more news</a>
        </section>

        <h2>@Model.Homepage.TwitterFeedHeader</h2>
        <div class="iframe-container" aria-label ="Twitter Timeline">
            <a class="twitter-timeline" title="Twitter Timeline" href="https://twitter.com/StockportMBC?ref_src=twsrc%5Etfw" height="500" width="500">Tweets by StockportMBC</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <h2>@Model.Homepage.InstagramFeedTitle</h2>
        <div class="iframe-container" aria-label ="Instagram Feed">
            <iframe title ="Instagram Feed" src="@Model.Homepage.InstagramLink/embed" class="instagram"></iframe>
        </div>
        <h2>@Model.Homepage.FacebookFeedTitle</h2>
        <div class="iframe-container" aria-label ="Facebook Feed">
            <div id="fb-root"></div>
            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0"></script>
            <div class="fb-page" title ="Facebook Feed" data-href="https://www.facebook.com/StockportMBC" data-tabs="timeline" data-width="500"
                 data-height="500" data-small-header="true" data-adapt-container-width="true"
                 data-hide-cover="false" data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/StockportMBC" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/StockportMBC">Stockport Council</a>
                </blockquote>
            </div>
        </div>
    </article>
    <aside class="article-aside">
        <partial name="../Shared/SignUpAlerts.cshtml" />

        @if (Model.Homepage.UsefulLinks.Any())
        {
            <h2 class="h3">Useful links</h2>
            <ul class="useful-links">
                @foreach (var link in Model.Homepage.UsefulLinks)
                {
                    <li>
                        <a href="@link.Url" title="@link.Text">@link.Text</a>
                    </li>
                }
            </ul>

        }

        <h2 class="h3">What's on in Stockport</h2>
        <partial name="../Shared/Event.cshtml" model='@Model.Homepage.WhatsOnInStockportEvent' />
        <a class="view-more-news" href="https://www.stockport.gov.uk/events">
            View more events
            <span aria-hidden="true" class="fa fa-arrow-right"></span>
        </a>
    </aside>
</div>
