@using StockportWebapp.Models
@using StockportWebapp.ViewModels
@model StockportWebapp.ViewModels.CommsHomepageViewModel
@{
    ViewData["Title"] = Model.Homepage.Title;
    ViewData["og:title"] = Model.Homepage.Title;
    ViewData["WhiteBackground"] = true;
    Layout = "../Shared/_LayoutSemantic.cshtml";
    var crumbsList = new List<Crumb>();
}

@section Breadcrumbs {
    <partial name="../Shared/SemanticBreadcrumb.cshtml" model='@crumbsList' />
}

<div class="comms-homepage">
    <article class="with-aside page-container">
        <h1>@Model.Homepage.Title</h1>
        
        @if (Model.LatestNews != null)
        {
            <h2>@Model.Homepage.LatestNewsHeader</h2>
            <section class="latest-news">
                <div class="news-details">
                    <div class="date">
                        <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>
                        <partial name="FormattedDate" model='Model.LatestNews.SunriseDate'/>
                    </div>
                    <span class="status-news">@Model.LatestNews.Type</span>
                </div>
                <a href="@Url.Action("Details", "News", new {Slug = Model.LatestNews.Slug})">
                    <h1 class="h2">@Model.LatestNews.Title</h1>
                    <p>@Model.LatestNews.Teaser</p>
                </a>
                <a href="@Url.Action("Index", "News")" class="button-tertiary-inverted">View more news</a>
            </section>
        }

        <h2>@Model.Homepage.TwitterFeedHeader</h2>
        <h2>@Model.Homepage.InstagramFeedTitle</h2>
        <h2>@Model.Homepage.FacebookFeedTitle</h2>
    </article>
    <article class="article-aside page-container">
        @{
            ViewData["SignUpAlertsTopicIdTopicId"] = "UKSMBC_136";
        }
        <partial name="../Shared/SignUpAlerts.cshtml" />
        <h2 class="h3">Useful links</h2>
        <ul class="useful-links">
            @foreach (var link in Model.UsefullLinks)
            {
                <a href="@link.Url" title="@link.Text">
                    <li>@link.Text</li>
                </a>
            }
        </ul>
        <h2 class="h3">What's on in Stockport</h2>
        <partial name="../Shared/Event.cshtml" model='@Model.WhatsOnInStockportEvent' />
    </article>
</div>
