@using StockportWebapp.Models
@model StockportWebapp.Models.CommsHomepage
@{
    ViewData["Title"] = Model.Title;
    ViewData["og:title"] = Model.Title;
    ViewData["WhiteBackground"] = true;
    Layout = "../Shared/_LayoutSemantic.cshtml";
    var crumbsList = new List<Crumb>();
}

@section Breadcrumbs {
    <partial name="SemanticBreadcrumb" model='@crumbsList' />
}

<div class="comms-homepage">
    <article class="with-aside page-container">
        <h1>@Model.Title</h1>
        <h2>@Model.LatestNewsHeader</h2>
        <h2>@Model.TwitterFeedHeader</h2>
        <h2>@Model.InstagramFeedTitle</h2>
        <h2>@Model.FacebookFeedTitle</h2>
    </article>
    <article class="article-aside page-container">
        <h3>Useful links</h3>
        <h3>What's on in Stockport</h3>
    </article>
</div>