
@using StockportWebapp.ProcessedModels

@model ProcessedContactUsArea
@{
    ViewData["Title"] = Model.Title;
    ViewData["og:title"] = Model.Title;
    Layout = "../Shared/_Layout.cshtml";
}

@section Breadcrumbs {
    @Html.Partial("Breadcrumb", Model.Breadcrumbs)
}

<div class="l-page-content">
    <div class="full-width-title">
        <div class="grid-container grid-parent grid-100">
            <div class="grid-100 tablet-grid-100 mobile-grid-100">
                <h1>@Model.Title</h1>
            </div>
        </div>
    </div>
    
    <div class="dashboard-button-container">
        @foreach (var primaryItem in Model.PrimaryItems)
        {
            var url = primaryItem.NavigationLink;

            <a href="@url" class="section-link">
                <i class="@primaryItem.Icon" aria-hidden="true"></i>
                @primaryItem.Title
            </a>
        }
    </div>

</div>

<style>


</style>