@using StockportWebapp.ProcessedModels

@model ProcessedContactUsArea
@{
    ViewData["Title"] = Model.Title;
    ViewData["og:title"] = Model.Title;
    ViewData["Description"] = Model.MetaDescription;
    Layout = "../Shared/_Layout.cshtml";
    ViewData["BannerTypeformUrl"] = "https://stockportcouncil.typeform.com/to/vvAgrC";
}

@section Breadcrumbs {
    @Html.Partial("Breadcrumb", Model.Breadcrumbs)
}

<div class="l-page-content white" id="topic-page-content">
    <div class="full-width-title">
        <div class="grid-container grid-parent grid-100">
            <div class="grid-100 tablet-grid-100 mobile-grid-100">
                <h1>@Model.Title</h1>
            </div>
        </div>
    </div>

    <div id="content" class="grid-container grid-parent">
        @{
            if (Model.Alerts != null)
            {
                <div class="alert-container">
                    @foreach (var alert in Model.Alerts)
                    {
                        @Html.Partial("DisplayTemplates/Alert", alert)
                    }
                </div>
            }
        }

        @{
            if (Model.InsetTexts != null)
            {
                <div class="alert-container contact-us-area-primary">
                    @foreach (var insetText in Model.InsetTexts)
                    {
                        @Html.Partial("DisplayTemplates/InsetText", insetText)
                    }
                </div>
            }
        }
                <div class="dashboard-button-container contact-us-area-primary">
                    <h2 class="visuallyhidden">Popular Services</h2>
                    @foreach (var primaryItem in Model.PrimaryItems)
                    {
                        var url = primaryItem.NavigationLink;

                        <a href="@url" class="section-link">
                            <div class="icon-container">
                                <i class="@primaryItem.Icon" aria-hidden="true"></i>
                            </div>
                            <div class="primaryItemText">@primaryItem.Title</div>
                        </a>
                    }
                </div>

        <div class="contact-us-category-container">
            @if (Model.ContactUsCategories.Any())
            {
                <h2>@Model.CategoriesTitle</h2>
            }
        <div class="dashboard-button-container contact-us-area-primary" >
            @foreach (var primaryItem in Model.PrimaryItems)
            {
                var url = primaryItem.NavigationLink;

                <a href="@url" class="section-link">
                    <div class="icon-container">
                        <i class="@primaryItem.Icon" aria-hidden="true"></i>
                    </div>
                    <div class="primaryItemText">@primaryItem.Title</div>
                </a>
            }
        </div>
        @if (Model.ContactUsCategories.Any())
        {
            <h2>Other online services</h2>
        }
        <div class="">
            @foreach (var categoryItem in Model.ContactUsCategories)
            {
                <div class="contact-us-category">
                    <div class="category-header">
                        <div class="icon-container">
                            <i class="@categoryItem.Icon" aria-hidden="true"></i>
                        </div>
                        <div class="category-title">@categoryItem.Title</div>
                    </div>
                    <div class="category-body">
                        <div class="category-body-col category-body-left">@Html.Raw(categoryItem.BodyTextLeft)</div>
                        <div class="category-body-col category-body-right">@Html.Raw(categoryItem.BodyTextRight)</div>
                    </div>
                </div>
            }

        </div>

    </div>
</div>

<script type="text/javascript">
    require(['startup'],
        function (startup) {
            startup.Init();
        })
</script>