@model TopicViewModel
@{
    ViewData["Title"] = Model.Topic.Name;
    ViewData["Description"] = Model.Topic.MetaDescription;
    ViewData["og:title"] = Model.Topic.Name;
    Layout = "../Shared/_Layout.cshtml";
    var displaySummaryBlock = !string.IsNullOrEmpty(Model.Topic.Teaser) && !string.IsNullOrEmpty(Model.Topic.Summary);
    var displayMoreInHeader = displaySummaryBlock && (Model.Topic.PrimaryItems.Items.Any() || Model.Topic.SecondaryItems.Any());
}

<div class="grid-container-full-width topic" data-cy="topic">
    <div class="hero">
        @if (Model.TopicHasImage)
        {
            <div class="hero__background" style="background-image: url(@Model.Topic.Image?fm=webp)"></div>
        }

        <div class="grid-container hero__wrapper">
            <div class="grid-100">
                <div class="hero__image"></div>

                <div>
                    <h1 class="hero__title">@Model.Topic.Name</h1>
                </div>
            </div>
        </div>

        @if(displaySummaryBlock)
        {
            <div class="grid-container">
                <div class="grid-100">
                    <div class="hero__about article--margin-bottom">
                        @if (!string.IsNullOrEmpty(Model.Topic.Teaser))
                        {
                            <p>@Html.Raw(@Model.Topic.Teaser)</p>
                        }

                        @if (!string.IsNullOrEmpty(Model.Topic.Summary))
                        {
                            @Html.Raw(@Model.Topic.Summary)
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    
    <div class="topic__secondary-content">
        <div class="grid-container">
            <div class="grid-100">
                @if (displayMoreInHeader)
                {
                    <h2 class="h-xl">More in @Model.Topic.Name</h2>
                }

                @if (Model.Topic.PrimaryItems.Items.Any())
                {
                    <partial name="NavCards" model="@Model.Topic.PrimaryItems" />
                }

                @if (!displayMoreInHeader && Model.Topic.SecondaryItems.Any())
                {
                    <h3 class="h-l">More in @Model.Topic.Name</h3>
                }

                @if (Model.Topic.SecondaryItems.Any())
                {
                    <partial name="SecondaryItems" model="@Model.Topic.SecondaryItems" />
                }

                @if (Model.Topic.CallToAction is not null)
                {
                    <div class="grid-container-full-width" style="background-color:#f2f2f2;">
                        <partial name="CallToActionTagParser" model="Model.Topic.CallToAction" view-data='@(new ViewDataDictionary(ViewData) { { "AdditionalCssClass", "image-banner-topics" } })' />
                    </div>
                }
            </div>
        </div>
    </div>
</div>