@using StockportWebapp.Config
@using StockportWebapp.FeatureToggling
@inject IApplicationConfiguration ApplicationConfiguration
@inject BusinessId BusinessId
@inject FeatureToggles FeatureToggles

<!DOCTYPE html>
<html lang="en-GB" class="no-js">
<head>
    @Html.Partial("SecurityHeaders")
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="description" content="stockport.gov.uk - The place to find services and information provided by Stockport Council and its partners.">

    @Html.Partial("OwnershipVerificationCodes")

    @Html.Partial("Favicon")

    <title>@ViewData["Title"]</title>
    <meta property="og:title" content="@ViewData["Title"]"/>

    <link href="//customer.cludo.com/css/112/1144/cludo-search-default.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/stylesheets/vendor/unsemantic-grid-responsive-tablet-min.css"/>
    <link rel="stylesheet" href="/assets/stylesheets/styleguide-sg.min.css"/>
    <link rel="stylesheet" href="~/assets/stylesheets/site-sg.min.css"/>
    <link rel="stylesheet" href="~/assets/stylesheets/vendor/slick.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" integrity="sha256-AIodEDkC8V/bHBkfyxzolUMw57jeQ9CauwhVW6YJ9CA= sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1 sha512-4uGZHpbDliNxiAv/QzZNo/yb2FtAX+qiDb7ypBWiEdJQX8Pugp8M6il5SRkN8jQrDLWsh3rrPDSXRf3DwFYM6g==" crossorigin="anonymous">
    <!--[if IE]>
        <link rel="stylesheet" href="~/assets/stylesheets/ie.min.css"/>
    <![endif]-->
    <link rel="alternate" type="application/rss+xml" href="/news/rss" title="Stockport Council News Feed"/>
    @RenderSection("BackgroundImage")
    @RenderSection("CarouselBackgroundImage")
    @await Component.InvokeAsync("GoogleAnalytics")
    @Html.Partial("CookieBanner")
</head>
<body class="container-layout-free type-home"> 
    @Html.Partial("Header")
<div class="grid-container-full-width">
    @RenderBody()
</div>
<distributed-cache name="footer" expires-after="@TimeSpan.FromMinutes(ApplicationConfiguration.GetFooterCache(BusinessId.ToString()))" enabled="@FeatureToggles.FooterCache">
    @await Component.InvokeAsync("Footer")
</distributed-cache>
        <script src="~/assets/javascript/vendor/modernizr.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI= sha384-mXQoED/lFIuocc//nss8aJOIrz7X7XruhR6bO+sGceiSyMELoVdZkN7F0oYwcFH+ sha512-QAV866KcCo2YSgj8D7BW+Zn3Fe5wVKTWwzKtWy8mkW+tePcJL7JYilvdfrBFQcdz4ODD48GpIPnhTp9UDI37uw==" crossorigin="anonymous"></script>
        <script src="/assets/javascript/vendor/matchbox.min.js"></script>
        <script src="/assets/javascript/vendor/slick.min.js"></script>

        <!--[if lte IE 9]>
        <script src="https://api.cludo.com/scripts/xdomain.js" slave="https://api.cludo.com/proxy.html"></script>
        <![endif]-->
        <script type="text/javascript" src="//customer.cludo.com/scripts/bundles/search-script.min.js"></script>
        <script src="/assets/javascript/stockportgov.min.js"></script>
</body>
</html>
