@using Microsoft.AspNetCore.Mvc.Rendering
@using StockportWebapp.Config
@inject CurrentEnvironment CurrentEnvironment
@inject IApplicationConfiguration ApplicationConfiguration
@inject BusinessId BusinessId
<!DOCTYPE html>
<html lang="en-GB" class="no-js">
<head>
    <!--
    {settings
    (breadcrumb-before-item:<li>)
        (breadcrumb-after-item:</li>)
    (breadcrumb-divider:<li class="chevron">›</li>)
    (nav-parent-start:<ul>)
        (nav-parent-end:</ul>)
    (nav-before-item:<li>)
        (nav-after-item:</li>)
    (nav-normal-class:)
    (nav-active-class:active)
    }

    -->
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    @Html.Partial("Favicon")

    <title>@ViewData["Title"] - Stockport Council</title>
    @if (ViewData["Description"] != null)
    {
        <meta name="Description" content="@ViewData["Description"]"/>
    }
    @if (ViewData["og:title"] != null)
    {
        <meta property="og:title" content="@ViewData["og:title"]" />
    }
    <link href="//customer.cludo.com/css/112/1144/cludo-search-default.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/stylesheets/vendor/unsemantic-grid-responsive-tablet-min.css"/>
    <link rel="stylesheet" href="~/assets/stylesheets/styleguide-sg.min.css"/>
    <link rel="stylesheet" href="~/assets/stylesheets/site-sg.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" integrity="sha256-AIodEDkC8V/bHBkfyxzolUMw57jeQ9CauwhVW6YJ9CA= sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1 sha512-4uGZHpbDliNxiAv/QzZNo/yb2FtAX+qiDb7ypBWiEdJQX8Pugp8M6il5SRkN8jQrDLWsh3rrPDSXRf3DwFYM6g==" crossorigin="anonymous">
    @await Component.InvokeAsync("GoogleAnalytics")
</head>
<body class="container-layout-free">
    @Html.Partial("Header")
<main>
    @RenderBody()
</main>
    @Html.Partial("StaticFooter")    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="//customer.cludo.com/scripts/bundles/search-script.min.js"></script>
    <script>
        var mobileWidth = 767;
        var tabletWidth = (1024 - 17);
        var windowHeight = $(window).height();

        document.documentElement.className = document.documentElement.className.replace("no-js", "js");
        var CludoSearch;
        (function () {
            var cludoSettings = {
                customerId: 112,
                engineId: 1144,
                type: 'standardOverlay',
                hideSearchFilters: true,
                initSearchBoxText: '',
                searchInputs: ["cludo-search-form", "cludo-search-mobile-form", "cludo-search-hero-form"],
                theme: { themeColor: '#055c58', themeBannerColor: { textColor: '#333', backgroundColor: '#f2f2f2' }, borderRadius: 10 },
                language: 'en'
            };
            CludoSearch = new Cludo(cludoSettings);
            CludoSearch.init();
        })();

        $(".show-search-button").click(function () {
            $("#mobileSearchInput").slideToggle(220);
            $(".show-search-button").toggleClass("arrow");
        });

        $(window).resize(function () {
            var image = $("#header .logo-main-image");
            var logoMobile = image.attr("data-mobile-image");
            var logoDesktop = image.attr("data-desktop-image");

            if ($(window).width() <= mobileWidth) {
                image.attr("src", logoMobile);
            } else {
                image.attr("src", logoDesktop);
            }

            if ($(window).width() > tabletWidth) {
                $("#mobileSearchInput").hide();
                $(".show-search-button").removeClass("arrow");
                $('#displayRefineBy').css('display', 'block');
            }
        });

    </script>
</body>
</html>
