<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <link rel="shortcut icon" type="image/png" href="/assets/images/ui-images/favicon-sg.png" />
    <title>@ViewData["Title"] - Stockport Council</title>
    @if (ViewData["Description"] != null)
    {
        <meta name="Description" content="@ViewData["Description"]" />
    }
    <link rel="stylesheet" href="/assets/stylesheets/vendor/unsemantic-grid-responsive-tablet-min.css" />
    <link rel="stylesheet" href="~/assets/stylesheets/styleguide-sg.min.css" />
    <link rel="stylesheet" href="~/assets/stylesheets/site-sg.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="alternate" type="application/rss+xml" href="/news/rss" title="Stockport Council News Feed" />
    @await Component.InvokeAsync("GoogleAnalytics")
    @Html.Partial("CookieBanner")
</head>
<body class="container-layout-free @(string.Concat("type-", ViewContext.RouteData.Values["controller"].ToString().ToLower()))">
    @Html.Partial("Header")
    @RenderSection("Breadcrumbs", false)
    <main>
        @RenderBody()
    </main>
    @Html.Partial("Footer")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="~/assets/javascript/vendor/jquery.validate.min.js"></script>
    <script src="~/assets/javascript/vendor/jquery.validate.unobtrusive.min.js"></script>
    @*<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>*@
    <script src="/assets/javascript/vendor/matchbox.js"></script>
    <script src="/assets/javascript/stockportgov.min.js"></script>
    @await Component.InvokeAsync("AddThis")
</body>
</html>
