@using StockportWebapp.Config
@inject IApplicationConfiguration ApplicationConfiguration
@inject BusinessId BusinessId
@inject CurrentEnvironment CurrentEnvironment

<!DOCTYPE html>
<html lang="en-GB" class="no-js">
<head>
    <partial name="SecurityHeaders" />
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=12.0, minimum-scale=1, user-scalable=yes" />
    <meta name="description" content="stockport.gov.uk - The place to find services and information provided by Stockport Council and its partners.">
    <partial name="OwnershipVerificationCodes" />
    <partial name="Favicon" />
    <title>@ViewData["Title"]</title>
    <meta property="og:title" content="@ViewData["Title"]" />
    <link href="~/assets/stylesheets/cludo-search-default.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/stylesheets/vendor/unsemantic-grid-responsive-tablet-min.css" />
    <link rel="stylesheet" href="~/assets/stylesheets/styleguide-sg.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/stylesheets/site-sg.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/stylesheets/vendor/slick.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" integrity="sha256-AIodEDkC8V/bHBkfyxzolUMw57jeQ9CauwhVW6YJ9CA= sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1 sha512-4uGZHpbDliNxiAv/QzZNo/yb2FtAX+qiDb7ypBWiEdJQX8Pugp8M6il5SRkN8jQrDLWsh3rrPDSXRf3DwFYM6g==" crossorigin="anonymous">
    <!--[if IE]>
        <link rel="stylesheet" href="~/assets/stylesheets/ie.min.css"/>
    <![endif]-->
    <link rel="alternate" type="application/rss+xml" href="/news/rss" title="Stockport Council News Feed" />
    <link rel="alternate" type="application/rss+xml" href="/events/rss" title="Stockport Council Events Feed" />
    @RenderSection("BackgroundImage")
    @RenderSection("CarouselBackgroundImage")
    <partial name="CookieBanner" />
    @await Component.InvokeAsync("GoogleAnalytics")
    <script type="text/javascript" src="~/assets/javascript/vendor/require.2.3.4.min.js"></script>

    @if (CurrentEnvironment.Name == "test")
    {
        <script type="text/javascript" src="/assets/javascript/requireConfigUitest.js"></script>
    }
    else
    {
        <script type="text/javascript" src="/assets/javascript/requireConfig.js"></script>
    }

</head>
<body class="container-layout-free type-home">
    <partial name="Header" />
    <div class="grid-container-full-width">
        @RenderBody()
    </div>
    <distributed-cache name="footer" expires-after="@TimeSpan.FromMinutes(ApplicationConfiguration.GetFooterCache(BusinessId.ToString()))" enabled="true">
        @await Component.InvokeAsync("Footer")
    </distributed-cache>
    <script src="~/assets/javascript/vendor/modernizr.min.js"></script>
    <script type="text/javascript">
        require(['startup', 'carousel', 'viewmoreslider', 'matchHeight', 'matchboxconfig', 'slick', 'utils'],
            function (startup, carousel, viewmoreslider, matchHeight, matchboxconfig, slick, utils) {
                startup.Init();
                viewmoreslider.Init();
                matchboxconfig.Init();
                carousel.Init();
                utils.Init();
            })
    </script>

    <script type="text/javascript">
        require(['validate', 'clipboard', 'jquery-ui', 'jquery.cookie'],
            function (validate, clipboard, jqueryui, jquerycookie) {
            })
    </script>

</body>
</html>