@*
    Comms, Profile, Showcase
*@
@using StockportWebapp.Config
@inject IApplicationConfiguration ApplicationConfiguration
@inject CurrentEnvironment CurrentEnvironment
@inject BusinessId BusinessId
@{
    var stylesheet = ApplicationConfiguration.GetStylesheetConfig();
    var bodyClass = ViewData["WhiteBackground"] is not null && (bool)ViewData["WhiteBackground"] ? "white-background" : string.Empty;
}
<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/png" href="~/assets/images/ui-images/favicon-sg.png" />
    <title>@ViewData["Title"] - Stockport Council</title>
    @if (ViewData["Description"] is not null)
    {
        <meta name="Description" content="@ViewData["Description"]" />
    }
    <link rel="stylesheet" type="text/css" href="@stylesheet.GoogleFonts" />
    <link rel="stylesheet" type="text/css" href="@stylesheet.FontAwesome" />
    <link rel="stylesheet" type="text/css" href="@stylesheet.CludoSearch" />
    <link rel="stylesheet" type="text/css" href="@stylesheet.StyleguideSemanticV2" />
    <link rel="stylesheet" type="text/css" href="@stylesheet.Slick" />

    <script src="~/assets/javascript/vendor/require.min.js"></Script>

    <partial name="TagManager/TagManagerDataLayer" />
    <partial name="TagManager/TagManager" />
</head>
<body class=@bodyClass>
    <partial name="TagManager/TagManagerNoScript" />
    <header>
        <partial name="SemanticHeader" />
        @RenderSection("Breadcrumbs", false)
    </header>

    <main id="content" class="@ViewData["FullWidth"]">
        @RenderBody()
    </main>

    <distributed-cache name="semanticFooter" expires-after="@TimeSpan.FromMinutes(ApplicationConfiguration.GetFooterCache(BusinessId.ToString()))" enabled="true">
        @await Component.InvokeAsync("SemanticFooter")
    </distributed-cache>

    <script>
        require(['/assets/javascript/stockportgov/config.min.js'], function() {
            require(['jquery', 'matchbox.min'], 
                function (_, matchbox) {
                    matchbox.Init();
                }
            );
        });
    </script>
</body>
</html> 