<!DOCTYPE html>
<html lang="en-GB" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

    @Html.Partial("OwnershipVerificationCodes")
    @Html.Partial("Favicon")
    <link rel="shortcut icon" type="image/png" href="/assets/images/ui-images/sg/favicon-32x32.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/ui-images/sg/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/assets/images/ui-images/sg/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/images/ui-images/sg/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/images/ui-images/sg/manifest.json">
    <link rel="mask-icon" href="/assets/images/ui-images/sg/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <title>@ViewData["Title"] - Stockport Council</title>
    @if (ViewData["Description"] != null)
    {
        <meta name="Description" content="@ViewData["Description"]" />
    }
    @if (ViewData["CanonicalUrl"] != null)
    {
        @Html.Partial("Canonical-Link")
    }
    @if (ViewData["og:title"] != null)
    {
        <meta name="og:title" content="@ViewData["og:title"]" />
    }
    <link href="//customer.cludo.com/css/112/1144/cludo-search-default.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/stylesheets/vendor/unsemantic-grid-responsive-tablet-min.css" />
    <link rel="stylesheet" href="~/assets/stylesheets/styleguide-sg.min.css" />
    <link rel="stylesheet" href="~/assets/stylesheets/site-sg.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/stylesheets/vendor/slick.min.css" />
    <link rel="alternate" type="application/rss+xml" href="/news/rss" title="Stockport Council News Feed" />

    @await Component.InvokeAsync("GoogleAnalytics")

    @Html.Partial("CookieBanner")
</head>
<body class="container-layout-free @(string.Concat("type-", ViewContext.RouteData.Values["controller"].ToString().ToLower()))">
    @Html.Partial("Header")
    @RenderSection("Breadcrumbs", false)
    <main>
        @RenderBody()
    </main>
    @await Component.InvokeAsync("Footer")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="~/assets/javascript/vendor/jquery.validate.min.js"></script>
    <script src="~/assets/javascript/vendor/jquery.validate.unobtrusive.min.js"></script>
    <script src="/assets/javascript/vendor/slick.js"></script>
    @*<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>*@

    <!--[if lte IE 9]>
    <script src="https://api.cludo.com/scripts/xdomain.js" slave="https://api.cludo.com/proxy.html"></script>
    <![endif]-->
    <script type="text/javascript" src="//customer.cludo.com/scripts/bundles/search-script.min.js"></script>
    <script src="/assets/javascript/vendor/matchbox.js"></script>
    <script src="/assets/javascript/stockportgov.min.js"></script>
    <script src="/assets/javascript/carousel.js"></script>
    @await Component.InvokeAsync("AddThis")
</body>
</html>
