@*
    Comms, Profile, Showcase
*@
@using StockportWebapp.Models.Config
@inject IApplicationConfiguration ApplicationConfiguration
@inject CurrentEnvironment CurrentEnvironment
@inject BusinessId BusinessId
@{
    var stylesheet = ApplicationConfiguration.GetStylesheetConfig();
    var bodyClass = ViewData["WhiteBackground"] is not null && (bool)ViewData["WhiteBackground"] ? "white-background" : string.Empty;
}
<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/png" href="~/assets/images/ui-images/favicon-sg.png" />
    <title>@ViewData["Title"] - Stockport Council</title>
    <meta name="Description" content="@ViewData["Description"]" />

    <link rel=stylesheet type=text/css href=@stylesheet.GoogleFonts />
    <link rel=stylesheet type=text/css href=@stylesheet.FontAwesome />
    <link rel=stylesheet type=text/css href=@stylesheet.CludoSearch />
    <link rel=stylesheet type=text/css href=@stylesheet.StyleguideSemanticV2 />
    <link rel=stylesheet type=text/css href=@stylesheet.Slick />

    <script src="~/assets/javascript/vendor/require.min.js"></Script>

    <partial name="TagManager/TagManagerDataLayer" />
    <partial name="TagManager/TagManager" />
</head>
<body class=@bodyClass>
    <partial name="TagManager/TagManagerNoScript" />
    <header>
        <partial name="SemanticHeader" />
        @RenderSection("Breadcrumbs", false)
    </header>

    <main id="content" class="@ViewData["FullWidth"]">
        @RenderBody()
    </main>

    <distributed-cache name="semanticFooter" expires-after="@TimeSpan.FromMinutes(ApplicationConfiguration.GetFooterCache(BusinessId.ToString()))" enabled="true">
        @await Component.InvokeAsync("SemanticFooter")
    </distributed-cache>

    <script>
        require(['/assets/javascript/config-d85cf3bb.min.js'], function() {
            require(['jquery'], function () { } );
        });
    </script>
</body>
</html> 