@using StockportWebapp.Config
@inject IApplicationConfiguration ApplicationConfiguration
@inject CurrentEnvironment CurrentEnvironment
@inject BusinessId BusinessId
@{
    var bannerTypeformUrl = ViewData["BannerTypeformUrl"];
    var stylesheet = ApplicationConfiguration.GetStylesheetConfig();
    var bodyClass = ViewData["WhiteBackground"] != null &&  (bool)ViewData["WhiteBackground"] ? "white-background" : string.Empty;
}
<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/png" href="~/assets/images/ui-images/favicon-sg.png" />
    <title>@ViewData["Title"] - Stockport Council</title>
    @if (ViewData["Description"] != null)
    {
        <meta name="Description" content="@ViewData["Description"]" />
    }
    <link rel="stylesheet" type="text/css" href="@stylesheet.GoogleFonts" />
    <link rel="stylesheet" type="text/css" href="@stylesheet.FontAwesome" />
    @*<link rel="stylesheet" type="text/css" href="@stylesheet.CludoSearch" />*@
    <link rel="stylesheet" type="text/css" href="@stylesheet.JqueryUi" />
    <link rel="stylesheet" type="text/css" href="@stylesheet.StyleguideSemanticV2" />
    <link rel="stylesheet" type="text/css" href="@stylesheet.Slick" />
    <script type="text/javascript" src="~/assets/javascript/vendor/require.2.3.4.min.js"></script>
    @if (CurrentEnvironment.Name == "test")
    {
        <script type="text/javascript" src="/assets/javascript/requireConfigUitest.js"></script>
    }
    else
    {
        <script type="text/javascript" src="/assets/javascript/requireConfig.js"></script>
    }
    <partial name="TagManager/TagManagerDataLayer" />
    <partial name="TagManager/TagManager" />
</head>
<body class=@bodyClass>
    <partial name="TagManager/TagManagerNoScript" />
    <header>
        <div class="skip-to-main-content" role="navigation">
            <a href="#content">Skip to main content</a>
        </div>
        <partial name="SemanticHeader" />
        <partial name="BrowserCheckSemantic" />
        @if (!string.IsNullOrEmpty((string)bannerTypeformUrl))
        {
            <div class="banner-header">
                <div class="center-wrapper">
                    <span>NEW </span><strong>This part of our website is brand new. </strong><a href="@ViewData["BannerTypeformUrl"]" target="_blank" data-mode="1" class="typeform-share link">Give us your feedback</a> to help us improve it.
                </div>
            </div>
        }
        @RenderSection("Breadcrumbs", false)
    </header>

    <main id="content" class="@ViewData["FullWidth"]">
        @RenderBody()
    </main>

    @RenderSection("Scripts", false)
    <distributed-cache name="semanticFooter" expires-after="@TimeSpan.FromMinutes(ApplicationConfiguration.GetFooterCache(BusinessId.ToString()))" enabled="true">
        @await Component.InvokeAsync("SemanticFooter")
    </distributed-cache>

    <script type="text/javascript">
        require(['startup', 'carousel', 'viewmoreslider', 'matchHeight', 'matchboxconfig', 'slick', 'utils', 'reciteMe'],
            function (startup, carousel, viewmoreslider, matchHeight, matchboxconfig, slick, utils, reciteMe) {
                startup.Init();
                viewmoreslider.Init();
                matchboxconfig.Init();
                carousel.Init();
                utils.Init();
                reciteMe.Init();
            })
    </script>
</body>
</html> 