@model string

<div class="atoz">
    <h2> Find services A-Z </h2>
    <div class="alphabet">
        @foreach (char letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ")
        {
            <div class="letter @(letter.ToString().Equals(Model) ? "active" : string.Empty)">
                @if (letter.ToString().Equals("A"))
                {
                    <a class="letter-bordered" href="@($"{Url.Action("Index", "AtoZ")}#{letter.ToString().ToUpper()}")" aria-label="Find services A to Z @letter service">@letter</a>
                }
                else
                {
                    <a class="letter-bordered" href="@($"{Url.Action("Index", "AtoZ")}#{letter.ToString().ToUpper()}")" aria-label="@letter service">@letter</a>
                }
            </div>
        }
    </div>
</div>