@model CallToActionBanner

<div class="call-to-action" data-cy="call-to-action">
    <img src="@Model.Image?w=450&q=50 450w" class="call-to-action__image" loading="lazy"
        srcSet="@Model.Image?w=350&q=50 200w,
                @Model.Image?w=450&q=50 900w"
        sizes="(max-width: 1024px) 200px,
			    900px"
                >

    <div class="call-to-action-content">
        <h3 class="call-to-action-content__title">@Model.Title</h3>
        <p class="call-to-action-content__teaser">@Model.Teaser</p>
        <a href="@Model.Link" class="button button--inverse button-call-to-action call-to-action-content__button" data-cy="call-to-action-link">@Model.ButtonText</a>
    </div> 
</div>