@model CallToActionBanner

<div class="call-to-action" data-cy="call-to-action">
    <img src="@Model.Image?w=500&q=89" class="call-to-action__image" loading="lazy">

    <div class="call-to-action-content">
        <h3 class="call-to-action-content__title">@Model.Title</h3>
        <p class="call-to-action-content__teaser">@Model.Teaser</p>
        <a href="@Model.Link" class="btn btn--inverse button-call-to-action" data-cy="call-to-action-link">@Model.ButtonText</a>
    </div> 
</div>