@model List<SubItem>
    
@if (Model is not null)
{
    foreach (var item in Model)
    {
        string containerColourClass = $"call-to-action-{@CssClassMapper.GetCssClass(item.ColourScheme)}";
        string buttonColourClass = $"btn-{@CssClassMapper.GetCssClass(item.ColourScheme)}";
        string additionalCSS = string.IsNullOrEmpty((string)ViewData["AdditionalCssClass"])
                            ? string.Empty
                            : (string)ViewData["AdditionalCssClass"];

        <section class="section section--white @additionalCSS">
            <div class="grid-container">
                <div class="grid-100">
                    <div class="call-to-action section__content @containerColourClass" data-cy="call-to-action">
                        <img src="@item.Image?w=500&q=89" srcset="@item.Image?w=500&q=89&fm=webp" class="call-to-action__image" loading="lazy" alt="@item.Title" width="452" height="342">
                        <div class="call-to-action-content">
                            <h3 class="call-to-action-content__title ">@item.Title</h3>
                            <p class="call-to-action-content__teaser">@item.Teaser</p>
                            <a href="@item.Link" class="btn btn--inverse btn--width-30 btn--chevron-forward btn--bold btn--chevron-bold @buttonColourClass" data-cy="call-to-action-link">
                                <span class="btn_text">@item.ButtonText</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}