@model CallToActionBanner

@if (Model is not null)
{
    string containerColourClass = $"call-to-action-{@CssClassMapper.GetCssClass(Model.Colour)}";
    string buttonColourClass = $"btn-{@CssClassMapper.GetCssClass(Model.Colour)}";
    string additionalCssClass = ViewData["AdditionalCssClass"] as string ?? string.Empty;
    string buttonCssClass = ViewData["ButtonCssClass"] as string ?? "btn--width-30";
    
    <section class="section section--white @additionalCssClass">
        <div class="grid-container">
            <div class="grid-100">
                <div class="call-to-action section__content" data-cy="call-to-action">
                    <img src="@Model.Image?w=500&q=89" srcset="@Model.Image?w=500&q=89&fm=webp" class="call-to-action__image" loading="lazy" alt="@Model.AltText" width="452" height="342">
                    
                    <div class="call-to-action-content @containerColourClass">
                        <h2 class="call-to-action-content__title ">@Model.Title</h2>
                        <p class="call-to-action-content__teaser">@Model.Teaser</p>
                        
                        <a href="@Model.Link" class="btn btn--inverse btn--chevron-forward btn--bold btn--chevron-bold @buttonColourClass @buttonCssClass" data-cy="call-to-action-link">
                            <span class="btn_text">@Model.ButtonText</span>
                        </a>
                    </div> 
                </div>
            </div>
        </div>
    </section>
}