@model DirectorySearchResultViewModel
@{
    var imageExists = string.IsNullOrEmpty(Model.Entry.Image);
    var directoryClass = imageExists ? "directory-result__content--full-width" : string.Empty;
}

<li class="navcard navcard--white navcard--width-100 navcard--border-top-10 navcard--theme-teal-lighter-top">
    <div class="navcard__content">
        <a href=@Url.Action("DirectoryEntry", "Directory", new { directorySlug=@Model.DirectorySlug, entrySlug=@Model.Entry.Slug }) data-cy="nav-card-link" class="navcard__link navcard__link--border navcard-all navcard--radius-bottom-left navcard--radius-bottom-right navcard--no-border-top navcard--theme-grey-accent-all">
            <div class="directory-result">
                <div class="directory-result__content @directoryClass">
                    <h3 class="navcard__title navcard__title--large">
                        @Model.Entry.Name
                    </h3>

                    @if(!string.IsNullOrEmpty(Model.Entry.Provider)){
                        <p class="navcard__sub-title">@Model.Entry.Provider</p>
                    }
                    
                    <p class="navcard__sub-title">@Model.Entry.Address</p>
                    <div class="navcard__teaser">
                        @Model.Entry.Teaser
                    </div>
                </div>

                @if(!imageExists){
                    <div class="directory-result__brand">
                        <img src="@Model.Entry.Image?w=340&q=89&fm=webp"
                             alt=""
                             width="300"
                             height="150">
                    </div>
                }
            </div>
        </a>
    </div>
</li>
