@model DirectoryEntryViewModel

@if (Model.DisplayContactUs)
{
    <h3 class="h-m">Contact us</h3>
}

@if (!string.IsNullOrEmpty(Model.Website))
{
    <div class="directory__website">
        <p>Web:</p>
        <a href="@Model.Website">@Model.Website</a>
    </div>
}

@if (Model.HasPrimaryContact)
{
    <div class="directory__labels">
        @if (!string.IsNullOrEmpty(Model.PhoneNumber))
        {
            <p class="directory__labels--no-margin">Phone:</p>
            <p class="directory__phone">@Model.PhoneNumber</p>
        }

        @if (!string.IsNullOrEmpty(Model.Email))
        {
            <p class="directory__labels--no-margin">Email:</p>
            <a class="directory__email" href="mailto:@Model.Email">@Model.Email</a>
        }
    </div>

    <div class="directory__contact--tablet">
        <div class="directory__labels--tablet">
            @if (!string.IsNullOrEmpty(Model.PhoneNumber))
            {
                <p>Phone:</p>
            }

            @if (!string.IsNullOrEmpty(Model.Email))
            {
                <p>Email:</p>
            }
        </div>

        <div class="directory__values--tablet">
            @if (!string.IsNullOrEmpty(Model.PhoneNumber))
            {
                <p>@Model.PhoneNumber</p>
            }

            @if (!string.IsNullOrEmpty(Model.Email))
            {
                <a href="mailto:@Model.Email">@Model.Email</a>
            }
        </div>
    </div>
}