@model DirectoryEntryViewModel
@{
    var imageExists = string.IsNullOrEmpty(Model.DirectoryEntry.Image);
    var directoryClass = imageExists ? "directory-result__content--full-width" : string.Empty;
    var navcardBorder = " navcard--border-top-10 navcard--theme-teal-lighter-top";
    var brandPinnedEntry = "";

    if(Model.IsPinned){
        navcardBorder = " navcard--border-top-0-mobile navcard--border-top-10 navcard--theme-pink-top";
        brandPinnedEntry = " directory-result__brand--pinned-entry";
    }
}

<li class="navcard navcard--white navcard--width-100 @navcardBorder navcard--no-padding-right-rtl">
    <div class="navcard__content">
        @if (Model.IsPinned)
        {
            <div class="directory-pinned--mobile">
                <p>Spotlight on</p>
            </div>
        }

        <a href=@Url.Action("DirectoryEntry", "Directory", new { slug=@Model.Slug }) data-cy="nav-card-link"
           class="navcard__link navcard__link--border navcard--radius-bottom-left navcard--radius-bottom-right navcard--border-top-0 navcard-all navcard--theme-grey-accent-all">

            <div class="directory-result">
                <div class="directory-result__content @directoryClass">
                    @if (Model.IsPinned)
                    {
                        <span class="directory-pinned">Spotlight on</span>
                    }
                    <h3 class="navcard__title navcard__title--large">
                        @if (Model.ShowMapPin && Model.IsPinned){<partial name="MapPin" view-data='new ViewDataDictionary(ViewData) { { "Count", Model.MapPinIndex}, {"Highlighted", true }  }' />}
                        else if (Model.ShowMapPin){<partial name="MapPin" view-data='new ViewDataDictionary(ViewData) { { "Count", Model.MapPinIndex}, {"Highlighted", false }  }' />}@Model.DirectoryEntry.Name
                    </h3>
                    @if (!string.IsNullOrEmpty(Model.DirectoryEntry.Provider))
                    {
                        <p class="navcard__sub-title">@Model.DirectoryEntry.Provider</p>
                    }
                    <p class="navcard__sub-title">@Model.DirectoryEntry.Address</p>
                    <div class="navcard__teaser">
                        @Model.DirectoryEntry.Teaser
                    </div>
                </div>
                @if(!imageExists){
                    <div class="directory-result__brand @brandPinnedEntry">
                        <img src="@Model.DirectoryEntry.Image?w=340&q=89&fm=webp"
                             alt=""
                             width="300"
                             height="150">
                    </div>
                }
            </div>
        </a>
    </div>
</li>