@model DirectoryViewModel
@{
    bool showPagination = Model.PaginationInfo.TotalEntries > Model.PaginationInfo.PageSize;
    var filterSlug = Model.AppliedFilters is not null && Model.AppliedFilters.Any() 
                        ? $"&filters={string.Join("&filters=", Model.AppliedFilters.Select(_ => _.Slug))}" 
                        : string.Empty;
}

<div class="pagination__count">
    <div class="grid-container">
        <div class="grid-100">
            @if (showPagination)
            {
                <span>
                    Showing 
                    <span class="bold">@((Model.PaginationInfo.CurrentPage - 1) * Model.PaginationInfo.PageSize + 1)</span>
                    to
                    <span class="bold">@(Math.Min(Model.PaginationInfo.CurrentPage * Model.PaginationInfo.PageSize, Model.PaginationInfo.TotalEntries))</span>
                    of
                    <span class="bold">@Model.PaginationInfo.TotalEntries</span>
                    results
                </span>
            }
        </div>
    </div>
</div>

<nav class="directory-pagination">
    <div class="grid-container">
        <div class="grid-100">
            @if (showPagination)
            {
                <div class="pagination">
                    <ul class="pagination__list">
                        @* show previous link *@
                        @if (Model.PaginationInfo.CurrentPage > 1)
                        {
                            <li class="pagination__item">
                                <a href="?page=@(Model.PaginationInfo.CurrentPage - 1)@(filterSlug)" class="pagination__links">
                                    <span class="pagination__left"></span>
                                    Previous
                                    <span class="pagination__left--rtl"></span>
                                </a>
                            </li>

                            @if (Model.PaginationInfo.CurrentPage > 2)
                            {
                                <li class="pagination__item">
                                    <a href="?page=1@(filterSlug)" class="pagination__links">
                                        1
                                    </a>
                                </li>

                            }

                            @if (Model.PaginationInfo.CurrentPage > 2 && Model.PaginationInfo.CurrentPage != Model.PaginationInfo.TotalPages)
                            {
                                 <li class="pagination__item">
                                    ...
                                </li>
                            }
                        }

                        @if (Model.PaginationInfo.CurrentPage == Model.PaginationInfo.TotalPages)
                        {
                            <li class="pagination__item">
                                ...
                            </li>
                        }

                        @for (int i = 1; i <= Model.PaginationInfo.TotalPages; i++)
                        {
                                @if (i == Model.PaginationInfo.CurrentPage)
                                {
                                    @if (Model.PaginationInfo.CurrentPage > 1)
                                    {
                                        <li class="pagination__item">
                                            <a href="?page=@(Model.PaginationInfo.CurrentPage - 1)@(filterSlug)" class="pagination__number">@(Model.PaginationInfo.CurrentPage - 1)</a>
                                        </li>
                                    }

                                    <li class="pagination__item">
                                        <a href="?page=@i@(filterSlug)" class="pagination__current">@i</a>
                                    </li>
                                    
                                    @if (Model.PaginationInfo.CurrentPage < Model.PaginationInfo.TotalPages)
                                    {
                                        <li class="pagination__item">
                                            <a href="?page=@(Model.PaginationInfo.CurrentPage + 1)@(filterSlug)" class="pagination__number">@(Model.PaginationInfo.CurrentPage + 1)</a>
                                        </li>
                                    }
                                }
                        }

                        @* show next link *@
                        @if (Model.PaginationInfo.CurrentPage < Model.PaginationInfo.TotalPages)
                        {
                            @if (Model.PaginationInfo.CurrentPage < Model.PaginationInfo.TotalPages-2)
                            {
                                <li class="pagination__item">
                                    ...
                                </li>
                            }

                            @if (Model.PaginationInfo.CurrentPage < Model.PaginationInfo.TotalPages-1)
                            {
                                <li class="pagination__item">
                                    <a href="?page=@Model.PaginationInfo.TotalPages@(filterSlug)" class="pagination__links">
                                        @Model.PaginationInfo.TotalPages
                                    </a>
                                </li>
                            }

                            <li class="pagination__item">
                                <a href="?page=@(Model.PaginationInfo.CurrentPage + 1)@(filterSlug)" class="pagination__links">
                                    <span class="pagination__right--rtl"></span>
                                    Next
                                    <span class="pagination__right"></span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</nav>