@inject ViewHelpers ViewHelpers
@model Event

@if (Model is not null)
{
    string borderColourClass = (string)ViewData["BorderColourClass"] ?? string.Empty;
    string backgroundColourClass = (string)ViewData["BackgroundColourClass"] ?? string.Empty;

    <li class="navcard navcard--width-33 navcard event-cards">
        <a href="@(Url.Action("Detail", "Events", new {slug = Model.Slug, date = Model.EventDate.ToString("yyyy-MM-dd")}))" class="navcard__link event-cards__link @backgroundColourClass @borderColourClass" data-cy="event-card-link">
            <div class="navcard__content">
                <partial name="NavCardImage" model="@Model.ImageUrl" view-data='@(new ViewDataDictionary(ViewData) { {"imageAdditionalClasses", "event-cards__image"}})'/>

                <div class="event-cards--padding">
                    <h3 class="navcard__title">@Model.Title</h3>
                    @{
                        string datePart = ViewHelpers.FormatEventDate(Model.EventDate);
                        DateTime startTime = DateTime.Parse(Model.StartTime);

                        string displayTime = startTime.Minute.Equals(0)
                            ? startTime.ToString("htt").ToLower()
                            : startTime.ToString("h:mmtt").ToLower();
                    }

                    <p class="navcard__teaser"><strong>@datePart at @displayTime</strong></p>
                    <p class="navcard__teaser">@Model.Teaser</p>
                    <p class="navcard__teaser"><strong>@Model.Location</strong></p>
                </div>
            </div>
        </a>
    </li>
}