@model List<StockportWebapp.Models.Event>
<h3 class="group-details-heading upcoming-events-heading">Our upcoming events</h3>
<ul class="event-listing-container">
    @foreach (var eventItem in Model)
    {
        <li class="event-li grid-33 tablet-grid-50 mobile-grid-100">
            <a class="event-card" href="../events/@eventItem.Slug">
                <div class="event-image" style="background-image: url(@eventItem.ImageUrl)"></div>
                <div class="event-card-information grid-100">
                    <div class="grid-100 event-title">
                        <h3>@eventItem.Title</h3>
                    </div>
                    <div>
                        <div class="grid-10 tablet-grid-10 mobile-grid-10 event-card-icon">
                            <i class="fa fa-gbp" aria-hidden="true"></i>
                        </div>
                        <div class="grid-90 tablet-grid-90 mobile-grid-90 event-card-text">
                            @(eventItem.Fee.Length > 70 ? eventItem.Fee.Substring(0, 70) + "..." : eventItem.Fee)
                        </div>
                    </div>
                    <div>
                        <div class="grid-10 tablet-grid-10 mobile-grid-10 event-card-icon">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                        <div class="grid-90 tablet-grid-90 mobile-grid-90 event-card-text">
                            @eventItem.EventDate.ToString("D") @eventItem.StartTime
                        </div>
                    </div>
                    <div>
                        <div class="grid-10 tablet-grid-10 mobile-grid-10 event-card-icon">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </div>
                        <div class="grid-90 tablet-grid-90 mobile-grid-90 event-card-text">
                            @(eventItem.Location.Length > 70 ? eventItem.Location.Substring(0, 70) + "..." : eventItem.Location)
                        </div>
                    </div>
                    

                </div>
            </a>
        </li>
    }
</ul>
