@using StockportWebapp.Utils
@inject ViewHelpers viewHelper
@model StockportWebapp.Models.Event
<div class="group-li grid-33 tablet-grid-50 mobile-grid-100">
    <a class="group-card matchbox-child" href="@Url.Action("Detail", "Events", new {slug = Model.Slug, date = Model.EventDate.ToString("yyyy-MM-dd")})">
        <div class="group-image" style="background-image: url(@Model.ThumbnailImageUrl)"></div>
        <div class="group-card-information grid-100">
            <div class="grid-100 group-title">
                <h3>@Model.Title</h3>
            </div>
            <div class="grid-10 tablet-grid-10 mobile-grid-10 group-card-icon">
                <i class="fa fa-gbp" aria-hidden="true"></i>
            </div>
            <div class="grid-90 tablet-grid-90 mobile-grid-90 group-card-text">
                @Model.Fee
            </div>
            <div class="grid-10 tablet-grid-10 mobile-grid-10 group-card-icon">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
            </div>
            <div class="grid-90 tablet-grid-90 mobile-grid-90 group-card-text">
                @viewHelper.FormatEventDate(Model.EventDate, Model.StartTime)
            </div>
            <div class="grid-10 tablet-grid-10 mobile-grid-10 group-card-icon">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            <div class="grid-90 tablet-grid-90 mobile-grid-90 group-card-text">
                @Model.Location
            </div>
        </div>
    </a>
</div>
