@model EventCalendarBanner
@{
    string containerColourClass = !string.IsNullOrEmpty(Model?.Colour) && !Model.Colour.Equals("Teal") ? $"event-calendar-banner--{Model.Colour.ToLower()}" : String.Empty;
    string additionalCSS = string.IsNullOrEmpty((string)ViewData["AdditionalCssClass"]) 
                        ? string.Empty 
                        : (string)ViewData["AdditionalCssClass"];
}
@if (Model is not null)
{
    <section class="section section--white @additionalCSS">
        <div class="grid-container">
            <div class="grid-100">
                <div class="event-calendar-banner section__content @containerColourClass" data-cy="event-calendar-banner">
                    <a class="event-calendar-banner-link event-calendar-banner-container" href="@Model.Link">
                        <div class="event-calendar-banner-icon-container">
                            <span class="@Model.Icon event-calendar-banner__icon" aria-hidden="true"></span>
                        </div>
                        <div class="event-calendar-banner-content">
                            <h3 class="event-calendar-banner-content__title ">@Model.Title</h3>
                            <p class="event-calendar-banner-content__teaser">@Model.Teaser</p>
                        </div> 
                        <div class="event-calendar-banner-chevron-container">
                            <span class="fa fa-2x fa-angle-right event-calendar-banner__chevron" aria-hidden="true"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
}