@using System.Threading.Tasks
@using StockportWebapp.FeatureToggling
@using StockportWebapp.Utils
@model StockportWebapp.Models.EventCalendar
@{
    var currentUrl = new QueryUrl(Url.ActionContext.RouteData.Values, Context.Request.Query);
    var filteredUrl = new FilteredUrl(currentUrl);
    var categoryFilter = Context.Request.Query["category"];
    var dateRange = Context.Request.Query["daterange"].ToString();   
    var timeProvider = new TimeProvider();
    var dateCalculator = new DateCalculator(timeProvider);

    var dateFilter = dateRange == "customdate" ? "Custom Date" : dateCalculator.ReturnDisplayNameForFilter(dateRange);
}
@inject FeatureToggles FeatureToggles
<div class="grid-container events-grid-container-margins">
    <div class="grid-30 tablet-grid-100 mobile-grid-100 l-filters" id="event-filters">
        <p class="filters-heading">Refine by</p>
        <ul class="filters-list">
            <li id="removeClass">
                <ul class="filters-list" id="displayRefineBy">
                    <li class="filters-active">
                        <ul>
                        @if (!string.IsNullOrEmpty(categoryFilter) && Model.DoesCategoryExist(categoryFilter))
                        {
                            <li class="filter collapsible"><a href="@Url.RouteUrl(filteredUrl.WithoutCategory())"><i class="fa fa-times" aria-hidden="true"></i> @categoryFilter</a></li>
                        }
                        @if (!string.IsNullOrEmpty(dateFilter))
                        {
                            <li class="filter collapsible"><a href="@Url.RouteUrl(filteredUrl.WithoutDateFilter())"><i class="fa fa-times" aria-hidden="true"></i> @dateFilter</a></li>
                        }
                        </ul>
                    </li>
                    <li class="filter collapsible" id="date-filter">
                        <p class="filter-title">Date</p>
                        <ul class="filters-list">
                            @foreach (var eventFilter in dateCalculator.EventFilters)
                            {
                                <li class="@(currentUrl.MatchesQueryParam("daterange", eventFilter.Key) ? "active" : "")">
                                    <a href="@Url.RouteUrl(currentUrl.AddQueriesToUrl(new Dictionary<string, string> {{"datefrom", eventFilter.Value.DateFrom}, {"dateto", eventFilter.Value.DateTo}, {"daterange", eventFilter.Key}}))"> @eventFilter.Value.DateRange </a>
                                </li>
                            }
                            @{
                                if (FeatureToggles.EventCustomDateSearch)
                                {
                                    <li id="custom-filter-li" class="@(currentUrl.MatchesQueryParam("daterange", "customdate") ? "customdateactive" : "") filter collapsible">
                                        <a class="filter-title custom-date-title">Custom date</a>
                                        <ul class="filters-list custom-date">
                                            <li>
                                                <form action="/events" method="get">
                                                    <input type="hidden" name="DateRange" value="customdate" />
                                                    <input type="hidden" name="category" value="@categoryFilter" />
                                                    <div class="date-from">
                                                        <label asp-for="@Model.datefrom"></label>
                                                        <input id="datepickerfrom" type="date" class="date-from-picker" asp-for="@Model.datefrom" novalidate />
                                                        <span asp-validation-for="@Model.datefrom" class="form-field-validation-error"></span>
                                                    </div>
                                                    <div class="date-to">
                                                        <label asp-for="@Model.dateto"></label>
                                                        <input id="datepickerto" type="date" asp-for="@Model.dateto" novalidate />
                                                        <span asp-validation-for="@Model.dateto" class="form-field-validation-error"></span>
                                                    </div>
                                                    <div class="update-button">
                                                        <stock-button class="button-customdate">Update</stock-button>
                                                    </div>
                                                </form>
                                            </li>
                                        </ul>
                                    </li>
                                }
                            }         
                        </ul>
                    </li>
                    @if (Model.Categories.Any()) {
                        <li class="filter collapsible">
                            <p class="filter-title">Category</p>
                            <ul class="filters-list">
                                @foreach (var category in Model.Categories)
                                {
                                    <li class="@(currentUrl.MatchesQueryParam("category", category) ? "active" : "")">
                                        <a href="@Url.RouteUrl(currentUrl.AddQueriesToUrl(new Dictionary<string, string> {{"category", category}}))"> @category</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }              
                </ul>
                <p class="mobile-filter-heading filter-title">Filter Events</p>
            </li>
        </ul>
    </div>
    <div class="grid-70 tablet-grid-100 mobile-grid-100 events-article-grid">
        @if (!Model.Events.Any())
        {
            <div class="grid-100 events-article-not-found">
                <h2>No events found</h2>
            </div>
        }
        else
        {                   
            <ul class="nav-card-events-list grid-100">
                @{
                    DateTime previousEventDate = DateTime.MinValue;
                }
                @foreach (var subItem in Model.Events)
                {
                    <li class="grid-100 grid-parent nav-card-events nav-card-events-item">
                        @if (subItem.EventDate.Date == DateTime.Now.Date && subItem.EventDate.Date != previousEventDate)
                        {
                            <div>
                                <h2 class="event-by-date-header">Today</h2>
                            </div>
                        }
                        else if (subItem.EventDate.Date == DateTime.Now.AddDays(1).Date && subItem.EventDate.Date != previousEventDate)
                        {
                            <div >
                                <h2 class="event-by-date-header">Tomorrow</h2>
                            </div>
                        }
                        else if (subItem.EventDate.Date != previousEventDate)
                        {
                            <div>
                                <h2 class="event-by-date-header">@subItem.EventDate.ToString("dddd dd MMMM yyyy")</h2>
                            </div>
                        }
                        @{
                            previousEventDate = subItem.EventDate.Date;
                        }
                        <div class="events-bottom-border grid-100 grid-parent">
                            <a href="@Url.Action("Detail", "Events", new {slug = subItem.Slug, date = subItem.EventDate.ToString("yyyy-MM-dd")})">
                                @if (!string.IsNullOrEmpty(subItem.ThumbnailImageUrl))
                                {
                                    <div class="mobile-grid-35 tablet-grid-30 grid-30 grid-parent nav-card-events-thumbnail nav-card-events-thumbnail-background-image tablet-push-70 push-70" style="background-image: url(@subItem.ThumbnailImageUrl);"></div>
                                }
                                <div class="@(!string.IsNullOrEmpty(subItem.ThumbnailImageUrl) ? "mobile-grid-65 tablet-grid-70 nav-card-events-detail pull-30 tablet-pull-30" : "") grid-70 grid-parent">


                                    <h2 class="nav-card-events-title">@subItem.Title</h2>

                                    <div class="events-date hide-on-mobile">
                                        <i class="fa fa-clock-o"></i>@subItem.EventDate.ToString("dddd dd MMMM") @subItem.StartTime
                                    </div>
                                    <p class="hide-on-mobile nav-card-events-location">@Html.Raw(subItem.Location)</p>
                                    <p class="nav-card-events-fee">@subItem.Fee</p>
                                </div>
                            </a>
                        </div>
                    </li>
                }
            </ul>
        }
    </div>
</div>