@inject ViewHelpers ViewHelpers
@model Event
@if (Model is not null)
{
    string borderColourClass = (string)ViewData["BorderColourClass"] ?? string.Empty;
    
    <li class="navcard navcard--width-33 navcard event-card">
        <a href="/events/@Model.Slug" class="navcard__link event-card__link @borderColourClass" data-cy="event-card-link">
            <div class="navcard__content">
                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <div>
                        <img src="@Model.ImageUrl?w=730&q=89" class="navcard__image event-card__image"
                     srcset="@Model.ImageUrl?w=720&q=89&fm=webp 720w,
                            @Model.ImageUrl?w=294&q=89&fm=webp 294w,
                            @Model.ImageUrl?w=378&q=89&fm=webp 378w"
                     sizes="(max-width: 767px) 720px,
                            ((min-width: 768px) and (max-width: 1023px)) 294px,
                            (min-width: 1024px) 378px"
                     loading="lazy" alt="" height="215" width="350">
                    </div>
                }

                <div class="event-card--padding">
                    <h3 class="navcard__title">@Model.Title</h3>
                    <p class="navcard__teaser">@ViewHelpers.FormatEventDate(Model.EventDate, Model.StartTime)</p>
                    <p class="navcard__teaser">@Model.Teaser</p> 
                    <p class="navcard__teaser"><strong>@Model.Location</strong></p>
                </div>
            </div>
        </a>
    </li>
}