@model  StockportWebapp.Models.Event
@using StockportWebapp.Utils
@inject ViewHelpers ViewHelpers

@{
    var fee = Model.Fee;
    if (Model.Fee == "0")
    {
        fee = "Free";

    }
}

<a href="/events/@Model.Slug" class="event-item">
    <img src="@Model.ImageUrl" />
    <h3>@Model.Title</h3>
    <div class="featured-event-item">
        <span class="fa fa-gbp"></span><p>@fee</p>
        <span class="fa fa-clock-o"></span><p>@ViewHelpers.FormatEventDate(Model.EventDate, Model.StartTime)</p>
        <span class="fa fa-map-marker"></span><p>@Model.Location</p>
    </div>
</a>