@model SpotlightOnBanner

<div class="featured-item section__content" data-cy="featured-item">
    <a href="@Model.Link" class="featured-item__link" data-cy="featured-item-link">

        <img srcset="@Model.Image?w=720&q=89 720w,
                            @Model.Image?w=937&q=89 937w,
                            @Model.Image?w=452&q=89 452w"
             sizes="(max-width: 767px) 720px,
                            ((min-width: 768px) and (max-width: 1023px)) 937px,
                            (min-width: 1024px) 452px"
             src="@Model.Image?w=937&q=89" loading="lazy" alt="" height="300" width="500"
             class="featured-item__image"
             loading="lazy"
             alt="@Model.AltText"
             width="433"
             height="293">

@*        <img srcset="@Model.Image?w=452&q=89 452w,
                     @Model.Image?w=915&q=89 915w,
                     @Model.Image?w=1200&q=89 1200w"
            sizes="(max-width: 1023px) calc(100vw - 68.4px), 100vw"
            src="@Model.Image?w=452&q=89"
            class="featured-item__image"
            loading="lazy"
            alt="@Model.AltText"
            width="433"
            height="293">*@
        
        <div class="featured-item-content">
            <div class="featured-item-wrapper">
                <h3 class="featured-item__title featured-item__title--padded-bottom">@Model.Title</h3>
                <p class="featured-item-content__teaser">@Model.Teaser</p>
            </div>
            <div class="featured-item-content-last-updated"> 
                <partial name="FormattedDate" model='Model.LastUpdated' />
            </div>
        </div>
    </a>
</div>