@model IEnumerable<StockportWebapp.Models.SubItem>

<div id="content" class="task-block-list uitest-task-block-list-loaded">
    <div class="grid-container tablet-grid-100 mobile-grid-100 grid-parent">

            @{
                var count = 1;
                if (Model != null)
                {
                    <div class="task-block-container uitest-task-block-loaded">
                        @foreach (var subItem in Model)
                        {
                            <a href="@subItem.NavigationLink" class="task-block @(count == 1 ? "first" : "") @(count == Model.Count() ? "last" : "")" id="task-block-@count">
                                <div class="icon">
                                    <i class="@subItem.Icon si-default"></i>
                                </div>
                                <div class="title">
                                    <div class="task-title uitest-task-title">@subItem.Title</div>
                                </div>
                            </a>
                            count++;
                        }
                    </div>
                }
            }

    </div>
</div>