@model LandingPageViewModel
@if (Model is not null && !string.IsNullOrEmpty(Model.LandingPage.HeaderImage.Url))
{
    <section class="full-header" data-cy="full-image-header">
        <div class="full-header__background" style="background-image: url(@Model.LandingPage.HeaderImage.Url?fm=webp)"></div>

        <div class="grid-container">
            <div class="grid-100">
                <div class="full-header__content">
                    <h1 class="full-header__title">@Model.LandingPage.Title</h1>
                    <p class="full-header__subtitle">@Model.LandingPage.Subtitle</p>
                </div>

                @* ToDo: refactor this logic into a method to keep the view clean - in the LandingPageViewModel perhaps *@
                @{
                    string headerHighlightType = string.Empty;
                    // if the first component on the page is a HeaderHighlight, check the second component to determine the header highlight type
                    @if (Model.LandingPage.PageSections is not null 
                        && Model.LandingPage.PageSections.Any() 
                        && Model.LandingPage.PageSections.FirstOrDefault().ContentType.Equals("HeaderHighlight"))
                    {
                        ContentBlock secondComponentOnPage = Model.LandingPage.PageSections?.Skip(1).FirstOrDefault();
                        string secondComponentOnPageType = secondComponentOnPage?.ContentType;
                        
                        @if (secondComponentOnPage is not null && secondComponentOnPageType.Equals("ImageBannerScreenWidth")
                            || secondComponentOnPageType.Equals("ImageDividerScreenWidth")
                            || secondComponentOnPageType.Equals("StatementBannerScreenWidth")
                            || secondComponentOnPageType.Equals("TriviaBanner"))
                        {
                            headerHighlightType = "header-highlight--full-width";
                        }
                        else
                        {
                            headerHighlightType = "header-highlight--30-width";
                        }
                    }
                    // if the first component on the page is not a HeaderHighlight, but a HeaderHighlight exists, check the first component to determine the header highlight type
                    else if (Model.LandingPage.PageSections is not null 
                        && Model.LandingPage.PageSections.Any() 
                        && Model.LandingPage.PageSections.Any(pageSection => pageSection.ContentType.Equals("HeaderHighlight")))
                    {
                        ContentBlock firstComponentOnPage = Model.LandingPage.PageSections?.FirstOrDefault();
                        string firstComponentOnPageType = firstComponentOnPage?.ContentType;
                        
                        @if (firstComponentOnPage is not null && firstComponentOnPageType.Equals("ImageBannerScreenWidth")
                            || firstComponentOnPageType.Equals("ImageDividerScreenWidth")
                            || firstComponentOnPageType.Equals("StatementBannerScreenWidth")
                            || firstComponentOnPageType.Equals("TriviaBanner"))
                        {
                            headerHighlightType = "header-highlight--full-width";
                        }
                        else
                        {
                            headerHighlightType = "header-highlight--30-width";
                        }
                    }
                }
                
                <partial name="HeaderHighlight" model="@Model.LandingPage.PageSections.Where(pageSection => pageSection.ContentType.Equals("HeaderHighlight")).FirstOrDefault()" view-data='@(new ViewDataDictionary(ViewData) { {"headerHighlightType", headerHighlightType }, {"hide-on-mobile", true} })' />
            </div>
        </div>
    </section>

    <div class="grid-container">
        <div class="grid-100">
            <partial name="HeaderHighlight" model="@Model.LandingPage.PageSections.Where(pageSection => pageSection.ContentType.Equals("HeaderHighlight")).FirstOrDefault()" view-data='@(new ViewDataDictionary(ViewData) { {"headerHighlightType", headerHighlightType }, {"hide-on-mobile", false} })' />
        </div>
    </div>
}