@model PageHeaderViewModel

@if (Model is not null && !string.IsNullOrEmpty(Model.HeaderImageUrl))
{
    string additionalCssClass = ViewData["additionalCssClass"] as string ?? string.Empty;

    <section class="full-header" data-cy="full-image-header">
        <div class="full-header__background @additionalCssClass"
             style="background-image: url(@Model.HeaderImageUrl?fm=webp)">
        </div>

        <div class="grid-container">
            <div class="grid-100 full-header__content-wrapper">
                <div class="full-header__content">
                    <h1 class="full-header__title">@Model.Title</h1>

                    @if (!string.IsNullOrEmpty(Model.Subtitle))
                    {
                        <p class="@(Model.IsPublication ? "lead full-header__subtitle--publication" : "full-header__subtitle")">@Model.Subtitle</p>
                    }
                    
                    @if(Model.DisplayDatePublished)
                    {
                        <p class="full-header__date">
                            Published: @Model.DatePublished.ToString("d MMMM yyyy")
                        </p>
                    }

                    @if(Model.DisplayLastUpdated)
                    {
                        <p class="full-header__date">
                            Review date: @Model.UpdatedAt.ToString("d MMMM yyyy")
                        </p>
                    }
                </div>

                <partial name="HeaderHighlight" model="Model.HeaderHighlight"
                         view-data='@(new ViewDataDictionary(ViewData) { { "headerHighlightType", Model.HeaderHighlightType }, { "hide-on-mobile", true } })' />
            </div>
        </div>
    </section>

    <div class="grid-container">
        <div class="grid-100">
            <partial name="HeaderHighlight" model="Model.HeaderHighlight"
                    view-data='@(new ViewDataDictionary(ViewData) { { "headerHighlightType", Model.HeaderHighlightType }, { "hide-on-mobile", false } })' />
        </div>
    </div>
}