@model IEnumerable<StockportWebapp.Models.GenericFeaturedItem>
@{
    var count = 0;
    foreach (var item in Model)
    {
        count++;
        <div class="grid-20 tablet-grid-20 mobile-grid-25 featured-topic matchbox-child @(count > 4 ? "hide-on-mobile" : string.Empty)">
    
                <div class="featured-topic-content">
                    <a class="featured-topic-link" href="@item.Url">
                        <div class="featured-topic-icon">
                            <i class="@item.Icon si-default"></i>
                        </div>
                        <div class="featured-topic-name">@item.Title</div>
                    </a>
                    @if (item.SubItems != null && item.SubItems.Any())
                    {
                    <p class="hide-on-mobile hide-on-tablet featured-topic-description">
                        Including 
                        @foreach (var subItem in item.SubItems.Take(2))
                        {
                            <br />
                            <a href="@subItem.Url">@subItem.Title</a>
                        }
                    </p>
                    }
                </div>
        </div>
    }
}