@inject ICookiesHelper CookiesHelper
@model Alert
@{
    List<string> alertCookies = CookiesHelper.GetCookies<Alert>("alerts");
    bool isDismissed = alertCookies is not null && alertCookies.Contains(Model.Slug) && !Model.IsStatic;
    string alertSeverity = Model.Severity.ToLowerInvariant();
    string alertType = ViewData["AlertType"] is not null ? $"{ViewData["AlertType"]}-alert-{alertSeverity}" : "";
}

@if (!isDismissed)
{
    <div class="global-alert-@alertSeverity @alertType" data-cy="global-alert-wrapper">
        <div class="grid-container">
            <div class="grid-100 global-alert-container">
                <div class="global-alert">
                    <div class="hide-on-mobile hide-on-tablet global-alert-icon global-alert-icon-@alertSeverity h-ml" data-cy="alert-icon">
                        <span></span>
                    </div>

                    <div class="grid-80 mobile-grid-95 global-alert-text-container">
                        <div class="global-alert-text-@alertSeverity">
                            <h2 class="h-m">@Model.Title</h2>
                            <br>
                            @Html.Raw(Model.Body)
                        </div>
                    </div>

                    @if (!Model.IsStatic)
                    {
                        <div class="global-alert-close-container">
                            <a href="javascript:void(0)" title="Close @Model.Title alert" class="close-alert" aria-label="Close @Model.Title alert" data-slug="@Model.Slug" data-parent="global-alert-@Model.Severity.ToLowerInvariant()" data-cy="global-alert">
                                <div class="global-alert-close-@alertSeverity">
                                    <span></span>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}