@using StockportWebapp.FeatureToggling
@using StockportWebapp.Extensions
@using StockportWebapp.Models
@inject FeatureToggles FeatureToggles
@model StockportWebapp.ViewModels.GroupDetailsViewModel

@{
    ViewData["Title"] = @Model.Group.Name;
    ViewData["og:title"] = @Model.Group.Name;
    Layout = "../Shared/_Layout.cshtml";

    var socialLinksExtension = new SocialLinksExtension();
    string facebook = string.Empty;
    string twitter = string.Empty;
    var test = string.Empty;

    if (!string.IsNullOrEmpty(Model.Group.Facebook))
    {
        facebook = socialLinksExtension.GetSubstring(Model.Group.Facebook);
    }
    if (!string.IsNullOrEmpty(Model.Group.Twitter))
    {
        twitter = socialLinksExtension.GetSubstring(Model.Group.Twitter);
    }
}

<div class="hide-on-mobile grid-100 tablet-grid-100 grid-parent favourites-container">
    @Html.Partial("FavouritesBar")
</div>
<div class="mobile-grid-100 hide-on-tablet hide-on-desktop grid-parent favourites-container">
    @Html.Partial("FavouritesBar")
</div>
<article aria-label="@Model.Group.Name content" class="grid-container group-detail">
    <div class="grid-75 tablet-grid-100 mobile-grid-100">
        <h1 tabindex="-1" id="content" class="group-article-title">@Model.Group.Name</h1>
        <section>
            @if (!string.IsNullOrEmpty(Model.Group.ImageUrl))
            {
                <div class="group-image">
                    <img src="@Model.Group.ImageUrl" alt="Group image">
                </div>
            }

            <div id="remove-favourite-@Model.Group.Slug" class="add-remove-favourite hide-on-desktop @(Model.Group.Favourite ? "hidden" : "")">
                <i class="fa fa-star fa-2x"></i>
                <a data-slug="@Model.Group.Slug" class="remove-favourite" data-type="group" href="@($"/favourites/nojs/remove?slug={Model.Group.Slug}&type=group")">Remove from favourites</a>
            </div>

            <div id="add-favourite-@Model.Group.Slug" class="add-remove-favourite hide-on-desktop @(!Model.Group.Favourite ? "hidden" : "")">
                <i class=" fa fa-star-o fa-2x"></i>
                <a data-slug="@Model.Group.Slug" class="add-favourite" data-type="group" href="@($"/favourites/nojs/add?slug={Model.Group.Slug}&type=group")">Add to favourites </a>
            </div>

            <h2>About us</h2>
            <ul class="group-information">
                @if (!string.IsNullOrEmpty(Model.Group.Address))
                {
                    <li>
                        <i class="fa fa-map-marker fa-2x group-details-symbol"></i>
                        <div>
                            <p><b>Location</b></p>
                            @if (!string.IsNullOrEmpty(Model.Group.Address))
                            {
                                <p>@Html.Raw(Model.Group.Address)</p>
                            }
                            else
                            {
                                <text>&nbsp;</text>
                            }
                        </div>

                    </li>
                }
                @if (!string.IsNullOrEmpty(Model.Group.CostText))
                {
                    <li>
                        <i class="fa fa-gbp fa-2x group-details-symbol"></i>
                        <div>
                            <p><b>Cost</b></p>
                            @if (!string.IsNullOrEmpty(Model.Group.CostText))
                            {
                                <p>@string.Join(", ", Model.Group.Cost.ToArray())</p>
                            }

                        </div>
                    </li>
                }
                @if (!string.IsNullOrEmpty(Model.Group.Organisation.Title))
                {
                    <li>
                        <i class="fa  fa-heart fa-2x group-details-symbol"></i>
                        <div>
                            <p><b>Supported by</b></p>
                            @if (!string.IsNullOrEmpty(Model.Group.Organisation.Title))
                            {
                                <p><a href="/organisations/@Model.Group.Organisation.Slug">@Model.Group.Organisation.Title</a> </p>
                            }
                        </div>
                    </li>
                }
            </ul>
        </section>
        <section>
            <h2 class="group-details-heading">What we do</h2>
            @Html.Raw(Model.Group.Description.StripEmojis())

            @if (Model.ShouldShowAdditionalInformation)
            {
                <a name="info"></a>
                <h3 class="group-details-heading">Additional Information</h3>
                @Html.Raw(Model.Group.AdditionalInformation);
                foreach (Document document in Model.Group.AdditionalDocuments)
                {
                    @Html.Partial("Document", document);
                }
            }

            @Html.Partial("Groups/VolunteeringBar", Model.Group.Volunteering)
            @Html.Partial("Groups/DonationsBar", Model.Group.Donations)
            <hr />
        </section>
        <section>
            <h2>Contact us</h2>
            <ul class="group-information">
                @if (!string.IsNullOrEmpty(Model.Group.Website))
                {
                    <li>
                        <i class="fa fa-laptop fa-2x group-details-symbol"></i>
                        <div>
                            <p><b>Website</b></p>
                            <a href="@Model.Group.Website"> @Model.Group.Website</a>
                        </div>

                    </li>
                }
                @if (!string.IsNullOrEmpty(Model.Group.Email))
                {
                    <li>
                        <i class="fa fa-envelope fa-2x group-details-symbol"></i>
                        <div>
                            <p><b>Email</b></p>
                            <a href="mailto:@Model.Group.Email">@Model.Group.Email</a>
                        </div>

                    </li>
                }
                @if (!string.IsNullOrEmpty(Model.Group.PhoneNumber))
                {
                    <li>
                        <i class="fa fa-phone-square fa-2x group-details-symbol"></i>
                        <div>
                            <p><b>Telephone</b></p>
                            <a href="@Model.Group.PhoneNumber">@Model.Group.PhoneNumber</a>
                        </div>

                    </li>
                }
                @if (!string.IsNullOrEmpty(Model.Group.Facebook))
                {
                    <li>
                        <i class="fa fa-facebook-square fa-2x group-details-symbol"></i>
                        <div>
                            <p><b>Facebook</b></p>
                            <a class="hide-on-pdf" href="@Model.Group.Facebook">@facebook</a>
                        </div>

                    </li>
                }
                @if (!string.IsNullOrEmpty(Model.Group.Twitter))
                {
                    <li>
                        <i class="fa fa-twitter-square fa-2x group-details-symbol"></i>
                        <div>
                            <p><b>Twitter</b></p>
                            <a class="hide-on-pdf" href="http://@Model.Group.Twitter">@twitter</a>
                        </div>

                    </li>
                }
            </ul>
        </section>
        @if (Model.Group.MapDetails.MapPosition != null && Model.Group.MapDetails.MapPosition.Lat != 0.0 && Model.Group.MapDetails.MapPosition.Lon != 0.0)
        {
            <section class="group-map-container group-map-container-padding">
                <h2 class="group-details-heading">How to find us</h2>
                @Html.Partial("MapPosition", Model.Group.MapDetails)
            </section>
        }

        @if (Model.Group.Events != null && Model.Group.Events.Any())
        {
            <section class="upcoming-events-container hide-on-mobile hide-on-mobile">    
            @Html.Partial("Events/EventCards", Model.Group.Events.Take(3).ToList())
            </section>

            <section id="shareThis" class="sharethis">
                @Html.Partial("SharePrintThis", new Tuple<string, string>("groups", Model.Group.Slug))
                <p> <b>Disclaimer :</b> The content on this page has been not created by Stockport Council. for more information read thefull. <a href="www.google.com">Stockport local disclaimer </a></p>
            </section>
        }
    </div>
</article>