@using StockportWebapp.FeatureToggling
@using StockportWebapp.Extensions
@using StockportWebapp.Models
@inject FeatureToggles FeatureToggles
@model StockportWebapp.ViewModels.GroupDetailsViewModel

@{

    var socialLinksExtension = new SocialLinksExtension();
    string facebook = string.Empty;
    string twitter = string.Empty;
    var test = string.Empty;

    if (!string.IsNullOrEmpty(Model.Group.Facebook))
    {
        facebook = socialLinksExtension.GetSubstring(Model.Group.Facebook);
    }
    if (!string.IsNullOrEmpty(Model.Group.Twitter))
    {
        twitter = socialLinksExtension.GetSubstring(Model.Group.Twitter);
    }
}

@section Breadcrumbs {
    <partial name="Breadcrumb" model='new List<Crumb> { new Crumb("Stockport Local", "groups", "groups") }'/>
}

@Html.HiddenFor(_ => _.ConfirmedUpToDate)
<div class="hide-on-mobile grid-100 tablet-grid-100 grid-parent favourites-container">
    <partial name="FavouritesBar" />
</div>
<div class="mobile-grid-100 hide-on-tablet hide-on-desktop grid-parent favourites-container">
    <partial name="FavouritesBar" />
</div>
<article aria-label="@Model.Group.Name content" class="grid-container group-detail">
<div class="grid-70 tablet-grid-100 mobile-grid-100 main-content">
    <h1 tabindex="-1" id="content" class="group-article-title">@Model.Group.Name</h1>
    

    <section>
        @if (!string.IsNullOrEmpty(Model.Group.ImageUrl))
        {
            <div class="group-image">
                <img src="@Model.Group.ImageUrl" alt="Group image">
            </div>
        }
        <section class="hide-on-desktop mobile-grid-100 tablet-grid-100">
            <partial name="Events/ManageFavouritesCard" model='Model.Group'/>
        </section>
    </section>
    @if (Model.ShouldShowAdditionalInformation)
    {
        <section class="additional-information">
            <h2>Additional Information</h2>
            @Html.Raw(Model.Group.AdditionalInformation)
            @foreach (Document document in Model.Group.AdditionalDocuments)
            {
                <partial name="Document" model='document'/>
            }
        </section>
    }
    <section>
        <hr class="hide-on-desktop">
        <h2>About us</h2>
        <ul class="group-information">
            @if (!string.IsNullOrEmpty(Model.Group.Address))
            {
                <li>
                    <i class="fa fa-map-marker fa-2x group-details-symbol" aria-hidden="true"></i>
                    <div>
                        <p><b>Location</b></p>
                        @if (!string.IsNullOrEmpty(Model.Group.Address))
                        {
                            <p>@Html.Raw(Model.Group.Address)</p>
                        }
                        else
                        {
                            <text>&nbsp;</text>
                        }
                    </div>

                </li>
            }
            @if (!string.IsNullOrEmpty(Model.Group.CostText))
            {
                <li>
                    <i class="fa fa-gbp fa-2x group-details-symbol" aria-hidden="true"></i>
                    <div>
                        <p><b>Cost</b></p>
                        @if (!string.IsNullOrEmpty(Model.Group.CostText))
                        {
                            <p>@string.Join(", ", Model.Group.Cost.ToArray())</p>
                        }

                    </div>
                </li>
            }
            @if (!string.IsNullOrEmpty(Model.Group.Organisation.Title))
            {
                <li>
                    <i class="fa  fa-heart fa-2x group-details-symbol" aria-hidden="true"></i>
                    <div>
                        <p><b>Supported by</b></p>
                        @if (!string.IsNullOrEmpty(Model.Group.Organisation.Title))
                        {
                            <p><a href="/organisations/@Model.Group.Organisation.Slug">@Model.Group.Organisation.Title</a> </p>
                        }
                    </div>
                </li>
            }
        </ul>
    </section>
    

    <section>
        <h2 class="group-details-heading">What we do</h2>
        @Html.Raw(Model.Group.Description.StripEmojis())

        

        <partial name="Groups/VolunteeringBar" model='Model.Group.Volunteering'/>
        <partial name="Groups/DonationsBar" model='Model.Group.Donations'/>
        <hr />
    </section>
    <section>
        <h2>Contact us</h2>
        <ul class="group-information">
            @if (!string.IsNullOrEmpty(Model.Group.Website))
            {
                <li>
                    <i class="fa fa-laptop fa-2x group-details-symbol" aria-hidden="true"></i>
                    <div>
                        <p><b>Website</b></p>
                        <a href="@Model.Group.Website"> @Model.Group.Website</a>
                    </div>

                </li>
            }
            @if (!string.IsNullOrEmpty(Model.Group.Email))
            {
                <li>
                    <i class="fa fa-envelope fa-2x group-details-symbol" aria-hidden="true"></i>
                    <div>
                        <p><b>Email</b></p>
                        <a href="mailto:@Model.Group.Email">@Model.Group.Email</a>
                    </div>

                </li>
            }
            @if (!string.IsNullOrEmpty(Model.Group.PhoneNumber))
            {
                <li>
                    <i class="fa fa-phone-square fa-2x group-details-symbol" aria-hidden="true"></i>
                    <div>
                        <p><b>Telephone</b></p>
                        @Model.Group.PhoneNumber
                    </div>

                </li>
            }
            @if (!string.IsNullOrEmpty(Model.Group.Facebook))
            {
                <li>
                    <i class="fa fa-facebook-square fa-2x group-details-symbol" aria-hidden="true"></i>
                    <div>
                        <p><b>Facebook</b></p>
                        <a class="hide-on-pdf" href="@Model.Group.Facebook">@facebook</a>
                    </div>

                </li>
            }
            @if (!string.IsNullOrEmpty(Model.Group.Twitter))
            {
                <li>
                    <i class="fa fa-twitter-square fa-2x group-details-symbol" aria-hidden="true"></i>
                    <div>
                        <p><b>Twitter</b></p>
                        <a class="hide-on-pdf" href="@Model.Group.Twitter">@twitter</a>
                    </div>

                </li>
            }
        </ul>
    </section>
    @if (Model.Group.MapDetails.MapPosition != null && Model.Group.MapDetails.MapPosition.Lat != 0.0 && Model.Group.MapDetails.MapPosition.Lon != 0.0)
    {
            
        <div class="group-map-container group-map-container-padding">
            <h2 class="group-details-heading">How to find us</h2>
            <partial name="MapPosition" model='Model.Group.MapDetails'/>
        </div>
    }

    @if (Model.Group.Events != null && Model.Group.Events.Any())
    {
        <div class="upcoming-events-container hide-on-mobile ">
            <partial name="Events/EventCards" model='Model.Group.Events.Take(3).ToList()'/>
        </div>

        
    }
    <div id="shareThis" class="sharethis">
        <partial name="GroupLastUpdated" model='Model.Group'/>
        <partial name="SharePrintThis" model='new Tuple<string, string>("groups", Model.Group.Slug)'/>
    </div>
    <partial name="ContentDisclaimerCard" />

</div>
<aside class="grid-30 hide-on-print">
    <h2 >More about this group</h2>
    <hr class="hide-on-mobile" />
    <section class="group-information-section grid-100 mobile-grid-100">
        <div class="hide-on-mobile">
            <partial name="Events/ManageFavouritesCard" model='Model.Group'/>
        </div>
        <div class="add-remove-favourite sidebar-links">
            <i class="fa fa-flag-o fa-lg" aria-hidden="true"></i>
            <a href="/groups/@Model.Group.Slug/report-group-info?groupname=@Model.Group.Name">Report this page as inappropriate</a>
        </div>
        @if (!Model.ShouldShowAdminOptions && Model.IsLoggedIn)
        {
            <div class="sidebar-links">
                <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                <a href="/groups/@Model.Group.Slug/change-group-info?groupname=@Model.Group.Name">Let us know about a change to this group or service.</a>
            </div>
        }
    </section>
       
    <section class="grid-100 tablet-grid-100 mobile-grid-100 group-information-section">
        <h3>Manage your group information</h3>
        <hr/>
        @if (Model.IsLoggedIn && Model.ShouldShowAdminOptions)
        {
            if (DateTimeOffset.Now.AddDays(-Model.DaysTillStale) >= Model.Group.DateLastModified)
            {
                <p>Let us know if the information on this page is still up to date - your page might be automatically archived if you don't.</p>
               
                using (Html.BeginForm("GroupUpToDate", "Groups", new {slug = Model.Group.Slug}))
                {
                    <stock-button  id="upToDateButton" class="manage-group-button sidebar-button upToDate">It's up to date</stock-button>
                }

                <stock-button class="manage-group-button sidebar-button" as-link="true" href="/groups/manage/@Model.Group.Slug">Make a change to this page</stock-button>
            }

            else if (Model.ConfirmedUpToDate)
            {
                <p>Let us know if the information on this page is still up to date - your page might be automatically archived if you don't.</p>
                <div class="thank-you-message">
                    <i class="fa fa-check events-details-symbol" aria-hidden="true"></i>
                    Thanks for letting us know
                </div>
                <stock-button class="manage-group-button sidebar-button" as-link="true" href="/groups/manage/@Model.Group.Slug">Make a change to this page</stock-button>

            }
            else
            {
                <p>If any of this group's information has changed then make sure you let people know by updating this page. </p>
                <stock-button class="manage-group-button sidebar-button" as-link="true" href="/groups/manage/@Model.Group.Slug">Make a change to this page</stock-button>
                     
                <p>If you have other groups, you can make changes to your information, events and more.</p>
                <stock-button class="manage-group-button sidebar-button"  href="/groups/manage" as-link="true">Manage your groups</stock-button>
            }
        }
        else if (Model.IsLoggedIn)
        {
            <p>Make changes to your information, events and more.</p>
            <stock-button  class="manage-group-button sidebar-button disabled" as-link="true" href="/groups/manage" >Manage your groups</stock-button>
        }
        else
        {
            <p>Sign up or login to keep this page's information up to date.</p>
            <p>If you aren't involved in this group or service, you can still <a href="/groups/@Model.Group.Slug/change-group-info?groupname=@Model.Group.Name">let us know about a change</a> to this group or service.</p>
            <stock-button class="manage-group-button sidebar-button" as-link="true" href="/groups/manage">Sign up or login</stock-button>
        }
    </section>
</aside>
</article>


<script type="text/javascript">
    require(['carousel'],
        function (carousel) {
            carousel.Init();
        })
</script>