@using System.Security.Cryptography.X509Certificates
@using StockportWebapp.FeatureToggling
@using StockportWebapp.Extensions
@inject FeatureToggles FeatureToggles
@model StockportWebapp.ProcessedModels.ProcessedGroup


@{
    var socialLinksExtension = new SocialLinksExtension();
    string facebook = string.Empty;
    string twitter = string.Empty;
    var test = string.Empty;

    if (!string.IsNullOrEmpty(Model.Facebook))
    {
        facebook = socialLinksExtension.GetSubstring(Model.Facebook);
    }
    if (!string.IsNullOrEmpty(Model.Twitter))
    {
        twitter = socialLinksExtension.GetSubstring(Model.Twitter);
    }  

}

<div class="grid-container-full-width">
    <div class="grid-container remove-edges-for-pdf grid-100">
        <div class="l-body-section-filled l-article-content mobile-grid-100 tablet-grid-100 grid-100">            
            <section aria-label="@Model.Name content">  
                <a class="hidden display-on-pdf" href="@Model.Slug">@Model.Slug</a>
                <div class="l-content-container grid-100 group-margin">
                    <h1 class="group-article-title">@Model.Name</h1>
                    <div class="grid-100 tablet-grid-100 mobile-grid-100 group-calender-container">
                        @if (!string.IsNullOrEmpty(Model.ImageUrl))
                        {
                            <div class="group-calender-container-image hide-on-desktop" style="background-size: cover; background-position: center; background-image: url(@Model.ImageUrl);"> </div>
                        }
                        <div class="grid-60 tablet-grid-100 mobile-grid-100 group-calender-container-description">
                            <ul class="group-ul">
                                <li class="group-details">
                                    <div class="grid-10 mobile-grid-15 tablet-grid-10 group-details-symbol-containter">
                                        <i class="fa fa-map-marker fa-2x group-details-symbol"></i>
                                    </div>
                                    <div class="grid-90 mobile-grid-85 tablet-grid-90 group-details-content">
                                        <div class="group-details-heading">Location</div>
                                        @if (!string.IsNullOrEmpty(Model.Address))
                                        {
                                            @Html.Raw(Model.Address)
                                        }
                                        else
                                        {
                                            <text>&nbsp;</text>
                                        }
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                @if (!string.IsNullOrEmpty(Model.Cost))
                                {
                                    var cost = Model.Cost;
                                    cost = cost == "Paid" && !string.IsNullOrEmpty(Model.CostText) ? Model.CostText : cost;
                                    <li class="group-details">
                                        <div class="grid-10 mobile-grid-15 tablet-grid-10 group-details-symbol-containter">
                                            <i class="fa fa-gbp fa-2x group-details-symbol"></i>
                                        </div>
                                        <div class="grid-90 mobile-grid-85 tablet-grid-90 group-details-content">
                                            <div class="group-details-heading">Cost</div>
                                            @cost
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                }
                                @if (!string.IsNullOrEmpty(Model.AbilityLevel))
                                {
                                    <li class="group-details">
                                        <div class="grid-10 mobile-grid-15 tablet-grid-10 group-details-symbol-containter">
                                            <i class="fa fa-star fa-2x group-details-symbol"></i>
                                        </div>
                                        <div class="grid-90 mobile-grid-85 tablet-grid-90 group-details-content">
                                            <div class="group-details-heading">Skill</div>
                                            @Model.AbilityLevel
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                }

                                <li class="group-details">
                                    <div class="grid-10 mobile-grid-15 tablet-grid-10 group-details-symbol-containter">
                                        <i class="fa fa-envelope fa-2x group-details-symbol"></i>
                                    </div>
                                    <div class="grid-90 mobile-grid-85 tablet-grid-90 group-details-content">
                                        <div class="group-details-heading">
                                            Email
                                        </div>
                                        @if (!string.IsNullOrEmpty(Model.Email))
                                        {
                                            <a href="mailto:@Model.Email">@Model.Email</a>
                                        }
                                        else
                                        {
                                            <text>&nbsp;</text>
                                        }
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li class="group-details">
                                    <div class="grid-10 mobile-grid-15 tablet-grid-10 group-details-symbol-containter">
                                        <i class="fa fa-phone fa-2x group-details-symbol"></i>
                                    </div>
                                    <div class="grid-90 mobile-grid-85 tablet-grid-90 group-details-content">
                                        <div class="group-details-heading">
                                            Telephone
                                        </div>
                                        @if (!string.IsNullOrEmpty(Model.PhoneNumber))
                                        {
                                            @Model.PhoneNumber
                                        }
                                        else
                                        {
                                            <text>&nbsp;</text>
                                        }
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li class="group-details">
                                    <div class="grid-10 mobile-grid-15 tablet-grid-10 group-details-symbol-containter">
                                        <i class="fa fa-laptop fa-2x group-details-symbol"></i>
                                    </div>
                                    <div class="grid-90 mobile-grid-85 tablet-grid-90 group-details-content">
                                        <div class="group-details-heading">
                                            Website
                                        </div>
                                        <div class="group-details-heading">
                                        </div>
                                        @if (!string.IsNullOrEmpty(Model.Website))
                                        {
                                            if (Model.Website.StartsWith("http://") || Model.Website.StartsWith("https://"))
                                            {
                                                <a href="@Model.Website">@Model.Website</a>
                                            }
                                            else
                                            {
                                                <a href="http://@Model.Website">@Model.Website</a>
                                            }

                                        }
                                        else
                                        {
                                            <text>&nbsp;</text>
                                        }
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                @if (!string.IsNullOrEmpty(Model.Facebook))
                                {
                                    <li class="group-details">
                                        <div class="grid-10 mobile-grid-15 tablet-grid-10 group-details-symbol-containter">
                                            <i class="fa fa-facebook fa-2x group-details-symbol"></i>
                                        </div>
                                        <div class="grid-90 mobile-grid-85 tablet-grid-90 group-details-content">
                                            <div class="group-details-heading">
                                                Facebook
                                            </div>
                                            <div class="group-details-heading">
                                            </div>
                                            @if (!string.IsNullOrEmpty(Model.Facebook))
                                            {
                                                if (Model.Facebook.ToLower().StartsWith("http://") || Model.Facebook.ToLower().StartsWith("https://"))
                                                {
                                                    <a class="hide-on-pdf" href="@Model.Facebook">@facebook</a>
                                                    <a class="hidden display-on-pdf" href="@Model.Facebook">@Model.Facebook</a>
                                                }
                                                else
                                                {
                                                    <a class="hide-on-pdf" href="http://@Model.Facebook">@facebook</a>
                                                    <a class="hidden display-on-pdf" href="http://@Model.Facebook">http://@Model.Facebook</a>
                                                }
                                            }
                                            else
                                            {
                                                <text>&nbsp;</text>
                                            }
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                }
                                @if (!string.IsNullOrEmpty(Model.Twitter))
                                {
                                    <li class="group-details">
                                        <div class="grid-10 mobile-grid-15 tablet-grid-10 group-details-symbol-containter">
                                            <i class="fa fa-twitter fa-2x group-details-symbol"></i>
                                        </div>
                                        <div class="grid-90 mobile-grid-85 tablet-grid-90 group-details-content">
                                            <div class="group-details-heading">
                                                Twitter
                                            </div>
                                            <div class="group-details-heading">
                                            </div>
                                            @if (!string.IsNullOrEmpty(Model.Twitter))
                                            {
                                                if (Model.Twitter.ToLower().StartsWith("http://") || Model.Twitter.ToLower().StartsWith("https://"))
                                                {
                                                    <a class="hide-on-pdf" href="@Model.Twitter">@twitter</a>
                                                    <a class="hidden display-on-pdf" href="@Model.Twitter">@twitter</a>
                                                }
                                                else
                                                {
                                                    <a class="hide-on-pdf" href="http://@Model.Twitter">@twitter</a>
                                                    <a class="hidden display-on-pdf" href="http://@Model.Twitter">http://@Model.Twitter</a>
                                                }
                                            }
                                            else
                                            {
                                                <text>&nbsp;</text>
                                            }
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                }
                                 @if (!string.IsNullOrEmpty(Model.Organisation.Title))
                                {
                                    <li class="group-details">
                                        <div class="grid-10 mobile-grid-15 tablet-grid-10 group-details-symbol-containter">
                                            <i class="fa  fa-heart fa-2x group-details-symbol"></i>
                                        </div>
                                        <div class="grid-90 mobile-grid-85 tablet-grid-90 group-details-content">
                                            <div class="group-details-heading">
                                                Provided by
                                            </div>
                                            <div class="group-details-heading"></div>
                                            <a href="/organisations/@Model.Organisation.Slug">
                                                @Model.Organisation.Title
                                            </a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                }
                                @if (FeatureToggles.GroupFavourites)
                                {
                                    <li id="remove-favourite-@Model.Slug" class="group-details @(!Model.Favourite ? "hidden" : "")">
                                        <div class="grid-10 mobile-grid-15 tablet-grid-10 group-details-symbol-containter">
                                            <i class="fa fa-star fa-2x group-details-symbol"></i>
                                        </div>
                                        <div class="grid-90 mobile-grid-85 tablet-grid-90 group-details-content">
                                            <div class="group-details-heading">
                                                Favourites
                                            </div>
                                            <div class="group-details-heading"></div>
                                            <a data-slug="@Model.Slug" class="remove-favourite" data-type="group" href="@($"/favourites/nojs/remove?slug={Model.Slug}&type=group")">
                                                Remove from favourites
                                            </a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>

                                    <li id="add-favourite-@Model.Slug" class="group-details @(Model.Favourite ? "hidden" : "")">
                                        <div class="grid-10 mobile-grid-15 tablet-grid-10 group-details-symbol-containter ">
                                            <i class="fa fa-star-o fa-2x group-details-symbol"></i>
                                        </div>
                                        <div class="grid-90 mobile-grid-85 tablet-grid-90 group-details-content">
                                            <div class="group-details-heading">
                                                Favourites
                                            </div>
                                            <div class="group-details-heading"></div>
                                            <a data-slug="@Model.Slug" class="add-favourite" data-type="group" href="@($"/favourites/nojs/add?slug={Model.Slug}&type=group")">
                                                Add to favourites
                                            </a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                }

                            </ul>
                        </div>
                        <div class="grid-40 hide-on-mobile hide-on-tablet group-calender-container-image" style="background-size: cover; background-position: center; background-image: url(@Model.ImageUrl);">
                        </div>
                    </div>
                    <div>
                        <h3 class="group-details-heading">Description</h3>
                        @Html.Raw(Model.Description.StripEmojis())

                        @Html.Partial("Groups/VolunteeringBar", Model.Volunteering)
                        @Html.Partial("Groups/DonationsBar", Model.Donations)


                        @if (Model.MapDetails.MapPosition != null && Model.MapDetails.MapPosition.Lat != 0.0 && Model.MapDetails.MapPosition.Lon != 0.0)
                        {
                            <hr />
                            <div class="group-map-container group-map-container-padding">
                                <h3 class="group-details-heading">How to find us</h3>
                                @Html.Partial("MapPosition", Model.MapDetails)
                            </div>
                        }
                        @if (Model.Events != null && Model.Events.Any())
                        {
                            <div class="upcoming-events-container">
                                @Html.Partial("Events/EventCards", Model.Events.Take(3).ToList())
                            </div>                           
                        }
                        @if (Model.LinkedGroups != null && Model.LinkedGroups.Any())
                        {
                            <div class="group-details-heading-border linked-group-container">
                                <h3 class="group-details-heading">You may also like</h3>
                                @if (Model.LinkedGroups.Count() > 3)
                                {
                                    <a class="view-more hide-on-mobile" href="/groups/results?category=@Model.CategoriesReference[0].Slug&subcategories=@Model.SubCategories[0].Slug">View more</a>
                                }
                                @Html.Partial("groups/GroupCardList", Model.LinkedGroups.OrderBy(_ => Guid.NewGuid()).Take(3).ToList())
                                @if (Model.LinkedGroups.Count() > 3)
                                {
                                    <div class="grid-100 hide-on-desktop hide-on-tablet view-more-mobile">
                                        <a class="button-default" href="/groups/results?category=@Model.CategoriesReference[0].Slug&subcategories=@Model.SubCategories[0].Slug">View more results like this</a>
                                    </div>
                                }
                            </div>                           
                        }
                        <div class="clearfix"></div>
                        <div id="shareThis" class="sharethis">
                            @Html.Partial("SharePrintThis", new Tuple<string, string>("groups", Model.Slug))
                        </div>
                        <div class="grid-100 tablet-grid-100 mobile-grid-100 manage-group-section">
                            <h3>Manage your group information</h3>
                            <p>Easily keep your group information up to date and promote your group to the people of Stockport and beyond.</p>
                            <stock-button class="manage-group-button" as-link="true" href="/groups/manage">Manage your groups</stock-button>
                            <p>If you don't run this group, <a href="/groups/@Model.Slug/change-group-info?groupname=@Model.Name">you can still let us know about a change to this group</a>.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>