@using System.Threading.Tasks
@using StockportWebapp.Models
@inject IStaticAssets StaticAssets

@*This script enables the feedback button.*@
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>

<div class="l-header-container">
    <header id="header" class="grid-container grid-100">
        <div class="grid-75 mobile-grid-50 tablet-grid-50 logo-main">
            <a href="/"><img src="@StaticAssets.UrlFor("logo-stockport-full%402x.png")" data-mobile-image="@StaticAssets.UrlFor("logo-stockport-mobile%402x.png")" data-desktop-image="@StaticAssets.UrlFor("logo-stockport-full%402x.png")" alt="Stockport Gov" title="Welcome to Stockport Council" class="logo-main-image"></a>
        </div>
        <div class="grid-25 mobile-grid-50 tablet-grid-50 grid-parent">
            @Html.Partial("HeaderSearchBar")
        </div>
    </header>
</div>
@Html.Partial("MobileSearchBar")
<div class="banner-header-container">
    <div class="grid-container grid-100">
        <div class="banner-header grid-100 mobile-grid-100 tablet-grid-100">
            <p><span class="banner-title">You're using our new and improved website.</span><span class="banner-body">Let us know <a class="typeform-share link" data-mode="1" target="_blank" href="https://stockportcouncil.typeform.com/to/dXTax7">what you think</a>.</span></p>
        </div>
    </div>
</div>
@Html.Partial("BrowserCheck")