@using StockportWebapp.Utils
@model List<StockportWebapp.Models.Event>
@inject IDateCalculator DateCalculator;

@{
    const string filterKey = "thismonth";
    var filter = DateCalculator.ReturnFilterForKey(filterKey);
}

<h2>Upcoming Events</h2>

<div class="grid-parent grid-100 homepage-latest-items">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Detail", "Events", new {slug = item.Slug, date = item.EventDate.ToString("yyyy-MM-dd")})">
            <div class="@(Model.Count() > 1 ? "grid-50" : "grid-100") mobile-grid-100 homepage-latest-item">
                <h3>@item.Title</h3>
                <p class="news-date">
                    <i class="fa fa-clock-o"></i>@item.EventDate.ToString("dd MMMM yyyy")
                </p>
                <p>@item.Teaser</p>
            </div>
        </a>
    }
</div>

<a href="@Url.Action("Index", "Events")">
    <div id="test-eventscalendar-link" class="button button-outline button-featured-content-more button-partialrounded">View Events</div>
</a>