@model HomepageViewModel
@{
    string foregroundImageLocationClass = Model.HomepageContent.ForegroundImageLocation switch
    {
        "End" => "homepageHero_image--end",
        "Middle" => "homepageHero_image--center",
        _ => "homepageHero_image--start"
    };
}

<section class="homepageHero hide-on-tablet hide-on-desktop" data-cy="search-and-top-tasks">
    <div class="grid-container homepageHero_wrapper--mobile">
        <div class="grid-100">   
            <div class="homepageHero_content">
                <h1>Welcome to Stockport, creating opportunities for everyone</h1>
                <partial name="Search2023" model='new Tuple<string, string, string, string, string>("cludo-search-hero-form-mobile", "Search on stockport.gov.uk", "cludo-search-bar-mobile", "homepageHero_search", "mobile search input box")' />
            </div>
        </div>
    </div>
    
    <div class="homepageHero_background" style="background-image: url(@Model.HomepageContent.BackgroundImage?fm=webp)"></div>

    <div class="grid-container homepageHero_wrapper">
        <div class="grid-100">
            <div class="homepageHero_image @foregroundImageLocationClass">
                @if (!string.IsNullOrEmpty(Model.HomepageContent.ForegroundImage))
                {
                    @if (!string.IsNullOrEmpty(Model.HomepageContent.ForegroundImageLink))
                    {
                        <a href="@Model.HomepageContent.ForegroundImageLink">
                            <img src="@Model.HomepageContent.ForegroundImage" srcset="@Model.HomepageContent.ForegroundImage?fm=webp" alt="@Model.HomepageContent.ForegroundImageAlt" height="300px" width="300px;" />
                        </a>
                    }
                    else
                    {
                        <img src="@Model.HomepageContent.ForegroundImage" srcset="@Model.HomepageContent.ForegroundImage?fm=webp" alt="@Model.HomepageContent.ForegroundImageAlt" height="300px" width="300px;" />
                    }
                }
            </div>
            
            <partial name="HomepageTopTasks" model='Model.HomepageContent.FeaturedTasks' />
        </div>
    </div>
</section>