@model ContentBlock
@if (Model is not null && !string.IsNullOrEmpty(Model.Image))
{
    string href = Model.SubItems.Any()
        ? $"href={Model.SubItems.First().NavigationLink}"
        : !string.IsNullOrEmpty(Model.Link)
            ? $"href={@Model.Link} target=_blank"
            : string.Empty;

    string backgroundTheme = Model.ColourScheme is EColourScheme.Dark_Overlay
        ? $"image-banner-{CssClassMapper.GetCssClass(Model.ColourScheme)}"
        : string.Empty;
    
    <section class="section image-banner image-banner-content-width" data-cy="image-banner-content-width">
        <div class="grid-container">
            <div class="grid-100">
                @if (!string.IsNullOrEmpty(href))
                {
                    <a @href>
                        <img class="image-banner__background"
                            src="@Model.Image?w=1015&q=89"
                            srcset="@Model.Image?w=507&q=89&fm=webp 507w,
                                    @Model.Image?w=1015&q=100&fm=webp"
                            sizes="(max-width: 1023px) 507px,
                                    (min-width: 1024px) 1015px"
                            loading="lazy"
                            alt="">

                        @if (!string.IsNullOrEmpty(Model.Body))
                        {
                            <div class="image-banner__content @backgroundTheme">
                                <h2 class="image-banner__title">@Model.Title</h2>
                                @Html.Raw(Model.Body)
                            </div>
                        }
                        else
                        {
                            <span class="visuallyhidden">@Model.Title</span>
                        }
                    </a>
                }
                else
                {
                    <img class="image-banner__background"
                        src="@Model.Image?w=1015&q=89"
                        srcset="@Model.Image?w=507&q=89&fm=webp 507w,
                                @Model.Image?w=1015&q=100&fm=webp"
                        sizes="(max-width: 1023px) 507px,
                                (min-width: 1024px) 1015px"
                        loading="lazy"
                        alt="">

                    @if (!string.IsNullOrEmpty(Model.Body))
                    {
                        <div class="image-banner__content @backgroundTheme">
                            <h2 class="image-banner__title">@Model.Title</h2>
                            @Html.Raw(Model.Body)
                        </div>
                    }
                }
            </div>
        </div>
    </section>
}