@model ContentBlock
@if (Model is not null && !string.IsNullOrEmpty(Model.Image))
{
    <section class="section image-banner" data-cy="image-banner-screen-width">
        @if (!string.IsNullOrEmpty(Model.Href))
        {
            <a @Model.Href class="image-banner__link">
                <div class="image-banner__background image-banner__background" style="background-image: url(@Model.Image?fm=webp)"></div>
                @if (!string.IsNullOrEmpty(Model.Body))
                {
                    <div class="grid-container">
                        <div class="grid-100">
                        <div class="image-banner__content @Model.ImageBannerOverlayTheme">
                                <h2 class="image-banner__title">@Model.Title</h2>
                                @Html.Raw(Model.Body)
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <span class="visuallyhidden">@Model.Title</span>
                }
            </a>
        }
        else
        {
            <div class="image-banner__background image-banner__background" style="background-image: url(@Model.Image?fm=webp)"></div>
            @if (!string.IsNullOrEmpty(Model.Body))
            {
                <div class="grid-container">
                    <div class="grid-100">
                    <div class="image-banner__content @Model.ImageBannerOverlayTheme">
                            <h2 class="image-banner__title">@Model.Title</h2>
                            @Html.Raw(Model.Body)
                        </div>
                    </div>
                </div>
            }
        }
    </section>
}