@using StockportWebapp.Models
@using StockportWebapp.ViewModels
@model LocationSearch

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPMO2lE7np9cG_zG63JH_pNVmRfoajZjg&libraries=places"></script>
<input type="hidden" id="locationControlId" value="@Model.LocationControlId" />
<input type="hidden" id="longitudeControlId" value="@Model.LongitudeControlId" />
<input type="hidden" id="latitudeControlId" value="@Model.LatitudeControlId" />
<input type="hidden" id="callback" value="@Model.Callback" />
<div class="primary-filter-form-section location-search-section">
    <label class="hide-on-mobile primary-filter-label">@Model.Label</label>
    <label class="hide-on-desktop hide-on-tablet primary-filter-label">Enter a location</label>
    <input type="text" readonly="readonly" id="postcode" value="@Model.Default" class="primary-filter-select custom-arrow expandable-toggle" />
    <div id="getLocation" class="getLocation-width-mobile expandable-box">
        <label class="location-search-label">Enter postcode or place name</label>
        <input type="text" id="location-autocomplete" class="location-search-input input-validation-error" aria-atomic = "true" />
        <div id="locationError" class="form-field-validation-error grid-100 tablet-grid-100 mobile-grid-100 grid-parent"></div>
        <div class="search-link">
            <a id="currentLocation" class="current-location" href="javascript:void(0);"><i class="fa fa-crosshairs"></i><span>Find my current location</span></a>
        </div>
        <div class="search-link search-all">
            <a id="allLocations" class="all-locations" href="javascript:void(0);"><i class="fa fa-compass"></i><span>Search all locations</span></a>
        </div>
        <button class="button-default location-search-button" id="btnLocationAutoComplete">Use this location</button>
    </div>
</div>
