@model List<TrustedLogo>
@{
    string eventDetailHeading = (string)ViewData["eventDetailHeading"] ?? string.Empty;
    string logoAreaTitle = (string)ViewData["logoAreaTitle"];
    bool logoAreaTitleStylingBlank = ViewData["logoAreaTitleStylingBlank"] is not null
        ? (bool)ViewData["logoAreaTitleStylingBlank"]
        : false;

    string dataContentfulEntryId = (string)ViewData["dataContentfulEntryId"] ?? string.Empty;

    string headingClass = string.Empty;

    if (!logoAreaTitleStylingBlank)
    {
        headingClass = "section__title section__title--padded-bottom";
        bool articleWithSection = ViewData["articleWithSection"] is null 
            ? true 
            : (bool)ViewData["articleWithSection"];

        headingClass += (bool)ViewData["logoAreaArticle"] && (bool)ViewData["articleWithSection"]
            ? " section__title--padding-top"
            : " section__title--border-top";
    }
}

<h2 class="@headingClass @eventDetailHeading" data-contentful-entry-id="@dataContentfulEntryId" data-contentful-field-id="logoAreaTitle">
    @(!string.IsNullOrEmpty(logoAreaTitle) ? logoAreaTitle : "Our partners")
</h2>

<div class="section__content section__content--no-margin">
    <div class="logo-area" data-contentful-entry-id="@dataContentfulEntryId" data-contentful-field-id="trustedLogos">
        @foreach (TrustedLogo trustedLogo in Model)
        {
            <div class="logo-area__item">
                <a href="@trustedLogo.Link">
                    <img src="@trustedLogo.Image.Url?w=340&q=89&fm=webp"
                        class="logo-area__image"
                        alt="@(trustedLogo.Image.Description ?? string.Empty)"
                        loading="lazy"
                        width="200"
                        height="125" />
                </a>
            </div>
        }
    </div>
</div>