@using System.Threading.Tasks
@using StockportWebapp.Utils
@model StockportWebapp.Models.Newsroom

<div class="grid-container news-grid-container-margins">
    <div class="grid-30 tablet-grid-100 mobile-grid-100 l-news-filter">
        <p class="filters-heading">Refine by</p>     
        <ul class="filters-list" id="category-list">           
        <li class="collapsable">
            <ul class="filters-list">
                <li class="filter collapsable">
                    <p class="filter-title">Category</p>
                    <ul class="filters-list">
                        <li class=@(!UrlQueryHelper.QueryNameIsInQueryString(Url.ActionContext.RouteData.Values, Context.Request.Query, "category") ? "active" : "")>
                            <a href="@Url.RouteUrl(UrlQueryHelper.RemoveQueryToUrl(Url.ActionContext.RouteData.Values, Context.Request.Query, "category"))">All categories</a>
                        </li>
                        @foreach (var category in Model.Categories.OrderBy(c => c))
                        {
                            <li class=@(UrlQueryHelper.QueryNameAndValueIsInQueryString(Url.ActionContext.RouteData.Values, Context.Request.Query, "category", category) ? "active" : "")>
                                <a href="@Url.RouteUrl(UrlQueryHelper.AddQueryToUrl(Url.ActionContext.RouteData.Values, Context.Request.Query, "category", @category))">@category</a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
            <ul class="filters-list" id="dates-list">
                <li class="collapsable">
                <p class="filter-title">News Archive</p>
                    <ul class="filters-list">
                        @foreach (var year in Model.Dates.Select(s => s.Year).Distinct())
                        {
                                <li class="filter collapsable">
                                    @year.ToString()
                                    <ul class="filters-list" id="news-archive">
                                        @foreach (var date in Model.Dates.Where(d=>d.Year == year).OrderBy(a => a).Reverse())
                                        {
                                            <li class=@(UrlQueryHelper.QueryNameAndValueIsInQueryString(Url.ActionContext.RouteData.Values, Context.Request.Query, "date", @date.ToString("yyyy-MM-dd")) ? "active" : "")>

                                            <a href="/news?datefrom=@date.ToString("yyyy-MM-dd")&dateto=@date.AddMonths(1).AddDays(-1).ToString("yyyy-MM-dd")">@date.ToString("MMM yyyy")</a>                                            
                                            </li>
                                        }
                                    </ul>
                                </li>

                        }
                    </ul>
                   <p class="mobile-filter-heading filter-title">Filter news</p>
                </li>
            </ul>
        </li>
    </ul>
</div>
    <div class="grid-70 tablet-grid-100 mobile-grid-100 grid-parent">
        @{
            if (Model.Alerts != null)
            {
                foreach (var alert in Model.Alerts)
                {
                    @Html.Partial("DisplayTemplates/Alert", alert)
                }
            }
        }
        <ul class="nav-card-news-list">
            @foreach (var subItem in Model.News)
            {
                //desktop tablet
                <li class="nav-card-news grid-100 tablet-grid-100 hide-on-mobile nav-card-news-item">
                    <div class="news-bottom-border">
                        <div class="grid-70 tablet-grid-70 nav-no-left-padding">
                            <div class="news-date">
                                <i class="fa fa-clock-o"></i>@Html.Partial("FormattedDate", subItem.SunriseDate)
                            </div>
                            <div>
                                <a href="@Url.Action("Detail", "News", new {slug = subItem.Slug})">
                                    <h2 class="nav-card-news-title">@subItem.Title</h2>
                                </a>
                                <p class="nav-card-news-teaser">@subItem.Teaser</p>
                            </div>
                        </div>
                        <div class="grid-30 tablet-grid-30 nav-no-right-padding nav-card-news-thumbnail  nav-card-news-thumbnail-background-image" style="background-image: url(@subItem.ThumbnailImage); ">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </li>

                //mobile
                <li class="nav-card-news hide-on-desktop mobile-grid-100 hide-on-tablet nav-card-news-item">

                    @if (!string.IsNullOrEmpty(subItem.ThumbnailImage))
                    {
                        <div class="news-bottom-border">
                            <div class="grid-40 nav-no-right-padding nav-card-news-thumbnail nav-card-news-thumbnail-background-image" style="background-image: url(@subItem.ThumbnailImage); ">
                            </div>
                            <div class="grid-60 nav-left-padding">
                                <div>
                                    <a href="@Url.Action("Detail", "News", new {slug = subItem.Slug})">
                                        <h2 class="nav-card-news-title">@subItem.Title</h2>
                                    </a>
                                </div>
                                <div class="news-date">
                                    <i class="fa fa-clock-o li-left-padding"></i>@Html.Partial("FormattedDate", subItem.SunriseDate)
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    }
                    else
                    {
                        <div class="news-bottom-border">
                            <div class="grid-100 nav-no-left-padding">
                                <div>
                                    <a href="@Url.Action("Detail", "News", new {slug = subItem.Slug})">
                                        <h2 class="nav-card-news-title" style="margin-left: 0px;">@subItem.Title</h2>
                                    </a>
                                </div>
                                <div class="news-date">
                                    <i class="fa fa-clock-o"></i>@Html.Partial("FormattedDate", subItem.SunriseDate)
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    }
                </li>
            }
        </ul>
    </div>
</div>