@inject ViewHelpers ViewHelpers
@model News

@if (Model is not null)
{
    string borderColourClass = (string)ViewData["BorderColourClass"] ?? string.Empty;
    string backgroundColourClass = (string)ViewData["BackgroundColourClass"] ?? string.Empty;
    string borderRadius = " navcard--radius-bottom-left navcard--radius-bottom-right";

    <li class="navcard navcard--width-33 navcard event-cards">
        <a href="@(Url.Action("NewsArticle", "News", new {slug = Model.Slug}))" class="navcard__link event-cards__link @backgroundColourClass @borderColourClass @borderRadius" data-cy="news-card-link">
            <div class="navcard__content">
                <partial name="NavCardImage" model="@Model.ThumbnailImage" />

                <div class="event-cards--padding">
                    <p class="lead"><partial name="FormattedDate" model='Model.SunriseDate'/></p>
        
                    <h3 class="navcard__title">@Model.Title</h3>

                    <p class="navcard__teaser">@Model.Teaser</p>
                </div>
            </div>
        </a>
    </li>
}