@model ContentBlock
@if (Model is not null && Model.NewsArticle is not null && !string.IsNullOrEmpty(Model.NewsArticle.Image))
{
    bool isDefaultColourScheme = Model.IsDefaultColourScheme;

    string pseudoBorderColour = isDefaultColourScheme ? "border-pseudo-colour-teal" : Model.PseudoBorderColourClass;
    string borderColour = isDefaultColourScheme ? "border-colour-teal" : Model.BorderColourClass;

    SpotlightOnBanner newsBanner = new(
        Model.NewsArticle.Title,
        Model.NewsArticle.Image,
        Model.NewsArticle.Title,
        Model.NewsArticle.Teaser,
        Url.Action("Detail", "News", new {slug = Model.NewsArticle.Slug}),
        Model.NewsArticle.UpdatedAt
    );

    string associatedTagCategoryLower = Model.AssociatedTagCategory?.ToLower();
    string viewMoreUrl = Model.UseTag 
        ? Url.Action("Index", "News", new {tags = associatedTagCategoryLower}) 
        : Url.Action("Index", "News", new {category = associatedTagCategoryLower});

    <section class="section section--white news-banner" data-cy="news-banner">
        <div class="grid-container">
            <div class="grid-100">
                <div class="news-banner-container">
                    <div class="news-banner-title">
                        <div class="news-banner-title-container">
                            <h2 class="section__title section__title--no-padding section__title--margin-bottom">@Model.Title</h2>
                            <hr />
                        </div>

                        <a href="@viewMoreUrl" class="hide-on-mobile hide-on-tablet">
                            View more @associatedTagCategoryLower news
                        </a>
                    </div>
                    
                    <div class="featured-item-container">
                        <partial name="FeaturedItem" model="@newsBanner" view-data='@(new ViewDataDictionary(ViewData){ {"additionalClasses", "news-banner"}, {"pseudoBorderColour", pseudoBorderColour}, {"borderColour", borderColour} })' />
                    </div>

                    <div class="news-banner-button">
                        <a href="@viewMoreUrl" class="hide-on-desktop btn btn--center btn--width-30 btn--margin-25 btn--chevron-forward">
                            View more @associatedTagCategoryLower news
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}