@using StockportWebapp.Utils
@model StockportWebapp.Models.Pagination


<div class="pagination-section grid-parent">
    @{
        var indexOfFirstItemOnPage = PaginationHelper.CalculateIndexOfFirstItemOnPage(Model.Page, Model.PageSize);
        var indexOfLastItemOnPage = PaginationHelper.CalculateIndexOfLastItemOnPage(Model.Page, Model.TotalItemsOnPage, Model.PageSize);
    }
    <div class="grid-50 tablet-grid-100 mobile-grid-100 pagination-display ">Showing @indexOfFirstItemOnPage - @indexOfLastItemOnPage of @Model.TotalItems @Model.DisplayName</div>
    <div class="grid-50 tablet-grid-100 mobile-grid-100 pagination-page-numbers">
        @{
            if (PaginationHelper.ShowPreviousLink(Model.Page))
            {
                var url = Url.RouteUrl(Model.CurrentUrl.AddQueriesToUrl(new Dictionary<string, string> { { "Page", (Model.Page - 1).ToString() } }));
                <a href="@url">Previous</a>
            }

            var visiblePageNumbers = PaginationHelper.GenerateVisiblePageNumbers(Model.Page, Model.TotalPages);

            foreach (var visiblePageNumber in visiblePageNumbers)
            {
                if (visiblePageNumber.IsCurrentPage)
                {
                    <span>@visiblePageNumber.PageNumber.ToString()</span>
                }
                else
                {
                    var url = Url.RouteUrl(Model.CurrentUrl.AddQueriesToUrl(new Dictionary<string, string> { { "Page", visiblePageNumber.PageNumber.ToString() } }));
                    <a href="@url">@visiblePageNumber.PageNumber.ToString()</a>
                }
            }

            if (PaginationHelper.ShowNextLink(Model.Page, Model.TotalPages))
            {
                var url = Url.RouteUrl(Model.CurrentUrl.AddQueriesToUrl(new Dictionary<string, string> { { "Page", (Model.Page + 1).ToString() } }));
                <a href="@url">Next</a>
            }
        }
    </div>

</div>

