@model ProfileViewModel

@{
    string additionalClasses = (string)ViewData["additionalClasses"];
    string pseudoBorderColour = (string)ViewData["pseudoBorderColour"];
    string borderColour = (string)ViewData["borderColour"];
    string altText = !string.IsNullOrEmpty(Model.Profile.Image.Description) ? Model.Profile.Image.Description : string.Empty;
    string contentNoBody = string.IsNullOrEmpty(Model.Profile.Body) ? "featured-item--no-decoration" : string.Empty;
}

@if (!string.IsNullOrEmpty(Model.Profile.Body))
{
    <a href="@Url.Action("Index", "Profile", new {slug = Model.Profile.Slug})" class="featured-item__link featured-item__link-@additionalClasses" data-cy="featured-item-link">
        
        <partial name="FeaturedItemImage" model="@Model.Profile.Image.Url" view-data='@(new ViewDataDictionary(ViewData) { {"imageAdditionalClasses", "profile-banner"}, {"altText", altText} })'/>
        
        <div class="featured-item-content featured-item-content-@additionalClasses @pseudoBorderColour @borderColour">
            <div class="featured-item-wrapper">
                <h3 class="featured-item__title featured-item__title--padded-bottom featured-item__title-@additionalClasses">@Model.Profile.Title</h3>
                
                <div class="profile-tag-parser-content profile-tag-parser-content-banner">
                    <p class="profile-tag-parser-content__subTitle profile-banner__subTitle">@Model.Profile.Subtitle</p>
                    
                    <span class="fa-solid fa-quote-left profile-tag-parser-quote profile-banner__quote"></span>
                    <span class="fa-solid fa-quote-right profile-tag-parser-quote--rtl profile-banner__quote"></span>

                    <p class="profile-tag-parser-content__teaser profile-banner__teaser">@Model.Profile.Teaser</p>
                    <span class="fa-solid fa-quote-right profile-tag-parser-quote profile-banner__quote"></span>
                    <span class="fa-solid fa-quote-left profile-tag-parser-quote--rtl profile-banner__quote"></span>

                    @if(!string.IsNullOrEmpty(Model.Profile.Body))
                    {
                        <span class="profile-tag-parser-content__read-more featured-item-read-more">Read more <span class="visuallyhidden">about @Model.Profile.Title</span></span>
                    }
                </div>
            </div>
        </div>
    </a>
}
else
{
    <div class="featured-item__link featured-item__link-@additionalClasses" data-cy="featured-item-link">
        <partial name="FeaturedItemImage" model="@Model.Profile.Image.Url" view-data='@(new ViewDataDictionary(ViewData) { {"imageAdditionalClasses", "profile-banner"}, {"altText", altText} })'/>
        
        <div class="featured-item-content featured-item-content-@additionalClasses @pseudoBorderColour @borderColour">
            <div class="featured-item-wrapper">
                <h3 class="featured-item__title featured-item__title--padded-bottom featured-item__title-@additionalClasses @contentNoBody">@Model.Profile.Title</h3>
                
                <div class="profile-tag-parser-content profile-tag-parser-content-banner">
                    <p class="profile-tag-parser-content__subTitle profile-banner__subTitle">@Model.Profile.Subtitle</p>
                    
                    <span class="fa-solid fa-quote-left profile-tag-parser-quote profile-banner__quote"></span>
                    <span class="fa-solid fa-quote-right profile-tag-parser-quote--rtl profile-banner__quote"></span>

                    <p class="profile-tag-parser-content__teaser profile-banner__teaser">@Model.Profile.Teaser</p>
                    <span class="fa-solid fa-quote-right profile-tag-parser-quote profile-banner__quote"></span>
                    <span class="fa-solid fa-quote-left profile-tag-parser-quote--rtl profile-banner__quote"></span>
                </div>
            </div>
        </div>
    </div>
}