@model ContentBlock
@if (Model is not null && Model.SubItems?.Any() is true)
{
    string additionalCssClass = ViewData["AdditionalCssClass"] as string ?? string.Empty;
    string triviaIconClass = Model.ColourScheme.Equals(EColourScheme.OS_Multi)
        ? "trivia__icon--publication-os-multi"
        : Model.TextColourClass;

    <section class="content-block content-block--margin @additionalCssClass" data-cy="trivia-list">
        <ul class="trivia__list trivia__list--profile trivia__list--publication">
            @foreach(ContentBlock contentBlock in Model.SubItems)
            {
                <li class="trivia__container trivia__container--profile">
                    <div class="trivia__text" data-cy="trivia-list-text">
                        <div>
                            <span class="@contentBlock.Icon trivia__icon trivia__icon--publication @triviaIconClass"></span>
                        </div>
                        
                        <div class="trivia__body" data-cy="trivia-list-body">
                            <p class="lead trivia__title">@contentBlock.Title</p>
                            @Html.Raw(contentBlock.BodyHtml)
                        </div>
                    </div>
                </li>
            }
        </ul>
    </section>
}