@model Tuple<string, string, string, string>

<h1 class="section__title section__title--padded-bottom--m section__title--margin-top h-xl">Welcome to Stockport</h1>
<section class="home-search">
    <h2 class="visuallyhidden">Search stockport.gov.uk</h2>
    <form aria-label="@Model.Item4" action="" method="get" role="search" id="@Model.Item1" class="cludo-search_autocomplete">
        <label class="visuallyhidden" for="@Model.Item3">
            search input box
        </label>
        <input class="grid-100 tablet-grid-100 mobile-grid-100 search-input" id="@Model.Item3" data-cy="search-bar" type="text" name="query" placeholder="@Model.Item2" autocomplete="off">
        <button value="Submit search" class="search-button" data-cy="search-submit" type="submit">
        <span class="fa fa-search" aria-hidden="true"></span><span class="visuallyhidden"> Submit Search</span>
        </button>
    </form>
</section>