@model IEnumerable<StockportWebapp.Models.Topic>
@{
    var count = 0;
    foreach (var topic in Model)
    {
        count++;
        <div class="grid-20 tablet-grid-20 mobile-grid-25 featured-topic matchbox-child @(count > 4 ? "hide-on-mobile" : "")">
    
                <div class="featured-topic-content">
                    <a class="featured-topic-link" href="@topic.NavigationLink">
                        <div class="featured-topic-icon">
                            <i class="@topic.Icon si-default" aria-hidden="true"></i>
                        </div>
                        <div class="featured-topic-name">@topic.Title</div>
                    </a>
                    <p class="hide-on-mobile hide-on-tablet featured-topic-description">
                        Including
                        @foreach (var subItem in topic.SubItems.Take(2))
                        {
                            <br />
                            <a href="@subItem.NavigationLink">@subItem.Title</a>
                        }
                    </p>
                </div>
        
        </div>
    }
}