@using System.Runtime.InteropServices.ComTypes
@model StockportWebapp.ViewModels.ArticleViewModel

@{
    var sections = Model.Article.Sections.ToList();
    var actualCount = sections.Count;
    var modifiedCount = actualCount % 2 == 0 ? (actualCount/2) : (actualCount/ 2)+1;
} 

<header class="article-navigation-header">    
    <nav class="l-vertical-list-no-margin article-navigation @(sections.Count > 3 ? "split-article-into-columns" : "single-column")" >
       
        <ul>
            @for (int i = 1; i <= actualCount; i++)
            {
                <li class="@(sections[i - 1].Slug == Model.DisplayedSection.Slug ? "nav-active" : "") grid-100 tablet-grid-100 mobile-grid-100">
                    <div class="grid-10 tablet-grid-10 mobile-grid-10">@i.ToString().</div>
                    <a class="grid-90 tablet-grid-90 mobile-grid-90" href="@Model.Article.NavigationLink/@sections[i - 1].Slug">@sections[i - 1].Title</a>
                </li>               
            }
        </ul>    
    </nav> 
</header>


