@using System.Runtime.InteropServices.ComTypes
@model StockportWebapp.ViewModels.ArticleViewModel

@{
    var sections = Model.Article.Sections.ToList();
    var actualCount = sections.Count;
    var modifiedCount = actualCount % 2 != 0 ? actualCount/2 + 1 : actualCount / 2;
} 

<header class="article-navigation-header">    
    <nav class="l-vertical-list-no-margin article-navigation article-display" >
       
        <ul class="grid-100 tablet-grid-100 mobile-grid-100">
            @for (int i = 1; i <= actualCount; i++)
            {
                <li class="@(sections[i - 1].Slug == Model.DisplayedSection.Slug ? "nav-active" : "") 
                    @(actualCount <= 3 ? "grid-100 tablet-grid-100" : "") 
                    @(i > modifiedCount ? "hide-on-desktop hide-on-tablet" : "grid-50 tablet-grid-50")">
                    <div class="article-section-nav-numbered-list">@i.ToString().</div>
                    <a href="@Model.Article.NavigationLink/@sections[i - 1].Slug">@sections[i - 1].Title</a>
                </li>

                var iPlusCountOfsections = i + modifiedCount;
              
                if (iPlusCountOfsections <= actualCount)
                {
                    <li class="@(sections[iPlusCountOfsections - 1].Slug == Model.DisplayedSection.Slug ? "nav-active" : "") grid-50 tablet-grid-50 hide-on-mobile">
                        <div class="article-section-nav-numbered-list">@(iPlusCountOfsections).</div>
                        <a href="@Model.Article.NavigationLink/@sections[iPlusCountOfsections - 1].Slug">@sections[iPlusCountOfsections - 1].Title</a>
                    </li>
                }               
            }                      
        </ul>        
    </nav> 
</header>