@model ShedItem

@if (!string.IsNullOrEmpty(Model.Images.FirstOrDefault()))
{
    <img src="https://live-iag-static-assets.s3.eu-west-1.amazonaws.com/heritage/Photos/@Model.Images.FirstOrDefault()"
        class="directory__logo"
        alt=""
        width="350"
        height="150">
}
else
{
    <img src="/assets/images/content/stockport_heritage_assets.png"
        class="directory__logo"
        alt=""
        width="350"
        height="150">
}

<h2 class="directory__profile-image">Details</h2>

<div class="directory__address">
    @if (!string.IsNullOrEmpty(Model.WardName))
    {
        <h3 class="h-m">Ward</h3>
        <div>@Model.WardName.Replace("&", "and")</div>
    }
</div>

<div class="directory__address">
    @if (!string.IsNullOrEmpty(Model.Grade) || !string.IsNullOrEmpty(Model.Type))
    {
        <h3 class="h-m">Type</h3>
        @if (!string.IsNullOrEmpty(Model.Type) && string.IsNullOrEmpty(Model.Grade))
        {
            <div>@Model.Type</div>
        }
        else if (!string.IsNullOrEmpty(Model.Type) && !string.IsNullOrEmpty(Model.Grade))
        {
            <p>@Model.Type</p>
        }
        
        @if (!string.IsNullOrEmpty(Model.Grade))
        {
            <div>Grade @(Model.Grade.Equals("IISTAR") ? "II*" : Model.Grade)</div>
        }
    }
</div>

<div class="directory__address">
    @if (!string.IsNullOrEmpty(Model.Location))
    {
        <h3 class="h-m">Address</h3>
        <div>@Model.Location</div>
    }
</div>

<div class="directory__address">
    @if (Model.ShowHistoricEnglandReference)
    {
        <h3 class="h-m">Historic England Reference</h3>
        <div><a href="https://historicengland.org.uk/listing/the-list/list-entry/@Model.HeRef" target="_blank">@Model.HeRef</a></div>
    }
</div>

<div class="directory__address">
    @if (!string.IsNullOrEmpty(Model.DateListed))
    {
        <h3 class="h-m">Date listed</h3>
        <div>@DateTime.Parse(Model.DateListed).ToString("D")</div>
    }
</div>