@model ShedItem

<li class="navcard navcard--white navcard--width-100 navcard--border-top-10 navcard--theme-teal-lighter-top navcard--no-padding-right-rtl">
    <div class="navcard__content">
        <a href="@Url.Action("Detail", "Shed", new { slug = @Model.Slug })" data-cy="nav-card-link"
           class="navcard__link navcard__link--border navcard--radius-bottom-left navcard--radius-bottom-right navcard--border-top-0 navcard-all navcard--theme-grey-accent-all">

            <div class="directory-result">
                <div class="directory-result__content">
                    <p>Name: @Model.Name</p>
                    <p>Location: @Model.Location</p>
                    <p>Grade: @Model.Grade</p>
                    <p>Ward name: @Model.WardName</p>
                    <p>First image url: @Model.Images.FirstOrDefault()</p>
                </div>
            </div>
        </a>
    </div>
</li>