@model SubItem
@if (Model is not null)
{
    string contentTextClass = (Model.SubItems is not null && Model.SubItems.Any()) || !string.IsNullOrEmpty(Model.Link) ? string.Empty : "statement-banner-content__text-no-button";
    
    <section class="section section--white" data-cy="statement-banner-content-width">
        <div class="grid-container">
            <div class="grid-100">
                <div class="statement-banner section__content bg-default-light border-default @Model.BackgroundColourClass @Model.BorderClass">
                    @if(!string.IsNullOrEmpty(Model.Icon) && !Model.Icon.Equals("si-default"))
                    {
                        <span class="@Model.Icon statement-banner__icon text-default @Model.TextColourClass"></span>
                    }
                    
                    <div class="statement-banner-content">
                        <h2 class="statement-banner-content__title text-default @Model.TextColourClass">@Model.Title</h2>
                        <div class="statement-banner-content__text @contentTextClass">@Html.Raw(Model.Body)</div>

                        @if(Model.SubItems.Any() || !string.IsNullOrEmpty(Model.Link))
                        {
                            <a href="@(Model.SubItems.Any() ? Model.SubItems.FirstOrDefault().NavigationLink : Model.Link)" class="btn btn--inverse btn--width-30 btn--chevron-forward btn--bold btn--chevron-bold btn--outline btn-@CssClassMapper.GetBoldCssClass(Model.ColourScheme) btn-@CssClassMapper.GetBoldCssClass(Model.ColourScheme)-outline" data-cy="statement-banner-content-width-link">
                                <span class="btn_text">@(!string.IsNullOrEmpty(Model.ButtonText) ? Model.ButtonText : "Find out more")</span>
                                @if(string.IsNullOrEmpty(Model.ButtonText))
                                {
                                    <span class="visuallyhidden">about @Model.Title</span>
                                }
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}