@model StockportWebapp.Models.Topic
@for (var i = 0; i < Model.SubItems.Count(); i += 3)
{
    <ul class="nav-card-list">
        @foreach (var subItem in Model.SubItems.Skip(i).Take(3))
        {
            <li class="nav-card grid-33">
                <a href="@subItem.NavigationLink" class="nav-card-item">
                    <h2 class="nav-card-title button button-featured-content-more">@subItem.Title</h2>
                    <p class="hide-on-mobile hide-on-tablet">@subItem.Teaser</p>
                </a>
            </li>
        }
    </ul>
}


@if (Model.SecondaryItems.Any())
{
    <div id="test-topic-page-secondary-topics-list" class="subitems grid-100">
       

        @{
            var firstHalfOfItems = (int)Math.Ceiling((decimal)Model.SecondaryItems.Count() / 2);
        }

        <div class="subitems-secondary-two-column">
            <ul class="grid-50 mobile-grid-100 tablet-grid-100">
                @foreach (var subItem in Model.SecondaryItems.Take(firstHalfOfItems))
                {
                    <li>
                        <div class="subitem-secondary">
                            <a href="@subItem.NavigationLink">
                                @subItem.Title
                            </a>
                        </div>
                    </li>
                }
            </ul>

            <ul class="grid-50 mobile-grid-100 tablet-grid-100">
                @foreach (var subItem in Model.SecondaryItems.Skip(firstHalfOfItems))
                {
                    <li>
                        <div class="subitem-secondary">
                            <a href="@subItem.NavigationLink">
                                @subItem.Title
                            </a>
                        </div>
                    </li>
                }
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>

    
            }

@if (Model.TertiaryItems.Any())
{
    <div class="subitems grid-100" id="test-topic-page-secondary-topics-list">
        @for (var i = 0; i < Model.TertiaryItems.Count(); i += 4)
        {
            <ul class="subitems-tertiary">
                @foreach (var subItem in Model.TertiaryItems.Skip(i).Take(4))
                {
                    <li class="grid-25">
                        <a href="@subItem.NavigationLink">
                            <div class="subitem-tertiary">
                                <div class="subitem-tertiary-title">@subItem.Title</div>
                            </div>
                        </a>
                    </li>
                }
                @for (var j = 0; j < Model.TertiaryItems.Skip(i).Take(4).Count() % 4; j++)
                {
                    <li class="suffix-25">
                    </li>
                }
            </ul>
        }
    </div>
}


