@model NavCard
@{
    bool displayImage = (bool)ViewData["displayImage"];
    
    var borderCssDesktop = " navcard-all-desktop navcard--theme-grey-accent-all-desktop";
    var borderCssTablet = " navcard-all-tablet navcard--theme-grey-accent-all-tablet";
    var noBorder = " navcard--border-top-0-desktop navcard--border-top-0-tablet";
    var noBorderImage = " navcard--border-bottom-0-desktop navcard--border-bottom-0-tablet";
    var borderRadius = " navcard--radius-bottom-left navcard--radius-bottom-right";
    var borderImageRadius = " navcard--radius-top-left navcard--radius-top-right";

    var borderCssClasses = displayImage 
        ? $"{noBorderImage} {borderImageRadius}"
        : $"{noBorder} {borderRadius}";
}
<a href="@Model.Url" class="navcard__link @borderCssDesktop @borderCssTablet @borderCssClasses" data-cy="nav-card-link">
    <div class="navcard__content">
        @if(displayImage){
            <div>
                <img src="@Model.Image?w=730&q=89" class="navcard__image"
                     srcset="@Model.Image?w=720&q=89&fm=webp 720w,
                            @Model.Image?w=294&q=89&fm=webp 294w,
                            @Model.Image?w=378&q=89&fm=webp 378w"
                     sizes="(max-width: 767px) 720px,
                            ((min-width: 768px) and (max-width: 1023px)) 294px,
                            (min-width: 1024px) 378px"
                     loading="lazy" alt="" height="215" width="350">
            </div>
        }
        
        <div class="navcard-content--padding">
            <h3 class="navcard__title navcard__title--black">@Model.Title</h3>
            <p class="navcard__teaser">@Model.Teaser</p>
        </div>
    </div>
</a>