@model NavCard
@{
    bool displayImage = (bool)ViewData["displayImage"];
    var borderCssClasses = displayImage 
        ? " navcard-all navcard__link navcard__link-image navcard--radius-top-left navcard--radius-top-right navcard--no-border-bottom navcard--theme-grey-accent-all" 
        : " navcard-all navcard__link navcard--radius-bottom-left-desktop navcard--radius-bottom-right-desktop navcard--radius-bottom-left-tablet navcard--radius-bottom-right-tablet navcard--radius-top-right-mobile navcard--radius-bottom-right-mobile navcard--no-border-top-desktop navcard--no-border-top-tablet navcard--no-border-left-mobile navcard--theme-grey-accent-all";
}
<a href="@Model.Url" class="@borderCssClasses" data-cy="nav-card-link">
    <div class="navcard__content">
        @if(displayImage){
            <div>
                <img src="@Model.Image" class="navcard__image"
                    srcset="@Model.Image?w=720&q=89&fm=webp 720w,
                            @Model.Image?w=294&q=89&fm=webp 294w,
                            @Model.Image?w=378&q=89&fm=webp 378w"
                     sizes="(max-width: 767px) 720px,
                            ((min-width: 768px) and (max-width: 1023px)) 294px,
                            (min-width: 1024px) 378px"
                    src="@Model.Image?w=730&q=89" loading="lazy" alt="" height="215" width="350">
            </div>
        }
        
        <div class="navcard-content--padding">
            <h3 class="navcard__title navcard__title--black">@Model.Title</h3>
            <p class="navcard__teaser">@Model.Teaser</p>
        </div>
    </div>
</a>