@model SubItem
@if (Model is not null)
{
    string backgroundColourClass = (string)ViewData["BackgroundColourClass"] ?? string.Empty;
    string textColourClass = (string)ViewData["TextColourClass"] ?? string.Empty;
    string borderColourClass = (string)ViewData["BorderColourClass"] ?? string.Empty;

    <li class="navcard navcard--width-33 navcard--center trivia-card @backgroundColourClass @borderColourClass">
        <div class="navcard__content">
            <div class="navcard__icon trivia-card__icon--padding">
                @if (!string.IsNullOrEmpty(Model.Statistic) && !string.IsNullOrEmpty(Model.StatisticSubheading))
                {
                    <span class="trivia-card__icon @textColourClass" aria-hidden="true">@Model.Statistic</span>
                }
                else if (!string.IsNullOrEmpty(Model.Icon))
                {
                    <span class="@Model.Icon.ToLower() trivia-card__icon @textColourClass" aria-hidden="true"></span>
                }
             </div>

            <div class="navcard-content--padding">
                <h3 class="navcard__title trivia-card__title @textColourClass">
                    @(!string.IsNullOrEmpty(Model.Statistic) && !string.IsNullOrEmpty(Model.StatisticSubheading) ? Model.StatisticSubheading : Model.Title)
                </h3>

                <div class="trivia-card__body">
                    @Html.Raw(Model.Body)
                </div>
            </div>
        </div>
    </li>
}