@using System.Text.RegularExpressions
@model Tuple<IEnumerable<StockportWebapp.ProcessedModels.ProcessedInformationItem>, string, string>

<section class="information-list @Model.Item3">
    <h2>@Model.Item2</h2>
    <ul>
        @for (int i = 0; i < Model.Item1.Count(); i++)
        {
            var informationItem = Model.Item1.ToArray()[i];

            <li>
                <div class="icon-column">
                    <span class="si @informationItem.Icon"></span>
                </div>
                <div class="text-column">
                    @if (!string.IsNullOrEmpty(informationItem.Link))
                    {
                        <a class="information-item" href="@informationItem.Link" rel="@informationItem.Name">
                            @{
                                var parsedItemText = new Regex("<a((?!>).)*>")
                                    .Replace(informationItem.Text, "<span class='information-item-link'>")
                                    .Replace("</a>", "</span>");
                            }
                            @Html.Raw(parsedItemText)
                        </a>
                    }
                    else
                    {
                        @Html.Raw(informationItem.Text)
                    }
                </div>
            </li>
        }
    </ul>
</section>



