@inject IRichTextHelper RichTextHelper
@using Microsoft.AspNetCore.Html
@using System.Text.Json
@model PublicationPage
@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.MetaDescription;
    ViewData["og:title"] = Model.Title;
    PublicationSection currentSection = ViewData["currentSection"] as PublicationSection;
}

@if (Model.PublicationSections is not null && Model.PublicationSections.Any())
{
    IEnumerable<PublicationSection> sectionsToRender = currentSection is null
        ? Model.PublicationSections
        : Model.PublicationSections.Where(publicationSection => publicationSection.Slug.Equals(currentSection.Slug));

    foreach (PublicationSection publicationSection in sectionsToRender)
    {
        <h2 class="publication-template__page-title">@publicationSection.Title</h2>

        <partial name="PublicationSection" model="publicationSection" />
    }
}
else
{
    @foreach (JsonElement node in Model.Body.GetProperty("content").EnumerateArray())
    {
        object rendered = RichTextHelper.Render(node);

        if (rendered is EmbeddedPartial partial)
        {
            @if (partial.Model.ContentType.Equals("CallToAction"))
            {
                CallToActionBanner callToActionBanner = partial.Model is not null
                    ? new() {
                            Image = partial.Model.Image,
                            AltText = partial.Model.Title,
                            ButtonText = partial.Model.ButtonText,
                            Colour = partial.Model.ColourScheme,
                            Link = partial.Model.Link,
                            Teaser = partial.Model.Teaser,
                            Title = partial.Model.Title
                        }
                    : null;

                <partial name="CallToAction" model="@callToActionBanner" view-data='@(new ViewDataDictionary(ViewData) { {"AdditionalCssClass", "content-block content-block--margin-extra"} })' />
            }
            else if (partial.Model.ContentType.Equals("TriviaList"))
            {
                <partial name="PublicationTemplateTriviaList" model="@partial.Model" />
            }
            else if (partial.Model.ContentType.Equals("TriviaCards"))
            {
                <partial name="PublicationTemplateTriviaCards" model="@partial.Model" />
            }
            else
            {
                <partial name="@partial.PartialName" model="@partial.Model" view-data='@(new ViewDataDictionary(ViewData) { { "AllowTwo", true } })' />
            }
        }
        else if (rendered is string html)
        {
            @Html.Raw(html)
        }
    }
}