@using StockportWebapp.ViewModels
@model StockportWebapp.Models.ProcessedHomepage

@{
    ViewData["Title"] = "Welcome to Stockport Council";
    Layout = "../Shared/_LayoutHome.cshtml";
}

@if (Model.Alerts != null)
{
    foreach (var alert in Model.Alerts)
    {
        @Html.Partial("GlobalAlert", alert)
    }
}

@*css overides to request images per device*@

@section BackgroundImage
{
    @Html.Partial("ScaleImageByDevice",new Image("homepage-hero",Model.BackgroundImage))
}
@section CarouselBackgroundImage
{
    @{ int counter = 1; }
    @foreach (var carouselContent in Model.CarouselContents)
    {
        @Html.Partial("ScaleImageByDevice", new Image("webcast-"+counter, carouselContent.Image))
        counter++;
    }
}

@*homepage template*@
<div class="homepage-hero">
    <div class="grid-container l-max-width-950">
        <div class="search-bar">
            @Html.Partial("SearchBar", "Hi there! What are you looking for?")
        </div>
        @Html.Partial("DynamicPopularSearch", Model.PopularSearchTerms)
        @Html.Partial("FeaturedTasks", Model.FeaturedTasks)
    </div>
</div>


<div class="l-body-section-filled grid-100 grid-parent">
    @Html.Partial("FeaturedTopics", Model.FeaturedTopics)
</div>
<div class="grid-100 grid-parent">
    @Html.Partial("Carousel", Model.CarouselContents)
</div>
<div class="grid-100 grid-parent white-background">
    <div class="news-events-container grid-container tablet-grid-100">
        @if (Model.GetLatestNews().Any())
        {
            <div id="test-newsroom-calltoaction" class="news-events grid-50">
                @Html.Partial("HomePageNews", Model.GetLatestNews())
            </div>
        }
        <div class="news-events @(!Model.GetLatestNews().Any() ? "grid-100" : "grid-50")">
            @Html.Partial("Events")
        </div>
    </div>
</div>

<div class="personalised-services">
    <div class="grid-container">
        <div class="grid-50 enhanced_service">
            @Html.Partial("PostCodeSearch")
        </div>
        <div class="grid-50 enhanced_service" id="test-email-alerts">
            @Html.Partial("EmailSubscribe")
        </div>
    </div>
</div>