@using StockportWebapp.ProcessedModels
@using StockportWebapp.ViewModels
@model StockportWebapp.ProcessedModels.ProcessedHomepage

@{
    ViewData["Title"] = "Welcome to Stockport Council";
    ViewData["og:title"] = "Welcome to Stockport Council";
    Layout = "../Shared/_LayoutHome.cshtml";
}

@if (Model.Alerts != null)
{
    foreach (var alert in Model.Alerts)
    {
        <div>
            @Html.Partial("GlobalAlert", alert)
        </div>
    }
}

@*css overides to request images per device*@

@section BackgroundImage
{
    @Html.Partial("ScaleImageByDevice",new Image("homepage-hero", Model.BackgroundImage))
}
@section CarouselBackgroundImage
{
    @{ int counter = 1; }
    @foreach (var carouselContent in Model.CarouselContents)
    {
        @Html.Partial("ScaleImageByDevice", new Image("webcast-"+counter, carouselContent.Image))
        counter++;
    }
}

@*homepage template*@
<div class="homepage-hero">
    <div class="grid-container l-max-width-950">
        <div class="search-bar">
            @Html.Partial("Search", new Tuple<string, string>("cludo-search-hero-form", "Hi there! What are you looking for?"))
        </div>

        @Html.Partial("FeaturedTasks", Model.FeaturedTasks)
    </div>
</div>


<div class="home-page-featured-items l-body-section-filled grid-100 grid-parent">
    @Html.Partial("GenericFeaturedItemList", Model.GenericItemList)
</div>

<div class="grid-100 mobile-grid-100 tablet-grid-100 homepage-group-link-container">
    <div class="grid-100 tablet-grid-100 mobile-grid-100">
        <div class="homepage-group-link-container-text grid-100">Report it, apply for it, pay for it - we're online and ready when you are</div>
        <div class="homepage-group-link-container-button grid-100 grid-parent">
            <stock-button class="do-it-online" as-link="true" href="/topic/do-it-online">Do it online</stock-button>
        </div>
    </div>
</div>
<div class="full-width-white">
    <div class="featured-topic-list">
        @Html.Partial("LatestNewsEventGroup", Model)
    </div>
</div>

<div class="grid-100 grid-parent">
    @Html.Partial("Carousel", Model.CarouselContents)
</div>


<div class="personalised-services">
    <div class="grid-container">
        <div class="grid-100 enhanced_service" id="test-email-alerts">
            @Html.Partial("EmailSubscribe")
        </div>
    </div>
</div>