@using StockportWebapp.ViewModels
@model HomepageViewModel
@inject StockportWebapp.Utils.ViewHelpers viewHelper

@{
    ViewData["Title"] = "Welcome to Stockport Council";
    ViewData["og:title"] = "Welcome to Stockport Council";
    Layout = "../Shared/_LayoutHome.cshtml";
}

@if (Model.HomepageContent.Alerts != null)
{
    foreach (var alert in Model.HomepageContent.Alerts)
    {
        <div>
            <partial name="GlobalAlert" model='alert'/>
        </div>
    }
}

@*css overides to request images per device*@

@section BackgroundImage
{
    <partial name="ScaleImageByDevice" model='new Image("homepage-hero", Model.HomepageContent.BackgroundImage)'/>
}
@section CarouselBackgroundImage
{
    @{ int counter = 1; }
    @foreach (var carouselContent in Model.HomepageContent.CarouselContents)
    {
        <partial name="ScaleImageByDevice" model='new Image("webcast-"+counter, carouselContent.Image)'/>
        counter++;
    }
}

<div class="homepage-hero">
    <div class="grid-container l-max-width-950">
        <section class="search-bar">
            <h1 class="visuallyhidden">Search bar</h1>
            <partial name="Search" model='new Tuple<string, string, string>("cludo-search-hero-form", "Hi there! What are you looking for?", "cludo-search-bar")'/>
        </section>

        <partial name="FeaturedTasks" model='Model.HomepageContent.FeaturedTasks'/>
    </div>
</div>

<div class="home-page-row">
    <section class="grid-container homepage">
        <h2 class="visuallyhidden">All other services</h2>
        <partial name="GenericFeaturedItemList" model='Model.HomepageContent.GenericItemList'/>
    </section>
</div>

<div class="full-width-white">
    <div class="featured-topic-list">
        <ul class="nav-card-list latest-container matchbox-parent">
            @if (Model.FeaturedNews != null)
            {
                <li class="grid-33 tablet-grid-100 mobile-grid-100 nav-card latest-item">
                    <span class="latest-nav-card-item matchbox-child">
                        <h2 class="news title"><a tabindex="-1" href="@Url.Action("Index", "News")">Latest news</a></h2>
                        <div class="body">
                            <a href="/news/@Model.FeaturedNews.Slug">
                                <h3>@Model.FeaturedNews.Title</h3>
                                <p class="bullet"><i class="fa fa-clock-o" aria-hidden="true"></i><partial name="FormattedDate" model='Model.FeaturedNews.SunriseDate'/></p>
                                <p>@Model.FeaturedNews.Teaser</p>
                                <stock-button class="nav-card-title button button-featured-content-more invisible" as-link="true"></stock-button>
                            </a>
                        </div>
                    </span>
                    <stock-button class="nav-card-title button button-featured-content-more" as-link="true" href="@Url.Action("Index", "News")">View more news</stock-button>
                </li>
            }

            @if (Model.FeaturedEvent != null)
            {
                <li class="grid-33 tablet-grid-100 mobile-grid-100 nav-card latest-item">
                    <span class="latest-nav-card-item matchbox-child">
                        <h2 class="event title"><a tabindex="-1" href="@Url.Action("Index", "Events")">What's on in Stockport</a></h2>
                        <div class="body">
                            <a href="/events/@Model.FeaturedEvent.Slug">
                                <h3>@Model.FeaturedEvent.Title</h3>
                                <div class="bullet"><i class="fa fa-clock-o"></i>@viewHelper.FormatEventDate(Model.FeaturedEvent.EventDate, Model.FeaturedEvent.StartTime)</div>
                                <div class="bullet"><i class="fa fa-map-marker" aria-hidden="true"></i>@Model.FeaturedEvent.Location</div>
                                <stock-button class="nav-card-title button button-featured-content-more invisible" as-link="true"></stock-button>
                            </a>
                        </div>
                    </span>
                    <stock-button class="nav-card-title button button-featured-content-more" as-link="true" href="@Url.Action("Index", "Events")">View more events</stock-button>
                </li>
            }

            @if (Model.HomepageContent.FeaturedGroupItem != null)
            {
                <li class="grid-33 tablet-grid-100 mobile-grid-100 nav-card latest-item">
                    <span class="latest-nav-card-item matchbox-child">
                        <h2 class="group title"><a tabindex="-1" href="@Url.Action("Index", "Groups")">Stockport Local</a></h2>
                        <div class="body">
                            <a href="/groups/@Model.HomepageContent.FeaturedGroupItem.Slug">
                                <h3>@Model.HomepageContent.FeaturedGroupItem.Name</h3>
                                @if (Model.HomepageContent.FeaturedGroupItem.CategoriesReference.Any())
                                {
                                    <div class="bullet"><i class="fa fa-tags" aria-hidden="true"></i>@Model.HomepageContent.FeaturedGroupItem.CategoriesReference[0].Name</div>
                                }
                                <div class="bullet"><i class="fa fa-map-marker" aria-hidden="true"></i>@Model.HomepageContent.FeaturedGroupItem.Address</div>
                                @if (Model.HomepageContent.FeaturedGroupItem.Cost.Any())
                                {
                                    <div class="bullet"><i class="fa fa-gbp"></i>@string.Join(", ", Model.HomepageContent.FeaturedGroupItem.Cost.ToArray())</div>
                                }
                                @if (!string.IsNullOrEmpty(Model.HomepageContent.FeaturedGroupItem.AbilityLevel))
                                {
                                    <div class="bullet"><i class="fa fa-star" aria-hidden="true"></i>@Model.HomepageContent.FeaturedGroupItem.AbilityLevel</div>
                                }
                                <stock-button class="nav-card-title button button-featured-content-more invisible" as-link="true"></stock-button>
                            </a>
                        </div>
                    </span>
                    <stock-button class="nav-card-title button button-featured-content-more button-groups" as-link="true" href="@Url.Action("Index", "Groups")">View more groups and services</stock-button>
                </li>
            }
        </ul>
    </div>
</div>

<div class="grid-100 grid-parent">
    <partial name="Carousel" model='Model.HomepageContent.CarouselContents'/>
</div>


<section class="personalised-services">
    <h2 class="visuallyhidden">Subscription </h2>
    <div class="grid-container">
        <div class="grid-100 enhanced_service" id="test-email-alerts">
            <partial name="EmailSubscribe" />
        </div>
    </div>
</section>

<script type="text/javascript">
    require(['alerts'],
        function (alerts) {
            alerts.Init();
        });
</script>