@using StockportWebapp.Models;
@model ProfileViewModel
@{
    Profile profile = Model.Profile;
    ViewData["Title"] = profile.Title;
    ViewData["Description"] = profile.Teaser;
    string articleTitle = profile.Breadcrumbs.LastOrDefault() is not null
        ? $"{profile.Breadcrumbs.LastOrDefault().Title} - "
        : string.Empty;

    ViewData["og:title"] = $"{articleTitle}{profile.Title}";
    Layout = "../Shared/_Layout2023.cshtml";
    string profileTextMarginBottom = (!string.IsNullOrEmpty(Model.Profile.TriviaSubheading) || Model.Profile.TriviaSection.Any())
        ? "profile__text--margin-bottom"
        : string.Empty;
}

<div class="grid-container-full-width" style="background-color:white;" data-cy="profile">
    <partial name="GlobalAlerts" model='Model.Profile.Alerts' />
    <partial name="Breadcrumb2023" model='@profile.Breadcrumbs' />

    <div class="grid-container">
        <div class="grid-100">
            <div class="article--70">
                <h1 class="profile__title">@profile.Title</h1>
                <h2 class="article__sub-title">@profile.Subtitle</h2>
            </div>

            <section class="article">
                <div class="section article--70">
                    @if(!string.IsNullOrEmpty(profile.Image.Url))
                    {
                        <figure class="profile__figure">
                            <img src="@profile.Image.Url?w=720&q=89&fm=webp"
                                 srcset="@profile.Image.Url?w=720&q=89&fm=webp 720w,
                                         @profile.Image.Url?w=320&q=89&fm=webp 320w,
                                         @profile.Image.Url?w=282&q=89&fm=webp 282w"
                                 sizes="(max-width: 767px) 720px,
                                            ((min-width: 768px) and (max-width: 1023px)) 320px,
                                            (min-width: 1024px) 282px"
                                 alt="@profile.Image.Description" width="720" height="400" />

                            @if(!string.IsNullOrEmpty(profile.ImageCaption))
                            {
                                <figcaption>@profile.ImageCaption</figcaption>
                            }
                        </figure>
                    }

                    <div class="profile__text @profileTextMarginBottom"> 
                        @Html.Raw(StockportWebapp.Utils.HtmlHelper.AddImageAttributes(profile.Body, "720", "511", "720", "967", "853"))
                    </div>

                    @if(!string.IsNullOrEmpty(Model.Profile.TriviaSubheading))
                    {
                        <div class="trivia-title">
                            <h2 class="section__title section__title--no-padding section__title--margin-bottom">@Model.Profile.TriviaSubheading</h2>
                            <hr />
                        </div>
                    }

                    <partial name="ProfileTriviaList" model="@Model.Profile.TriviaSection" />
                </div>

                <div class="article--30 section">
                    @if (Model.HasParentTopicWithSubItems())
                    {
                        <partial name="SidebarNavCardList" model="@Model.Sidebar" />
                    }
                </div>
            </section>
        </div>
    </div>
</div>