@model TopicViewModel
@{
    var topic = Model.Topic;
    ViewData["Title"] = topic.Name;
    ViewData["og:title"] = topic.Name;
    ViewData["Description"] = topic.MetaDescription;
    Layout = "../Shared/_Layout2023.cshtml";
}

<div class="grid-container-full-width">
    @section Alerts {
        <partial name="GlobalAlerts" model='topic.Alerts' />
    }

    @section Breadcrumbs {
        <div class="grid-container-full-width">
            <partial name="TopicBreadcrumb" model='topic.Breadcrumbs'/>
        </div>
    }

    <section class="topic-title" data-cy="title-and-summary">
        <div class="grid-container">
            <div class="grid-100">
                <h1>@topic.Name</h1>
                @if (!string.IsNullOrEmpty(topic.Summary))
                {
                    @Html.Raw(@topic.Summary)
                }
                else if (!string.IsNullOrEmpty(topic.Teaser))
                {
                    <p>@Html.Raw(@topic.Teaser)</p>
                }
            </div>
        </div>
    </section>

    <partial name="TopicPrimaryItems"/>

    @if(topic.CallToAction is not null)
    {
         <partial name="CallToAction" model='topic.CallToAction'/>
    } else if (!string.IsNullOrEmpty(topic.EventBanner.Title)) {
        <partial name="EventBanner" model='topic.EventBanner'/>
    }

    @if (topic.SecondaryItems.Any())
    {
        <partial name="TopicSecondaryItems" model='topic.SecondaryItems'/>
    }

    @if(!string.IsNullOrEmpty(topic.EventBanner.Title) && topic.CallToAction is not null)
    { 
         <partial name="EventBanner" model='topic.EventBanner'/>
    }

    <div class="placeholder placeholder-small">
        <h2>Groups Link/Banner</h2>
    </div>

    <div class="placeholder placeholder-small placeholder-bg-grey">
        <h2>News Category Link/Banner</h2>
    </div>

    <div class="placeholder placeholder-small">
        <h2>Partner Logos</h2>
    </div>
</div>