@using StockportWebapp.Models
@using StockportWebapp.ViewModels;
@model TopicViewModel
@{
    var topic = Model.Topic;
    ViewData["Title"] = topic.Name;
    ViewData["og:title"] = topic.Name;
    ViewData["Description"] = topic.Teaser;
    Layout = "../Shared/_Layout.cshtml";
}

@section Breadcrumbs {
    @Html.Partial("Breadcrumb", topic.Breadcrumbs)
}

<div class="l-page-content" id="topic-page-content">

    <div class="full-width-title">
        <div class="grid-container grid-parent grid-100">
            <div class="@(Model.Topic.EmailAlerts ? "grid-70 tablet-grid-70" : "grid-100 tablet-grid-100") mobile-grid-100">
                <h1>@topic.Name</h1>
                @if (topic.Summary != null)
                {
                    @Html.Raw(@topic.Summary)
                }
            </div>
            @if (Model.Topic.EmailAlerts)
            {
                <div class="header-right-button grid-30 tablet-grid-30 mobile-grid-100">
                    <stock-button as-link="true" class="button-outline-white-transparent" href="@Model.EmailAlertsUrl" target="_blank"><i class="fa fa-envelope-o fa-1x" aria-hidden="true"></i>Email alerts</stock-button>
                </div>
            }
        </div>
    </div>

    <div tabindex="-1" id="content" class="grid-container grid-parent">
        @{
            if (topic.Alerts != null)
            {
                foreach (var alert in topic.Alerts)
                {
                    @Html.Partial("DisplayTemplates/Alert", alert)
                }
            }
        }

        @Html.Partial("Advertisement", Model.Topic.Advertisement)

        @Html.Partial("PrimarySubitems", topic)

        @if (Model.Topic.ExpandingLinkBoxes != null && Model.Topic.ExpandingLinkBoxes.Any())
        {
            @Html.Partial("ExpandingLinkBox", topic)
        }

        @if (!string.IsNullOrEmpty(topic.EventBanner.Title))
        {
            @Html.Partial("Events/EventBanner", topic.EventBanner)
        }

        @if (topic.SecondaryItems.Any())
        {
            @Html.Partial("SecondaryItems", topic)
        }

        @if (topic.TertiaryItems.Any())
        {
            @Html.Partial("TertiaryItems", topic)
        }
    </div>
</div>

<script type="text/javascript">
    require(['startup', 'expandinglinks', 'matchboxconfig', 'matchHeight'],
        function (startup, expandinglinks, matchboxconfig, matchHeight) {
                startup.Init();
                expandinglinks.Init();
                matchboxconfig.Init();
        })
</script>