@using StockportWebapp.FeatureToggling
@using StockportWebapp.Models
@using StockportWebapp.ProcessedModels
@model StockportWebapp.ProcessedModels.ProcessedGroup
@inject FeatureToggles FeatureToggles

@{
    ViewData["Title"] = Model.Name;
    ViewData["og:title"] = Model.Name;
    ViewData["Description"] = Model.Description;
    ViewData["Beta"] = true;
    ViewData["BetaForm"] = "https://stockportcouncil.typeform.com/to/kEAxqh";
    ViewData["Type"] = "Group";
    ViewData["Location"] = Model.Address;
    Layout = "../Shared/_Layout.cshtml";
}

@section Breadcrumbs {
    @Html.Partial("Breadcrumb", Model.Breadcrumbs)
}
<link rel="stylesheet" media="print" type="text/css" href="/assets/stylesheets/print-group-detail.min.css"/>
<div class="grid-container-full-width">
    <div class="grid-container grid-100">

        <div class="l-body-section-filled l-article-content mobile-grid-100 tablet-grid-100 grid-100">
            <section aria-label="@Model.Name content">
                <div class="l-content-container grid-100 group-margin">
                    <h1 class="group-article-title">@Model.Name</h1>

                    <div class="grid-100 tablet-grid-100 mobile-grid-100 group-calender-container">
                        @if (!string.IsNullOrEmpty(Model.ImageUrl))
                        {
                            <div class="group-calender-container-image hide-on-desktop" style="background-size: cover; background-position: center; background-image: url(@Model.ImageUrl);"> </div>
                        }
                        <div class="grid-60 tablet-grid-100 mobile-grid-100 group-calender-container-description">

                            <ul class="group-ul">
                                <li class="group-details">
                                    <div class="grid-10 mobile-grid-15 tablet-grid-10 group-details-symbol-containter">
                                        <i class="fa fa-map-marker fa-2x group-details-symbol"></i>
                                    </div>
                                    <div class="grid-90 mobile-grid-85 tablet-grid-90 group-details-content">
                                        <div class="group-details-heading">Location</div>
                                        @if (!string.IsNullOrEmpty(Model.Address))
                                        {
                                            @Html.Raw(Model.Address)
                                        }
                                        else
                                        {
                                            <text>&nbsp;</text>
                                        }
                                    </div>
                                    <div class="clearfix"></div>
                                </li>

                                <li class="group-details">
                                    <div class="grid-10 mobile-grid-15 tablet-grid-10 group-details-symbol-containter">
                                        <i class="fa fa-envelope fa-2x group-details-symbol"></i>
                                    </div>
                                    <div class="grid-90 mobile-grid-85 tablet-grid-90 group-details-content">
                                        <div class="group-details-heading">
                                            Email
                                        </div>
                                        @if (!string.IsNullOrEmpty(Model.Email))
                                        {
                                            <a href="mailto:@Model.Email">@Model.Email</a>
                                        }
                                        else
                                        {
                                            <text>&nbsp;</text>
                                        }
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li class="group-details">
                                    <div class="grid-10 mobile-grid-15 tablet-grid-10 group-details-symbol-containter">
                                        <i class="fa fa-phone fa-2x group-details-symbol"></i>
                                    </div>
                                    <div class="grid-90 mobile-grid-85 tablet-grid-90 group-details-content">
                                        <div class="group-details-heading">
                                            Telephone
                                        </div>
                                        @if (!string.IsNullOrEmpty(Model.PhoneNumber))
                                        {
                                            @Model.PhoneNumber
                                        }
                                        else
                                        {
                                            <text>&nbsp;</text>
                                        }
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li class="group-details">
                                    <div class="grid-10 mobile-grid-15 tablet-grid-10 group-details-symbol-containter">
                                        <i class="fa fa-laptop fa-2x group-details-symbol"></i>
                                    </div>
                                    <div class="grid-90 mobile-grid-85 tablet-grid-90 group-details-content">
                                        <div class="group-details-heading">
                                            Website
                                        </div>
                                        <div class="group-details-heading">
                                        </div>
                                        @if (!string.IsNullOrEmpty(Model.Website))
                                        {
                                            if (Model.Website.StartsWith("http://") || Model.Website.StartsWith("https://"))
                                            {
                                                <a href="@Model.Website">@Model.Website</a>
                                            }
                                            else
                                            {
                                                <a href="http://@Model.Website">@Model.Website</a>
                                            }

                                        }
                                        else
                                        {
                                            <text>&nbsp;</text>
                                        }
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="grid-40 hide-on-mobile hide-on-tablet group-calender-container-image" style="background-size: cover; background-position: center; background-image: url(@Model.ImageUrl);">
                        </div>
                    </div>
                    <div>
                        <h3 class="group-details-heading">Description</h3>
                        @Html.Raw(Model.Description)
                        @if (Model.Volunteering)
                        {
                            <div class="volunteering-section">
                                <div class="grid-100">
                                    <h3>Volunteering opportunities</h3>
                                    <p>If you would like to become a volunteer for this group, please email us with your interest and we’ll get in touch if there are any opportunities.</p>
                                    <p><a class="volunteering-button" href="mailto:@Model.Email?subject=Volunteering&body=Hello%0A%0AI%20am%20interested%20in%20volunteering%20for%20your%20group.%20%20I%20found%20your%20details%20here:%20https://www.stockport.gov.uk/groups/@Model.Slug%0A%0AI%20would%20be%20grateful%20if%20you%20could%20contact%20me%20to%20see%20how%20I%20can%20help.%0A%0AName:%0A%0AEmail:%0A%0ATelephone%20Number:%0A%0AI%20look%20forward%20to%20hearing%20from%20you."><span style="color: #333;">Get in touch</span></a></p>                                   
                                </div>
                                
                            </div>
                        }
                        
                        @if (Model.MapPosition != null && Model.MapPosition.Lat != 0.0 && Model.MapPosition.Lon != 0.0)
                        {
                            <hr />
                            <div class="group-map-container">
                                <h3 class="group-details-heading">How to find us</h3>
                                @Html.Partial("MapPosition", Model.MapPosition)
                                <hr />
                            </div>
                        }
                        @if (Model.Events != null && Model.Events.Any())
                        {
                          @Html.Partial("EventCards", Model.Events.Take(3).ToList())
                        }
                        <div class="clearfix"></div>
                        <div id="shareThis" class="sharethis">
                            @Html.Partial("SharePrintThis")
                           @if (!FeatureToggles.ManageYourGroupButton)
                           {
                              <a href="/contact-changes-to-group-information">Let us know about a change to this group</a> 
                           }
                            
                        </div>
                        @if (FeatureToggles.ManageYourGroupButton)
                        {
                            <div class="grid-100 tablet-grid-100 mobile-grid-100 manage-group-section">
                                <h3>Manage your group information</h3>
                                <p>Easily keep your group information up to date and promote your group to the people of Stockport and beyond.</p>
                                <stock-button class="manage-group-button" as-link="true" href="@Url.Action("Manage", "groups")">Manage your groups</stock-button>
                                <p>If you don't run this group, you can still let us know about a <a href="/contact-changes-to-group-information">change to the group</a></p>
                            </div>
                        }
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>