@using StockportWebapp.Config
@using StockportWebapp.Helpers
@using StockportWebapp.Models
@using StockportWebapp.ViewModels
@model AddEditUserViewModel
@{
    ViewData["Title"] = "Edit user";
    ViewData["og:title"] = "Edit user";
    ViewData["Beta"] = true;
    ViewData["BetaForm"] = "https://stockportcouncil.typeform.com/to/kEAxqh";
    Layout = "../Shared/_Layout.cshtml";
}

@section Breadcrumbs {
    @Html.Partial("Breadcrumb", new List<Crumb> { new Crumb("Find a local group", "groups", "Group"), new Crumb("Manage your groups", "manage", "groups"), new Crumb(Model.Name, "manage/" + Model.Name, "groups"), new Crumb("Users", "manage/" + Model.Name + "/users", "groups") })
}

<div class="grid-container-full-width">
    <div class="grid-container grid-100">
        <div class="l-body-section-filled l-article-content mobile-grid-100 tablet-grid-100 grid-100">
            <section aria-label="content">
                <div class="l-content-container grid-100 group-margin" id="group-padding">
                    <h1 class="group-article-title">Edit user</h1>
                    @if (ViewBag.SubmissionError != null)
                    {
                        <div id="error-message-anchor"></div>
                        <div class="grid-100 tablet-grid-100 mobile-grid-100 alert alert-error contact-validation-error">
                            <div class="alert-icon">
                                <i class="fa fa-exclamation fa-3x"></i>
                            </div>
                            <div class="alert-content grid-80 tablet-grid-80 mobile-grid-80">
                                <h3>There has been a problem: </h3>
                                <p>@ViewBag.SubmissionError</p>
                            </div>
                        </div>
                    }
                    <noscript>
                        <div id="recaptchaJsError" class="grid-100 tablet-grid-100 mobile-grid-100 alert alert-error contact-validation-error">
                            <div class="alert-icon">
                                <i class="fa fa-exclamation fa-3x"></i>
                            </div>
                            <div class="alert-content grid-80 tablet-grid-80 mobile-grid-80">
                                <h3>There has been a problem: </h3>
                                <p>For security reasons, you can’t use our contact forms with JavaScript turned off. Please enable JavaScript to use the form or alternatively send your enquiry to webcontent@stockport.gov.uk<br></p>
                            </div>
                        </div>
                    </noscript>
                    <div class="group-form">
                        <div class="grid-container grid-parent">
                            @using (Html.BeginForm("EditUser", "Groups", FormMethod.Post))
                            {
                                <div class="grid-100 grid-parent">
                                    <div>You can change this user's email address and whether they are an administrator or editor. If this user is no longer a member of your group you can remove them completely so they can no longer make changes.</div>
                                    <div>You are currently editing: <strong>@Model.GroupAdministratorItem.Email</strong></div>

                                    @Html.HiddenFor(m => m.GroupAdministratorItem.Email)
                                </div>
                                <div class="grid-100 grid-parent">
                                    <label asp-for="@Model.GroupAdministratorItem.Permission" class="clearfix top-gap">Change their role</label>
                                    <select class="form-control grid-100 tablet-grid-100 mobile-grid-100" asp-for="@Model.GroupAdministratorItem.Permission">
                                        @foreach (var item in Model.SelectList)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.GroupAdministratorItem.Permission" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent"></span>
                                    <div class="remove-user"><a href="#">Remove User</a></div>
                                </div>
                                <div class="grid-100 grid-parent">
                                    <stock-button class="full-button">Save changes</stock-button>
                                    <stock-button as-link="true" class="grey full-button" href="@Url.Action("Users", "Groups", new { slug = Model.Slug })">Cancel</stock-button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
