@using StockportWebapp.Config
@using StockportWebapp.Models
@using StockportWebapp.ViewModels
@inject StockportWebapp.FeatureToggling.FeatureToggles FeatureToggles
@model EventSubmission
@{
    ViewData["Title"] = "Edit your event";
    ViewData["og:title"] = "Edit your event";
    Layout = "../Shared/_Layout.cshtml";
    var controllerType = "Events";
    if (!string.IsNullOrEmpty(Model.GroupName))
    {
        controllerType = "Groups";
    }
}

@section Breadcrumbs {
    <partial name="Breadcrumb" model='new List<Crumb> { new Crumb("Stockport Local", "groups", "Group"), new Crumb("Manage your groups", "manage", "groups"), new Crumb(Model.GroupName, "manage/" + Model.GroupSlug, "groups"), new Crumb("Manage your events", "manage/" + Model.GroupSlug + "/events/", "groups"), new Crumb(Model.Title, "manage/" + Model.GroupSlug + "/events/" + Model.Slug, "groups") }'/>
}

<div class="grid-container-full-width">
    <div class="grid-container grid-100">
        <div class="l-body-section-filled mobile-grid-100 tablet-grid-100 grid-100">
            <section aria-label="" class="grid-100 mobile-grid-100">
                <div class="l-content-container">
                    <div class="grid-100">
                        <h1>Edit your event</h1>

                        @if (ViewBag.SubmissionError != null)
                        {
                            <div id="error-message-anchor"></div>
                            <div class="grid-100 tablet-grid-100 mobile-grid-100 alert alert-error contact-validation-error">
                                <div class="alert-icon">
                                    <span class="fa fa-exclamation fa-3x" aria-hidden="true"></span>
                                </div>
                                <div class="alert-content grid-80 tablet-grid-80 mobile-grid-80">
                                    <h3>There has been a problem: </h3>
                                    <p>@ViewBag.SubmissionError</p>
                                </div>
                            </div>
                        }
                        <noscript>
                            <div id="recaptchaJsError" class="grid-100 tablet-grid-100 mobile-grid-100 alert alert-error contact-validation-error">
                                <div class="alert-icon">
                                    <span class="fa fa-exclamation fa-3x" aria-hidden="true"></span>
                                </div>
                                <div class="alert-content grid-80 tablet-grid-80 mobile-grid-80">
                                    <h3>There has been a problem: </h3>
                                    <p>For security reasons, you can’t use our contact forms with JavaScript turned off. Please enable JavaScript to use the form or alternatively send your enquiry to webcontent@stockport.gov.uk<br></p>
                                </div>
                            </div>
                        </noscript>

                        <form asp-controller=@controllerType asp-action="EditEvent" method="post" role="form">
                            <input type="hidden" asp-for="@Model.SubmitterEmail" />
                            <input type="hidden" asp-for="@Model.SubmittedBy" />
                            <div class="form">
                                <div class="form-section">
                                    <fieldset>
                                        <label asp-for="@Model.Title"></label>
                                        <input class="grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 form-control" asp-for="@Model.Title" />
                                        <span role="alert" aria-atomic="true" asp-validation-for="@Model.Title" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent"></span>

                                        <label asp-for="@Model.Description"></label>
                                        <span class="small" aria-hidden="true">
                                            <ul>
                                                <li>Let people know why they should visit your event</li>
                                                <li>Let people know how to get in touch</li>
                                            </ul>
                                        </span>
                                        <div class="grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent">
                                            <textarea id="mytext" asp-for="@Model.Description" class="wysiwyg grid-100 tablet-grid-100 mobile-grid-100 form-control-deep group-wysiwyg" title="Enter a Description"></textarea>
                                        </div>

                                        <span role="alert" aria-atomic="true" asp-validation-for="@Model.Description" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent"></span>

                                        <label asp-for="@Model.Location"></label>
                                        <i>For example: Cheadle Library, 23 Ashfield Rd, Cheadle, Stockport, SK8 1BB</i>
                                        <input type="text" id="location-autocomplete" class="grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 form-control location-search-input location-search-input-autoset" asp-for="@Model.Location" />
                                        <input type="hidden" id="address" value="@Model.Location" />
                                        <input type="hidden" id="latitude" asp-for="@Model.Latitude" />
                                        <input type="hidden" id="longitude" asp-for="@Model.Longitude" />
                                        <span role="alert" aria-atomic="true" asp-validation-for="@Model.Location" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent"></span>

                                        <label asp-for="@Model.EventDate"></label>
                                        <input type="date" class="grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 form-control" asp-for="@Model.EventDate" />
                                        <span role="alert" aria-atomic="true" asp-validation-for="@Model.EventDate" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent"></span>

                                        <label asp-for="@Model.StartTime"></label>
                                        <i>Format: hh:mm (24 hour clock)</i>
                                        <div class="clearfix"></div>
                                        <input type="time" class="grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 form-control" asp-for="@Model.StartTime" />
                                        <span role="alert" aria-atomic="true" asp-validation-for="@Model.StartTime" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent"></span>
                                        <label asp-for="@Model.EndTime"></label>

                                        <i>Format: hh:mm (24 hour clock)</i>
                                        <div class="clearfix"></div>
                                        <input type="time" class="grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 form-control" asp-for="@Model.EndTime" />
                                        <span role="alert" aria-atomic="true" asp-validation-for="@Model.EndTime" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent"></span>
                                        <div class="clearfix"></div>

                                        <div class="recurring-event-yn">
                                            <label>Is this a recurring event?</label>
                                            <ul class="radio-list">
												<li><label>@Html.RadioButtonFor(_ => _.IsRecurring, false, new { @class = "schedule_multiple_events", @id = "RecurringEventYnNo" })No</label></li>
												<li><label>@Html.RadioButtonFor(_ => _.IsRecurring, true, new { @class = "schedule_multiple_events", @id = "RecurringEventYnNo" })Yes</label></li>
                                            </ul>                                           
                                        </div>

                                        <div class="schedule_multiple_events_inputs">
                                            <label asp-for="@Model.Frequency"></label>
                                            <ul class="radio-list">
                                                @foreach (var item in Model.Frequencylist.Keys)
                                                {
                                                    <li>
                                                        <label><input type="radio" value="@item" asp-for="Frequency">@item</label>

                                                    </li>
                                                    if (!string.IsNullOrWhiteSpace(@Model.Frequencylist[item]))
                                                    {
                                                        <p>
                                                            <i>@Model.Frequencylist[item]</i>
                                                        </p>
                                                    }
                                                }
                                            </ul>
                                            <span role="alert" aria-atomic="true" asp-validation-for="@Model.Frequency" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent"></span>

                                            <label asp-for="@Model.EndDate"></label>
                                            <input type="date" class="grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 form-control" asp-for="@Model.EndDate" novalidate />
                                            <span role="alert" aria-atomic="true" asp-validation-for="@Model.EndDate" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent"></span>
                                        </div>

                                        <label asp-for="@Model.Fee"></label>
                                        <input class="grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 form-control" asp-for="@Model.Fee" />
                                        <span role="alert" aria-atomic="true" asp-validation-for="@Model.Fee" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent"></span>
                                        <label>Event categories</label>
                                        <div class="grid-100 grid-parent category-div" id="category-div1">
                                            <input type="hidden" asp-for="@Model.CategoriesList" />
                                            <partial name="multiselect" model='new MultiSelect() { Limit = 3, Label = "Category", ValueControlId = "CategoriesList", AvailableValues = Model.AvailableCategories }'/>
                                        </div>

                                        <stock-button id="uitest-contact-form-submit" class="button-contact-us">Save changes</stock-button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<link rel=stylesheet href=~/assets/javascript/vendor/trumbowyg/trumbowyg.min.css />
<script>
    require(['/assets/javascript/config.min.js'], function() {
        require(['multistepForm.min', 'groups.min', 'trumbowyg', 'recaptcha', 'google.places'],
            function (multistepForm, groups, trumbowyg) {
                multistepForm.Init();
                groups.Init();
                $('textarea').trumbowyg({
                    tagsToRemove: ['script', 'link'],
                    btns: [
                        ['h3', 'h4', 'p'],
                        ['strong', 'em'],
                        ['unorderedList', 'orderedList'],
                        ['horizontalRule']
                    ]
                });
            }
        );
    });
</script>