@using StockportWebapp.Models
@using StockportWebapp.ViewModels
@model GroupResults

@{
    ViewData["Title"] = "Favourite groups";
    ViewData["og:title"] = "Favourite groups";
    ViewData["Description"] = "Favourite groups";
    ViewData["Type"] = "Group";
    Layout = "../Shared/_Layout.cshtml";
}

@section Breadcrumbs {
    @Html.Partial("Breadcrumb", new List<Crumb> { new Crumb("Stockport Local", "groups", "Group") })
}

<link rel="stylesheet" media="print" type="text/css" href="/assets/stylesheets/print-group-favourites.min.css" />

<div class="grid-container-full-width" id="group-favourites">
    <div class="grid-container grid-100">

        <div class="l-body-section-filled l-article-content mobile-grid-100 tablet-grid-100 grid-100">
            <section aria-label="content">
                <div class="l-content-container grid-100 group-margin" id="group-padding">
                    <h1 id="manage-group-title" class="group-article-title">Favourite groups</h1>
                    <div class="grid-container grid-parent">
                        <div id="favourites-list" class="@(Model.Groups.Any() ? "" : "hidden")">
                            @Html.Partial("Groups/GroupCardList", Model.Groups)
                            @Html.Partial("Groups/FavouriteGroupsPrint", Model.Groups)
                            <div class="l-content-container grid-100 favourite-share-container">
                                <div class="share border top-border">
                                    <div class="grid-20 tablet-grid-100 mobile-grid-100 favourite-share">                                        
                                        <a href="javascript:;" class="print-this">
                                            <i class="fa fa-print" aria-hidden="true"></i><b>Print favourites</b>
                                        </a>
                                    </div>
                                    <div class="grid-20 tablet-grid-100 mobile-grid-100 favourite-share">
                                        <a href="@Url.Action("FavouriteGroupsPDF", "groups")" target="_blank">
                                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i><b>Download as PDF</b>
                                        </a>
                                    </div>
                                    <div class="grid-20 tablet-grid-100 mobile-grid-100 favourite-share">
                                        <a href="@Url.Action("FavouriteGroupsClearAll", "groups")">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i><b>Clear all favourites</b>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid-container grid-100 center-block @(!Model.Groups.Any() ? "" : "hidden")" id="no-results">
                            <div class="l-content-container grid-100 grid-parent group-margin">
                                <div class="grid-100 centre word-wrap">
                                    <div class="icon-bordered icon-bordered-fixed green tick">
                                        <i class="fa fa-star fa-5x" aria-hidden="true"></i>
                                    </div>
                                    <h2>You have 0 favourite groups</h2>
                                </div>
                                <div class="grid-100 centre">
                                    <p>If you want to add more favourites, go back to Stockport Local.</p>
                                </div>
                                <div class="grid-100 centre mixed-buttons">
                                    <stock-button as-link="true" href="@Url.Action("Index", "Groups")">Go back to Stockport Local</stock-button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
