@using StockportWebapp.Models
@using StockportWebapp.ViewModels
@using StockportWebapp.Utils
@model GroupResults
@{
    Layout = "../Shared/_LayoutPrint.cshtml";
}

<style type="text/css">
    body {
        -webkit-print-color-adjust: exact;
    }

    .group-card-icon, .group-card-text {
        float:left;
        padding-left: 5px;
        display:inline-block;
    }
</style>

<div class="grid-container-full-width" id="group-favourites">
    <div class="grid-container grid-100">
        <div class="l-body-section-filled l-article-content mobile-grid-100 tablet-grid-100 grid-100">
            <div class="l-content-container grid-100 group-margin" id="group-padding">
                <h1 id="manage-group-title" class="group-article-title">Favourite groups</h1>
                <div class="grid-container grid-parent">

                    @if (Model.Groups.Any())
                    {
                        <table>
                            @foreach (var group in Model.Groups)
                            {
                                var cost = group.Cost;
                                cost = cost == "Paid" && !string.IsNullOrEmpty(group.CostText) ? group.CostText : cost;
                                <tr>
                                    <td width="200">
                                        <image style="width:200px" src="@GroupImageUrlHelper.GetImageUrl(group)"></image>
                                    </td>
                                    <td>
                                        <div class="group-card-information grid-100">
                                            <div class="group-title">
                                                <h3>@group.Name</h3>
                                            </div>
                                            @if (!string.IsNullOrWhiteSpace(cost))
                                            {
                                                <div class="group-card-icon">
                                                    <i class="fa fa-gbp" aria-hidden="true"></i>
                                                </div>
                                                <div class="group-card-text">@cost</div>
                                            }
                                            <div class="group-card-icon">
                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            </div>
                                            <div class="group-card-text">
                                                @(group.Address.Length > 70 ? group.Address.Substring(0, 70) + "..." : group.Address)
                                            </div>
                                            @if (!string.IsNullOrWhiteSpace(group.AbilityLevel))
                                            {
                                                <div class="group-card-icon">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </div>
                                                <div class="group-card-text">@group.AbilityLevel</div>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        window.print();
        setTimeout(function () { window.close(); }, 1000);
        window.close();
    });
</script>
