@using StockportWebapp.Models
@model Event
@{
    ViewData["Title"] = Model.Title;
    ViewData["og:title"] = Model.Title;
    Layout = "../Shared/_Layout.cshtml";
}

@section Breadcrumbs {
    @Html.Partial("Breadcrumb", new List<Crumb> { new Crumb("Stockport Local", "groups", "Group"), new Crumb("Manage your groups", "manage", "groups"), new Crumb(ViewBag.GroupName, "manage/" + ViewBag.GroupSlug, "groups"), new Crumb("Manage your events", "manage/" + ViewBag.GroupSlug + "/events/", "groups") })
}
<div class="grid-container grid-100 event-details">
    <div class="event-details-content">
        <h1 id="event-title">@Model.Title </h1>
        <h3>Event summary</h3>
        @if (Model.EventFrequency != EventFrequency.None)
        {
            <p class="recurring-event">
                This is a recurring event.
            </p>
        }
            <p><strong>Event date: </strong>@Model.EventDate.ToString("dddd dd MMMM yyyy")</p>
            <p><strong>Start time: </strong> @Model.StartTime</p>
            <p><strong>End time: </strong>@Model.EndTime</p>
            <p><strong>Price: </strong>@Model.Fee</p>
            <p><strong>Location: </strong>@Model.Location</p>
            <p><strong>Organiser name: </strong>@Model.SubmittedBy</p>
            <p><strong>Description: </strong>@Model.Description</p>
        </div>


        <div class="grid-100 grid-parent details-button">
            <stock-button id="edit-event" as-link="true" href="@Url.Action("EditEvent", "Groups")">Edit your event</stock-button>
        </div>
        <div class="grid-100 grid-parent details-button">
            <stock-button as-link="true" class="grey" href="@Url.Action("DeleteEvent", "Groups")">Delete your event</stock-button>
        </div>

    </div>
