@using StockportWebapp.Models
@using StockportWebapp.ViewModels
@using StockportWebapp.FeatureToggling
@inject FeatureToggles FeatureToggles
@model GroupStartPage

@{
    ViewData["Title"] = "Our Stockport Local";
    ViewData["og:title"] = "Our Stockport Local";
    ViewData["Description"] = "Our Stockport Local";
    ViewData["Beta"] = true;
    ViewData["BetaForm"] = "https://stockportcouncil.typeform.com/to/kEAxqh";
    ViewData["Type"] = "Group";
    Layout = "../Shared/_Layout.cshtml";
}

@section Breadcrumbs {
    @Html.Partial("Breadcrumb", new List<Crumb>())
}

<div class="l-page-content" id="content-no-margin-bottom-mainpage">
    <div class="full-width-title">
        <div class="grid-container grid-parent grid-100">
            <div class="grid-70 tablet-grid-70 mobile-grid-100">
                <h1 class="full-width-title-with-button">Our Stockport Local</h1>
            </div>
            <div class="header-right-button grid-30 tablet-grid-30 hide-on-mobile">
                <stock-button as-link="true" id="add-group-button" class="button-outline-white-transparent" href="@Url.Action("AddAGroup", "Groups")">Add your group or service</stock-button>
            </div>
        </div>
    </div>
    @if (FeatureToggles.GroupHomepage)
    {
        <div class="group-homepage-image" style="background-image: url(@Model.BackgroundImage)">
            @Html.Partial("../Shared/Groups/GroupHomeFilter")
        </div>
    }
    else
    {
        <div class="group-startpage-image">
            <div class="primary-filter-container primary-filter-container-start-page">
                @Html.Partial("PrimaryFilter", Model.PrimaryFilter)
            </div>
        </div>
    }
    <div class="group-startpage" style="background-color: #fff;">
        <div class="featured-category-items-wrapper matchbox-parent grid-container">
            <div class="featured-group-category-list">
                <h3 class="group-category-list-title hide hide-on-desktop">Discover something new in Stockport</h3>
                <h2 class="group-category-list-title hide-on-mobile hide-on-tablet">Discover something new in Stockport</h2>
                @Html.Partial("GenericFeaturedItemList", Model.GenericItemList)
            </div>
        </div>
    </div>
    <div class="footer-container-box hide-on-desktop hide-on-tablet">
        <div class="grid-container grid-parent grid-100 add-group-mobile">
            <div class="header-right-button mobile-grid-100">
                <stock-button as-link="true" class="button-outline-white-transparent" href="@Url.Action("AddAGroup", "Groups")">Add your group or service</stock-button>
            </div>
        </div>
    </div>
</div>