@using StockportWebapp.Config
@using StockportWebapp.Models
@using StockportWebapp.ViewModels
@model ManageGroupViewModel

@{
    ViewData["Title"] = Model.Name;
    ViewData["og:title"] = "Manage " + Model.Name;
    ViewData["Beta"] = true;
    ViewData["BetaForm"] = "https://stockportcouncil.typeform.com/to/kEAxqh";
    Layout = "../Shared/_Layout.cshtml";
}

@section Breadcrumbs {
    @Html.Partial("Breadcrumb", new List<Crumb> { new Crumb("Find a local group", "groups", "Group"), new Crumb("Manage your groups", "manage", "groups") })
}

<div class="grid-container-full-width">
    <div class="grid-container grid-100">

        <div class="l-body-section-filled l-article-content mobile-grid-100 tablet-grid-100 grid-100">
            <section aria-label="@Model.Name content">
                <div class="l-content-container grid-100 group-margin" id="group-padding">
                    <h1 class="group-article-title">@Model.Name</h1>
                    <div class="grid-container grid-parent">

                        <div class="sk-table-outer-container">
                            <div class="sk-table-body">
                                <div class="grid-100 sk-table-row grid-parent">
                                    <div class="sk-table-cell grid-100">
                                        <span class="main"><strong>Manage @Model.Name</strong></span>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="grid-100 sk-table-row grid-parent">
                                        <div class="sk-table-cell">
                                            <i class="row-arrow centre"></i>
                                        </div>
                                        <div class="sk-table-cell grid-90">
                                            <span class="main">Change your group information</span>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="grid-100 sk-table-row grid-parent">
                                        <div class="sk-table-cell">
                                            <i class="row-arrow centre"></i>
                                        </div>
                                        <div class="sk-table-cell grid-90">
                                            <span class="main">Manage your upcoming events</span>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="grid-100 sk-table-row grid-parent">
                                        <div class="sk-table-cell">
                                            <i class="row-arrow centre"></i>
                                        </div>
                                        <div class="sk-table-cell grid-90">
                                            <span class="main">Add or remove users</span>
                                        </div>
                                    </div>
                                </a>

                                <div class="grid-100 sk-table-row grid-parent">
                                    <div class="sk-table-cell">
                                        <div class="grid-100">
                                            <stock-button as-link="true" class="" href="@Url.Action("Delete", "Groups", new { slug = Model.Slug })">Delete your group</stock-button>
                                            <stock-button as-link="true" class="grey" href="@Url.Action("Archive", "Groups", new { slug = Model.Slug })">Archive your group</stock-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
