@using Microsoft.ApplicationInsights.AspNetCore.Extensions
@using StockportWebapp.Models
@using StockportWebapp.Utils
@using StockportWebapp.ViewModels
@using StockportWebapp.FeatureToggling
@inject FeatureToggles FeatureToggles
@model GroupResults
@{
    ViewData["Title"] = ViewBag.Category != null ? ViewBag.Category.Name : "All groups";
    ViewData["og:title"] = string.Concat(ViewBag.Category != null ? ViewBag.Category.Name : "All groups", " - Stockport Local");
    ViewData["Description"] = "Stockport Local results page";
    ViewData["Type"] = "Group";
    Layout = "../Shared/_Layout.cshtml";
}

@section Breadcrumbs {
    @Html.Partial("Breadcrumb", new List<Crumb>() { new Crumb("Stockport Local", "groups", "Group") })
}


<div class="l-page-content group-result-page" id="content-no-margin-bottom-mainpage">
    <div class="full-width-title">
        <div class="grid-container grid-parent grid-100">
            <div class="grid-70 tablet-grid-60 mobile-grid-100">
                <h1 tabindex="-1" id="content" class="full-width-title-with-button">Stockport Local</h1>
            </div>
            <div class="header-right-button grid-30 tablet-grid-40 hide-on-mobile">
                <stock-button as-link="true" class="button-outline-white-transparent" href="@Url.Action("AddAGroup", "Groups")">Add your group or service</stock-button>
            </div>
        </div>
    </div>
    <div class="hide-on-mobile tablet-grid-100 grid-100 grid-parent favourites-container">
        @Html.Partial("FavouritesBar")
    </div>


    <div class="group-startpage-image group-results">
        <div class="mobile-grid-100 group-result-label-container hide-on-desktop hide-on-tablet"><label>Showing <strong>@ViewBag.SelectedCategory</strong> groups near <strong>@Model.PrimaryFilter.Location</strong></label></div>
        <div class="primary-filter-outer-container-results-page">
            <h2 class="visuallyhidden">Search category</h2>
            <div id="edit-search" class="primary-filter-container primary-filter-container-results-page">
                @Html.Partial("PrimaryFilter", Model.PrimaryFilter)
            </div>
        </div>
        <div id="open-edit-search" class="mobile-grid-100 hide-on-desktop hide-on-tablet">
            <label class="open-edit-search-label">Edit search</label>
            <span class="result-arrow"></span>
        </div>
    </div>
    <div class="filter-sort-bar">

        <div class="mobile-grid-50 mobile-pull-right group-sort-by-filter grid-parent">
            @Html.Partial("RefineByBar", Model.RefineByBar())
        </div>

        <div class="hide-on-desktop hide-on-tablet mobile-grid-50 mobile-pull-left group-sort-by-order">
            <select asp-for="PrimaryFilter.Order" asp-items="@(new SelectList(Model.PrimaryFilter.Orders))" class="primary-filter-select custom-arrow mobile-grid-100" id="selectOrderMobile"></select>
        </div>
        <div class="mobile-grid-100 hide-on-desktop hide-on-tablet grid-parent favourites-container">
            @Html.Partial("FavouritesBar")
        </div>
    </div>

    @if (!string.IsNullOrEmpty(Model.Tag))
    {
        <div class="grid-container ">
            <div class="organisation-bar-container">
                <div class="grid-100 organisation-bar">
                    <label>Organisation</label>
                    <h1><a href="/organisations/@Model.KeepTag">@Model.OrganisationName</a> </h1>
                    <div class="remove-filter">
                        <a href="@ViewBag.AbsoluteUri.Replace("&tag=" + Model.Tag, "").Replace("?tag=" + Model.Tag, "")">Remove this filter</a>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (Model.Groups.Any())
    {
        <h2 class="visuallyhidden">Displayed results</h2>
        <ul class="group-listing-container grid-container matchbox-parent">
            @foreach (var group in Model.Groups)
            {
                @Html.Partial("Groups/GroupCard", group)
            }
        </ul>
        <div class="grid-container grid-100 group-pagination">
            @Html.Partial("Pagination", Model.Pagination)
        </div>
    }
    else
    {
        <div class="grid-container grid-100">
            <h2 class="">There are currently no groups matching your search.</h2>
            <p>Please edit your search and try again.</p>
        </div>
    }

    <div class="content-disclaimer">
        <div class="grid-container">
            @Html.Partial("ContentDisclaimerCard")
        </div>
    </div>

    <div class="footer-container-box hide-on-desktop hide-on-tablet">
        <div class="footer-container-box-label">
            <h3>Add your group or service</h3>
            <label>Complete our form to add your group or service to Stockport Local.</label>
        </div>
        <div class="grid-container grid-parent grid-100 add-group-mobile">
            <div class="header-right-button mobile-grid-100">
                <stock-button as-link="true" class="button-outline-white-transparent" href="@Url.Action("AddAGroup", "Groups")">Add your group or service</stock-button>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    require(['startup', 'favourites', 'expandinglinks', 'groups', 'primaryfilter', 'refinebybar', 'filters', 'matchboxconfig', 'matchHeight', 'viewmoreslider', 'tracking'],
        function (startup, favourites, expandinglinks, groups, primaryfilter, refinebybar, filters, matchboxconfig, matchHeight, viewmoreslider, tracking) {
            favourites.Init();
            groups.Init();
            startup.Init();
            expandinglinks.Init();
            primaryfilter.Init();
            filters.Init();
            refinebybar.Init();
            matchboxconfig.Init();
            viewmoreslider.Init();
            tracking.Init();
        })
</script>
