@using StockportWebapp.Models
@using StockportWebapp.Utils
@using StockportWebapp.ViewModels
@model GroupResults
@{
    ViewData["Title"] = ViewBag.Category != null ? ViewBag.Category.Name : "All groups";
    ViewData["og:title"] = string.Concat(ViewBag.Category != null ? ViewBag.Category.Name : "All groups", " - find a local group");
    ViewData["Description"] = "Find a local group results page";
    ViewData["Beta"] = true;
    ViewData["BetaForm"] = "https://stockportcouncil.typeform.com/to/kEAxqh";
    ViewData["Type"] = "Group";
    Layout = "../Shared/_Layout.cshtml";
}

@section Breadcrumbs {
    @Html.Partial("Breadcrumb", new List<Crumb>() { new Crumb("Find a local group", "groups", "Group")})
}

<div class="l-page-content">
    <div class="full-width-title">
        <div class="grid-container grid-parent grid-100">
            <div class="grid-70 tablet-grid-70 mobile-grid-100">
                <h1 class="full-width-title-with-button">Find a local group</h1>
            </div>
            <div class="header-right-button grid-30 tablet-grid-30 hide-on-mobile">
                <stock-button as-link="true" class="button-outline-white-transparent" href="@Url.Action("AddAGroup", "Groups")">Add your group</stock-button>
            </div> 
        </div>
    </div>
    
    <div class="group-startpage-image group-results">
        <div class="mobile-grid-100 group-result-label-container hide-on-desktop hide-on-tablet"><label>Showing <strong>@ViewBag.SelectedCategory</strong> groups near <strong>@Model.PrimaryFilter.Location</strong></label></div>
        <div class="primary-filter-outer-container-results-page">
            <div id="edit-search" class="primary-filter-container primary-filter-container-results-page">
                @Html.Partial("PrimaryFilter", Model.PrimaryFilter)
            </div>
        </div>
        <div id="open-edit-search" class="mobile-grid-100 hide-on-desktop hide-on-tablet">
            <label class="open-edit-search-label">Edit search</label>
            <span class="result-arrow"></span>
        </div>
    </div>

    <div class="hide-on-desktop hide-on-tablet mobile-grid-100" style="padding-top: 15px;">
        <select asp-for="PrimaryFilter.Order" asp-items="@(new SelectList(Model.PrimaryFilter.Orders))" class="primary-filter-select custom-arrow mobile-grid-100" id="selectOrderMobile"></select>
    </div>
    
    @if (Model.Groups.Any())
    {
        <ul class="group-listing-container grid-container">
            @foreach (var group in Model.Groups)
            {
                <li class="group-li grid-33 tablet-grid-50 mobile-grid-100">
                    <a class="group-card" href="../groups/@group.Slug">
                        <div class="group-image" style="background-image: url(@GroupImageUrlHelper.GetImageUrl(group))"></div>
                        <div class="group-card-information grid-100">
                            <div class="grid-100 group-title">
                                <h3>@group.Name</h3>
                            </div>
                            <div class="grid-10 tablet-grid-10 mobile-grid-10 group-card-icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="grid-90 tablet-grid-90 mobile-grid-90 group-card-text">
                                @(group.Address.Length > 70 ? group.Address.Substring(0, 70) + "..." : group.Address)
                            </div>
                        </div>
                    </a>
                </li>
            }
        </ul>
        <div class="grid-container grid-100 group-pagination">
            @Html.Partial("Pagination", Model.Pagination)
        </div>
        <div class="full-width-title hide-on-desktop hide-on-tablet">
            <div class="grid-container grid-parent grid-100">
                <div class="grid-70 tablet-grid-70 mobile-grid-100" style="text-align: center">
                </div>
                <div class="header-right-button grid-30 tablet-grid-30 mobile-grid-100">
                    <stock-button as-link="true" class="button-outline-white-transparent" href="@Url.Action("AddAGroup", "Groups")">Add your group</stock-button>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="grid-container grid-100">
            <h1 class="">There are currently no groups matching your search.</h1>
            <p>Please edit your search and try again.</p>
        </div>
        <div class="full-width-title hide-on-desktop hide-on-tablet">
            <div class="grid-container grid-parent grid-100 add-group-mobile">
                <div class="grid-70 tablet-grid-70 mobile-grid-100" style="text-align: center">
                </div>
                <div class="header-right-button mobile-grid-100">
                    <stock-button as-link="true" class="button-outline-white-transparent" href="@Url.Action("AddAGroup", "Groups")">Add your group</stock-button>
                </div>
            </div>
        </div>

    }

</div>


