@model StockportWebapp.Models.ProcessedHomepage

@{
    ViewData["Title"] = "Welcome to Healthy Stockport";
    Layout = "../Shared/_LayoutHome.cshtml";
    ViewData["og:title"] = "Welcome to Stockport Council";

}

<div class="l-homepage-body-container">
    @section BackgroundImage {style="background-image: url(@Model.BackgroundImage)"}
    <div class="l-background-image-container" style="background-image: url(@Model.BackgroundImage)">
        <div class="l-body-section-transparent grid-100">
            <div class="introduction grid-50">
                @Html.Raw(Model.FreeText)
            </div>
        </div>
    </div>

    <div class="l-body-section-filled grid-100">
        <section aria-label="Healthy Stockport" class="grid-100 mobile-grid-100 feature">
            <h2>@Model.FeaturedTasksHeading</h2>
            <hr />
            <p class="feature-tagline">@Model.FeaturedTasksSummary</p>
            <div class="topic-block-list">
                @foreach (var subItem in Model.FeaturedTasks)
            {
                    <div class="grid-30 tablet-grid-40 mobile-grid-100 topic-block-container">
                        <a href="@subItem.NavigationLink" class="topic-block">

                            <div class="topic-block-content">
                                <i class="fa @subItem.Icon fa-3x default-icon hide-on-mobile"></i>
                                <div class="hide-on-tablet hide-on-desktop topic-block-icon-container">
                                    <i class="fa @subItem.Icon fa-2x default-icon"></i>
                                </div>
                               
                                    <h4 style="line-height: 3.5">@subItem.Title</h4>
                               
                                <div class="topic-block-content-divider hide-on-mobile"></div>
                                <p class="hide-on-mobile">@subItem.Teaser</p>
                                <div class="article-chevron hide-on-tablet hide-on-desktop l-right-align">
                                    <i aria-hidden="true" class="fa fa-2x fa-angle-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
            <div class="grid-100 grid-parent hs-carousel-container">
                @Html.Partial("Carousel", Model.CarouselContents)
            </div>
        </section>
    </div>
</div>
