@using System.Threading.Tasks
@using StockportWebapp.ProcessedModels
@using StockportWebapp.ViewModels
@model StockportWebapp.ProcessedModels.ProcessedHomepage

@{
    ViewData["Title"] = "Welcome to Healthy Stockport";
    Layout = "../Shared/_LayoutHome.cshtml";
    ViewData["og:title"] = "Welcome to Stockport Council";

}
@section BackgroundImage
{
    @Html.Partial("ScaleImageByDevice", new Image("l-background-hs-image", Model.BackgroundImage))
}
@section CarouselBackgroundImage
{
    @{ int counter = 1; }
    @foreach (var carouselContent in Model.CarouselContents)
    {
        @Html.Partial("ScaleImageByDevice", new Image("webcast-" + counter, carouselContent.Image))
        counter++;
    }
}
<div>
    <div class="grid-100 l-background-hs-image">
        <div class="introduction grid-50"> 
            @Html.Raw(Model.FreeText)
        </div>
    </div>   

    <div id="content" class="l-body-section-filled grid-100">
        <section aria-label="Healthy Stockport" class="grid-100 mobile-grid-100 feature feature-container">
            <h2>@Model.FeaturedTasksHeading</h2>
            <hr />
            <p class="feature-tagline feature-tagline-heading">@Model.FeaturedTasksSummary</p>
            <div class="topic-block-list matchbox-parent" id="topicBlockList">
                @foreach (var subItem in Model.FeaturedTasks)
                {
                    <div class="grid-30 tablet-grid-40 mobile-grid-100 topic-block-container">
                        <a href="@subItem.NavigationLink" class="topic-block matchbox-child">

                            <div class="topic-block-content">
                                <i class="fa @subItem.Icon fa-3x default-icon hide-on-mobile"></i>
                                <div class="hide-on-tablet hide-on-desktop topic-block-icon-container">
                                    <i class="fa @subItem.Icon fa-2x default-icon article-chevron-i"></i>
                                </div>                              
                                <h4>@subItem.Title</h4>

                                <div class="topic-block-content-divider hide-on-mobile"></div>
                                <p class="hide-on-mobile">@subItem.Teaser</p>
                                <div class="article-chevron hide-on-tablet hide-on-desktop l-right-align">
                                    <i aria-hidden="true" class="fa fa-2x fa-angle-right article-chevron-i"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                }    
            </div>
            @if (Model.CarouselContents.Count() != 0)
            {
                <div class="grid-100 grid-parent hs-carousel-container">
                    @Html.Partial("Carousel", Model.CarouselContents)
                </div>
            }
        </section>
    </div>
</div>
