@using StockportWebapp.ViewModels
@model HomepageViewModel

@inject StockportWebapp.Config.IApplicationConfiguration appConfig

@{
    ViewData["Title"] = "Welcome to Healthy Stockport";
    Layout = "../Shared/_LayoutHome.cshtml";
    ViewData["og:title"] = "Welcome to Stockport Council";

}
@if (!string.IsNullOrEmpty(Model.HomepageContent.CampaignBanner.Image))
{
    @section BackgroundImage
    {
        <partial name="ScaleImageByDevice" model='new Image("l-background-hs-image", Model.HomepageContent.CampaignBanner.Image)'/>
    }
}
else
{
    @section BackgroundImage
    {
        <partial name="ScaleImageByDevice" model='new Image("l-background-hs-image", Model.HomepageContent.BackgroundImage)'/>
    }
}

@section CarouselBackgroundImage
    {
    @{ int counter = 1; }
    @foreach (var carouselContent in Model.HomepageContent.CarouselContents)
    {
        <partial name="ScaleImageByDevice" model='new Image("webcast-" + counter, carouselContent.Image)'/>
        counter++;
    }
}
<div>
    @if (Model.HomepageContent.Alerts != null)
    {
        foreach (var alert in Model.HomepageContent.Alerts)
        {
            <div>
                <partial name="Alert" model='alert'/>
            </div>
        }
    }

    @if (!string.IsNullOrEmpty(Model.HomepageContent.CampaignBanner.Title))
    {
        <div role="banner" class="l-background-hs-image">
            <partial name="CampaignBanner" model='Model.HomepageContent.CampaignBanner'/>
        </div>
    }
    else
    {
        <div role="banner" class="grid-100 l-background-hs-image">
            <div class="introduction grid-50">
                @Html.Raw(Model.HomepageContent.FreeText)
            </div>
        </div>
    }

    <div tabindex="-1" id="content" class="l-body-section-filled grid-100">
        <section aria-label="Healthy Stockport" class="grid-100 mobile-grid-100 feature feature-container">
            <h2>@Model.HomepageContent.FeaturedTasksHeading</h2>
            <hr />
            <div class="feature-tagline feature-tagline-heading">@Html.Raw(Model.HomepageContent.FeaturedTasksSummary)</div>
            <div class="topic-block-list matchbox-parent" id="topicBlockList">
                @foreach (var subItem in Model.HomepageContent.FeaturedTasks)
                {
                    <div class="grid-30 tablet-grid-40 mobile-grid-100 topic-block-container">
                        <a href="@subItem.NavigationLink" class="topic-block matchbox-child">

                            <div class="topic-block-content">
                                <span class="fa @subItem.Icon fa-3x default-icon hide-on-mobile" aria-hidden="true"></span>
                                <div class="hide-on-tablet hide-on-desktop topic-block-icon-container">
                                    <span class="fa @subItem.Icon fa-2x default-icon article-chevron-i" aria-hidden="true"></span>
                                </div>
                                <h4>@subItem.Title</h4>

                                <div class="topic-block-content-divider hide-on-mobile"></div>
                                <p class="hide-on-mobile">@subItem.Teaser</p>
                                <div class="article-chevron hide-on-tablet hide-on-desktop l-right-align">
                                    <span class="fa fa-2x fa-angle-right article-chevron-i" aria-hidden="true"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>

            @if (Model.EventsFromApi != null && Model.EventsFromApi.Any())
            {
                <section aria-label="Healthy Stockport" class="grid-100 mobile-grid-100 feature feature-container" id="event-listing-container">
                    <h2>Things to do</h2>
                    <hr />
                    <p class="feature-tagline feature-tagline-heading">There are lots of things to do in Stockport, which can help to keep you fit and active. You'll also be able to meet like minded people.</p>
                    <div class="grid-100 event-container-row matchbox-parent">
                        @{int count = 0;}
                        @foreach (var item in Model.EventsFromApi)
                        {
                            count++;
                            <div @(count == 3 ? "class=hide-on-tablet" : "")>
                                
                                <partial name="EventCard" model='item'/>
                            </div>
                        }
                    </div>
                    <div class="grid-100 events-call-to-action">
                        <a class="button button-outline button-partialrounded button-call-to-action" href="/events/category/@Model.HomepageContent.EventCategory">More things to do</a>
                    </div>
                </section>
            }



            @if (Model.HomepageContent.CarouselContents.Count() != 0)
            {
                <div class="grid-100 grid-parent hs-carousel-container">
                    <partial name="Carousel" model='Model.HomepageContent.CarouselContents'/>
                </div>
            }
        </section>
    </div>
</div>
