@using StockportWebapp.ProcessedModels
@model StockportWebapp.ProcessedModels.ProcessedProfile
@{

    ViewData["Title"] = Model.Title;
    var articleTitle = Model.Breadcrumbs.LastOrDefault() != null ? Model.Breadcrumbs.LastOrDefault().Title + " - " : string.Empty;
    ViewData["og:title"] = articleTitle + Model.Title;
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Description"] = Model.Teaser;
}

@section BackgroundImage {
    @{
        if (!string.IsNullOrEmpty(Model.BackgroundImage))
        {
            @:style = "background-image:url('@Model.BackgroundImage')"
        }
    }
}

@section Breadcrumbs {
    @Html.Partial("Breadcrumb", Model.Breadcrumbs)
}

<section aria-label="@Model.Title content" class="grid-90 mobile-grid-100">
    <a name="@Model.Title content" class="anchor anchor-content"></a>
    <div class="grid-100 prefix-5 tablet-grid-100 mobile-grid-100 l-body-section-container-holder ">
       
        <div class="grid-parent hs-profile-header">
            <div class="grid-100 tablet-grid-100" style="padding-left: 0px;">
                <i class="hs-profile-icon-container hide-on-mobile fa @Model.Icon"></i>
                <span class="hs-profile-title-container">@Model.Title</span>               
            </div>
            <div class="clearfix"></div>
            <p>@Model.Subtitle</p>
            
            <article>
                @Html.Raw(Model.Body)
            </article>
        </div>
    </div>
</section>