@using System.Threading.Tasks
@using StockportWebapp.ProcessedModels
@using StockportWebapp.ViewModels
@model StockportWebapp.ProcessedModels.ProcessedProfile
@{

    ViewData["Title"] = Model.Title;
    var articleTitle = Model.Breadcrumbs.LastOrDefault() != null ? Model.Breadcrumbs.LastOrDefault().Title + " - " : string.Empty;
    ViewData["og:title"] = articleTitle + Model.Title;
    Layout = "../Shared/_Layout.cshtml";
    ViewData["Description"] = Model.Teaser;
}

@section Breadcrumbs {
    @Html.Partial("Breadcrumb", Model.Breadcrumbs)
}
@section BackgroundImage
{
    @Html.Partial("ScaleImageByDevice", new Image("l-background-hs-image", Model.BackgroundImage))
}

@if (!string.IsNullOrEmpty(Model.BackgroundImage))
{
    <div class="grid-100 l-background-hs-image">
    </div>
} 

<section aria-label="@Model.Title content" class="grid-100 mobile-grid-100">
    <a name="@Model.Title content" class="anchor anchor-content"></a>
    <div class="grid-100 tablet-grid-100 mobile-grid-100 profile-container">      
        <div class="grid-parent hs-profile-header">
            <div class="hs-profile-title grid-100 tablet-grid-100">
                <i class="hs-profile-icon-container hide-on-mobile fa @Model.Icon" aria-hidden="true"></i>
                <span tabindex="-1" id="content"class="hs-profile-title-container">@Model.Title</span>               
            </div>
            <div class="clearfix"></div>
            <p>@Model.Subtitle</p>
            
            <article>
                @Html.Raw(Model.Body)
            </article>
        </div>
    </div>
</section>