@model IEnumerable<StockportWebapp.Models.Consultation>
@{

    var list = Model.Where(i => i.ClosingDate > DateTime.Now).OrderBy(i => i.ClosingDate);
}

<section class="appointments appointment-link">
    <header>
        <h2>
            <strong>Current Consultations</strong>
        </h2>
    </header>
    <table>
        <thead class="hide-on-mobile hide-on-tablet">
            <tr>
                <td><b>Description</b></td>
                <td class="align-right"><b>Closing Date</b></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in list)
            {
                var date = item.ClosingDate.Date == DateTime.Now.AddDays(1).Date ? "Tomorrow" : item.ClosingDate.ToString("dd MMMM yyyy");
                date = item.ClosingDate.Date == DateTime.Now.Date ? "Today" : date;
                <tr class="hover-hand">
                    <td class="hide-on-mobile hide-on-tablet"><a href="@item.Link"></a>@item.Title</td>
                    <td class="align-right hide-on-mobile hide-on-tablet">@date</td>
                    <td class="hide-on-mobile hide-on-tablet"></td>
                    <td class="hide-on-desktop">
                        <a href="#">
                            <div>
                                <div>
                                    <p>
                                        <strong>@item.Title</strong>
                                    </p>
                                    <p>@date</p>
                                </div>
                            </div>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Any(i => i.ClosingDate < DateTime.Now))
    {
        <footer>
            <a href="@Url.Action("PreviousConsultations", "Showcase", new { @slug = ViewData["Slug"] })">View previous consultations</a>
        </footer>
    }
</section>