@using StockportWebapp.Utils
@model StockportWebapp.ViewModels.EventsListViewModel
@inject ViewHelpers ViewHelpers

<div class="featured-item-container">
    <h2 class="featured-item-header">@Model.Heading</h2>
        <ul class="featured-item-body">
            @{
                var index = 0;

                foreach (var item in Model.Events)
                {
                    var fee = item.Fee;
                    if (item.Fee == "0")
                    {
                        fee = "Free";

                    }

                    <li class="@(index > 0 ? "hide-on-mobile" : "") @(index > 1 ? "hide-on-tablet" : "")">
                        <a href="/events/@item.Slug">
                            <img src="@item.ImageUrl" />
                            <h3>@item.Title</h3>
                            <div class="featured-event-item">
                                <span class="fa fa-gbp"></span><p>@fee</p>
                                <span class="fa fa-clock-o"></span><p>@ViewHelpers.FormatEventDate(item.EventDate, item.StartTime)</p>
                                <span class="fa fa-map-marker"></span><p>@item.Location</p>
                            </div>
                        </a>
                    </li>
                    index++;
                }
            }


        </ul>
        <a class="button-inverted hide-on-desktop hide-on-tablet" href="@Model.Link">@Model.LinkText</a>
        <a class="read-more hide-on-mobile" href="@Model.Link">@Model.LinkText</a>
</div>