@using System.Threading.Tasks
@using StockportWebapp.ProcessedModels
@model ProcessedShowcase

@{
    var header = string.IsNullOrWhiteSpace(Model.NewsSubheading) ? "Latest News" : Model.NewsSubheading;
    var querystring = Model.NewsCategoryOrTag == "C" ? "Category" : "tag";
    querystring += "=" + Model.NewsCategoryTag;
}

<div class="inline-header">
    <h2 class="no-margin-bottom">@header</h2>
    <a class="hide-on-mobile" href="@Url.Action("Index", "News")?@querystring">View more</a>
</div>

<a class="news-card-container" href="@Url.Action("Detail", "News", new {slug = Model.NewsArticle.Slug})">
    <div class="news-card">

        @if (!string.IsNullOrEmpty(Model.NewsArticle.ThumbnailImage))
        {
            <div class="news-card-thumbnail" style="background-image: url(@Model.NewsArticle.ThumbnailImage);"></div>
        }
        <div class="news-card-body">
            <p class="hide-on-mobile news-date">
                <span class="fa fa-clock-o" aria-hidden="true"></span>
                <partial name="FormattedDate" model='Model.NewsArticle.SunriseDate' />
            </p>
            <h3>@Model.NewsArticle.Title</h3>
            <p>@Model.NewsArticle.Teaser</p>
        </div>
    </div>
</a>

<div class="text-centre hide-on-desktop hide-on-tablet">
    <a class="button-inverted" href="@Url.Action("Index", "News")?@querystring">View more news</a>
</div>