@model StockportWebapp.ViewModels.SocialMediaLinksViewModel

<section>
    <h2>@Model.SocialMediaLinksSubheading</h2>
    <div class="showcase-button-container">
        @foreach (var link in Model.SocialMediaLinks)
        {
            <a as-link="true" class="showcase-button" href="@link.Url" aria-label="@link.ScreenReader">
                <span class="@link.Icon fa 2x"></span>
                <span aria-hidden="true">@link.AccountName</span>
            </a>
        }
    </div>
</section>
