@model LandingPageViewModel
@{
    LandingPage landingPage = Model.LandingPage;
    ViewData["Title"] = landingPage.Title;
    ViewData["Description"] = landingPage.MetaDescription;
    ViewData["og:title"] = landingPage.Title;
    Layout = "../Shared/_Layout2023.cshtml";
    string backgroundColour = landingPage.HeaderType.Equals("Framed Image")
        ? $"directories-breadcrumb-container-{CssClassMapper.GetCssClass(landingPage.HeaderColourScheme)}"
        : "topic-breadcrumb-container";
}

<div class="grid-container-full-width" style="background-color:white;" data-cy="landing-page">
    <partial name="GlobalAlerts" model='landingPage.Alerts' />
    <partial name="Breadcrumb2023" model='landingPage.Breadcrumbs' view-data='@(new ViewDataDictionary(ViewData) {{"backgroundColour", backgroundColour}, {"landingBreadcrumb", "landing-breadcrumb-container"}})'/>

    @if (landingPage.HeaderType.Equals("Framed Image"))
    {
        <partial name="FramedImageHeader" model="@Model" />
    }
    else
    {
        <partial name="FullImageHeader" model="@Model.PageHeader" />
    }

    @if (landingPage.PageSections is not null && landingPage.PageSections.Any())
    {
        @foreach (ContentBlock pageSection in landingPage.PageSections)
        {
            @if (pageSection.ContentType.Equals("CallToAction"))
            {
                CallToActionBanner callToActionBanner = pageSection.SubItems?.Any() is true 
                    ? new() {
                            Image = pageSection.SubItems.FirstOrDefault().Image,
                            AltText = pageSection.SubItems.FirstOrDefault().Title,
                            ButtonText = pageSection.SubItems.FirstOrDefault().ButtonText,
                            Colour = pageSection.ColourScheme,
                            Link = pageSection.SubItems.FirstOrDefault().Link,
                            Teaser = pageSection.SubItems.FirstOrDefault().Teaser,
                            Title = pageSection.SubItems.FirstOrDefault().Title
                        }
                    : null;

                if (landingPage.NeedsExtraMargin(pageSection))
                {
                    <partial name="CallToAction" model="@callToActionBanner" view-data='@(new ViewDataDictionary(ViewData) { {"AdditionalCssClass", "content-block content-block--margin-extra"} })' />
                }
                else
                {
                    <partial name="CallToAction" model="@callToActionBanner" view-data='@(new ViewDataDictionary(ViewData) { {"AdditionalCssClass", "content-block content-block--margin"} })' />
                }
            }
            else if (!pageSection.ContentType.Equals("HeaderHighlight"))
            {
                @if (landingPage.NeedsExtraPadding(pageSection))
                {
                    <partial name="@pageSection.ContentType" model="@pageSection" view-data='@(new ViewDataDictionary(ViewData) { {"AdditionalCssClass", "content-block--padding-extra"}, { "AllowTwo", false } })' />
                }
                else if (landingPage.NeedsExtraMargin(pageSection))
                {
                    <partial name="@pageSection.ContentType" model="@pageSection" view-data='@(new ViewDataDictionary(ViewData) { {"AdditionalCssClass", "content-block--margin-extra content-block--no-margin-top"}, {"FindOutMoreBannerOrderSwitch", "find-out-more-banner--image-order-switch"}, { "AllowTwo", false } })' />
                }
                else
                {
                    <partial name="@pageSection.ContentType" model="@pageSection" view-data='@(new ViewDataDictionary(ViewData) { { "AllowTwo", false } })' />
                }
            }
        }
    }
</div>