@model LandingPageViewModel
@{
    LandingPage landingPage = Model.LandingPage;
    ViewData["Title"] = landingPage.Title;
    ViewData["Description"] = landingPage.MetaDescription;
    ViewData["og:title"] = landingPage.Title;
    Layout = "../Shared/_Layout2023.cshtml";
    string backgroundColour = Model.LandingPage.HeaderType.Equals("Framed Image") ? $"directories-breadcrumb-container-{CssClassMapper.GetCssClass(landingPage.HeaderColourScheme)}" : "topic-breadcrumb-container";
}
<noscript>
    <style>
        .js-only {
            display: none;
        }
    </style>
</noscript>
<div class="grid-container-full-width" style="background-color:white;" data-cy="landing-page">
    <partial name="GlobalAlerts" model='Model.LandingPage.Alerts' />
    <partial name="Breadcrumb2023" model='Model.LandingPage.Breadcrumbs' view-data='@(new ViewDataDictionary(ViewData) {{"backgroundColour", backgroundColour}, {"landingBreadcrumb", "landing-breadcrumb-container"}})'/>

    @if (Model.LandingPage.HeaderType.Equals("Framed Image"))
    {
        <partial name="FramedImageHeader" model="@Model" />
    }
    else
    {
        <partial name="FullImageHeader" model="@Model" />
    }

    @if (Model.LandingPage.PageSections is not null && Model.LandingPage.PageSections.Any())
    {
        @foreach (ContentBlock pageSection in Model.LandingPage.PageSections)
        {
            @if (pageSection.ContentType.Equals("CallToAction"))
            {
                CallToActionBanner callToActionBanner = pageSection.SubItems?.Any() is true 
                    ? new() {
                            Image = pageSection.SubItems.FirstOrDefault().Image,
                            AltText = pageSection.SubItems.FirstOrDefault().Title,
                            ButtonText = pageSection.SubItems.FirstOrDefault().ButtonText,
                            Colour = pageSection.ColourScheme,
                            Link = pageSection.SubItems.FirstOrDefault().Link,
                            Teaser = pageSection.SubItems.FirstOrDefault().Teaser,
                            Title = pageSection.SubItems.FirstOrDefault().Title
                        }
                    : null;

                <div class="section section--extra-margin">
                    <partial name="CallToAction" model="@callToActionBanner" />
                </div>
            }
            else 
            {   
                <partial name="@pageSection.ContentType" model="@pageSection" />   
            }
        }
    }
</div>