@model LandingPageViewModel
@{
    LandingPage landingPage = Model.LandingPage;
    ViewData["Title"] = landingPage.Title;
    ViewData["Description"] = landingPage.MetaDescription;
    ViewData["og:title"] = landingPage.Title;
    Layout = "../Shared/_Layout2023.cshtml";
    string backgroundColour = Model.LandingPage.HeaderType.Equals("Framed Image") ? $"directories-breadcrumb-container-{CssClassMapper.GetCssClass(landingPage.HeaderColourScheme)}" : "topic-breadcrumb-container";
}

<div class="grid-container-full-width" style="background-color:white;" data-cy="landing-page">
    <partial name="GlobalAlerts" model='Model.LandingPage.Alerts' />
    <partial name="Breadcrumb2023" model='Model.LandingPage.Breadcrumbs' view-data='@(new ViewDataDictionary(ViewData) {{"backgroundColour", backgroundColour}, {"landingBreadcrumb", "landing-breadcrumb-container"}})'/>

    @if(Model.LandingPage.HeaderType.Equals("Framed Image"))
    {
        <partial name="FramedImageHeader" model="@Model" />
    }
    else
    {
        <partial name="FullImageHeader" model="@Model" />
    }

    @foreach(SubItem contentBlock in Model.LandingPage.PageSections)
    {
        <partial name="@contentBlock.ContentType" model="@(contentBlock.ContentType.Equals("CallToAction") 
            ? new CallToActionBanner() {
                    Image = contentBlock.SubItems.FirstOrDefault().Image,
                    AltText = contentBlock.SubItems.FirstOrDefault().Title,
                    ButtonText = contentBlock.SubItems.FirstOrDefault().ButtonText,
                    Colour = contentBlock.ColourScheme,
                    Link = contentBlock.SubItems.FirstOrDefault().Link,
                    Teaser = contentBlock.SubItems.FirstOrDefault().Teaser,
                    Title = contentBlock.SubItems.FirstOrDefault().Title }
            : contentBlock)" />
    }
</div>