@model ProcessedEvents
@{
    Layout = "../Shared/_Layout2023.cshtml";

    ViewData["Title"] = Model.Title;
    ViewData["og:title"] = Model.Title;
    ViewData["Description"] = Model.MetaDescription;
    ViewData["Location"] = Model.Location;

    string submittedBy = !string.IsNullOrEmpty(Model.Group.Name)
        ? $"<p><a href=\"{Url.Action("DirectoryEntry", "Directory", new { slug = Model.Group.Slug })}\">{Model.Group.Name}</a></p>"
        : $"<p>{Model.SubmittedBy}</p>";
    
    string eventDetailMargin = "event-detail__disclaimer";

    string borderTeal = "navcard--border-top-10 navcard--theme-teal-lighter-top";
    string borderTop = $"directory--border-top {borderTeal}";
    string eventWrapperCssClasses = "event-detail__wrapper navcard--white navcard-all navcard--theme-grey-accent-all navcard--border-top-0 navcard--radius-bottom-left navcard--radius-bottom-right";
}

<div class="grid-container-full-width" data-cy="event-detail">
    <partial name="GlobalAlerts" model='Model.Alerts' />
    <partial name="Breadcrumb2023" model='@Model.Breadcrumbs' />

    <div class="grid-container">
        <div class="grid-100">
            <h1 class="directory__title">@Model.Title</h1>
            <section class="event-detail" aria-label="@Model.Title content">
                <div class="event-detail--50 event-detail--50-left">
                    @if (!string.IsNullOrEmpty(Model.ImageUrl))
                    {
                        <img src="@Model.ImageUrl?w=350&q=89&fm=webp" class="event-detail__image" alt="">
                    }
                </div>
                <div class="event-detail--50 @borderTeal">
                    <div class="@eventWrapperCssClasses">
                            <h3 class="event-detail__details">Date and time</h3>
                            <p>
                                @Model.EventDate.ToString("dddd dd MMMM yyyy")
                                @DateTime.Parse(Model.StartTime).ToString("h:mmtt").ToLower() -
                                @DateTime.Parse(Model.EndTime).ToString("h:mmtt").ToLower()
                            </p>
                            <h3 class="event-detail__details">Location</h3>
                            <p>@Model.Location</p>
                            <h3 class="event-detail__details">Submitted by</h3>
                            @Html.Raw(submittedBy)
                        </div>
                </div>

                <partial name="DetailAbout" model='@Model' view-data='@(new ViewDataDictionary(ViewData) {{ "EventWrapperCssClasses", eventWrapperCssClasses }, {"BorderTop", borderTop}})' />
                <partial name="DetailBookingDetails" model='@Model' view-data='@(new ViewDataDictionary(ViewData) {{ "EventWrapperCssClasses", eventWrapperCssClasses }, {"BorderTop", borderTop}})' />
                
                @if (Model.MapDetails.MapPosition is not null && !Model.MapDetails.MapPosition.Lat.Equals(0.0) && !Model.MapDetails.MapPosition.Lon.Equals(0.0))
                {
                    <partial name="DetailMap" model='@Model' view-data='@(new ViewDataDictionary(ViewData) {{ "EventWrapperCssClasses", eventWrapperCssClasses }, {"BorderTop", borderTop}})' />
                }
                @if (Model.EventBranding.Any())
                {
                    <partial name="DetailBranding" model='@Model' view-data='@(new ViewDataDictionary(ViewData) {{ "EventWrapperCssClasses", eventWrapperCssClasses }, {"BorderTop", borderTop}})' />
                }
                        </section>
            </div>
            <section class="section section--no-margin">
                <partial name="DirectoryContentDisclaimer">
            </section>
    </div>
</div>