@using StockportWebapp.Models
@model StockportWebapp.ProcessedModels.ProcessedEvents

@{
    ViewData["Title"] = Model.Title;
    ViewData["og:title"] = Model.Title;
    ViewData["Description"] = Model.MetaDescription;
    ViewData["Location"] = Model.Location;
    Layout = "../Shared/_Layout.cshtml";
    var crumb = new List<Crumb> {new Crumb("What's on in Stockport", "events", "event")};
}

@section Breadcrumbs {
    <partial name="Breadcrumb" model="crumb"/>
}

<div class="grid-container-full-width">
    <div class="grid-container grid-100">

        <div class="l-body-section-filled l-article-content mobile-grid-100 tablet-grid-100 grid-100">
            <section aria-label="@Model.Title content">
                <div class="l-content-container grid-100 events-margin">
                    @{
                        if (Model.Alerts != null)
                        {
                            foreach (var alert in Model.Alerts)
                            {
                                if (Model.IsAlertDisplayed(alert))
                                {
                                    <partial name="DisplayTemplates/Alert" model='alert' />
                                }
                            }
                        }
                    }
                    <h1 class="events-article-title">@Model.Title</h1>
                    <div tabindex="-1" id="content"></div>
                    <div class="grid-100 events-calender-container grid-100">
                        @if (!string.IsNullOrEmpty(Model.ImageUrl))
                        {
                            <div class="group-calender-container-image hide-on-desktop" style="background-size: cover; background-position: center; background-image: url(@Model.ImageUrl);"> </div>
                        }

                        <h2 class="visuallyhidden">Details box</h2>
                        <div class="grid-50 events-calender-container-description">
                            <ul class="events-ul">
                                <li class="events-details">
                                    <div class="grid-10 mobile-grid-15 tablet-grid-10 events-details-symbol-containter">
                                        <span class="fa fa-clock-o fa-2x events-details-symbol" aria-hidden="true"></span>
                                    </div>
                                    <div class="grid-90 mobile-grid-85 tablet-grid-90 events-details-content">
                                        <div class="events-details-heading">
                                            <h3>Date and time</h3>
                                        </div>
                                        @Model.EventDate.ToString("dddd dd MMMM yyyy") @Model.StartTime - @Model.EndTime
                                    </div>
                                    <div class="clearfix"></div>
                                </li>

                                <li class="events-details">
                                    <div class="grid-10 mobile-grid-15 tablet-grid-10 events-details-symbol-containter">
                                        <span class="fa fa-gbp fa-2x events-details-symbol" aria-hidden="true"></span>
                                    </div>
                                    <div class="grid-90 mobile-grid-85 tablet-grid-90 events-details-content">
                                        <div class="events-details-heading">
                                            <h3>Price</h3>
                                        </div>
                                        @Model.Fee
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li class="events-details">
                                    <div class="grid-10 mobile-grid-15 tablet-grid-10 events-details-symbol-containter">
                                        <span class="fa fa-map-marker fa-2x events-details-symbol" aria-hidden="true"></span>
                                    </div>
                                    <div class="grid-90 mobile-grid-85 tablet-grid-90 events-details-content">
                                        <div class="events-details-heading">
                                            <h3>Location</h3>
                                        </div>
                                        @Html.Raw(Model.Location)
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li class="events-details">
                                    <div class="grid-10 mobile-grid-15 tablet-grid-10 events-details-symbol-containter">
                                        <span class="fa fa-user fa-2x events-details-symbol" aria-hidden="true"></span>
                                    </div>
                                    <div class="grid-90 mobile-grid-85 tablet-grid-90 events-details-content">
                                        <div class="events-details-heading">
                                            <h3>Submitted by</h3>
                                        </div>
                                        @if (Model.Group.Name != string.Empty)
                                        {
                                            <a href="/groups/@Model.Group.Slug">@Model.Group.Name</a>
                                        }
                                        else if (Model.SubmittedBy != string.Empty)
                                        {
                                            @Model.SubmittedBy
                                        }
                                        else
                                        {
                                            <br />
                                        }

                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                @if (!string.IsNullOrEmpty(Model.BookingInformation))
                                {
                                    <li class="events-details">
                                        <div class="grid-10 mobile-grid-15 tablet-grid-10 events-details-symbol-containter">
                                            <span class="fa fa-ticket fa-2x events-details-symbol" aria-hidden="true"></span>
                                        </div>
                                        <div class="grid-90 mobile-grid-85 tablet-grid-90 events-details-content">
                                            <div class="events-details-heading">
                                                Booking information
                                            </div>
                                            @{
                                                if (Model.BookingInformation.Contains("http") || Model.BookingInformation.Contains("www"))
                                                {
                                                    <a href="@Model.BookingInformation">Book your place</a>
                                                }
                                                else if (Model.BookingInformation.Contains("@"))
                                                {
                                                    <a href="mailto:@Model.BookingInformation">@Model.BookingInformation</a>
                                                }
                                                else
                                                {
                                                    @Model.BookingInformation
                                                }
                                            }
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                }
                            </ul>
                        </div>

                        <div class="grid-50 events-calender-container-image hide-on-mobile hide-on-tablet" style="background-size: cover; background-position: center; background-image: url(@Model.ImageUrl);">
                        </div>
                    </div>
                    <div>
                        <h2 class="events-section-details-heading">Description</h2>
                        <article>
                            @Html.Raw(Model.Description)
                        </article>
                    </div>
                    <h2 class="visuallyhidden">Map</h2>
                    @if (Model.MapDetails.MapPosition != null && Model.MapDetails.MapPosition.Lat != 0.0 && Model.MapDetails.MapPosition.Lon != 0.0)
                    {
                        <div class="event-map-container">
                            <br />
                            <partial name="MapPosition" model='Model.MapDetails' />
                        </div>
                    }

                </div>
                <div class="l-content-container grid-100">
                    <div class="share border top-border">
                        <partial name="ShareViaSocialMedia" model='Model.Title' />
                        <partial name="ShareViaCalendar" model='Model' />
                    </div>
                </div>               
            </section>
        </div>
    </div>
</div>
<script type="text/javascript">
    require(['startup', 'favourites', 'expandinglinks', 'events','carousel'],
        function (startup, favourites, expandinglinks, events, carousel) {
            startup.Init();
            favourites.Init();
            events.Init();
            carousel.Init();
        })
</script>