@using StockportWebapp.Models
@model ProcessedEvents

@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Teaser;
    Layout = "../Shared/_Layout.cshtml";
}

@section Breadcrumbs {
    
    @Html.Partial("Breadcrumb", Model.Breadcrumbs)
}

<div class="grid-container-full-width">
    <div class="grid-container grid-100">

        <div class="l-body-section-filled l-article-content hide-on-mobile hide-on-tablet grid-100">
            <section aria-label="@Model.Title content">
                <div class="l-content-container grid-100 events-margin">
                    <h1 class="events-article-title">@Model.Title</h1>

                    <div class="grid-100 events-calender-container">
                        <div class="grid-60 events-calender-container-description">
                            <ul class="events-ul">
                                <li class="events-details">
                                    <div class="grid-10 events-details-symbol-containter">
                                        <i class="fa fa-clock-o fa-2x events-details-symbol"></i>
                                    </div>
                                    <div class="grid-90 events-details-content">
                                        <div class="events-details-heading">Date and time</div>
                                        @Model.EventDate.ToString("dddd dd MMMM") @Model.StartTime - @Model.EndTime
                                    </div>
                                    <div class="clearfix"></div>
                                </li>

                                <li class="events-details">
                                    <div class="grid-10 events-details-symbol-containter">
                                        <i class="fa fa-gbp fa-2x events-details-symbol"></i>
                                    </div>
                                    <div class="grid-90 events-details-content">
                                        <div class="events-details-heading">
                                            Price
                                        </div>
                                        @Model.Fee
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li class="events-details">
                                    <div class="grid-10 events-details-symbol-containter">
                                        <i class="fa fa-map-marker fa-2x events-details-symbol"></i>
                                    </div>
                                    <div class="grid-90 events-details-content">
                                        <div class="events-details-heading">
                                            Location
                                        </div>
                                        @Html.Raw(Model.Location)
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li class="events-details">
                                    <div class="grid-10 events-details-symbol-containter">
                                        <i class="fa fa-user fa-2x events-details-symbol"></i>
                                    </div>
                                    <div class="grid-90 events-details-content">
                                        <div class="events-details-heading">
                                            Submitted by
                                        </div>
                                        @Model.SubmittedBy
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="grid-40 events-calender-container-image" style="background-size: cover; background-position:center; background-image: url(@Model.Image);">
                        </div>
                    </div>

                    <article>
                        <h3 class="events-details-heading">Description</h3>
                        <article>
                            @Html.Raw(Model.Description)
                        </article>
                    </article>
                </div>
            </section>
        </div>

        <div class="l-body-section-filled l-article-content hide-on-desktop tablet-grid-100 mobile-grid-100-100">
            <section aria-label="@Model.Title content">
                <div class="l-content-container grid-100 events-margin">
                    <h1 class="events-article-title">@Model.Title</h1>

                    <div class="grid-100 events-calender-container">
                        <div class="events-calender-container-image" style="background-size:cover; background-position:center; background-image: url(@Model.Image);">
                        </div>

                        <div class="events-calender-container-description">
                            <ul class="events-ul">
                                <li class="events-details">
                                    <div class="mobile-grid-15 tablet-grid-10 events-details-symbol-containter">
                                        <i class="fa fa-clock-o fa-2x events-details-symbol"></i>
                                    </div>
                                    <div class="mobile-grid-85 tablet-grid-90 events-details-content">
                                        <div class="events-details-heading">Date and time</div>
                                        @Model.EventDate.ToString("dddd dd MMMM") @Model.StartTime - @Model.EndTime
                                    </div>
                                    <div class="clearfix"></div>
                                </li>

                                <li class="events-details">
                                    <div class="mobile-grid-15 tablet-grid-10 events-details-symbol-containter">
                                        <i class="fa fa-gbp fa-2x events-details-symbol"></i>
                                    </div>
                                    <div class="mobile-grid-85 tablet-grid-90 events-details-content">
                                        <div class="events-details-heading">
                                            Price
                                        </div>
                                        @Model.Fee
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li class="events-details">
                                    <div class="mobile-grid-15 tablet-grid-10 events-details-symbol-containter">
                                        <i class="fa fa-map-marker fa-2x events-details-symbol"></i>
                                    </div>
                                    <div class="mobile-grid-85  tablet-grid-90 events-details-content">
                                        <div class="events-details-heading">
                                            Location
                                        </div>
                                        @Html.Raw(Model.Location)
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li class="events-details">
                                    <div class="mobile-grid-15 tablet-grid-10 events-details-symbol-containter">
                                        <i class="fa fa-user fa-2x events-details-symbol"></i>
                                    </div>
                                    <div class="mobile-grid-85 tablet-grid-90 events-details-content">
                                        <div class="events-details-heading">
                                            Submitted by
                                        </div>
                                        @Model.SubmittedBy
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </div>                
                    </div>

                    <article>
                        <h3 class="events-details-heading">Description</h3>
                        <article>
                            @Html.Raw(Model.Description)
                        </article>
                    </article>
                </div>
            </section>
        </div>
    </div>
</div>
