@model ProcessedEvents
@{
    Layout = "../Shared/_Layout2023.cshtml";

    ViewData["Title"] = Model.Title;
    ViewData["og:title"] = Model.Title;
    ViewData["Description"] = Model.MetaDescription;
    ViewData["Location"] = Model.Location;

    string borderTeal = "navcard--border-top-10 navcard--theme-teal-lighter-top";
    string greyBorderCssClasses = "navcard-all navcard--theme-grey-accent-all navcard--border-top-0 navcard--radius-bottom-left navcard--radius-bottom-right";

    string divStyling = "event-detail__wrapper navcard--white navcard-all navcard--theme-grey-accent-all navcard--border-top-0 navcard--radius-bottom-left navcard--radius-bottom-right";
    List<Crumb> crumb = new() { new Crumb("What's on in Stockport", "events", "event") };
}

<div class="grid-container-full-width" data-cy="directory-entry">
    <partial name="GlobalAlerts" model='Model.Alerts' />
    <partial name="Breadcrumb2023" model='@Model.Breadcrumbs' />

    <div class="grid-container">
        <div class="grid-100">
            <h1 class="directory__title">@Model.Title</h1>
            <section class="event-detail" aria-label="@Model.Title content">
                <div class="event-detail--50 event-detail--50-left">
                    @if (!string.IsNullOrEmpty(Model.ImageUrl))
                    {
                        <img src="@Model.ImageUrl?w=350&q=89&fm=webp" class="event-detail__image" alt="">
                    }
                </div>
                <div class="event-detail--50 event-detail--50-right @borderTeal">
                    <div class="event-detail--top navcard--white @greyBorderCssClasses">
                        <div class="event-detail__wrapper">
                            <h3 class="event-detail__details">Date and time</h3>
                                <p>
                                    @Model.EventDate.ToString("dddd dd MMMM yyyy")
                                    @DateTime.Parse(Model.StartTime).ToString("h:mmtt").ToLower() -
                                    @DateTime.Parse(Model.EndTime).ToString("h:mmtt").ToLower()
                                </p>
                            <h3 class="event-detail__details">Location</h3>
                                <p> 
                                    @Model.Location
                                </p>
                            <h3 class="event-detail__details">Submitted by</h3>
                            @if (!string.IsNullOrEmpty(Model.Group.Name))
                            {
                                <p>
                                    <a href="@Url.Action("DirectoryEntry", "Directory" , new { slug=Model.Group.Slug })">@Model.Group.Name</a>
                                </p>
                            }
                            else
                            {
                                <p>@Model.SubmittedBy</p>
                            }
                        </div>
                    </div>
                </div>
                <div class="event-detail--100 event-detail__about">
                    <div class="directory--border-top @borderTeal">
                        <div class="@divStyling">
                            <h2 class="event-detail__heading">About this event</h2>
                            @Html.Raw(Model.Description)
                        </div>
                    </div>
                </div>
                <div class="event-detail--100">
                    <div class="directory--border-top @borderTeal">
                        <div class="@divStyling">
                            <h2 class="event-detail__heading">Event and booking details</h2>
                            <p class="event-detail__details"><strong>Cost:</strong> @Model.Fee</p>
                            @if (!string.IsNullOrEmpty(Model.PhoneNumber))
                            {
                                <p class="event-detail__details"><strong>Phone:</strong> @Model.PhoneNumber</p>
                            }
                            @if (!string.IsNullOrEmpty(Model.Email))
                            {
                                <p class="event-detail__details"><strong>Email:</strong> <a href="mailto:@Model.Email">@Model.Email</a></p>
                            }
                            @if (!string.IsNullOrEmpty(Model.Website))
                            {
                                <p class="event-detail__details"><strong>Visit:</strong> <a href="@Model.Website">@Model.Website</a></p>
                            }
                            <a href="@Url.Action("DirectoryEntry", "Events" , new { slug=Model.Group.Name })" data-cy="subscribe-button" class="btn btn--bold btn--width-25 btn--chevron-forward">
                                <span class="btn_text">Book a place</span>
                            </a>
                        </div>
                    </div>
                </div>
                @if (Model.MapDetails.MapPosition is not null && !Model.MapDetails.MapPosition.Lat.Equals(0.0) && !Model.MapDetails.MapPosition.Lon.Equals(0.0))
                {
                    <div class="event-detail--100">
                        <div class="directory--border-top @borderTeal">
                            <div class="@divStyling">
                                <h2 class="event-detail__heading">How to find us</h2>
                                <div class="event-map-container">
                                    <partial name="MapPosition" model='Model.MapDetails' view-data='@(new ViewDataDictionary(ViewData) {{ "eventMap", true }})' />
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.TrustedLogos.Any())
                {
                    <div class="event-detail--100">
                        <div class="directory--border-top @borderTeal">
                            <div class="@divStyling">
                                <partial name="LogoArea" model='@Model.TrustedLogos' view-data='new ViewDataDictionary(ViewData) {{"logoAreaTitleStylingBlank", true}, {"logoAreaArticle", false}, {"logoAreaTitle", "Our partners"}, {"borderTopClass", "directory--padding"}, {"eventDetailHeading", "event-detail__heading"}}' />
                            </div>
                        </div>
                    </div>
                }
            </section>
            <section class="section section--no-margin">
                <div class="grid-container">
                    <partial name="DirectoryContentDisclaimer" />
                </div>
            </section>
        </div>
    </div>
</div>