@using StockportWebapp.Models
@model ProcessedEvents

@{
    ViewData["Title"] = Model.Title;
    ViewData["og:title"] = Model.Title;
    ViewData["Description"] = Model.Teaser;
    ViewData["Beta"] = true;
    Layout = "../Shared/_Layout.cshtml";
}

@section Breadcrumbs {

    @Html.Partial("Breadcrumb", Model.Breadcrumbs)
}
<div class="grid-container-full-width">
    <div class="grid-container grid-100">

        <div class="l-body-section-filled l-article-content mobile-grid-100 tablet-grid-100 grid-100">
            <section aria-label="@Model.Title content">
                <div class="l-content-container grid-100 events-margin">
                    <h1 class="events-article-title">@Model.Title</h1>

                    <div class="grid-100 events-calender-container grid-100">
                        @if (!string.IsNullOrEmpty(Model.ImageUrl))
                        {
                            <div class="group-calender-container-image hide-on-desktop" style="background-size: cover; background-position: center; background-image: url(@Model.ImageUrl);"> </div>
                        }
                        <div class="grid-60 events-calender-container-description">
                            <ul class="events-ul">
                                <li class="events-details">
                                    <div class="grid-10 mobile-grid-15 tablet-grid-10 events-details-symbol-containter">
                                        <i class="fa fa-clock-o fa-2x events-details-symbol"></i>
                                    </div>
                                    <div class="grid-90 mobile-grid-85 tablet-grid-90 events-details-content">
                                        <div class="events-details-heading">Date and time</div>
                                        @Model.EventDate.ToString("dddd dd MMMM yyyy") @Model.StartTime - @Model.EndTime
                                    </div>
                                    <div class="clearfix"></div>
                                </li>

                                <li class="events-details">
                                    <div class="grid-10 mobile-grid-15 tablet-grid-10 events-details-symbol-containter">
                                        <i class="fa fa-gbp fa-2x events-details-symbol"></i>
                                    </div>
                                    <div class="grid-90 mobile-grid-85 tablet-grid-90 events-details-content">
                                        <div class="events-details-heading">
                                            Price
                                        </div>
                                        @Model.Fee
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li class="events-details">
                                    <div class="grid-10 mobile-grid-15 tablet-grid-10 events-details-symbol-containter">
                                        <i class="fa fa-map-marker fa-2x events-details-symbol"></i>
                                    </div>
                                    <div class="grid-90 mobile-grid-85 tablet-grid-90 events-details-content">
                                        <div class="events-details-heading">
                                            Location
                                        </div>
                                        @Html.Raw(Model.Location)
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li class="events-details">
                                    <div class="grid-10 mobile-grid-15 tablet-grid-10 events-details-symbol-containter">
                                        <i class="fa fa-user fa-2x events-details-symbol"></i>
                                    </div>
                                    <div class="grid-90 mobile-grid-85 tablet-grid-90 events-details-content">
                                        <div class="events-details-heading">
                                            Submitted by
                                        </div>
                                        @if (Model.Group.Name != string.Empty)
                                        {
                                            <a href="/groups/@Model.Group.Slug">@Model.Group.Name</a>
                                        }
                                        else if (Model.SubmittedBy != string.Empty)
                                        {
                                            @Model.SubmittedBy
                                        }
                                        else
                                        {
                                            <br/>
                                        }

                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                @if (!string.IsNullOrEmpty(Model.BookingInformation))
                                {
                                    <li class="events-details">
                                        <div class="grid-10 mobile-grid-15 tablet-grid-10 events-details-symbol-containter">
                                            <i class="fa fa-ticket fa-2x events-details-symbol"></i>
                                        </div>
                                        <div class="grid-90 mobile-grid-85 tablet-grid-90 events-details-content">
                                            <div class="events-details-heading">
                                                Booking information
                                            </div>
                                            @if (Model.BookingInformation.Contains("http") || Model.BookingInformation.Contains("www"))
                                            {
                                                <a href="@Model.BookingInformation">Book your place</a>
                                            }
                                            else if (Model.BookingInformation.Contains("@"))
                                            {
                                                <a href="mailto:@Model.BookingInformation">@Model.BookingInformation</a>
                                            }
                                            else
                                            {
                                                @Model.BookingInformation
                                            }
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                }
                            </ul>
                        </div>

                        <div class="grid-40 events-calender-container-image hide-on-mobile hide-on-tablet" style="background-size: cover; background-position: center; background-image: url(@Model.ImageUrl);">
                        </div>
                    </div>
                    <div class="grid-100">
                        <h3 class="group-details-heading">Description</h3>
                        <article>
                            @Html.Raw(Model.Description)
                        </article>
                    </div>
                    @if (Model.MapPosition != null && Model.MapPosition.Lat != 0.0 && Model.MapPosition.Lon != 0.0)
                    {
                        <div id="map" class="grid-100" style="height: 500px;"></div>
                        <script>
                            function initMap() {
                                var eventLocation = {lat: @Model.MapPosition.Lat, lng: @Model.MapPosition.Lon};
                                var map = new google.maps.Map(document.getElementById('map'), {
                                    zoom: 18,
                                    center: eventLocation
                                });
                                var marker = new google.maps.Marker({
                                    position: eventLocation,
                                    map: map,
                                    title: "@Model.Location"
                                });
                            }
                        </script>
                        <script async defer
                                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPMO2lE7np9cG_zG63JH_pNVmRfoajZjg&callback=initMap">
                        </script>
                    }
                </div>
            </section>
        </div>
    </div>
</div>
