@model ProcessedEvents
@{
    string eventWrapperCssClasses = (string)ViewData["eventWrapperCssClasses"];
    string borderTop = (string)ViewData["BorderTop"];
}

<div class="event-detail--100">
    <div class="@borderTop">
        <div class="@eventWrapperCssClasses">
            <h2 class="event-detail__heading">Event and booking details</h2>
            <div class="event-detail__details">
                <p>Cost:</p>
                <p>@Model.Fee</p>
            </div>
            @if (!string.IsNullOrEmpty(Model.PhoneNumber))
            {
                <div class="event-detail__details">
                    <p>Phone:</p>
                    <p><strong>@Model.PhoneNumber</strong></p>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Email))
            {
                <div class="event-detail__details">
                    <p>Email:</p>
                    <p><a href="mailto:@Model.Email">@Model.Email</a></p>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Website))
            {
                <div class="event-detail__details">
                    <p>Visit:</p>
                    <p><a href="@Model.Website">@Model.Website</a></p>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Facebook))
            {
                <div class="event-detail__details">
                    <p>Facebook:</p>
                    <p><a href="@Model.Facebook" target="_blank">@Model.Facebook</a></p>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Instagram))
            {
                <div class="event-detail__details">
                    <p>Instagram:</p>
                    <p><a href="@Model.Instagram" target="_blank">@Model.Instagram</a></p>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Linkedin))
            {
                <div class="event-detail__details">
                    <p>LinkedIn:</p>
                    <p><a href="@Model.Linkedin" target="_blank">@Model.Linkedin</a></p>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.BookingInformation))
            {
                <a href="@Model.BookingInformation" data-cy="book-event-button" target="_blank" class="btn event-detail__button btn--width-30 btn--chevron-forward btn--bold btn--chevron-bold">
                    <span class="btn_text">Book a place</span>
                </a>
            }
        </div>
    </div>
</div> 