@model ProcessedEvents
@{
    string eventWrapperCssClasses = (string)ViewData["eventWrapperCssClasses"];
    string borderTop = (string)ViewData["BorderTop"];
}

<div class="event-detail--100">
    <div class="@borderTop">
        <div class="@eventWrapperCssClasses">
        <h2 class="event-detail__heading">Event and booking details</h2>
            <table class="event-detail__table">
                <tbody>
                    <tr>
                        <th>Cost:</th>
                        <td>@Model.Fee</td>
                    </tr>
                    @if (!string.IsNullOrEmpty(Model.PhoneNumber))
                    {
                        <tr>
                            <th>Phone:</th>
                            <td><strong>@Model.PhoneNumber</strong></td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(Model.Email))
                    {
                        <tr>
                            <th>Email:</th>
                            <td><a href="mailto:@Model.Email">@Model.Email</a></td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(Model.Website))
                    {
                        <tr>
                            <th>Visit:</th>
                            <td><a href="@Model.Website" target="_blank">@Model.Website</a></td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(Model.Facebook))
                    {
                        <tr>
                            <th>Facebook:</th>
                            <td><a href="@Model.Facebook" target="_blank">@Model.Facebook</a></td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(Model.Instagram))
                    {
                        <tr>
                            <th>Instagram:</th>
                            <td><a href="@Model.Instagram" target="_blank">@Model.Instagram</a></td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(Model.LinkedIn))
                    {
                        <tr>
                            <th>LinkedIn:</th>
                            <td><a href="@Model.LinkedIn" target="_blank">@Model.LinkedIn</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (!string.IsNullOrEmpty(Model.BookingInformation))
            {
                <a href="@Model.BookingInformation" data-cy="book-event-button" target="_blank" class="btn event-detail__button btn--width-30 btn--chevron-forward btn--bold btn--chevron-bold">
                    <span class="btn_text">Book a place</span>
                </a>
            }
        </div>
    </div>
</div>