@model ProcessedEvents
@{
    Layout = "../Shared/_Layout2023.cshtml";

    ViewData["Title"] = Model.Title;
    ViewData["og:title"] = Model.Title;
    ViewData["Description"] = Model.MetaDescription;
    ViewData["Location"] = Model.Location;

    string borderTeal = "navcard--border-top-10 navcard--theme-teal-lighter-top";
    string borderTop = $"directory--border-top {borderTeal}";
    string eventWrapperCssClasses = "event-detail__wrapper navcard--white navcard-all navcard--theme-grey-accent-all navcard--border-top-0 navcard--radius-bottom-left navcard--radius-bottom-right";
}

<div class="grid-container-full-width" data-cy="event-detail">
    <partial name="GlobalAlerts" model='Model.Alerts' />
    <partial name="Breadcrumb2023" model='@Model.Breadcrumbs' />

    <div class="grid-container">
        <div class="grid-100">
            <h1 class="directory__title">@Model.Title</h1>
            <section class="event-detail" aria-label="@Model.Title content">
                <div class="event-detail--50 event-detail--50-left">
                    @if (!string.IsNullOrEmpty(Model.ImageUrl))
                    {
                        <img src="@Model.ImageUrl?q=89&fm=webp"
                            srcset="@Model.ImageUrl?w=967&q=89&fm=webp 967w,
                                @Model.ImageUrl?w=853&q=89&fm=webp 853w,
                                @Model.ImageUrl?w=712&q=89&fm=webp 712w"
                            sizes="(max-width: 767px) 712px,
                                ((min-width: 768px) and (max-width: 1023px)) 967px,
                                (min-width: 1024px) 853px"
                            class="event-detail__image"
                            width="712"
                            height="350"
                            alt="" />
                    }
                </div>

                <div class="event-detail--50 @borderTeal">
                    <div class="@eventWrapperCssClasses">
                        <h2 class="visuallyhidden">Event Information</h2>
                        <h3 class="event-detail__details">Date and time</h3>
                        <p>
                            @Model.EventDate.ToString("dddd dd MMMM yyyy")
                            @DateTime.Parse(Model.StartTime).ToString("h:mmtt").ToLower() -
                            @DateTime.Parse(Model.EndTime).ToString("h:mmtt").ToLower()
                        </p>

                        <h3 class="event-detail__details">Location</h3>
                        <p>@Model.Location</p>

                        <h3 class="event-detail__details">Submitted by</h3>
                        <p>@Model.SubmittedBy</p>
                    </div>
                </div>

                <partial name="DetailAbout" model='@Model' view-data='@(new ViewDataDictionary(ViewData) {{ "EventWrapperCssClasses", eventWrapperCssClasses }, {"BorderTop", borderTop}})' />
                <partial name="DetailBookingDetails" model='@Model' view-data='@(new ViewDataDictionary(ViewData) {{ "EventWrapperCssClasses", eventWrapperCssClasses }, {"BorderTop", borderTop}})' />
                
                @if (Model.MapDetails.MapPosition is not null && !Model.MapDetails.MapPosition.Lat.Equals(0.0) && !Model.MapDetails.MapPosition.Lon.Equals(0.0))
                {
                    <partial name="DetailMap" model='@Model.MapDetails' view-data='@(new ViewDataDictionary(ViewData) {{ "EventWrapperCssClasses", eventWrapperCssClasses }, {"BorderTop", borderTop }, { "DisplayMap", true }, { "EntryNameString", @Model.Title } })' />
                }

                @if (Model.EventBranding.Any())
                {
                    <partial name="DetailBranding" model='@Model' view-data='@(new ViewDataDictionary(ViewData) {{ "EventWrapperCssClasses", eventWrapperCssClasses }, {"BorderTop", borderTop}})' />
                }
            </section>
        </div>
        
        <section class="section section--no-margin">
            <partial name="DirectoryContentDisclaimer" />
        </section>
    </div>
</div>