@model ProcessedEvents
@{
    string eventWrapperCssClasses = (string)ViewData["eventWrapperCssClasses"];
    string borderTop = (string)ViewData["BorderTop"];
}

<div class="event-detail--100">
    <div class="@borderTop">
        <div class="@eventWrapperCssClasses">
            <h2 class="event-detail__heading">Event and booking details</h2>
            <div class="event-detail__details">
                <h3>Cost:</h3>
                <p>@Model.Fee</p>
            </div>
            @if (!string.IsNullOrEmpty(Model.PhoneNumber))
            {
                <div class="event-detail__details">
                    <h3>Phone:</h3>
                    <p>@Model.PhoneNumber</p>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Email))
            {
                <div class="event-detail__details">
                    <h3>Email:</h3>
                    <p><a href="mailto:@Model.Email">@Model.Email</a></p>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Website))
            {
                <div class="event-detail__details">
                    <h3>Visit:</h3>
                    <p><a href="@Model.Website">@Model.Website</a></p>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.BookingInformation))
            {
                <a href="@Model.BookingInformation" data-cy="book-event-button" class="btn btn--bold btn--width-25 btn--chevron-forward">
                    <span class="btn_text">Book a place</span>
                </a>
            }
        </div>
    </div>
</div> 