@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using StockportWebapp.FeatureToggling
@using StockportWebapp.Models
@using StockportWebapp.ProcessedModels
@model StockportWebapp.ProcessedModels.ProcessedEvents
@inject FeatureToggles FeatureToggles

@{
    ViewData["Title"] = Model.Title;
    ViewData["og:title"] = Model.Title;
    ViewData["Description"] = Model.Teaser;
    ViewData["Location"] = Model.Location;
    Layout = "../Shared/_Layout.cshtml";
    var url = ViewBag.CurrentUrl != null ? ViewBag.CurrentUrl : string.Empty;
}

@section Breadcrumbs {
    @Html.Partial("Breadcrumb", new List<Crumb>() { new Crumb("What's on in Stockport", "events", "event") })
}
<div class="grid-container-full-width">
    <div class="grid-container grid-100">

        <div class="l-body-section-filled l-article-content mobile-grid-100 tablet-grid-100 grid-100">
            <section aria-label="@Model.Title content">
                <div class="l-content-container grid-100 events-margin">
                    @{
                        if (Model.Alerts != null)
                        {
                            foreach (var alert in Model.Alerts)
                            {
                                if(Model.IsAlertDisplayed(alert))
                                {
                                    @Html.Partial("DisplayTemplates/Alert", alert)
                                }                               
                            }
                        }
                    }
                    <h1 class="events-article-title">@Model.Title</h1>

                    <div class="grid-100 events-calender-container grid-100">
                        @if (!string.IsNullOrEmpty(Model.ImageUrl))
                        {
                            <div class="group-calender-container-image hide-on-desktop" style="background-size: cover; background-position: center; background-image: url(@Model.ImageUrl);"> </div>
                        }
                        <div class="grid-50 events-calender-container-description">
                            <ul class="events-ul">
                                <li class="events-details">
                                    <div class="grid-10 mobile-grid-15 tablet-grid-10 events-details-symbol-containter">
                                        <i class="fa fa-clock-o fa-2x events-details-symbol"></i>
                                    </div>
                                    <div class="grid-90 mobile-grid-85 tablet-grid-90 events-details-content">
                                        <div class="events-details-heading">Date and time</div>
                                        @Model.EventDate.ToString("dddd dd MMMM yyyy") @Model.StartTime - @Model.EndTime
                                    </div>
                                    <div class="clearfix"></div>
                                </li>

                                <li class="events-details">
                                    <div class="grid-10 mobile-grid-15 tablet-grid-10 events-details-symbol-containter">
                                        <i class="fa fa-gbp fa-2x events-details-symbol"></i>
                                    </div>
                                    <div class="grid-90 mobile-grid-85 tablet-grid-90 events-details-content">
                                        <div class="events-details-heading">
                                            Price
                                        </div>
                                        @Model.Fee
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li class="events-details">
                                    <div class="grid-10 mobile-grid-15 tablet-grid-10 events-details-symbol-containter">
                                        <i class="fa fa-map-marker fa-2x events-details-symbol"></i>
                                    </div>
                                    <div class="grid-90 mobile-grid-85 tablet-grid-90 events-details-content">
                                        <div class="events-details-heading">
                                            Location
                                        </div>
                                        @Html.Raw(Model.Location)
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li class="events-details">
                                    <div class="grid-10 mobile-grid-15 tablet-grid-10 events-details-symbol-containter">
                                        <i class="fa fa-user fa-2x events-details-symbol"></i>
                                    </div>
                                    <div class="grid-90 mobile-grid-85 tablet-grid-90 events-details-content">
                                        <div class="events-details-heading">
                                            Submitted by
                                        </div>
                                        @if (Model.Group.Name != string.Empty)
                                        {
                                            <a href="/groups/@Model.Group.Slug">@Model.Group.Name</a>
                                        }
                                        else if (Model.SubmittedBy != string.Empty)
                                        {
                                            @Model.SubmittedBy
                                        }
                                        else
                                        {
                                            <br/>
                                        }

                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                @if (!string.IsNullOrEmpty(Model.BookingInformation))
                                {
                                    <li class="events-details">
                                        <div class="grid-10 mobile-grid-15 tablet-grid-10 events-details-symbol-containter">
                                            <i class="fa fa-ticket fa-2x events-details-symbol"></i>
                                        </div>
                                        <div class="grid-90 mobile-grid-85 tablet-grid-90 events-details-content">
                                            <div class="events-details-heading">
                                                Booking information
                                            </div>
                                            @{
                                                if (Model.BookingInformation.Contains("http") || Model.BookingInformation.Contains("www"))
                                                {
                                                    <a href="@Model.BookingInformation">Book your place</a>
                                                }
                                                else if (Model.BookingInformation.Contains("@"))
                                                {
                                                    <a href="mailto:@Model.BookingInformation">@Model.BookingInformation</a>
                                                }
                                                else
                                                {
                                                    @Model.BookingInformation
                                                }
                                            }
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                }
                            </ul>
                        </div>

                        <div class="grid-50 events-calender-container-image hide-on-mobile hide-on-tablet" style="background-size: cover; background-position: center; background-image: url(@Model.ImageUrl);">
                        </div>
                    </div>
                    <div>
                        <h3 class="group-details-heading">Description</h3>
                        <article>
                            @Html.Raw(Model.Description)
                        </article>
                    </div>
                    @if (Model.MapPosition != null && Model.MapPosition.Lat != 0.0 && Model.MapPosition.Lon != 0.0)
                    {
                        <div class="event-map-container">                           
                            @Html.Partial("MapPosition", Model.MapPosition)
                        </div>
                    }
                </div>
                <div class="l-content-container grid-100">
                    <div class="share border top-border">
                        <div class="grid-20">
                            @Html.Partial("Share")
                        </div>
                        @if (FeatureToggles.ExportGroupEventsToCalendar)
                        {
                            <div class="grid-20 events-to-calendar">
                                <h6>Add to calendar</h6>
                                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                                <div class="addthis_toolbox">
                                    <div class="custom_images">
                                        <a href="@Url.Action("AddToCalendar", "Events", new {type = "windows", eventUrl =@url, slug = Model.Slug, eventDate = ViewBag.Eventdate, name = Model.Title, location = Model.Location, startTime = Model.StartTime, endTime = Model.EndTime, description = Model.Description, summary = Model.Teaser})"  title="Add to Outlook Calendar"><i class="fa fa-windows" aria-hidden="true"></i></a>
                                        <a href="@Url.Action("AddToCalendar", "Events", new {type = "google", eventUrl =@url, slug = Model.Slug, eventDate = ViewBag.Eventdate, name = Model.Title, location = Model.Location, startTime = Model.StartTime, endTime = Model.EndTime, description = Model.Description, summary = Model.Teaser})" target="_blank" title="Add to Google  Calendar"><i class="fa fa-google" aria-hidden="true"></i></a>
                                        <a href="@Url.Action("AddToCalendar", "Events", new {type = "apple", eventUrl =@url, slug = Model.Slug, eventDate = ViewBag.Eventdate, name = Model.Title, location = Model.Location, startTime = Model.StartTime, endTime = Model.EndTime, description = Model.Description, summary = Model.Teaser})" title="Add to Apple Calendar"><i class="fa fa-apple" aria-hidden="true"></i></a>
                                        <a class="hide-on-mobile hide-on-tablet" href="@Url.Action("AddToCalendar", "Events", new {type = "yahoo", eventUrl =@url, slug = Model.Slug, eventDate = ViewBag.Eventdate, name = Model.Title, location = Model.Location, startTime = Model.StartTime, endTime = Model.EndTime, description = Model.Description, summary = Model.Teaser})" target="_blank" title="Add to Yahoo  Calendar"><i class="fa fa-yahoo" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>               
            </section>
        </div>
    </div>
</div>
