@using StockportWebapp.Models
@model EventSubmission
@{
    ViewData["Title"] = "Submit Event";
    ViewData["og:title"] = "Submit Event";
    Layout = "../Shared/_Layout.cshtml";
}

@section Breadcrumbs {
    @Html.Partial("Breadcrumb", new List<Crumb> {new Crumb("Events", "events", "events")})
}

<div class="grid-container-full-width">
    <div class="grid-container grid-100">
        <div class="l-body-section-filled mobile-grid-100 tablet-grid-100 grid-100">
            <section aria-label="" class="grid-100 mobile-grid-100">
                <div class="l-content-container">
                    <div class="grid-100">
                        <h1>Submit event</h1>

                        @if (ViewBag.SubmissionError != null)
                        {
                            <div id="error-message-anchor"></div>
                            <div class="grid-100 tablet-grid-100 mobile-grid-100 alert alert-error contact-validation-error">
                                <div class="alert-icon">
                                    <i class="fa fa-exclamation fa-3x"></i>
                                </div>
                                <div class="alert-content grid-80 tablet-grid-80 mobile-grid-80">
                                    <h3>There has been a problem: </h3>
                                    <p>@ViewBag.SubmissionError</p>
                                </div>
                            </div>
                        }
                        
                        <form method="post" role="form" action="@Url.Action("SubmitEvent")" enctype="multipart/form-data" novalidate>
                            <div class="form">
                                <div class="form-section">
                                    <fieldset>
                                        <label asp-for="@Model.Title"></label>
                                        <input class="grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 form-control" asp-for="@Model.Title" />
                                        <span asp-validation-for="@Model.Title" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent"></span>
                                        
                                        <label asp-for="@Model.Description"></label>
                                        <textarea asp-for="@Model.Description" class="grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 form-control-deep" title="Enter a Description"></textarea>
                                        <span asp-validation-for="@Model.Description" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent"></span>

                                        <label asp-for="@Model.Location"></label>
                                        <input class="grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 form-control" asp-for="@Model.Location" />
                                        <span asp-validation-for="@Model.Location" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent"></span>

                                        <label asp-for="@Model.EventDate"></label>
                                        <input type="date" class="grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 form-control datepicker" asp-for="@Model.EventDate" data-val="false" />
@*                                        <span asp-validation-for="@Model.EventDate" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent"></span>*@
                                        
                                        <label asp-for="@Model.StartTime"></label>
                                        <i>Format: hh:mm (24 hour clock)</i>
                                        <input type="time" class="grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 form-control" asp-for="@Model.StartTime" />
                                        <span asp-validation-for="@Model.StartTime" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent"></span>
                                        
                                        <label asp-for="@Model.EndTime"></label>
                                        <i>Format: hh:mm (24 hour clock)</i>
                                        <input type="time" class="grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 form-control" asp-for="@Model.EndTime" />
                                        <span asp-validation-for="@Model.EndTime" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent"></span>
                                        
                                        <p><a href="javascript:;" class="schedule_multiple_events"><i class="fa fa-calendar" aria-hidden="true"></i> Schedule recurring event</a></p>
                                        
                                        <div class="schedule_multiple_events_inputs">
                                            <label asp-for="@Model.Frequency"></label>
                                            <ul class="radio-list">
                                                @foreach (var item in Model.Frequencylist)
                                                {
                                                    <li>
                                                        <label><input type="radio" value="@item" name="Frequency"> @item</label>
                                                    </li>
                                                }
                                            </ul>
                                            <span asp-validation-for="@Model.Frequency" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent"></span>

                                            <label asp-for="@Model.EndDate"></label>
                                            <input type="date" class="grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 form-control datepicker" asp-for="@Model.EndDate" data-val="false" />
@*                                            <span asp-validation-for="@Model.EndDate" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent"></span>*@
                                        </div>

                                        <label asp-for="@Model.Fee"></label>
                                        <input class="grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 form-control" asp-for="@Model.Fee" />
                                        <span asp-validation-for="@Model.Fee" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent"></span>
                                        
                                        <label asp-for="@Model.Image"></label>
                                        <i>
                                            Choose an image that captures your event
                                            <br />We recommend using at least 2160x1080px (2:1 ratio) image that's not larger than 5mb
                                            <br />Accepted file types: jpg, jpeg, gif and png
                                        </i>
                                        <input type="file" class="grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 form-control" asp-for="@Model.Image" />
                                        <span asp-validation-for="@Model.Image" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent"></span>
                                        
                                        <label asp-for="@Model.Attachment"></label>
                                        <i>
                                            Add a document that will help to promote your events; such as brochures or booklets
                                            <br />Accepted file types: doc, docx, pdf and odt
                                        </i>
                                        <input type="file" class="grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 form-control" asp-for="@Model.Attachment" />
                                        <span asp-validation-for="@Model.Attachment" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent"></span>

                                        <label asp-for="@Model.SubmittedBy"></label>
                                        <input class="grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 form-control" asp-for="@Model.SubmittedBy" />
                                        <span asp-validation-for="@Model.SubmittedBy" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent"></span>

                                        <label asp-for="@Model.SubmitterEmail"></label>
                                        <input class="grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 form-control" asp-for="@Model.SubmitterEmail" />
                                        <span asp-validation-for="@Model.SubmitterEmail" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent"></span>

                                        <stock-button id="uitest-contact-form-submit"
                                                      class="button-contact-us">Submit event</stock-button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>