@using StockportWebapp.FeatureToggling
@using StockportWebapp.Models
@model PaymentSubmission
@inject FeatureToggles FeatureToggles

@{
    ViewData["Title"] = Model.Payment.Title;
    ViewData["og:title"] = Model.Payment.Title;
    ViewData["Description"] = Model.Payment.Description;
    ViewData["Beta"] = true;
    ViewData["Type"] = "Payment";
    Layout = "../Shared/_Layout.cshtml";
}
@section Breadcrumbs {
    @Html.Partial("Breadcrumb", Model.Payment.Breadcrumbs)
}

@if (FeatureToggles.SinglePayment)
{
    <form asp-controller="Payment" asp-action="Detail" method="post" role="form" enctype="multipart/form-data">
        <div class="grid-container-full-width">
            <div class="grid-container grid-100">
                <div class="l-body-section-filled grid-100">
                    <section aria-label="@Model.Payment.Title content" class="grid-100 mobile-grid-100">
                        <div class="l-content-container l-article-container">
                            <h1>@Model.Payment.Title</h1>
                            @Html.Raw(Model.Payment.Description)
                            <hr />
                            <h2>Payment details</h2>
                            @Html.Raw(Model.Payment.PaymentDetailsText)

                            <div class="form">
                                <div class="form-section">
                                    <fieldset>
                                        @*<input id="" type="hidden" asp-for="@Model.ParisReference"/>
                                            <input type="hidden" value="@Model.ParisReference"/>*@
                                        <label asp-for="Reference">@Model.Payment.ReferenceLabel</label>

                                        <input asp-for="Reference" type="text" class="grid-30 tablet-grid-50 suffix-70 tablet-suffix-50 mobile-grid-100 form-control" />
                                        <span asp-validation-for="Reference" class="form-field-validation-error grid-30 tablet-grid-50 suffix-70 tablet-suffix-50 mobile-grid-100"></span>

                                        <label asp-for="Amount">Payment amount</label>
                                        <label for="AmountPaid" class="visually-hidden">Enter a sterling value below</label>
                                        <div class="input-group">
                                            <span class="input-addon">£</span><input asp-for="Amount" type="text" value="" class="currency grid-15 tablet-grid-25 suffix-85 tablet-suffix-75 mobile-grid-100 form-control">
                                            <span asp-validation-for="Amount" class="form-field-validation-error grid-15 tablet-grid-25 suffix-85 tablet-suffix-75 mobile-grid-100"></span>
                                        </div>
                                        <stock-button id="uitest-payment-form-submit" class="button-submit-payment">Start your payment</stock-button>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </form>
}
