@model PaymentSubmission
@{
    ViewData["Title"] = Model.Payment.Title;
    ViewData["og:title"] = Model.Payment.Title;
    ViewData["Description"] = Model.Payment.MetaDescription;
    ViewData["Type"] = "Payment";
    Layout = "../Shared/_Layout2023.cshtml";
}

<div class="grid-container-full-width" style="background-color:white;" data-cy="payment-page">
    <partial name="GlobalAlerts" model='Model.Payment.Alerts' />
    <partial name="Breadcrumb2023" model="Model.Payment.Breadcrumbs" />

    <div class="grid-container">
        <div class="grid-100">
            <div class="article--70 payment__heading">
                <h1 class="h-xl">@Model.Payment.Title</h1>
            </div>

            <section class="article">
                <article class="article--70">
                    @Html.Raw(Model.Payment.Description)
                    <hr />

                    <h2 class="h-m">Payment details</h2>
                    @Html.Raw(Model.Payment.PaymentDetailsText)

                    <form asp-controller="Payment" class="form" asp-action="Detail" method="post" role="form" enctype="multipart/form-data" data-cy="payment-form">
                        @Html.AntiForgeryToken()

                        <div class="form-section">
                            <fieldset>
                                <label asp-for="@Model.Reference">@Model.Payment.ReferenceLabel</label>
                                <input class="payment__input" asp-for="@Model.Reference" type="text" data-val-required="Enter the @($"{Model.Payment.ReferenceLabel.ToLower()}")" />
                                <span class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 payment__validation--rtl grid-parent" role="alert" aria-atomic="true" asp-validation-for="@Model.Reference"></span>

                                <label asp-for="@Model.Amount">Payment amount</label>
                                <p class="visuallyhidden">Enter a sterling value</p>

                                <div class="input-group">
                                    <span class="payment__symbol">£</span>

                                    <input asp-for="@Model.Amount" step="0.01" type="number" min="0.00" class="payment__input payment__input--amount">
                                    <span role="alert" aria-atomic="true" asp-validation-for="@Model.Amount" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 payment__validation--rtl grid-parent"></span>
                                </div>

                                <div>
                                    <button id="uitest-payment-form-submit" type="submit" class="btn btn--chevron-forward btn--width-30 submit">Start your payment</button>
                                </div>
                            </fieldset>
                        </div>
                    </form>
                </article>
            </section>
        </div>
    </div>
</div>