@model PaymentResult
@{
    string controller = Model.IsServicePay 
        ? "ServicePayPayment" 
        : "Payment";
    string resultType = Model.PaymentResultType.ToString().ToLower();
    ViewData["Title"] = $"{Model.Title} payment {resultType}";
    ViewData["og:title"] = $"{Model.Title} payment {resultType}";
    ViewData["Description"] = $"{Model.Title} payment {resultType}";
    ViewData["Type"] = "ServicePayPayment";
    Layout = "../Shared/_Layout2023.cshtml";
}

<div class="grid-container-full-width" style="background-color:white;" data-cy="service-pay-payment-page">
    <partial name="Breadcrumb2023" model="Model.Breadcrumbs" />

    <div class="grid-container">
        <div class="grid-100">
            <div class="article--70">
                <h1 class="h-xl article_title">@Model.Title</h1>
             </div>
            <section class="article">
                <article class="article--70">
                @if(Model.PaymentResultType is PaymentResultType.Failure)
                {                    
                    <h2 class="h-l">
                        <span class="fa-regular fa-circle-exclamation"></span>
                        There was a problem with the payment
                    </h2>

                    <p>No money has been taken from your account, please try again.</p>
                    <p><a href="@Url.Action("Detail", @controller, new { slug = Model.Slug })" class="btn btn--chevron-forward btn--width-30">Try the payment again</a></p>

                }
                else if(Model.PaymentResultType is PaymentResultType.Declined)
                {
                    <h2 class="h-l">
                        <span class="fa-regular fa-circle-exclamation"></span>
                        Your payment was declined
                    </h2>

                    <p>No money has been taken from your account. Please contact your bank for more details.</p>
                    <p><a href="@Url.Action("Detail", @controller, new { slug = Model.Slug })" class="btn btn--chevron-forward btn--width-30">Try the payment again</a></p>
                }
                else
                {
                    <h2 class="h-l">
                        <span class="fa-regular fa-circle-check"></span>
                        Your payment has been successful
                    </h2>

                    <p>Your reference is <strong>@Model.ReceiptNumber</strong>.</p>
                }        
                    <hr />
                    <a href="@Url.Action("Index", "Home")" class=
                    '@(Model.PaymentResultType is PaymentResultType.Success ? "btn btn--chevron-forward btn--width-30" : "btn btn--inverse btn--width-30 btn--chevron-forward btn--bold btn--chevron-bold btn--outline") payment__button'>Go to the homepage</a>
                </article>
            </section>
        </div>
    </div>
</div>             