@using StockportWebapp.Models

@model PaymentSuccess

@{
    ViewData["Title"] = Model.Title.ToLower();
    ViewData["og:title"] = ViewData["Title"];
    ViewData["Description"] = Model.MetaDescription;
    Layout = "../Shared/_Layout.cshtml";
}

@section Breadcrumbs {
    <partial name="Breadcrumb" model='new List<Crumb> { new Crumb("Payment", "Detail", "Payment") }' />
}

<div class="grid-container-full-width">
    <div class="grid-container grid-100">
        <div class="l-body-section-filled l-group-content mobile-grid-100 tablet-grid-100 grid-100">
            <section aria-label="@ViewData["Title"] content">
                <div class="l-content-container grid-100 grid-parent group-margin" id="group-padding">
                    <div class="grid-100 centre">
                        <h1 class="group-article-title">@Model.Title</h1>
                        <div class="icon-bordered icon-bordered-fixed green tick">
                            <i class="fa fa-check fa-5x" aria-hidden="true"></i>
                        </div>
                        <h2>Your @Model.Title.ToLower() payment has been successful</h2>
                    </div>
                    <div class="grid-100 centre">
                        <p>Your reference is <strong>@Model.ReceiptNumber</strong>.</p>
                    </div>
                    <div class="grid-100 centre mixed-buttons">
                        <stock-button as-link="true" href="@Url.Action("Index", "Home")">Go back to the homepage</stock-button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
