@inject IStaticAssets StaticAssets
@inject IApplicationConfiguration appConfig
@inject BusinessId BusinessId
@model Footer

<footer class="footer grid-container-full-width footer--stockroom" data-cy="footer">
    <div class="grid-container">
        <div class="footer_top">
            <div class="grid-100 tablet-grid-100 mobile-grid-100">
                <div class="footer_logo">
                    <img src="//images.ctfassets.net/6jh3uby2vw58/1Qj2a3ymG2YTLAfh0jgbaB/8489b3d254a022eec8d6c02e6e73a681/stockroom_logo.png?fm=webp" alt="Stockroom logo" loading="lazy" width="394" height="50">
                </div>
            </div>

            <div class="footer__info">
                <div class="grid-25 tablet-grid-25 mobile-grid-100 footer__info--padding">
                    @if (!string.IsNullOrEmpty(Model.FooterContent1))
                    {
                        @Html.Raw(Model.FooterContent1)
                    }
                </div>

                <div class="grid-25 tablet-grid-25 mobile-grid-100 footer__info--padding">
                    @if (!string.IsNullOrEmpty(Model.FooterContent2))
                    {
                        <div class="footer__info-container">
                            @Html.Raw(Model.FooterContent2)
                        </div>
                    }
                </div>

                <div class="grid-25 tablet-grid-25 mobile-grid-100 footer__info--padding">
                    @if (!string.IsNullOrEmpty(Model.FooterContent3))
                    {
                        <div class="footer__info-container">
                            @Html.Raw(Model.FooterContent3)
                        </div>
                    }
                </div>

                <div class="grid-25 tablet-grid-25 mobile-grid-100 footer__info--padding">
                    @if (Model.SocialMediaLinks is not null)
                    {
                        <div class="footer__info-container">
                            <h2>Follow</h2>

                            <ul class="footer_links footer__social">
                                @foreach (SocialMediaLink socialMediaLink in Model.SocialMediaLinks)
                                {
                                    <li>
                                        <a href="@socialMediaLink.Link" aria-label="@socialMediaLink.ScreenReader" target="_blank" data-cy="social-media-links">
                                            @socialMediaLink.Title
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>

                <div class="grid-100 tablet-grid-100 mobile-grid-100 footer__info--border">
                    <ul class="footer_links">
                        @if (Model.Links is not null)
                        {
                            <partial name="FooterLinks" model='Model.Links' view-data='@(new ViewDataDictionary(ViewData) {{"cssClasses", "grid-25 tablet-grid-25"}, {"isStockroom", "isStockroom"}})' />
                        }
                    </ul>
                </div>
        
                <div class="grid-50 tablet-grid-50 footer_copyright">
                    <p>
                        &#xA9; @DateTime.Now.Year Stockroom
                    </p>
                </div>

                <div class="grid-50 tablet-grid-50 mobile-grid-100 footer_attribution">
                    <p>Design by StudioDBD</p>
                </div>
            </div>
        </div>
    </div>
</footer>