@using System.Text.RegularExpressions
@model TriviaViewModel

<section class="information-list">
    <h2>@ViewData["TriviaTitle"]</h2>
    <ul>
        @foreach (Trivia informationItem in Model.TriviaList)
        {
            <li>
                <div class="icon-column">
                    <span class="si @informationItem.Icon"></span>
                </div>
                
                <div class="text-column">
                    @if (!string.IsNullOrEmpty(informationItem.Link))
                    {
                        <a class="information-item" href="@informationItem.Link" rel="@informationItem.Name">
                            @{
                                string parsedItemText = new Regex("<a((?!>).)*>")
                                    .Replace(informationItem.Body, "<span class='information-item-link'>")
                                    .Replace("</a>", "</span>");
                            }
                            @Html.Raw(parsedItemText)
                        </a>
                    }
                    else
                    {
                        @Html.Raw(informationItem.Body)
                    }
                </div>
            </li>
        }
    </ul>
</section>