@using StockportWebapp.Config
@using StockportWebapp.FeatureToggling
@inject IApplicationConfiguration ApplicationConfiguration
@inject BusinessId BusinessId
@inject FeatureToggles FeatureToggles
<!DOCTYPE html>
<html lang="en-GB" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta name="description" content="healthystockport.co.uk - helping people living or working in Stockport make positive lifestyle changes.">
    <link rel="shortcut icon" type="image/png" href="/assets/images/ui-images/Favicon.png" />
    <title>@ViewData["Title"]</title>
    <link href="//customer.cludo.com/css/112/1144/cludo-search-default.min.css" type="text/css" rel="stylesheet">
    <!--[if (gt IE 8) | (IEMobile)]><!-->
    <link rel="stylesheet" href="/assets/stylesheets/vendor/unsemantic-grid-responsive-tablet-min.css" />
    <!--<![endif]-->
    <link rel="stylesheet" href="/assets/stylesheets/styleguide-hs.min.css" />
    <link rel="stylesheet" href="~/assets/stylesheets/site-hs.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/stylesheets/vendor/slick.min.css">
    <!--[if (lt IE 9) & (!IEMobile)]>
        <link rel="stylesheet" href="/assets/stylesheets/ie.css"/>
    <![endif]-->
    
    @Html.Partial("CookieBanner")
    @await Component.InvokeAsync("GoogleAnalytics")
</head>
<body class="container-layout-free @(string.Concat("type-", ViewContext.RouteData.Values["controller"].ToString().ToLower()))">
    @Html.Partial("Header")
    <div class="l-background" @RenderSection("BackgroundImage", false)>
        <div class="grid-container" >
            <div class="l-container l-body-container l-body-container-pushed l-body-container-mobile">
                @RenderBody()
            </div>
        </div>
        @if (FeatureToggles.HSFooter)
        {
            <distributed-cache name="footer-hs" expires-after="@TimeSpan.FromMinutes(ApplicationConfiguration.GetFooterCache(BusinessId.ToString()))" enabled="true">
                @await Component.InvokeAsync("Footer")
            </distributed-cache>
        }
        else
        {
            @Html.Partial("Footer")
        }
    </div>
    <!--[if lte IE 9]>
        <script src="https://api.cludo.com/scripts/xdomain.js" slave="https://api.cludo.com/proxy.html"></script>
    <![endif]-->
    <script src="/assets/javascript/vendor/matchbox.min.js"></script>
    <script type="text/javascript" src="//customer.cludo.com/scripts/bundles/search-script.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/assets/javascript/healthystockport.min.js"></script>
    <script src="/assets/javascript/vendor/slick.min.js"></script>
</body>
</html>
