@using StockportWebapp.Config
@using StockportWebapp.FeatureToggling
@inject IApplicationConfiguration ApplicationConfiguration
@inject CurrentEnvironment CurrentEnvironment
@inject BusinessId BusinessId

<!DOCTYPE html>
<html lang="en-GB" class="no-js">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=12.0, minimum-scale=1" />
	<link rel="shortcut icon" type="image/png" href="/assets/images/ui-images/Favicon.png" />
	<title>@ViewData["Title"] - Healthy Stockport</title>
	@if (ViewData["Description"] != null)
	{
		<meta name="Description" content="@ViewData["Description"]" />
	}
	@if (ViewData["og:title"] != null)
	{
		<meta property="og:title" content="@ViewData["og:title"]" />
	}
	@*<link href="//customer.cludo.com/css/112/1144/cludo-search-default.min.css" type="text/css" rel="stylesheet">*@
	<!--[if (gt IE 8) | (IEMobile)]><!-->

	<link rel="stylesheet" href="/assets/stylesheets/vendor/unsemantic-grid-responsive-tablet-min.css" />
	<!--<![endif]-->
	<link href="~/assets/stylesheets/cludo-search-default.css" rel="stylesheet" />
	<link href="https://customer.cludo.com/css/templates/v2.1/essentials/cludo-search.min.css" type="text/css" rel="stylesheet">
	<link rel="stylesheet" href="~/assets/stylesheets/styleguide-hs.min.css" />
	<link rel="stylesheet" href="~/assets/stylesheets/site-hs.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/assets/stylesheets/vendor/slick.min.css">
	<link rel="stylesheet" href="~/assets/stylesheets/vendor/jquery-ui-1.12.1.custom/jquery-ui.min.css" />

	<!--[if (lt IE 9) & (!IEMobile)]>
		<link rel="stylesheet" href="/assets/stylesheets/ie.css"/>
	<![endif]-->
	@if (IsSectionDefined("BackgroundImage"))
	{
		@RenderSection("BackgroundImage")
	}

	<partial name="CookieBanner" />
	@await Component.InvokeAsync("GoogleAnalytics")
	<script type="text/javascript" src="~/assets/javascript/vendor/require.2.3.4.min.js"></script>
	<script type="text/javascript" src="~/assets/javascript/requireConfigHealthyStockport.js"></script>
</head>
<body class="container-layout-free container-layout-mobile @(string.Concat("type-", ViewContext.RouteData.Values["controller"].ToString().ToLower()))">
	<partial name="Header" />
	<partial name="BrowserCheck" />
	@RenderSection("Breadcrumbs", false)

	<main class="grid-container i-grid-container-mobile">
		<div class="l-container l-body-container l-body-container-pushed l-body-container-nondesktop-margin">
			<div class="l-body-section-filled grid-100">
				@RenderBody()
			</div>
		</div>
	</main>
	<distributed-cache name="footer-hs" expires-after="@TimeSpan.FromMinutes(ApplicationConfiguration.GetFooterCache(BusinessId.ToString()))" enabled="true">
		@await Component.InvokeAsync("Footer")
	</distributed-cache>

	<script src="~/assets/javascript/vendor/modernizr.min.js"></script>
	@if (CurrentEnvironment.Name == "prod" || CurrentEnvironment.Name == "stage")
	{
		<script data-main="/assets/javascript/requireConfigHealthyStockport.min" src="~/assets/javascript/vendor/require.2.3.4.min.js"></script>
	}
	else
	{
		<script data-main="/assets/javascript/requireConfigHealthyStockport" src="~/assets/javascript/vendor/require.2.3.4.min.js"></script>
	}
	<script type="text/javascript" src="https://customer.cludo.com/scripts/bundles/search-script.min.js"></script>
	<script>
		var CludoSearch;
		(function () {
			var cludoSettings = {
				customerId: 112,
				engineId: 1757,
				searchUrl: '/searchResults?query',
				language: 'en',
				searchInputs: ['cludo-search-form'],
				template: 'InlineBasic',
				focusOnResultsAfterSearch: true,
				type: 'inline'
			};
			CludoSearch = new Cludo(cludoSettings);
			CludoSearch.init();
		})();
	</script>
	<!--[if lte IE 9]>
		<script src="https://api.cludo.com/scripts/xdomain.js" slave="https://api.cludo.com/proxy.html" type="text/javascript"></script>
	<![endif]-->
</body>
</html>
