@using StockportWebapp.Utils
@inject ViewHelpers viewHelper
@inject StockportWebapp.Config.IApplicationConfiguration appConfig
@model StockportWebapp.Models.Event
<div class="event-li grid-33 tablet-grid-50 mobile-grid-100">
        <a class="event-card matchbox-child" href="@(Url.Action("EventDetail", "Events", new {slug = Model.Slug, date = Model.EventDate.ToString("yyyy-MM-dd")}))">
            <div class="event-image" style="background-image: url(@Model.ThumbnailImageUrl)"></div>
            <div class="event-card-information grid-100">
                <div class="grid-100 event-title">
                    <h3 class="events-link">@Model.Title</h3>
                </div>
                <div class="grid-10 tablet-grid-10 mobile-grid-10 event-card-icon">
                    <i class="fa fa-gbp" aria-hidden="true"></i>
                </div>
                <div class="grid-90 tablet-grid-90 mobile-grid-90 event-card-text">
                    @Model.Fee
                </div>
                <div class="grid-10 tablet-grid-10 mobile-grid-10 event-card-icon">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                </div>
                <div class="grid-90 tablet-grid-90 mobile-grid-90 event-card-text">
                    @viewHelper.FormatEventDate(Model.EventDate, Model.StartTime)
                </div>
                <div class="grid-10 tablet-grid-10 mobile-grid-10 event-card-icon">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <div class="grid-90 tablet-grid-90 mobile-grid-90 event-card-text">
                    @Model.Location
                </div>
            </div>
        </a>
</div>
