@model HomepageViewModel
@{
    ViewData["Title"] = "Welcome to Stockroom";
    ViewData["og:title"] = "Welcome to Stockroom";
    ViewData["Description"] = @Model.HomepageContent.MetaDescription;
    Layout = "../Shared/_Layout.cshtml";
}

@if (Model.HomepageContent.CarouselContents is not null && Model.HomepageContent.CarouselContents.Any())
{
    <partial name="HeroCarousel" model="@Model.HomepageContent.CarouselContents.Take(5).ToList()" view-data='@(new ViewDataDictionary(ViewData) { { "isOnHomepage", true } })' />
}

@if (Model.FeaturedEvents is not null && Model.FeaturedEvents.Any())
{
    <partial name="EventCards" model="@Model.FeaturedEvents" view-data='@(new ViewDataDictionary(ViewData) { { "isEventHomepage", false }, { "itemsToDisplay", Model.FeaturedEvents } })' />
}

@* <section class="grid-container" style="margin-top:1.5em; margin-bottom:1em;">
    <div class="grid-100">
        <h2 style="margin-bottom:1em;">What's On</h2>
    </div>

    <div class="grid-33">
        <img src="~/assets/stockroom/live-local-meet-here.jpg" style="width:100%; height:auto; border-top-left-radius:20px; border-top-right-radius:20px; " />
        <div style="padding:1em; background-color:#ff522a;  border-bottom-left-radius:5px; border-bottom-right-radius:5px;">
            <h3>Event</h3>
            <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Integer dolor dignissim at sed; porttitor quam viverra.</p>
            <p><stong>01/03/2025</stong></p>
        </div>
    </div>

    <div class="grid-33">
        <img src="~/assets/stockroom/explosion.jpg" style="width:100%; height:auto; border-top-left-radius:20px; border-top-right-radius:20px; " />
        <div style="padding:1em; background-color:#ff522a;  border-bottom-left-radius:5px; border-bottom-right-radius:5px;">
            <h3>Event</h3>
            <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Integer dolor dignissim at sed; porttitor quam viverra.</p>
            <p><stong>01/03/2025</stong></p>
        </div>
    </div>

    <div class="grid-33">
        <img src="~/assets/stockroom/live-local-meet-here.jpg" style="width:100%; height:auto; border-top-left-radius:20px; border-top-right-radius:20px; " />
        <div style="padding:1em; background-color:#ff522a;  border-bottom-left-radius:5px; border-bottom-right-radius:5px;">
            <h3>Event</h3>
            <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Integer dolor dignissim at sed; porttitor quam viverra.</p>
            <p><stong>01/03/2025</stong></p>
        </div>
    </div>
</section> *@

<partial name="ImageBannerScreenWidth"/>
