@model StockportWebapp.QuestionBuilder.Entities.Question

@*@{
    var displayValidationStyle = Model.ValidationResult != null && Model.ValidationResult.IsValid ? "display: contents;" : "display: none;";

    if (Model.ValidationResult != null)
    {
        <span data-questionid="@Model.QuestionId" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent field-validation-error" style="display: none;">
            <span>@(Model.ValidationResult?.Message ?? "")</span>
        </span>
    }
    else if (Model.ValidationResult != null)
    {
        <span data-questionid="@Model.QuestionId" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent field-validation-error" style="display: contents;">
            <span>@(Model.ValidationResult?.Message ?? "")</span>
        </span>
    }
    else
    {
        <span data-questionid="@Model.QuestionId" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent field-validation-error" style="display: none;">
            <span>@(Model.ValidationResult?.Message ?? "")</span>
        </span>
    }
}*@
<span data-questionid="@Model.QuestionId" class="form-field-validation-error grid-50 tablet-grid-50 suffix-50 tablet-suffix-50 mobile-grid-100 grid-parent field-validation-error" style="display: contents;">
        <span>@(Model.ValidationResult?.Message ?? "")</span>
    </span>