@model StockportWebapp.QuestionBuilder.Entities.Page

@{
    if (!string.IsNullOrEmpty(Model.Description))
    {
        <h2>@Html.Raw(Model.Description)</h2>
    }
}

@using (Html.BeginForm(Model.Action, null, FormMethod.Post, new { @class = "question-form" }))
{
    if (Model.Questions.Count > 0)
    {
        @Html.EditorFor(model => Model.Questions)
    }
    @Html.HiddenFor(model => model.PageId)
    @Html.HiddenFor(model => model.PreviousAnswersJson)
    if (!string.IsNullOrEmpty(Model.Endpoint))
    {
        @Html.HiddenFor(model => model.Endpoint)
    }

    if (Model.DisplayNextButton)
    {
        <button disabled="disabled" type="submit" class="button-primary button-outline button-partialrounded button-bold button-call-to-action button-disabled question-button-next question-button-next-script button-width">@Model.ButtonText</button>
        if (Model.PageId != 0 && !Model.HideBackButton)
        {
            <p><a class="back-button" href="javascript:history.go(-1)">Previous</a></p>
        }

        <noscript>
            <input id="next-button" type="submit" value="Next step" class="button-primary button-outline button-partialrounded button-bold button-call-to-action question-button-next question-button-next-noscript" />
        </noscript>
        <div class="question-margin-bottom"></div>
    }
}