@model StockportWebapp.QuestionBuilder.Entities.Question
<div class="form-section question-section">
    <label for="radio-list">@Model.Label</label>
    @if (!String.IsNullOrEmpty(Model.SecondaryInfo))
    {
        <div class="grid-100" style="padding-left:0px;">
            <div class="grid-50 tablet-grid-70 secondary-info-holder">
                @Html.Raw(Model.SecondaryInfo)
            </div>
        </div>
    }
    @foreach (var item in @Model.Options)
    {
        <div class="input-radio-container">
            <input data-questionid="@Model.QuestionId" aria-labelledby="@string.Concat("label-",@Model.QuestionId, @item.Value).Replace(" ", "-")" id="@string.Concat(@Model.QuestionId, @item.Value).Replace(" ", "-")" type="radio" name="Questions[0].Response" value="@item.Value">
            <label id="@string.Concat("label-",@Model.QuestionId, @item.Value).Replace(" ", "-")" for="@string.Concat(@Model.QuestionId, @item.Value).Replace(" ", "-")">@item.Label</label>
            <span class="tertiary-Information hidden">@item.TertiaryInformation</span>
        </div>
    }

    <partial name="_ValidationError.cshtml" model=' Model'/>

    <span id="tertiary-Information-value"></span>
</div>
