@model StockportWebapp.QuestionBuilder.Entities.Question

@{
    var limitValue = @Model.ValidatorData.Any(_ => _.Type == "max-length") ? @Model.ValidatorData.FirstOrDefault(_ => _.Type == "max-length").Value : "60";
}

    <div class="form-section question-section">

        @{
            if (Model.ValidatorData.Count == 0)
            {
                <h2 class="h3 optional">@Model.Label</h2>
                <p class="optional">(optional)</p>
            }

            if (Model.ValidatorData.Count > 0)
            {
                var item = Model.ValidatorData.Where(x => x.Type == "email");
                if (Model.ValidatorData.Count == 1 && item.Count().Equals(1))
                {
                    <h2 class="h3 optional">@Model.Label</h2>
                    <p class="optional">(optional)</p>
                }
                else
                {
                    <h2 class="h3" style="margin-bottom: 0px">@Model.Label</h2>
                }
            }
        }
        @{
            if (!string.IsNullOrEmpty(Model.TextSubLabel))
            {
                <span style="font-size:15px; color:dimgrey;">@Model.TextSubLabel</span>
            }
        }

        @Html.TextBox("Response", "", new { @class = "", data_questionid = Model.QuestionId, aria_labelledby = string.Concat("label-", @Model.QuestionId).Replace(" ", "-"), id = string.Concat(@Model.QuestionId).Replace(" ", "-") })

        @*Disabled validation messages on textbox as they are no longer required.*@
        <partial name="_ValidationError.cshtml" model='Model' />
    </div>

<script type="text/javascript">
    require(['startup', 'text-limiter', 'jquery.steps', 'utils', 'unobtrusive'],
        function (startup, textLimiter) {
            startup.Init();
            textLimiter.restrictLength(@Model.QuestionId, @limitValue);
        })
</script>